﻿@foreach (var item in ViewBag.hightlights)
{
    <li>@item.Cidade <button id="btnDeletarHighlightCity" type="button" class="btn btn-xs btn-danger deletarhighlightcity" value="@item.Cidade" title="Deletar"><span class="glyphicon glyphicon-trash"></span></button></li>

    var lstinto = ViewBag.hightlightsInto as List<DAL.Entity.TBItinerary_Highlights>;

    <ul style="padding-left: 10px;">
        @foreach (var itemInto in lstinto.Where(s => s.Cidade_ID == item.idCidade).ToList())
        {
            <li style="list-style: none; display: block;" id="li_@itemInto.Id">
                <div style="width: 80%; display: inline-block">
                    <input type="button" id="btnEditHightLight_@itemInto.Id" class="btn btn-link openeditarhighlight" value="@itemInto.Highlight" name="@itemInto.Id°@itemInto.Highlight" title="Edit" />
                    <button id="btnDeletarHighlight" type="button" class="btn btn-xs btn-danger deletarhighlight" value="@itemInto.Id" title="Deletar"><span class="glyphicon glyphicon-trash"></span></button>
                </div>
            </li>
        }
    </ul>
}


<script type="text/javascript">

    $('.openeditarhighlight').click(function () {
        var arr = $(this).attr('name').split('°');
        $('#txtNomeHightLightEdit').val($(this).val());
        $('#hdeHightLightID').val(arr[0]);
        $("#modalEditHighlight").modal();
    });


    $('.deletarhighlightcity').click(function () {
        var result = window.confirm('Deseja deletar esse item?');
        if (result == false) {
            e.preventDefault();
            return;
        };

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        $.ajax({
            type: "GET",
            url: "@Url.Action("DeletarHighlightCity", "Offer")",
            data: {
                cidade: $(this).val(),
                qCode: $('#qCodeHD').val(),
                optQuote: $('#optquoteHD').val() },
            success: function (d) {

                waitingDialog.hide();

                if (d.success) {
                    var $toast = toastr["success"](d.message, "ProSoftware");
                    $toastlast = $toast;

                    updateHightLightCity();
                }
                else {
                    var $toast = toastr["error"](d.message, "ProSoftware");
                    $toastlast = $toast;
                }

            },
            error: function (xhr) { alert(xhr); }
        });

    });


     $('.deletarhighlight').click(function () {

        var result = window.confirm('Deseja deletar esse item?');
        if (result == false) {
            e.preventDefault();
            return;
        };

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        $.ajax({
            type: "GET",
            url: "@Url.Action("DeletarHighlight", "Offer")",
            data: { idHighlight: $(this).val() },
            success: function (d) {

                waitingDialog.hide();

                if (d.success) {
                    var $toast = toastr["success"](d.message, "ProSoftware");
                    $toastlast = $toast;

                    updateHightLightCity();
                }
                else {
                    var $toast = toastr["error"](d.message, "ProSoftware");
                    $toastlast = $toast;
                }

            },
            error: function (xhr) { alert(xhr); }
        });

    });

</script>