﻿@foreach (var item in ViewBag.hightlightsDiscretion)
{
    <div class="row">
        <div class="col-md-12">
            <input type="button" id="btnEditHightLightDiscretion_@item.ID" class="btn btn-link openeditarhighlightDiscretion" value="@item.Descricao" name="@item.ID°@item.Descricao" title="Edit" /><button id="btnDeletarHighlightDiscretion" type="button" class="btn btn-xs btn-danger deletarhighlightDiscretion" value="@item.ID" title="Deletar"><span class="glyphicon glyphicon-trash"></span></button>
        </div>      
    </div>
}

<script type="text/javascript">
    $('.openeditarhighlightDiscretion').click(function () {
        var arr = $(this).attr('name').split('°');
        $('#txtNomeHightLightEditDiscretion').val($(this).val());
        $('#hdeHightLightIDDiscretion').val(arr[0]);
        $("#modalEditHighlightDiscretion").modal();
    });

    $('.deletarhighlightDiscretion').click(function () {

        var result = window.confirm('Deseja deletar esse item?');
        if (result == false) {
            e.preventDefault();
            return;
        };

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        $.ajax({
            type: "GET",
            url: "@Url.Action("DeletarHighlightDiscretion", "Offer")",
            data: { idHighlightDiscretion: $(this).val() },
            success: function (d) {

                waitingDialog.hide();

                if (d.success) {
                    var $toast = toastr["success"](d.message, "ProSoftware");
                    $toastlast = $toast;

                    updateHightLightDiscretion();
                }
                else {
                    var $toast = toastr["error"](d.message, "ProSoftware");
                    $toastlast = $toast;
                }

            },
            error: function (xhr) { alert(xhr); }
        });

    });

</script>
