﻿@foreach (var item in ViewBag.hightlightsIncluding)
{    
    <div class="row">
        <div class="col-md-12">
            <input type="button" id="btnEditHightLightIncluding_@item.ID" class="btn btn-link openeditarhighlightincluding" value="@item.Descricao" name="@item.ID°@item.Descricao" title="Edit" /><button id="btnDeletarHighlightIncluding" type="button" class="btn btn-xs btn-danger deletarhighlightIncluding" value="@item.ID" title="Deletar"><span class="glyphicon glyphicon-trash"></span></button>
        </div>       
    </div>        
}

<script type="text/javascript">
    $('.openeditarhighlightincluding').click(function () {
        var arr = $(this).attr('name').split('°');
        $('#txtNomeHightLightEditIncluding').val($(this).val());
        $('#hdeHightLightIDIncluding').val(arr[0]);
        $("#modalEditHighlightIncluding").modal();
    });

    $('.deletarhighlightIncluding').click(function () {

        var result = window.confirm('Deseja deletar esse item?');
        if (result == false) {
            e.preventDefault();
            return;
        };

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        $.ajax({
            type: "GET",
            url: "@Url.Action("DeletarHighlightIncluding", "Offer")",
            data: { idHighlightIncluding: $(this).val() },
            success: function (d) {

                waitingDialog.hide();

                if (d.success) {
                    var $toast = toastr["success"](d.message, "ProSoftware");
                    $toastlast = $toast;

                    updateHightLightIncluding();
                }
                else {
                    var $toast = toastr["error"](d.message, "ProSoftware");
                    $toastlast = $toast;
                }

            },
            error: function (xhr) { alert(xhr); }
        });

    });

</script>
