﻿@model IEnumerable<DAL.Models.HoteisOfferModel>

@if (Model.Count() > 0)
{
    foreach (var item in Model)
    {

        <div class="row">
            <div class="col-md-6">
                @if (!item.imgStars.ToString().Contains("semfoto"))
                {
                    <img src="@item.imgStars" class="img-responsive" />
                }
                <span style="font-size: 26px;color: #727272;">
                    @item.nomeHotel
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <span style="width: 100%;font-style: italic;font-family: 'Lato', Helvetica, Arial, sans-serif;font-size: 14px;color: #31baef;">
                    @item.cidade
                </span>
            </div>
        </div>
        <hr style="border: dashed #d6d6d6;border-width: 1px 0 0;height: 0px;" />
        <br />

        <div class="row">
            <div class="col-md-6">
                <span style="font-family: 'Lato', Helvetica, Arial, sans-serif;">
                    @Html.Raw(item.descricaoHotel)
                </span>
            </div>
            <div class="col-md-6">
                <img src="@item.imgHotel" class="img-thumbnail" style="width:240px;height:214px;" />
            </div>
        </div>
        <br /><br />

        foreach (var item2 in item.lstAmenities)
        {
            <div class="row">
                <div class="col-md-2">
                    <span style="font-weight: bold;font-size: 16px;">
                        @item2.S_GroupAmenities_Name
                    </span>
                </div>

                <div class="col-md-6" style="padding:10px; border-radius: 4px;border: 1px solid #dddddd;">

                    <div class="row">


                        @foreach (var item3 in item.lstAmenitiesItens.Where(s => s.S_GroupAmenities_ID == item2.S_GroupAmenities_ID))
                        {
                            <div class="col-md-1">
                                <img src="http://sp.southamerica.travel/tierratmvc/iconsAmenities/@item3.S_Amenities_imgNome" class="img-responsive" style="width: 20px;height:20px;margin-left:20px;" />
                            </div>
                            <div class="col-md-3">
                                @item3.S_Amenities_nome
                            </div>
                        }


                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-9">
                    <hr style="border: dashed #d6d6d6;border-width: 1px 0 0;height: 0px;" />
                </div>
            </div>

        }



        <br /><br />
    }
}
