﻿@model IEnumerable<DAL.Models.itineraryModel>


<input id="qCodeHD" type="hidden" value="@ViewBag.qcode" />
<input id="optquoteHD" type="hidden" value="@ViewBag.optquote" />


@{ int j = 0; string optional = "<span style=\"color:#ff0000;\">Optional</span>"; }
@foreach (var item in Model)
{
    <input id="hdIdTabela_@j" type="hidden" value="@item.idTabela" />
    <input id="hdSid_@j" type="hidden" value="@item.Sid" />
    <input id="hdtbItineraryID_@j" type="hidden" value="@item.tbItineraryID" />
    <input id="hdCode_@j" type="hidden" value="@item.Code" />
    <input id="hdoptquote_@j" type="hidden" value="@item.optquote" />
    <input id="hddtfrom_@j" type="hidden" value="@item.dtfrom" />
    <input id="hddtTo_@j" type="hidden" value="@item.dtTo" />

    <div class="row">
        <div class="col-md-12">
            <span style="font-family: 'Trebuchet MS'; font-size: 14px; color: #31baef; font-weight: bold;">
                DAY @item.dia
            </span>
            <br />
            <span style="font-family: 'Trebuchet MS'; font-size: 20px; color: #727272; font-weight: bold;">
                @item.cidade
            </span>
            <br />
            <span style="font-family: 'Trebuchet MS'; font-size: 12px; color: #31baef; font-weight: bold;">
                @string.Format(new System.Globalization.CultureInfo("en-GB"), "{0:dddd, d MMMM, yyyy}", item.dtfrom)
            </span>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-9" style="margin-left: 0px;padding-left:0px;">
            <div class="col-md-1" style="margin-right:0px;padding-right:0px;">
                <img src="@item.urlIcon" style="width: 44px;" />
            </div>
            <div class="col-md-10" style="margin-left:0px;padding-left:0px;">

                @if (!String.IsNullOrEmpty(item.nights))
                {
                    if (item.optional)
                    {
                        <span id="spTituloOffer_@j" style="font-family: Verdana; font-size: 11px; color: #31baef; font-weight: bold;" title="@item.titulo">
                            @Html.Raw(item.titulo) - @Html.Raw(optional) - @item.nights
                        </span>
                    }
                    else
                    {
                        <span id="spTituloOffer_@j" style="font-family: Verdana; font-size: 11px; color: #31baef; font-weight: bold;" title="@item.titulo">
                            @Html.Raw(item.titulo) - @item.nights
                        </span>
                    }

                }
                else
                {
                    if (item.optional)
                    {
                        <span id="spTituloOffer_@j" style="font-family: Verdana; font-size: 11px; color: #31baef; font-weight: bold;" title="@item.titulo">
                            @Html.Raw(item.titulo) - @Html.Raw(optional)
                        </span>
                    }
                    else
                    {
                        <span id="spTituloOffer_@j" style="font-family: Verdana; font-size: 11px; color: #31baef; font-weight: bold;" title="@item.titulo">
                            @Html.Raw(item.titulo)
                        </span>
                    }

                }

                <input id="txtTituloOffer_@j" type="text" class="form-control" style="display: none;" />
                <input id="btnTituloOffer_@j" type="button" class="btn btn-primary btnTituloOffer" value="Change" name="@j" style="padding:1px;" />
                <input id="btnTituloOfferSave_@j" type="button" class="btn btn-primary btn-sm btnTituloOfferSave" value="Save" style="display: none;padding:1px;" name="@j" />
            </div>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-6">
            <textarea id="EditorItinerary_@j" class="summernote form-control"></textarea>
            <textarea id="EditorItineraryTxt_@j" style="display: none;">@item.descricao</textarea><br />
            <input id="btnEditorOfferSave_@j" type="button" class="btn btn-primary btnEditorOfferSave" value="Save Description" name="@j" style="padding:3px;" /><br /><br />

            @if (item.NomePacote != null)
            {
                <textarea id="EditorItineraryPacote_@j" class="summernote form-control"></textarea>
                <textarea id="EditorItineraryTxtPacote_@j" style="display: none;">@item.DescPacote</textarea><br />
                <input id="btnEditorOfferSavePacote_@j" type="button" class="btn btn-primary btnEditorOfferSavePacote" value="Save Package" name="@j" style="padding:3px;" />
            }
        </div>
        <div class="col-md-6">

            @if (item.urlFoto != "" && !item.Flag.Equals("MEAL"))
            {
                <img src="@item.urlFoto" id="imgItinerary_@j" class="img-responsive" style="width:323px;height:252px;" /><br />
            }

            <div id="dvimg_@j"></div>

            @if (!item.Flag.Equals("MEAL"))
            {
                <input type="file" id="changeimageItinerary_@j" class="btn btn-primary changeimageItinerary" name="@j" />
                <input id="btnexcluirimage_@j" type="button" class="btn btn-link btnexcluirimage" value="Delete image" name="@j" style="padding:3px;" />
            }
        </div>
    </div>

    <br /><br />
    j++;
}

<br /><br />
<h3>Rate per person</h3>
@{ int ij = 0;}
@foreach (var item in ViewBag.prices)
{

    <div style="width: 800px; min-height: 50px; border: thin dashed #d6d6d6;padding:5px;">
        <div class="row">
            <div class="col-md-5">
                <label id="lblRoom_@ij">@item.Room</label>
                <label id="lblBase_@ij">@item.Base</label>
            </div>
            <div class="col-md-2">
                <input type="text" id="txtPrice_@ij" class="form-control" value="@item.Price" />
            </div>
            <div class="col-md-1">
                <label id="lblBase">@item.OldPrice</label>
            </div>
            <div class="col-md-1">
                <input type="button" id="btnSavePriceNotes" class="btn btn-primary btn-sm btnsavenewprice" value="Save" style="padding:3px;" name="@item.qCode°@item.Base°@item.Room°@item.optQuote°@ij" />
            </div>
            <div class="col-md-2">
                @if (!item.visible)
                {
                    <input type="checkbox" id="chkvisibleprice" title="No Visible" class="chkvisibleprice" checked="checked" name="@item.qCode°@item.Base°@item.Room°@item.optQuote°@ij" /> <span>no visible?</span>
                }
                else
                {
                    <input type="checkbox" id="chkvisibleprice" title="No Visible" class="chkvisibleprice" name="@item.qCode°@item.Base°@item.Room°@item.optQuote°@ij" /> <span>no visible?</span>
                }
            </div>
        </div>
        <br />
    </div>
    ij++;
}

<br /><br />

<h3>Notes</h3>
<div class="row">
    <div class="col-md-6">
        <textarea id="EditorNotesPrices" class="summernote form-control"></textarea>
        <textarea id="EditorNotesPricesTxtArea" style="display: none;">@ViewBag.priceNotes</textarea><br />
        <input type="button" id="btnSaveNotesPrice" class="btn btn-primary btn-sm" value="Save Notes" style="padding:3px;" />
    </div>
</div>
<br />
<h3>Link</h3>
<div class="row">
    <div class="col-md-6">
        <input id="txtpriceLink" type="text" class="form-control" value="@ViewBag.priceLink" placeholder="Place link here" />
        <input type="button" id="btnSaveLinkPrices" class="btn btn-primary btn-sm" value="Save Link" style="padding:3px;" />
    </div>
</div>

<script type="text/javascript">

    $('.btnexcluirimage').click(function () {

        var pos = $(this).attr('name');
        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };

        $.get("@Url.Action("deleteImage", "Offer")", {
            quotationCode: $('#hdCode_' + pos).val(),
            optquote: $('#hdoptquote_' + pos).val(),
            idTabela: $('#hdIdTabela_' + pos).val()
        }, function (d) {

            if (d.success) {
                var $toast = toastr["success"](d.message, "ProSoftware");
                $toastlast = $toast;

                $('#imgItinerary_' + pos).remove()

            } else {
                var $toast = toastr["error"](d.message, "ProSoftware");
                $toastlast = $toast;
            }

        });

    });

    $('.summernote').summernote({
        minHeight: 250,
        minwidth: 550
    });


    $('.chkvisibleprice').click(function () {

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        var pos = $(this).attr('name').split('°');

        var typ = false;

        if ($(this).is(":checked")) {
            typ = false;
        } else {
            typ = true;
        }

        $.get("@Url.Action("SaveVisiblePrice", "Offer")", {
            qCode: pos[0],
            bases: pos[1],
            room: pos[2],
            optquote: pos[3],
            price: $('#txtPrice_' + pos[4]).val(),
            type: typ
            }, function (d) {

                if (d.success) {
                    var $toast = toastr["success"](d.message, "ProSoftware");
                    $toastlast = $toast;
                } else {
                    var $toast = toastr["error"](d.message, "ProSoftware");
                    $toastlast = $toast;
                }
            });

    });


    $('#btnSaveLinkPrices').click(function () {

        $.post("@Url.Action("SaveLinkPrices", "Offer")", {
            qCode: $('#qCodeHD').val(),
            optquote: $('#optquoteHD').val(),
            Room: $('#lblRoom_0').html(),
            price: $('#txtPrice_0').val(),
            bases: $('#lblBase_0').html(),
            link: $('#txtpriceLink').val()
        }, function (d) {

            if (d.success) {
                var $toast = toastr["success"](d.message, "ProSoftware");
                $toastlast = $toast;
            } else {
                var $toast = toastr["error"](d.message, "ProSoftware");
                $toastlast = $toast;
            }

        });

    });


    $('#EditorNotesPrices').summernote('code', $('#EditorNotesPricesTxtArea').val());

    $('#btnSaveNotesPrice').click(function () {

        var d1 = $('#EditorNotesPrices').summernote('code');

        $.post("@Url.Action("SaveNotesPrices", "Offer")", {
            qCode: $('#qCodeHD').val(),
            optquote: $('#optquoteHD').val(),
            notes: escape(d1),
            Room: $('#lblRoom_0').html(),
            price: $('#txtPrice_0').val(),
            bases: $('#lblBase_0').html()
        }, function (d) {

            if (d.success) {
                var $toast = toastr["success"](d.message, "ProSoftware");
                $toastlast = $toast;
            } else {
                var $toast = toastr["error"](d.message, "ProSoftware");
                $toastlast = $toast;
            }

        });

    });

    $('.btnsavenewprice').click(function () {

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };

        var pos = $(this).attr('name').split('°');

        $.get("@Url.Action("SavePriceNew", "Offer")", {
            qCode: pos[0],
            bases: pos[1],
            room: pos[2],
            optquote: pos[3],
            price: $('#txtPrice_' + pos[4]).val()
        }, function (d) {

            if (d.success) {
                var $toast = toastr["success"](d.message, "ProSoftware");
                $toastlast = $toast;
            } else {
                var $toast = toastr["error"](d.message, "ProSoftware");
                $toastlast = $toast;
            }

        });

    });

    $(".changeimageItinerary").change(function () {

        var pos = $(this).attr('name');


        var data = new FormData();
        var files = $(this).get(0).files;
        if (files.length > 0) {
            data.append("HelpSectionImages", files[0]);
        }

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };

        var ur = "@Url.Action("enviaFotoItinerary", "Offer")";

        $.ajax({
            url: ur + "?itiID=" + $('#hdtbItineraryID_' + pos).val() + "&tabID=" + $('#hdIdTabela_' + pos).val() + "&quotationCode=" + $('#hdCode_' + pos).val() + "&optQuote=" + $('#hdoptquote_' + pos).val(),
            type: "POST",
            processData: false,
            contentType: false,
            data: data,
            success: function (d) {

                if (d.success) {
                    var $toast = toastr["success"](d.message, "ProSoftware");
                    $toastlast = $toast;

                    $(this).val("");

                    if (!$("#imgItinerary_" + pos).length) {

                        var end = "../../Galeria/imgPrincipalQuoteNew/" + d.urlFoto;
                        var id = "imgItinerary_" + pos;
                        $('#dvimg_' + pos).html("<img src=\'" + end + "' id=\'" + id + "' class=\"img-responsive\" style=\"width:323px;height: 252px;\" /><br>");
                    } else {

                        $("#imgItinerary_" + pos).attr("src", "../../Galeria/imgPrincipalQuoteNew/" + d.urlFoto);
                    }
                }

            },
            error: function (er) {
                alert(er);
            }
        });

    });


    $('.btnEditorOfferSavePacote').click(function () {

        var pos = $(this).attr('name');

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };

        var sucesso = 0;

        var d1 = $('#EditorItineraryPacote_' + pos).summernote('code');
        var mod1 = {
            IdTbItine: $('#hdtbItineraryID_' + pos).val(),
            code: $('#hdCode_' + pos).val(),
            optquote: $('#hdoptquote_' + pos).val(),
            texto: escape(d1),
            idTabela: $('#hdIdTabela_' + pos).val()
        };
        $.post("@Url.Action("saveDescricaoPacote", "Offer")", mod1, function (d) {
            if (d.success) {
                var $toast = toastr["success"](d.message, "Prosoftware");
                $toastlast = $toast;
            } else {
                var $toast = toastr["error"](d.message, "Prosoftware");
                $toastlast = $toast;
            }
        });

    });


    $('.btnEditorOfferSave').click(function () {

        var pos = $(this).attr('name');

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };

        var sucesso = 0;

        var d1 = $('#EditorItinerary_' + pos).summernote('code');
        var mod1 = {
            IdTbItine: $('#hdtbItineraryID_' + pos).val(),
            code: $('#hdCode_' + pos).val(),
            optquote: $('#hdoptquote_' + pos).val(),
            texto: escape(d1)
        };
        $.post("@Url.Action("saveDescricao", "Offer")", mod1, function (d) {
            if (d.success) {
                var $toast = toastr["success"](d.message, "Prosoftware");
                $toastlast = $toast;
            } else {
                var $toast = toastr["error"](d.message, "Prosoftware");
                $toastlast = $toast;
            }
        });
    });

    $('.btnTituloOfferSave').click(function () {

        var pos = $(this).attr('name');

        $.get("@Url.Action("saveTitulo", "Offer")", {
            IdTbItine: $('#hdtbItineraryID_' + pos).val(),
            Sid: $('#hdSid_' + pos).val(),
            code: $('#hdCode_' + pos).val(),
            idTabela: $('#hdIdTabela_' + pos).val(),
            optquote: $('#hdoptquote_' + pos).val(),
            tituloCompleto: $('#txtTituloOffer_' + pos).val(),
            dtFrom: $('#hddtfrom_' + pos).val(),
            dtTo: $('#hddtTo_' + pos).val()
        }, function (d) {

            if (d.success) {
                $('#spTituloOffer_' + pos).html(d.titulo);
            }

        });


        $(this).hide();
        $('#spTituloOffer_' + pos).show();
        $('#txtTituloOffer_' + pos).css('display', 'none');
        $('#btnTituloOffer_' + pos).show();
    });

    $('.btnTituloOffer').click(function () {

        var pos = $(this).attr('name');

        $.get("@Url.Action("retornaTitulo", "Offer")", {
            IdTbItine: $('#hdtbItineraryID_' + pos).val(),
            Sid: $('#hdSid_' + pos).val(),
            code: $('#hdCode_' + pos).val(),
            idTabela: $('#hdIdTabela_' + pos).val(),
            optquote: $('#hdoptquote_' + pos).val(),
            tituloCompleto: escape($('#spTituloOffer_' + pos).attr('title'))
        }, function (d) {

            if (d.success) {
                $('#txtTituloOffer_' + pos).val(d.titulo);
            }

        });

        $(this).hide();
        $('#spTituloOffer_' + pos).hide();
        $('#txtTituloOffer_' + pos).css('display', 'block');
        $('#btnTituloOfferSave_' + pos).css('display', 'block');

    });

    for (var k = 0; k < @Model.Count(); k++) {
        $('#EditorItinerary_' + k).summernote('code', $('#EditorItineraryTxt_' + k).val());
        $('#EditorItineraryPacote_' + k).summernote('code', $('#EditorItineraryTxtPacote_' + k).val());
    }

</script>
