﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/QuoteGeralUser.css" rel="stylesheet" />

    <meta name="viewport" content="width=device-width" />
    <title>Offer</title>

    @*<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>*@
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyC-kObw3vFOFd963tQMK0a3Ft3I_cAQZGI" async="" defer="defer" type="text/javascript"></script>

    <script src="~/scripts/jquery-3.1.1.min.js"></script>
    <script src="~/scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    @*<script src="~/scripts/QuoteGeralUser.js"></script>*@

    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

</head>
<body>
    <div class="container">

        <div>
            <div id="LogoDiv" runat="server" class="logo">
                <img src="~/images/logo4star.png" id="imgLogo" />
            </div>
            @*<a href="@Url.Action("ExportPDF","Offer")">
                    <input type="button" value="Click Me" />
                </a>*@
            <div id="headerQuoteGeralUserExportPDF" class="headbox">
                <form action="@Url.Action("ExportPDF", "Offer")" method="get">
                    <input type="hidden" id="hdcodeurl" name="code" />
                    <input id="btnQuoteGeralUserExportPDF" type="submit" class="btn btn-primary" title="Export to PDF" value="Export to PDF" style="border-radius: 0px;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);background-color: #31baef;border: none;" />
                </form>
            </div>
        </div>

        <br />
        <br />
        <div style="border:1px dashed #724c4c;padding:5px;">
            <div class="row">
                <div class="col-md-2" style="margin:0px;margin-top: 10px;color:#d6d6de;">
                    <span style="font-size: 15px;">For:</span>
                </div>
                <div class="col-md-3">
                    <span class="colorTitulos" style="font-size: 25px;">@ViewBag.nomeCliente</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2" style="margin:0px;">
                    <span class="colorTitulos" style="font-size: 25px;">Tour Code:</span>
                </div>
                <div class="col-md-10">
                    <span class="colorTitulos" style="font-size: 25px;">@ViewBag.tourCode</span>
                </div>
            </div>
        </div>
        <br />
        <br />

        <div>

            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#hightlight" aria-controls="home" role="tab" data-toggle="tab" id="tabhightlight">HIGHLIGHTS</a></li>
                <li role="presentation"><a href="#tourmap" aria-controls="tourmap" role="tab" data-toggle="tab" onclick="initializemap()" id="tabtourmap">TOUR MAP</a></li>
                <li role="presentation"><a href="#fulliti" aria-controls="messages" role="tab" data-toggle="tab" id="tabfulliti">FULL ITINERARY</a></li>
                <li role="presentation"><a href="#hotels" aria-controls="settings" role="tab" data-toggle="tab" id="tabhotels">HOTELS</a></li>
                <li role="presentation"><a href="#flights" aria-controls="settings" role="tab" data-toggle="tab" id="tabflights">FLIGHTS</a></li>
                <li role="presentation"><a href="#prices" aria-controls="settings" role="tab" data-toggle="tab" id="tabprices">PRICES</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">

                <div role="tabpanel" class="tab-pane active" id="hightlight" style="padding:20px;">

                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="h3Style">Notes</h4>
                            <hr />
                            <span>@Html.Raw(ViewBag.EditorNotes)</span>


                            <h4 class="h3Style">Highlights</h4>

                            @foreach (var item in ViewBag.hightlights)
                            {
                                <li>@item.Cidade</li>
                                var lstinto = ViewBag.hightlightsInto as List<DAL.Entity.TBItinerary_Highlights>;
                                <ul>
                                    @foreach (var itemInto in lstinto.Where(s => s.Cidade_ID == item.idCidade).ToList())
                                    {
                                        if (itemInto.Highlight != "" && itemInto.Highlight != null)
                                        {
                                            <li style="margin-left: 5px;">
                                                @itemInto.Highlight
                                            </li>
                                        }
                                    }
                                </ul>
                            }



                            <h4 class="h3Style">Including</h4>
                            <ul style="padding:0px;margin:0 0 0 15px;">
                                @foreach (var item in ViewBag.hightlightsIncluding)
                                {
                                    <li>@item.Descricao</li>
                                }
                            </ul>



                            <h4 class="h3Style">Not Including</h4>
                            <ul style="padding:0px;margin:0 0 0 15px;">
                                @foreach (var item in ViewBag.hightlightsDiscretion)
                                {
                                    <li>@item.Descricao</li>
                                }
                            </ul>

                        </div>
                        <div class="col-md-6">
                            <img src="tierraTMVC/@ViewBag.hgImg1" id="imgHightLight1" class="img-thumbnail" style="width:323px;height:252px;" /><br />
                            <img src="tierraTMVC/@ViewBag.hgImg2" id="imgHightLight2" class="img-thumbnail" style="width:323px;height:252px;margin-top:10px;" />
                        </div>
                    </div>


                </div>

                <div role="tabpanel" class="tab-pane" id="tourmap">
                    <br /><br />
                    <div class="row">
                        <div class="col-md-12">
                            <div id="map_canvas" style="min-width:900px;min-height:500px;padding:10px;border: 1px dashed #d6d6d6;">
                            </div>
                        </div>
                    </div>

                    <input type="hidden" id="listCityHidden" />
                    <input type="hidden" id="hdetemp" value="@ViewBag.hdetemp" />
                    <input type="hidden" id="hdetempHoteis" value="@ViewBag.hdetempHoteis" />

                </div>

                <div role="tabpanel" class="tab-pane" id="fulliti">
                    <br /><br />

                    @{ string titulof = "", titulop = "", cidadesjuntas = ""; int first = 0; int conta = 0; var lsttodos = ViewData["itinerary"] as List<DAL.Models.itineraryModel>;
                        string optional = "<span style=\"color:#ff0000;\">Optional</span>";
                    }

                    @foreach (var item in ViewData["itinerary"] as List<DAL.Models.itineraryModel>)
                    {
                        if (titulof != "")
                        {
                            titulop = item.dia.ToString() + item.dtfrom;

                            cidadesjuntas = item.cidade;

                            foreach (var cidadesss in lsttodos.Where(s => s.dia == item.dia && s.dtfrom == item.dtfrom).ToList())
                            {
                                if (item.cidade != cidadesss.cidade && !cidadesjuntas.Contains(cidadesss.cidade))
                                {
                                    cidadesjuntas = cidadesjuntas + " - " + cidadesss.cidade;
                                }
                            }
                        }


                        if (titulof != titulop || first == 0)
                        {
                            if (first == 0)
                            {
                                cidadesjuntas = item.cidade;
                                foreach (var cidadesss in lsttodos.Where(s => s.dia == item.dia && s.dtfrom == item.dtfrom).ToList())
                                {
                                    if (item.cidade != cidadesss.cidade && !cidadesjuntas.Contains(cidadesss.cidade))
                                    {
                                        cidadesjuntas = cidadesjuntas + " - " + cidadesss.cidade;
                                    }
                                }

                                first = 1;
                            }
                            else
                            {
                                <hr />
                            }

                            <div class="row">
                                <div class="col-md-12">
                                    <span style="font-family: 'Trebuchet MS'; font-size: 22px; color: #31baef;">
                                        DAY @item.dia
                                    </span>
                                    <br />
                                    <span style="font-family: 'Trebuchet MS'; font-size: 28px; color: #727272; font-weight: bold;">
                                        @*@item.cidade*@

                                        @if (cidadesjuntas.Equals(""))
                                        {
                                            @item.cidade
                                        }
                                        else
                                        {
                                            @cidadesjuntas
                                        }
                                    </span>
                                    <br />
                                    <span style="font-family: 'Trebuchet MS'; font-size: 17px; color: #31baef; font-weight: bold;">
                                        @string.Format(new System.Globalization.CultureInfo("en-GB"), "{0:dddd, d MMMM, yyyy}", item.dtfrom)
                                    </span>
                                </div>
                            </div>
                        }

                        <hr style="border: dashed #d6d6d6;border-width: 1px 0 0;height: 0px;" />

                        <div class="row">

                            <div class="col-md-8" style="margin-left: 0px;padding-left:0px;">
                                <div class="col-md-1">
                                    <img src="@item.urlIcon" style="width: 44px;" />
                                </div>
                                <div class="col-md-11" style="margin-left:0px;padding-left:0px;">
                                    @if (!String.IsNullOrEmpty(item.nights))
                                    {
                                        if (item.optional)
                                        {
                                            <span id="spTituloOffer" style="font-family: Verdana; font-size: 16px; color: #31baef; font-weight: bold;margin-left: 10px;" title="@item.titulo">
                                                @Html.Raw(item.titulo) - @Html.Raw(optional) - @item.nights
                                            </span>
                                        }
                                        else
                                        {
                                            <span id="spTituloOffer" style="font-family: Verdana; font-size: 16px; color: #31baef; font-weight: bold;margin-left: 10px;" title="@item.titulo">
                                                @Html.Raw(item.titulo) - @item.nights
                                            </span>
                                        }
                                    }
                                    else
                                    {
                                        if (item.optional)
                                        {
                                            <span id="spTituloOffer" style="font-family: Verdana; font-size: 16px; color: #31baef; font-weight: bold;margin-left: 10px;" title="@item.titulo">
                                                @Html.Raw(item.titulo) - @Html.Raw(optional)
                                            </span>
                                        }
                                        else
                                        {
                                            <span id="spTituloOffer" style="font-family: Verdana; font-size: 16px; color: #31baef; font-weight: bold;margin-left: 10px;" title="@item.titulo">
                                                @Html.Raw(item.titulo)
                                            </span>
                                        }
                                    }

                                    <input id="txtTituloOffer" type="text" class="form-control" style="display: none;" />

                                </div>

                                @if (item.FlightVoo != null)
                                {
                                    <br />
                                    <br />
                                    <br />

                                    <div class="col-md-12">
                                        <span style="font-family: Verdana; font-size: 13px; color: #31baef; font-weight: bold;margin-left: 10px;">
                                            Fligh:
                                        </span> <strong>@item.FlightVoo</strong>
                                        <span style="font-family: Verdana; font-size: 13px; color: #31baef; font-weight: bold;margin-left: 10px;">
                                            Time:
                                        </span><strong>@item.FlightHora</strong>
                                    </div>

                                }
                                <div class="col-md-12">
                                    <br />
                                    <span style="font-size: 16px; color: #414141;">
                                        @Html.Raw(item.descricao)
                                    </span>
                                    @if (item.NomePacote != null)
                                    {
                                        <br /><br />
                                        <strong>
                                            Package @item.NomePacote
                                        </strong>
                                        <br />
                                        <span style="font-size: 14px; color: #414141;">
                                            @Html.Raw(item.DescPacote)
                                        </span>
                                    }
                                </div>
                            </div>

                            @if (!item.urlFoto.Contains("noimage.jpg"))
                            {
                                if (item.urlFoto != "" && !item.Flag.Equals("MEAL"))
                                {
                                    <div class="col-md-4" style="margin-right:0px;padding-right:0px;">
                                        <img src="@item.urlFoto" id="imgItinerary" class="img-thumbnail" style="width:333px;height:262px;" /><br />
                                    </div>
                                }
                            }

                        </div>

                        <br />

                        @*<hr />*@

                        titulof = item.dia.ToString() + item.dtfrom;
                        cidadesjuntas = "";
                        conta++;
                    }

                </div>

                <div role="tabpanel" class="tab-pane" id="hotels">

                    <br /><br />

                    @Html.Partial("_hoteis", ViewData["hoteisEdit"])

                </div>

                <div role="tabpanel" class="tab-pane" id="flights">
                    <br /><br />

                    @Html.Raw(ViewBag.flights)

                </div>

                <div role="tabpanel" class="tab-pane" id="prices">

                    <br /><br />

                    @foreach (var item in ViewBag.prices)
                    {
                        if (item.visible)
                        {
                            <div style="min-height: 50px; border: thin dashed #d6d6d6;padding:30px;">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label id="lblRoom">@item.Room</label>
                                    </div>
                                    <div class="col-md-3">
                                        <label id="lblBase">@item.Base</label>
                                    </div>
                                </div>
                                <hr style="margin-top:5px;margin-bottom:5px;" />
                                <div class="row">
                                    <div class="col-md-4">
                                        <span>@item.RoomSub</span>
                                    </div>
                                    <div class="col-md-3">
                                        <span>@item.Price per person</span>
                                    </div>
                                </div>
                            </div>
                            <br />
                        }
                    }

                    <br /><br />
                    @if (ViewBag.priceNotes != null && ViewBag.priceNotes != "")
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <label>Notes</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <span>
                                    @Html.Raw(ViewBag.priceNotes)
                                </span>
                            </div>
                        </div>

                    }
                    <br /><br />
                    @if (ViewBag.priceLink != null && ViewBag.priceLink != "")
                    {


                        string link = ViewBag.priceLink;

                        if (!link.Contains("http://"))
                        {
                            link = "http://" + link;
                        }

                        <div class="row">
                            <div class="col-md-12">
                                <a href="@link" target="_blank">Click here to go to the payment website</a>
                            </div>
                        </div>

                    }

                </div>
            </div>

        </div>

    </div>

    <div class="container">
        <footer class="footer" style="background: #f4f4f4;padding: 20px;margin-top:15px;">
            <div class="row">
                <div class="col-md-6">
                    <img src="~/images/logo4star.png" class="img-responsive" />
                </div>
                <div class="col-md-6">
                    <br />
                    <br />
                    <div>© South America.travel @DateTime.Now.Year.ToString() . Copyright . All rights reserved </div>
                    <hr class="kill" />
                </div>
            </div>
        </footer>
    </div>


</body>
</html>


<script type="text/javascript">


    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }


    $(document).ready(function () {

        var code = getParameterByName('code');
        $('#hdcodeurl').val(code);
        verificaPrice(code);

        //initializemap();

        //$('#tabhightlight').click(function () {
        //    $('.customapp').height(0);
        //});
        //$('#tabtourmap').click(function () {
        //    $('.customapp').height(585);
        //});
        //$('#tabfulliti').click(function () {
        //    $('.customapp').height(0);
        //});
        //$('#tabhotels').click(function () {
        //    $('.customapp').height(0);
        //});
        //$('#tabprices').click(function () {
        //    $('.customapp').height(0);
        //});

    });

    function verificaPrice(code) {
        $.get("@Url.Action("VerificaPrice", "Offer")", { hash: code }, function (d) {
            if (d.price == 1) {
                $('#tabprices').hide();
            }
        });
    }

    $('a[href="#tabtourmap"]').on('shown.bs.tab', function (e) {
        google.maps.event.trigger(map, 'resize');
    });

    var initialized = 0;
    var map;
    var PlanCoordinates = new Array();
    var Processed = 0;
    var FirstMarker;

    function initializemap() {

        if (initialized == 0) {
            var myLatLng = new google.maps.LatLng(-10.629851, -55.712187);
            var myOptions = {
                zoom: 5,
                center: myLatLng,
                mapTypeId: 'hybrid',
                styles: [
                    {
                        featureType: "road",
                        stylers: [
                            { visibility: "off" }
                        ]
                    }
                ]
            };

            map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

            var v_arr = $('#hdetemp').val().split("~");
            var v_hots = $('#hdetempHoteis').val().split("~");

            var i;

            for (i = 0; i < v_arr.length; ++i) {

                if (i > 0 && $.trim(v_arr[i].split("@@")[0].toUpperCase()) == $.trim(v_arr[0].split("@@")[0].toUpperCase())) {
                    showSleepsPerCity(v_arr[i].split("@@")[0], v_arr[0].split("@@")[1] + '%2B' + v_arr[i].split("@@")[1], 1, v_arr.length, i, v_hots[i]);

                }
                else {
                    showSleepsPerCity(v_arr[i].split("@@")[0], v_arr[i].split("@@")[1], 0, v_arr.length, i, v_hots[i]);

                }
            }
        }

        initialized = 1;
    }

    function showSleepsPerCity(city, duration, roundtrip, points, index, hotls) {
        var geocoder = new google.maps.Geocoder();
        var htl = hotls.split("@@");
        var descricao = "<table border='0' cellpadding='0' cellspacing='0'><tr><td valign='top' style='padding-left: 5px; padding-right:10px; text-align:left; font-family:Tahoma; font-size:9pt'><b>" + htl[0] + "</b><br/>" + htl[1] + "</td></tr></table>";

        geocoder.geocode({ 'address': city }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                map.setCenter(results[0].geometry.location);
                map.setCenter(results[0].geometry.location);
                PlanCoordinates[index] = results[0].geometry.location;
                Processed++;

                if (roundtrip == 0) {
                    var markerImage = new google.maps.MarkerImage('../Handler/tourmapa.ashx?ID=' + duration + '&TYPE=0',
                        new google.maps.Size(30, 30),
                        new google.maps.Point(0, 0),
                        new google.maps.Point(12, 15));

                    var marker = new google.maps.Marker({
                        icon: markerImage,
                        map: map,
                        position: results[0].geometry.location,
                        title: 'Hotel'
                    });

                    var infowindow = new google.maps.InfoWindow({
                        content: descricao
                    });

                    google.maps.event.addListener(marker, 'click', function () {
                        infowindow.open(map, marker);
                    });

                    if (Processed == 1) {
                        FirstMarker = marker;
                    }
                }
                else {

                    FirstMarker.setMap(null);

                    var markerImage = new google.maps.MarkerImage('../Handler/tourmapa.ashx?ID=' + duration + '&TYPE=1',
                        new google.maps.Size(50, 50),
                        new google.maps.Point(0, 0),
                        new google.maps.Point(22, 25));

                    var marker = new google.maps.Marker({
                        icon: markerImage,
                        map: map,
                        position: results[0].geometry.location
                    });

                }

                if (Processed == points) {
                    var flightPath = new google.maps.Polyline({
                        path: PlanCoordinates,
                        strokeColor: "#4cc3f1",
                        strokeOpacity: 1.0,
                        strokeWeight: 3
                    });

                    flightPath.setMap(map);
                }

            }
        });
    }

    function mapacenter() {
        google.maps.event.trigger(map, 'resize');
        map.setCenter(map.getCenter());
    };

    function resizeMap() {
        x = map.getZoom();
        c = map.getCenter();
        google.maps.event.trigger(map, 'resize');
        map.setZoom(x);
        map.setCenter(c);
    };

</script>