﻿
@{
    ViewBag.Title = "OfferEdit";
    Layout = "~/Views/Shared/template.cshtml";
}

<section class="content-header">
    <h1>
        Offer

        <small>Edit</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i>Offer</a></li>
    </ol>
</section>



<section class="content">

    <div class="box box-primary">
        <div class="box-header with-border">
            <h4 id="tituloCliente">Offer Edit</h4>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body">

            <div class="row">
                <div class="col-md-12">
                    <h3>Quote#: <span id="QuoteTxt" style="color:#3aa5ff"></span></h3> 
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <input id="btnGeraLink" type="button" class="btn btn-primary" title="Gerar Link" value="Gerar Link" />
                    <input id="btnGeraLinkPrice" type="button" class="btn btn-primary" title="Gerar Link No Price" value="Gerar Link No Price" />
                </div>
            </div>
            <br /><br />

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#Highlights" aria-expanded="true" aria-controls="collapseOne">
                                Highlights
                            </a>
                        </h4>
                    </div>
                    <div id="Highlights" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            
                            <input id="btnResetHightLight" type="button" class="btn btn-danger btn-lg btn-block" title="Reset Highlights" value="Reset Highlights" />
                            <br />

                            <h3>Notes</h3>
                            <div class="row">
                                <div class="col-md-12">
                                    <textarea id="EditorNotesHightLight" class="summernote form-control"></textarea>
                                    <textarea id="EditorNotesHightLightTxtArea" rows="5" style="display: none;">@ViewBag.EditorNotes</textarea>
                                </div>
                            </div>
                            <br />
                            <input id="btnSaveNotes" type="button" class="btn btn-primary" title="Save" value="Save" />
                            <br /><br />

                            <h3>Images</h3>
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="@ViewBag.hgImg1" id="imgHightLight1" class="img-responsive" style="width:200px;height:150px;" /><br />
                                    <input type="file" id="uploadImage1" class="btn btn-primary" />
                                </div>
                                <div class="col-md-3">
                                    <img src="@ViewBag.hgImg2" id="imgHightLight2" class="img-responsive" style="width:200px;height:150px;" /><br />
                                    <input type="file" id="uploadImage2" class="btn btn-primary" />
                                </div>
                            </div>
                            <br /><br />

                            <h3>Highlights</h3>
                            <div id="dvhightlightcity">
                                @Html.Partial("_hightlights_city")
                            </div>
                            <input id="btnNewHighlight" type="button" class="btn btn-primary" title="New" value="New" />

                            <br /><br />

                            <h3>Including</h3>
                            <div id="dvhightlightIncluding">
                                @Html.Partial("_hightlight_including")
                            </div>
                            <br />
                            <div class="row" id="dvAddHightLightIncluding">
                                <div class="col-md-3">
                                    <input id="txtAddHightLightIncluding" type="text" class="form-control" />
                                    <br />
                                </div>
                                <div class="col-md-3">
                                    <input id="btnNewHighlightIncludingSave" type="button" class="btn btn-primary" title="Add" value="Add" />
                                    <input id="btnNewHighlightIncludingCancel" type="button" class="btn btn-primary" title="Cancel" value="Cancel" />
                                </div>
                            </div>

                            <input id="btnNewHighlightIncluding" type="button" class="btn btn-primary" title="New" value="New" />
                            <br /><br />

                            <h3>Not Including</h3>
                            <div id="dvhightlightDiscretion">
                                @Html.Partial("_hightlight_discretion")
                            </div>
                            <br />
                            <div class="row" id="dvAddHightLightDiscretion">
                                <div class="col-md-3">
                                    <input id="txtAddHightLightDiscretion" type="text" class="form-control" />
                                    <br />
                                </div>
                                <div class="col-md-3">
                                    <input id="btnNewHighlightDiscretionSave" type="button" class="btn btn-primary" title="Add" value="Add" />
                                    <input id="btnNewHighlightDiscretionCancel" type="button" class="btn btn-primary" title="Cancel" value="Cancel" />
                                </div>
                            </div>
                            <input id="btnNewHighlightDiscretion" type="button" class="btn btn-primary" title="New" value="New" />


                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Itinerary
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">

                            @Html.Partial("_itinerary_edit", ViewData["itineraryEdit"])

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Hoteis
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">

                            @Html.Partial("_hoteis", ViewData["hoteisEdit"])

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFour">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Flights
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                        <div class="panel-body">

                            <h3>FLIGHTS</h3>
                            <div class="row">
                                <div class="col-md-12">
                                    <textarea id="EditorFlights" class="summernote form-control"></textarea>
                                    <textarea id="EditorFlightsTxtArea" rows="5" style="display: none;">@ViewBag.flights</textarea>
                                </div>
                            </div>
                            <br />
                            <input id="btnSaveFlights" type="button" class="btn btn-primary" title="Save" value="Save" />
                            <br /><br />

                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
</section>



<div class="modal fade" id="modalEditHighlight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit</h4>
            </div>

            <div id="dvaddopt">

                <form role="form" id="form-edit-Highlight" method="post" action="javascript:func()">

                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="txtNomeHightLightEdit">Nome</label>
                                <input type="text" id="txtNomeHightLightEdit" class="form-control" />
                                <input type="hidden" id="hdeHightLightID" />
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <input id="btEditarHightLightEdit" type="button" class="btn btn-primary" title="Salvar" value="Salvar" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAddHighlight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Highlight</h4>
            </div>

            <div id="dvaddopt">

                <form role="form" id="form-add-Highlight" method="post" action="javascript:func()">

                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="ddlCidadeAddHighlight">City</label>
                                <select id="ddlCidadeAddHighlight" class="form-control">
                                    @foreach (var item in ViewBag.lcidades)
                                    {
                                    <option value="@item">@item</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <label for="txtNomeAddHighlight">Nome</label>
                                <input id="txtNomeAddHighlight" type="text" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <input id="btnAddHighlight" type="button" class="btn btn-primary" title="Salvar" value="Salvar" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalEditHighlightIncluding" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit Including</h4>
            </div>

            <div id="dvaddopt">

                <form role="form" id="form-edit-HighlightIncluding" method="post" action="javascript:func()">

                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="txtNomeHightLightEditIncluding">Nome</label>
                                <input type="text" id="txtNomeHightLightEditIncluding" class="form-control" />
                                <input type="hidden" id="hdeHightLightIDIncluding" />
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <input id="btEditarHightLightEditIncluding" type="button" class="btn btn-primary" title="Salvar" value="Salvar" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalEditHighlightDiscretion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit Discretion</h4>
            </div>

            <div id="dvaddopt">

                <form role="form" id="form-edit-HighlightDiscretion" method="post" action="javascript:func()">

                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="txtNomeHightLightEditDiscretion">Nome</label>
                                <input type="text" id="txtNomeHightLightEditDiscretion" class="form-control" />
                                <input type="hidden" id="hdeHightLightIDDiscretion" />
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <input id="btEditarHightLightEditDiscretion" type="button" class="btn btn-primary" title="Salvar" value="Salvar" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>


<script type="text/javascript">


    var qcodInicio = getParameterByName('qCode');
    var optqInicio = getParameterByName('optQuote');
    $('#QuoteTxt').html(qcodInicio);


    $('#btnSaveFlights').click(function () {

        var qcod = getParameterByName('qCode');
        var optq = getParameterByName('optQuote');

        var d1 = $('#EditorFlights').summernote('code');

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        $.post("@Url.Action("SalvarFlight", "Offer")", { qCode: qcod, optQuote: optq, txtLinkFlight: escape(d1) }, function (d) {

            if (d.success) {
                var $toast = toastr["success"](d.message, "ProSoftware");
                $toastlast = $toast;


            } else {
                var $toast = toastr["error"](d.message, "ProSoftware");
                $toastlast = $toast;
            }
            waitingDialog.hide();
        });

    });


    $('#btnGeraLink').click(function () {

        var qcod = getParameterByName('qCode');
        var optq = getParameterByName('optQuote');
        var typ = getParameterByName('type');
        var prc = getParameterByName('ratear');


        $.get("@Url.Action("GeraLink", "Offer")", { qcode: qcod, type: typ, price: 0, optquote: optq, ratear: prc  }, function (d) {

            if (d.success) {

                var url = "@Url.Action("Index","Offer")" + "/?code=" + d.hash;

                var win = window.open(url, '_blank');
                if (win) {
                    //Browser has allowed it to be opened
                    win.focus();
                } else {
                    //Browser has blocked it
                    alert('Please allow popups for this website');
                }

                //window.location = url;
            }

        });

    });


    $('#btnResetHightLight').click(function () {

        var qcod = getParameterByName('qCode');
        var optq = getParameterByName('optQuote');

        $.get("@Url.Action("ResetHighlights", "Offer")", { qCode: qcod, optQuote: optq }, function (d) {

            if (d.success) {
                location.reload();
            }

        });

    });

    $('#btnGeraLinkPrice').click(function () {

        var qcod = getParameterByName('qCode');
        var optq = getParameterByName('optQuote');
        var typ = getParameterByName('type');
        var prc = getParameterByName('ratear');


        $.get("@Url.Action("GeraLink", "Offer")", { qcode: qcod, type: typ, price: 1, optquote: optq, ratear: prc  }, function (d) {

            if (d.success) {

                var url = "@Url.Action("Index","Offer")" + "/?code=" + d.hash;

                var win = window.open(url, '_blank');
                if (win) {
                    //Browser has allowed it to be opened
                    win.focus();
                } else {
                    //Browser has blocked it
                    alert('Please allow popups for this website');
                }

                //window.location = url;
            }

        });

    });

    $("#uploadImage1").change(function () {
        var data = new FormData();
        var files = $("#uploadImage1").get(0).files;
        if (files.length > 0) {
            data.append("HelpSectionImages", files[0]);
        }

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };

        var qcod = getParameterByName('qCode');
        var optq = getParameterByName('optQuote');

        var ur = "@Url.Action("EnviaFotosHightLight", "Offer")";

        $.ajax({
            url: ur + "?qcod=" + qcod + "&optq=" + optq + "&type=" + 1,
            type: "POST",
            processData: false,
            contentType: false,
            data: data,
            success: function (d) {

                if (d.success) {
                    var $toast = toastr["success"](d.message, "ProSoftware");
                    $toastlast = $toast;

                    document.getElementById("uploadImage1").value = "";

                    $("#imgHightLight1").attr("src", "../../Galeria/TBItinerary/" + d.urlFoto);

                }

            },
            error: function (er) {
                alert(er);
            }
        });
    });

     $("#uploadImage2").change(function () {
        var data = new FormData();
        var files = $("#uploadImage2").get(0).files;
        if (files.length > 0) {
            data.append("HelpSectionImages", files[0]);
        }

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };

        var qcod = getParameterByName('qCode');
        var optq = getParameterByName('optQuote');

        var ur = "@Url.Action("EnviaFotosHightLight", "Offer")";

        $.ajax({
            url: ur + "?qcod=" + qcod + "&optq=" + optq + "&type=" + 2,
            type: "POST",
            processData: false,
            contentType: false,
            data: data,
            success: function (d) {

                if (d.success) {
                    var $toast = toastr["success"](d.message, "ProSoftware");
                    $toastlast = $toast;

                    document.getElementById("uploadImage2").value = "";

                    $("#imgHightLight2").attr("src", "../../Galeria/TBItinerary/" + d.urlFoto);
                }

            },
            error: function (er) {
                alert(er);
            }
        });
    });


    $('.summernote').summernote({
        minHeight: 250,
        minwidth: 550
    });
    $('#EditorNotesHightLight').summernote('code', $('#EditorNotesHightLightTxtArea').val());
    $('#EditorFlights').summernote('code', $('#EditorFlightsTxtArea').val());

    $('#btnSaveNotes').click(function () {

        var qcod = getParameterByName('qCode');
        var optq = getParameterByName('optQuote');

        var d1 = $('#EditorNotesHightLight').summernote('code');

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        $.post("@Url.Action("SalvarNotesNew", "Offer")", { qCode: qcod, optQuote: optq, txtEditorNotes: escape(d1) }, function (d) {

            if (d.success) {
                var $toast = toastr["success"](d.message, "ProSoftware");
                $toastlast = $toast;


            } else {
                var $toast = toastr["error"](d.message, "ProSoftware");
                $toastlast = $toast;
            }
            waitingDialog.hide();
        });

    });


    $('#dvAddHightLightIncluding').hide();
    $('#dvAddHightLightDiscretion').hide();

    //Including
    $('#btnNewHighlightIncluding').click(function () {
        $('#dvAddHightLightIncluding').fadeIn();
        $('#btnNewHighlightIncluding').hide();
    });
    $('#btnNewHighlightIncludingCancel').click(function () {
        $('#dvAddHightLightIncluding').hide();
        $('#btnNewHighlightIncluding').show();
    });

     $('#btnNewHighlightIncludingSave').click(function () {
        var qcod = getParameterByName('qCode');
        var optq = getParameterByName('optQuote');

        $.get("@Url.Action("AddHighlightIncluding", "Offer")", { HighlightIncluding: $('#txtAddHightLightIncluding').val(), qcode: qcod, optquote: optq }, function (d) {
            $('#dvAddHightLightIncluding').hide();
            $('#btnNewHighlightIncluding').show();
            updateHightLightIncluding();
        });
    });


    function updateHightLightIncluding() {

        var qcod = getParameterByName('qCode');
        var optq = getParameterByName('optQuote');

        $.ajax({
            url: "@Url.Action("UpdateHightLightIncluding", "Offer")",
            type: "GET",
            data: { qCode: qcod, optQuote: optq },
            success: function (d) {
                $('#dvhightlightIncluding').html(d);
            },
            error: function (xhr) {
                alert(xhr);
            }
        });
    }



     $('#btEditarHightLightEditIncluding').click(function () {

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        var arr = $(this).val().split('°');

        $.ajax({
            type: "GET",
            url: "@Url.Action("EditarHighlightIncluding", "Offer")",
            data: { idHighlightIncluding: $('#hdeHightLightIDIncluding').val(), hightlightIncluding: $('#txtNomeHightLightEditIncluding').val() },
            success: function (d) {

                if (d.success) {
                    var $toast = toastr["success"](d.message, "ProSoftware");
                    $toastlast = $toast;

                    $('#btnEditHightLightIncluding_' + $('#hdeHightLightIDIncluding').val()).val($('#txtNomeHightLightEditIncluding').val());
                }
                else {
                    var $toast = toastr["error"](d.message, "ProSoftware");
                    $toastlast = $toast;
                }
                waitingDialog.hide();
            },
            error: function (xhr) { alert(xhr); waitingDialog.hide();}
        });

    });




    //Discretion
    $('#btnNewHighlightDiscretion').click(function () {
        $('#dvAddHightLightDiscretion').fadeIn();
        $('#btnNewHighlightDiscretion').hide();
    });
    $('#btnNewHighlightDiscretionCancel').click(function () {
        $('#dvAddHightLightDiscretion').hide();
        $('#btnNewHighlightDiscretion').show();
    });


     $('#btnNewHighlightDiscretionSave').click(function () {
        var qcod = getParameterByName('qCode');
        var optq = getParameterByName('optQuote');

        $.get("@Url.Action("AddHighlightDiscretion", "Offer")", { HighlightDiscretion: $('#txtAddHightLightDiscretion').val(), qcode: qcod, optquote: optq }, function (d) {
            $('#dvAddHightLightDiscretion').hide();
            $('#btnNewHighlightDiscretion').show();
            updateHightLightDiscretion();
        });
    });



     function updateHightLightDiscretion() {

        var qcod = getParameterByName('qCode');
        var optq = getParameterByName('optQuote');

        $.ajax({
            url: "@Url.Action("UpdateHightLightDiscretion", "Offer")",
            type: "GET",
            data: { qCode: qcod, optQuote: optq },
            success: function (d) {
                $('#dvhightlightDiscretion').html(d);
            },
            error: function (xhr) {
                alert(xhr);
            }
        });
    }



    $('#btEditarHightLightEditDiscretion').click(function () {

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        var arr = $(this).val().split('°');

        $.ajax({
            type: "GET",
            url: "@Url.Action("EditarHighlightDiscretion", "Offer")",
            data: { idHighlightDiscretion: $('#hdeHightLightIDDiscretion').val(), hightlightDiscretion: $('#txtNomeHightLightEditDiscretion').val() },
            success: function (d) {

                if (d.success) {
                    var $toast = toastr["success"](d.message, "ProSoftware");
                    $toastlast = $toast;

                    $('#btnEditHightLightDiscretion_' + $('#hdeHightLightIDDiscretion').val()).val($('#txtNomeHightLightEditDiscretion').val());
                }
                else {
                    var $toast = toastr["error"](d.message, "ProSoftware");
                    $toastlast = $toast;
                }
                waitingDialog.hide();
            },
            error: function (xhr) { alert(xhr); }
        });

     });





    //HightLight
    $('#btnNewHighlight').click(function () {
        $('#modalAddHighlight').modal();
    });

    $('#btnAddHighlight').click(function () {

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        var qcod = getParameterByName('qCode');
        var optq = getParameterByName('optQuote');

         $.ajax({
            type: "GET",
            url: "@Url.Action("AddHighlight", "Offer")",
            data: { cidade: $('#ddlCidadeAddHighlight').val() , Highlight: $('#txtNomeAddHighlight').val() , qcode: qcod, optquote: optq },
            success: function (d) {

                if (d.success) {
                    var $toast = toastr["success"](d.message, "ProSoftware");
                    $toastlast = $toast;
                    updateHightLightCity();
                }
                else {
                    var $toast = toastr["error"](d.message, "ProSoftware");
                    $toastlast = $toast;
                }
                waitingDialog.hide();
            },
            error: function (xhr) { alert(xhr); }
        });
    });

    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    function updateHightLightCity() {

        var qcod = getParameterByName('qCode');
        var optq = getParameterByName('optQuote');

        $.ajax({
            url: "@Url.Action("UpdateHightLightCity", "Offer")",
            type: "GET",
            data: { qCode: qcod, optQuote: optq },
            success: function (d) {
                $('#dvhightlightcity').html(d);
            },
            error: function (xhr) {
                alert(xhr);
            }
        });
    }


    $('#btEditarHightLightEdit').click(function () {

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        var arr = $(this).val().split('°');

        $.ajax({
            type: "GET",
            url: "@Url.Action("EditarHighlight", "Offer")",
            data: { idHighlight: $('#hdeHightLightID').val(), hightlight: $('#txtNomeHightLightEdit').val() },
            success: function (d) {

                if (d.success) {
                    var $toast = toastr["success"](d.message, "ProSoftware");
                    $toastlast = $toast;

                    $('#btnEditHightLight_' + $('#hdeHightLightID').val()).val($('#txtNomeHightLightEdit').val());

                    //$('#rowDelColuna_' + arr[4]).remove();
                }
                else {
                    var $toast = toastr["error"](d.message, "ProSoftware");
                    $toastlast = $toast;
                }
                waitingDialog.hide();
            },
            error: function (xhr) { alert(xhr); }
        });

    });




</script>
