﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/QuoteGeralUser.css" rel="stylesheet" />

    <meta name="viewport" content="width=device-width" />
    <title>Offer</title>

    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyC-kObw3vFOFd963tQMK0a3Ft3I_cAQZGI" async="" defer="defer" type="text/javascript"></script>

    <script src="~/scripts/jquery-3.1.1.min.js"></script>
    <script src="~/scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>


</head>
<body>

    <div class="container">

        <br /><br />

        <div>
            <div id="LogoDiv" runat="server" class="logo">
                <img src="~/images/logo4star.png" id="imgLogo" />
            </div>
        </div>

        <br />
        <br />
        <div style="border:1px dashed #724c4c;padding:5px;">
            <div class="row">
                <div class="col-md-2" style="margin:0px;margin-top: 10px;color:#d6d6de;">
                    <span style="font-size: 15px;">For:</span>
                </div>
                <div class="col-md-3">
                    <span class="colorTitulos" style="font-size: 25px;">@ViewBag.nomeCliente</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2" style="margin:0px;">
                    <span class="colorTitulos" style="font-size: 25px;">Tour Code:</span>
                </div>
                <div class="col-md-10">
                    <span class="colorTitulos" style="font-size: 25px;">@ViewBag.tourCode</span>
                </div>
            </div>
        </div>
        <br />
        <br />

        <div class="row">

            <div class="col-md-6">

                <h4 class="h3Style">Notes</h4>
                <hr />
                <span>@Html.Raw(ViewBag.EditorNotes)</span>


                <h4 class="h3Style">Highlights</h4>
                @foreach (var item in ViewBag.hightlights)
                {
                    <li>@item.Cidade</li>
                    var lstinto = ViewBag.hightlightsInto as List<DAL.Entity.TBItinerary_Highlights>;
                    <ul>
                        @foreach (var itemInto in lstinto.Where(s => s.Cidade_ID == item.idCidade).ToList())
                        {
                            if (itemInto.Highlight != "" && itemInto.Highlight != null)
                            {
                                <li style="margin-left: 5px;">
                                    @itemInto.Highlight
                                </li>
                            }
                        }
                    </ul>
                }



                <h4 class="h3Style">Including</h4>
                <ul style="padding:0px;margin:0 0 0 15px;">
                    @foreach (var item in ViewBag.hightlightsIncluding)
                    {
                        <li>@item.Descricao</li>
                    }
                </ul>



                <h4 class="h3Style">Not Including</h4>
                <ul style="padding:0px;margin:0 0 0 15px;">
                    @foreach (var item in ViewBag.hightlightsDiscretion)
                    {
                        <li>@item.Descricao</li>
                    }
                </ul>

            </div>
            <div class="col-md-6">
                <img src="@ViewBag.hgImg1" id="imgHightLight1" class="img-thumbnail" style="width:323px;height:252px;" /><br />
                <img src="@ViewBag.hgImg2" id="imgHightLight2" class="img-thumbnail" style="width:323px;height:252px;margin-top:10px;" />
            </div>

        </div>

        <br /><br />

        <div class="row" style="page-break-before: always;">
            <h1 style="color: black;">Full Itinerary</h1>

            <div class="col-md-12">
                @{ string titulof = "", titulop = "", cidadesjuntas = ""; int first = 0; int conta = 0; var lsttodos = ViewData["itinerary"] as List<DAL.Models.itineraryModel>;
                    string optional = "<span style=\"color:#ff0000;\">Optional</span>"; }

                @foreach (var item in ViewData["itinerary"] as List<DAL.Models.itineraryModel>)
                {
                    if (titulof != "")
                    {
                        titulop = item.dia.ToString() + item.dtfrom;

                        cidadesjuntas = item.cidade;

                        foreach (var cidadesss in lsttodos.Where(s => s.dia == item.dia && s.dtfrom == item.dtfrom).ToList())
                        {
                            //if (item.cidade != cidadesss.cidade)
                            //{
                            //    cidadesjuntas = cidadesjuntas + " - " + cidadesss.cidade;
                            //}
                            if (item.cidade != cidadesss.cidade && !cidadesjuntas.Contains(cidadesss.cidade))
                            {
                                cidadesjuntas = cidadesjuntas + " - " + cidadesss.cidade;
                            }
                        }
                    }


                    if (titulof != titulop || first == 0)
                    {
                        if (first == 0)
                        {
                            cidadesjuntas = item.cidade;
                            foreach (var cidadesss in lsttodos.Where(s => s.dia == item.dia && s.dtfrom == item.dtfrom).ToList())
                            {
                                //if (item.cidade != cidadesss.cidade)
                                //{
                                //    cidadesjuntas = cidadesjuntas + " - " + cidadesss.cidade;
                                //}
                                if (item.cidade != cidadesss.cidade && !cidadesjuntas.Contains(cidadesss.cidade))
                                {
                                    cidadesjuntas = cidadesjuntas + " - " + cidadesss.cidade;
                                }
                            }

                            first = 1;
                        }
                        else
                        {
                            <hr />
                        }

                        <div class="row">
                            <div class="col-md-12">
                                <span style="font-family: 'Trebuchet MS'; font-size: 22px; color: #31baef;">
                                    DAY @item.dia
                                </span>
                                <br />
                                <span style="font-family: 'Trebuchet MS'; font-size: 28px; color: #727272; font-weight: bold;">
                                    @*@item.cidade*@

                                    @if (cidadesjuntas.Equals(""))
                                    {
                                        @item.cidade
                                    }
                                    else
                                    {
                                        @cidadesjuntas
                                    }
                                </span>
                                <br />
                                <span style="font-family: 'Trebuchet MS'; font-size: 12px; color: #31baef; font-weight: bold;">
                                    @string.Format(new System.Globalization.CultureInfo("en-GB"), "{0:dddd, d MMMM, yyyy}", item.dtfrom)
                                </span>
                            </div>
                        </div>
                    }

                    <hr style="border: dashed #d6d6d6;border-width: 1px 0 0;height: 0px;" />

                    <div class="row">

                        <div class="col-md-8" style="margin-left: 0px;padding-left:0px;">
                            <div class="col-md-1">
                                <img src="@item.urlIcon" style="width: 44px;" />
                            </div>
                            <div class="col-md-11" style="margin-left:0px;padding-left:0px;">
                                @if (!String.IsNullOrEmpty(item.nights))
                                {
                                    if (item.optional)
                                    {
                                        <span id="spTituloOffer" style="font-family: Verdana; font-size: 16px; color: #31baef; font-weight: bold;margin-left: 10px;" title="@item.titulo">
                                            @Html.Raw(item.titulo) - @Html.Raw(optional) - @item.nights
                                        </span>
                                    }
                                    else
                                    {
                                        <span id="spTituloOffer" style="font-family: Verdana; font-size: 16px; color: #31baef; font-weight: bold;margin-left: 10px;" title="@item.titulo">
                                            @Html.Raw(item.titulo) - @item.nights
                                        </span>
                                    }
                                }
                                else
                                {
                                    if (item.optional)
                                    {
                                        <span id="spTituloOffer" style="font-family: Verdana; font-size: 16px; color: #31baef; font-weight: bold;margin-left: 10px;" title="@item.titulo">
                                            @Html.Raw(item.titulo)- @Html.Raw(optional)
                                        </span>
                                    }
                                    else
                                    {
                                        <span id="spTituloOffer" style="font-family: Verdana; font-size: 16px; color: #31baef; font-weight: bold;margin-left: 10px;" title="@item.titulo">
                                            @Html.Raw(item.titulo) 
                                        </span>
                                    }
                                }

                                <input id="txtTituloOffer" type="text" class="form-control" style="display: none;" />

                            </div>

                            @if (item.FlightVoo != null)
                            {
                                <br />
                                <br />
                                <br />

                                    <div class="col-md-12">
                                        <span style="font-family: Verdana; font-size: 13px; color: #31baef; font-weight: bold;margin-left: 10px;">
                                            Fligh:
                                        </span> <strong>@item.FlightVoo</strong>
                                        <span style="font-family: Verdana; font-size: 13px; color: #31baef; font-weight: bold;margin-left: 10px;">
                                            Time:
                                        </span><strong>@item.FlightHora</strong>
                                    </div>

                            }

                            <div class="col-md-12">
                                <br />
                                <span style="font-size: 14px; color: #414141;">
                                    @Html.Raw(item.descricao)
                                </span>
                                @if (item.NomePacote != null)
                                {
                                    <br /><br />
                                    <strong>
                                        Package @item.NomePacote
                                    </strong>
                                    <br />
                                    <span style="font-size: 14px; color: #414141;">
                                        @Html.Raw(item.DescPacote)
                                    </span>
                                }
                            </div>
                        </div>

                        @if (!item.urlFoto.Contains("noimage.jpg"))
                        {
                            if (item.urlFoto != "")
                            {
                                <div class="col-md-4" style="margin-right:0px;padding-right:0px;">
                                    <img src="@item.urlFoto" id="imgItinerary" class="img-thumbnail" style="width:333px;height:262px;" /><br />
                                </div>
                            }
                        }

                    </div>

                    <br />

                    @*<hr />*@

                    titulof = item.dia.ToString() + item.dtfrom;
                    cidadesjuntas = "";
                    conta++;
                }
            </div>
        </div>
        <br />
        <br />

        @if (ViewBag.flights != null)
        {
            <div class="row" style="page-break-before: always;">
                <div class="col-md-12">
                    <h1 style="color: black;">Flights @*&amp; Hotels*@</h1>
                    <br />
                    @Html.Raw(ViewBag.flights)
                </div>
            </div>
        }
        @*<br /><br />

            <div class="row">
                <div class="col-md-12">
                    @Html.Partial("_hoteisPDF", ViewData["hoteisEdit"])
                </div>
            </div>*@

        <br /><br />

        <div class="row" id="dvprices" style="page-break-before: always;">
            <div class="col-md-12">
                <h1 style="color: black;">Land Package Price</h1>

                @foreach (var item in ViewBag.prices)
                {
                    if (item.visible)
                    {
                        <div style="min-height: 50px; border: thin dashed #d6d6d6;padding:30px;">
                            <div class="row">
                                <div class="col-md-4">
                                    <label id="lblRoom">@item.Room</label>
                                </div>
                                <div class="col-md-3">
                                    <label id="lblBase">@item.Base</label>
                                </div>
                            </div>
                            <hr style="margin-top:5px;margin-bottom:5px;" />
                            <div class="row">
                                <div class="col-md-4">
                                    <span>@item.RoomSub</span>
                                </div>
                                <div class="col-md-3">
                                    <span>@item.Price per person</span>
                                </div>
                            </div>
                        </div>
                        <br />
                    }
                }

                <br /><br />
                @if (ViewBag.priceNotes != null)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <label>Notes</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <span>
                                @Html.Raw(ViewBag.priceNotes)
                            </span>
                        </div>
                    </div>

                }
                <br /><br />
                @*@if (ViewBag.priceLink != null)
                {
                    string link = ViewBag.priceLink;

                    if (!link.Contains("http://"))
                    {
                        link = "http://" + link;
                    }

                    <div class="row">
                        <div class="col-md-12">
                            <a href="@link" target="_blank">Click here to go to the payment website</a>
                        </div>
                    </div>

                }*@

                @if (ViewBag.priceLink != null && ViewBag.priceLink != "")
                {


                    string link = ViewBag.priceLink;

                    if (!link.Contains("http://"))
                    {
                        link = "http://" + link;
                    }

                    <div class="row">
                        <div class="col-md-12">
                            <a href="@link" target="_blank">Click here to go to the payment website</a>
                        </div>
                    </div>

                }

            </div>
        </div>


    </div>

</body>
</html>


<script type="text/javascript">


    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    $(document).ready(function () {
        var code = getParameterByName('code');
        verificaPrice(code);
    });

    function verificaPrice(code) {
        $.get("@Url.Action("VerificaPrice", "Offer")", { hash: code }, function (d) {
            if (d.price == 1) {
                $('#dvprices').hide();
            }
        });
    }

</script>