﻿
<form role="form" id="form-amenities" method="post" action="javascript:func()">

    <input id="SidAmenitiesSpp" type="hidden" />

    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tabAment_1" data-toggle="tab">Activities</a></li>
            <li><a href="#tabAment_2" data-toggle="tab">Children Facilities</a></li>
            <li><a href="#tabAment_3" data-toggle="tab">General</a></li>
            <li><a href="#tabAment_4" data-toggle="tab">General Information</a></li>
            <li><a href="#tabAment_5" data-toggle="tab">Internet</a></li>
            <li><a href="#tabAment_6" data-toggle="tab">Services</a></li>
            <li><a href="#tabAment_7" data-toggle="tab">Suite</a></li>
        </ul>
        <div class="tab-content">

            <div class="tab-pane active" id="tabAment_1">

                @{ List<int> g = ViewBag.lstIdsSpp; }
                <div class="row">
                    @foreach (var item in ViewBag.AmenitiesActivities)
                    {
                        <div class="col-md-3">

                            @if (g.Contains(item.S_Amenities_id))
                            {
                                <input type="checkbox" checked="checked" class="chkAmenities" value="@item.S_Amenities_id" />
                            }
                            else
                            {
                                <input type="checkbox" class="chkAmenities" value="@item.S_Amenities_id" />
                            }

                            <img src="@string.Format("iconsAmenities/{0}", item.S_Amenities_imgNome)" />
                            <small>@item.S_Amenities_nome</small>
                        </div>
                    }
                </div>

            </div>

            <div class="tab-pane" id="tabAment_2">
                <div class="row">
                    @foreach (var item in ViewBag.AmenitiesChildrenFacilities)
                    {
                        <div class="col-md-3">
                            @if (g.Contains(item.S_Amenities_id))
                            {
                                <input type="checkbox" checked="checked" class="chkAmenities" value="@item.S_Amenities_id" />
                            }
                            else
                            {
                                <input type="checkbox"  class="chkAmenities" value="@item.S_Amenities_id" />
                            }

                            <img src="@string.Format("iconsAmenities/{0}", item.S_Amenities_imgNome)" />
                            <small>@item.S_Amenities_nome</small>
                        </div>
                    }
                </div>
            </div>

            <div class="tab-pane" id="tabAment_3">
                <div class="row">
                    @foreach (var item in ViewBag.AmenitiesGeneral)
                    {
                        <div class="col-md-3">
                            @if (g.Contains(item.S_Amenities_id))
                            {
                                <input type="checkbox" checked="checked" class="chkAmenities" value="@item.S_Amenities_id" />
                            }
                            else
                            {
                                <input type="checkbox" class="chkAmenities" value="@item.S_Amenities_id" />
                            }
                            <img src="@string.Format("iconsAmenities/{0}", item.S_Amenities_imgNome)" />
                            <small>@item.S_Amenities_nome</small>
                        </div>
                    }
                </div>
            </div>

            <div class="tab-pane" id="tabAment_4">
                <div class="row">
                    @foreach (var item in ViewBag.AmenitiesGeneralInfor)
                    {
                        <div class="col-md-3">
                            @if (g.Contains(item.S_Amenities_id))
                            {
                                <input type="checkbox" checked="checked" class="chkAmenities" value="@item.S_Amenities_id" />
                            }
                            else
                            {
                                <input type="checkbox"  class="chkAmenities" value="@item.S_Amenities_id" />
                            }
                            <img src="@string.Format("iconsAmenities/{0}", item.S_Amenities_imgNome)" />
                            <small>@item.S_Amenities_nome</small>
                        </div>
                    }
                </div>
            </div>

            <div class="tab-pane" id="tabAment_5">
                <div class="row">
                    @foreach (var item in ViewBag.AmenitiesInternet)
                    {
                        <div class="col-md-3">
                            @if (g.Contains(item.S_Amenities_id))
                            {
                                <input type="checkbox" checked="checked" class="chkAmenities" value="@item.S_Amenities_id" />
                            }
                            else
                            {
                                <input type="checkbox" class="chkAmenities" value="@item.S_Amenities_id" />
                            }
                            <img src="@string.Format("iconsAmenities/{0}", item.S_Amenities_imgNome)" />
                            <small>@item.S_Amenities_nome</small>
                        </div>
                    }
                </div>
            </div>

            <div class="tab-pane" id="tabAment_6">
                <div class="row">
                    @foreach (var item in ViewBag.AmenitiesServices)
                    {
                        <div class="col-md-3">
                            @if (g.Contains(item.S_Amenities_id))
                            {
                                <input type="checkbox" checked="checked" class="chkAmenities" value="@item.S_Amenities_id" />
                            }
                            else
                            {
                                <input type="checkbox" class="chkAmenities" value="@item.S_Amenities_id" />
                            }
                            <img src="@string.Format("iconsAmenities/{0}", item.S_Amenities_imgNome)" />
                            <small>@item.S_Amenities_nome</small>
                        </div>
                    }
                </div>
            </div>

            <div class="tab-pane" id="tabAment_7">
                <div class="row">
                    @foreach (var item in ViewBag.AmenitiesSuite)
                    {
                        <div class="col-md-3">
                            @if (g.Contains(item.S_Amenities_id))
                            {
                                <input type="checkbox" checked="checked" class="chkAmenities" value="@item.S_Amenities_id" />
                            }
                            else
                            {
                                <input type="checkbox" class="chkAmenities" value="@item.S_Amenities_id" />
                            }
                            <img src="@string.Format("iconsAmenities/{0}", item.S_Amenities_imgNome)" />
                            <small>@item.S_Amenities_nome</small>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>
</form>


<script type="text/javascript">

    $('.chkAmenities').click(function () {
        $.get("@Url.Action("SalvaAmenities", "Supplier")", { Sid: $('#idsupplier').val() , IDamenities: $(this).val() }, function (d) {
            if (d.success) {
                alert(d.message);
                //refreshAmenitiesSpp();
            }
        });        
    });
    
</script>