﻿@model DAL.Entity.S_Mercado_Periodo_Black

<form role="form" id="form-Blackout" method="post" action="javascript:func()">

    <input id="PeriodoBlackID" type="hidden" name="S_merc_periodo_black_id" value="@Model.S_merc_periodo_black_id" />
    <input id="SIDBlack" type="hidden" name="S_id" value="@Model.S_id" />

    <div class="row">
        <div class="col-md-6">
            <label for="txtDataFromBlack">Data From</label>
            <input id="txtDataFromBlack" type="date" name="S_merc_periodo_black_from" class="form-control" value="@string.Format("{0:yyyy-MM-dd}", Model.S_merc_periodo_black_from)" required />
        </div>
        <div class="col-md-6">
            <label for="txtDataToBlack">Data To</label>
            <input id="txtDataToBlack" name="S_merc_periodo_black_to" type="date" class="form-control" value="@string.Format("{0:yyyy-MM-dd}", Model.S_merc_periodo_black_to)" required />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <label for="ddlMercadoBlack">Mercado</label>
            <select id="ddlMercadoBlack" class="form-control" name="Mercado_id">
                @foreach (var item in ViewBag.MercadoBlack)
                {
                <option value="@item.Mercado_id">@item.Mercado_nome</option>
                }
            </select>
        </div>
        <div class="col-md-6">
            <label for="ddlBaseTarifariaBlack">BaseTarifaria</label>
            <select id="ddlBaseTarifariaBlack" class="form-control" name="BaseTarifaria_id">
                @foreach (var item in ViewBag.BaseTarifariaBlack)
                {
                <option value="@item.BaseTarifaria_id">@item.BaseTarifaria_nome</option>
                }
            </select>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <label for="txtObsBlack">Remarks</label>
            <textarea id="txtObsBlack" class="form-control" name="S_merc_periodo_black_obs" placeholder="Obs"></textarea>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2">
            <input id="btnSalvarPeriodoBlack" type="submit" class="btn btn-primary" title="Salvar" value="Salvar" style="border-radius:0px;" />
        </div>
    </div>
</form>

<br />

<div class="row">

    <div class="col-md-12">        

        <table class="table table-bordered table-striped">

            <thead>

                <tr>
                    <th><small>From</small></th>
                    <th><small>To</small></th>
                    <th><small>Obs</small></th>
                    <th><small>Del</small></th>
                </tr>

            </thead>

            <tbody>                
                @foreach (var item in ViewBag.LstBalcks)
                {
                    <tr>
                        <td><small>@string.Format("{0:dd/MM/yyyy}", item.S_merc_periodo_black_from)</small></td>
                        <td><small>@string.Format("{0:dd/MM/yyyy}", item.S_merc_periodo_black_to)</small></td>
                        <td><small>@item.S_merc_periodo_black_obs</small></td>
                        <td>
                            <small>
                                <button id="btnDeletar" type="button" value='@item.S_merc_periodo_black_id' class="btn btn-xs btn-danger deletarblackout" title="Deletar Periodo Blackout"><span class="glyphicon glyphicon-trash"></span></button>
                            </small>
                        </td>
                    </tr>                  
                }

            </tbody>

        </table>

    </div>

</div>

<script type="text/javascript">

    if(@Model.S_merc_periodo_black_id != 0)
    {
        $('#ddlMercadoBlack').val(@Model.Mercado_id);
        $('#ddlBaseTarifariaBlack').val(@Model.BaseTarifaria_id);
    }

    $('.deletarblackout').click(function(){
        var result = window.confirm('Deseja deletar esse periodo?');
        if (result == false) {
            e.preventDefault();
            return;
        };

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };

        $.get("@Url.Action("ExluirPeriodoBlack", "Supplier")", { IDBlack: $(this).val() }, function (d) {
            if (d.success) {
                var $toast = toastr["success"](d.message, "Prosoftware");
                $toastlast = $toast;
                refreshGridBlackout();
            }
            else {
                var $toast = toastr["error"](d.message, "Prosoftware");
                $toastlast = $toast;
            }

        });
    });

    $('#form-Blackout').submit(function () {

        if($('#idsupplier').val() == 0){
            alert("Favor selecionar um supplier primeiro");
            return false;
        }

        $('#btnSalvarPeriodoBlack').attr("disabled", "disabled");
        $('#btnSalvarPeriodoBlack').html('Aguarde...');

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };

        $('#SIDBlack').val($('#idsupplier').val());

        var mod = $(this).serialize();

        $.ajax({
            url: "@Url.Action("SalvarPeriodoBlack", "Supplier")",
            data: mod,
            type: "POST",
            success: function (d) {
                if (d.success) {
                    var $toast = toastr["success"](d.message, "Prosoftware");
                    $toastlast = $toast;
                    refreshGridBlackout();
                }
                else {
                    var $toast = toastr["error"](d.message, "Prosoftware");
                    $toastlast = $toast;
                }

                $('#btnSalvarPeriodoBlack').removeAttr("disabled", "disabled");
                $('#btnSalvarPeriodoBlack').html('Salvar');
            },
            error: function (XHR) {
                alert(XHR);

                $('#btnSalvarPeriodoBlack').removeAttr("disabled", "disabled");
                $('#btnSalvarPeriodoBlack').html('Salvar');
            }
        });
    });

</script>

