﻿

<div class="row">

    <div class="col-md-6">

        <div class="row">
            <div class="col-md-12">

                <table id="tblCategsObs" class="table table-bordered table-striped">

                    <thead>

                        <tr>
                            <th><small>Categoria</small></th>
                            <th><small>Editar</small></th>
                        </tr>

                    </thead>

                    <tbody>
                        @{ int i = 0; }
                        @foreach (var item in ViewBag.lstCategoriasObs)
                        {
                            <tr id="trCategObs_@i">
                                <td><small>@item.Tarif_categoria_nome</small></td>
                                <td>
                                    <button id="btnEditar" type="button" value='@item.Tarif_categoria_id°@i' class="btn btn-xs btn-success editarcategObs" title="Editar Obs"><span class="glyphicon glyphicon-pencil"></span></button>
                                </td>
                            </tr>
                            i++;
                        }

                    </tbody>

                </table>

            </div>
        </div>

    </div>

    <div class="col-md-6">
        <input type="hidden" id="idCategSelect" value="0" />
        <div class="row">
            <div class="col-md-12">
                <label for="txtRemarkDescCateg">Remarks</label>
                <textarea id="txtRemarkDescCateg" class="form-control" rows="5" placeholder="Remarks"></textarea>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2">
                <input id="btnSalvarCategsObs" type="button" class="btn btn-primary" title="Salvar" value="Salvar" style="border-radius:0px;" />
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">

    $('.editarcategObs').click(function () {

        $('#tblCategsObs tbody tr').each(function () {
            $(this).css('background-color', 'white');
        });

        var arr = $(this).val().split('°');
        $('#idCategSelect').val(arr[0]);

        $.get("@Url.Action("GridDesc_Select", "Supplier")", { myid: arr[0], Sid: $('#idsupplier').val() }, function (d) {
            if (d.success) {
                $('#trCategObs_' + arr[1]).css('background-color', 'yellow');
                $('#txtRemarkDescCateg').val(d.txtRemarkDescCateg);
            }
        });
    });

    $('#btnSalvarCategsObs').click(function () {

        if ($('#idCategSelect').val() == 0) {
            alert('Favor selecione uma categoria.');
            return false;
        }

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        $('#btnSalvarCategsObs').attr("disabled", "disabled");
        $('#btnSalvarCategsObs').html('Aguarde...');

        $.ajax({
            url: "@Url.Action("SalvarDescCateg", "Supplier")",
            data: { Sid: $('#idsupplier').val(), IdCateg: $('#idCategSelect').val(), txtRemarkDescCateg: $('#txtRemarkDescCateg').val() },
            type: "GET",
            success: function (d) {
                if (d.success) {
                    var $toast = toastr["success"](d.message, "Prosoftware");
                    $toastlast = $toast;
                }
                else {
                    var $toast = toastr["error"](d.message, "Prosoftware");
                    $toastlast = $toast;
                }

                $('#btnSalvarCategsObs').removeAttr("disabled", "disabled");
                $('#btnSalvarCategsObs').html('Salvar');
            },
            error: function (XHR) {
                alert(XHR);
                $('#btnSalvarCategsObs').removeAttr("disabled", "disabled");
                $('#btnSalvarCategsObs').html('Salvar');
            }
        });

    });

</script>
