﻿
<form role="form" id="form-condPag" method="post" action="javascript:func()">

    <input id="idSupplierCondPag" type="hidden" name="S_id" />

    <div class="row">
        <div class="col-md-6">
            <label for="txtFonteCambio">Fonte Cambio</label>
            <input id="txtFonteCambio" name="CondPag_fontecambio" type="text" class="form-control" required />
        </div>
        <div class="col-md-6">
            <label for="ddlTipoCambio">Tipo Cambio</label>
            <select id="ddlTipoCambio" class="form-control" name="CondPag_tipocambio">
                <option value="0">Sem tipo...</option>
                <option value="Comercial Compra">Comercial Compra</option>
                <option value="Comercial Venda">Comercial Venda</option>
                <option value="Turismo Compra">Turismo Compra</option>
                <option value="Turismo Venda">Turismo Venda</option>
                <option value="Paralelo Compra">Paralelo Compra</option>
                <option value="Paralelo Venda">Paralelo Venda</option>
                <option value="Cambio Empresa">Cambio Empresa</option>
                <option value="Travel Cheque">Travel Cheque</option>
                <option value="Travel Cheque US$">Travel Cheque US$</option>
            </select>
        </div>
    </div>
    <br />    
    <div class="row">
        <div class="col-md-12">
            <label for="rdpDtCambioTroca">Data Cambio de Troca</label>           
                <br />
                <input id="rdoDataCambio" class="rdoDataCambioCL" name="rdoDataCambio" type="radio" checked="checked" value="in" /> Chek-in
                <input id="rdoDataCambio" class="rdoDataCambioCL" name="rdoDataCambio" type="radio" value="out" /> Chek-out                
                <input id="hddrdoDataCambio" type="hidden" name="CondPag_datatroca" />            
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <label for="txtPrazoFaturamento">Prazo Faturamento</label>
            <input id="txtPrazoFaturamento" name="CondPag_prazofaturamento" type="text" class="form-control" required />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4">
            <label for="txtBanco">Banco</label>
            <input id="txtBanco" name="CondPag_prazofaturamento" type="text" class="form-control" required />
        </div>
        <div class="col-md-4">
            <label for="txtAgencia">Agência</label>
            <input id="txtAgencia" name="CondPag_agencia" type="text" class="form-control" required />
        </div>
        <div class="col-md-4">
            <label for="txtConta">Conta</label>
            <input id="txtConta" name="CondPag_conta" type="text" class="form-control" required />
        </div>
    </div>
    <br />   
    <div class="row">
        <div class="col-md-2">
            <input id="btnSalvarCondPag" type="submit" class="btn btn-primary" title="Salvar" value="Salvar" style="border-radius:0px;" />
        </div>
    </div>

</form>

<br />

<div class="row">

    <div class="col-md-12">

        <table class="table table-bordered table-striped">

            <thead>

                <tr>
                    <th><small>Fonte</small></th>
                    <th><small>Tipo Cambio</small></th>
                    <th><small>Data Cambio Troc</small></th>
                    <th><small>Prazo Fat</small></th>
                    <th><small>Deletar</small></th>
                </tr>

            </thead>

            <tbody>

                @foreach (var item in ViewBag.lstCondPag)
                {
                    <tr>
                        <td><small>@item.CondPag_fontecambio</small></td>
                        <td><small>@item.CondPag_tipocambio</small></td>
                        <td><small>@item.CondPag_datatroca</small></td>
                        <td><small>@item.CondPag_prazofaturamento</small></td>
                        <td>
                            <small>
                                <button type="button" value='@item.CondPag_id' class="btn btn-xs btn-danger deletarcondPag" title="Deletar Cond Pagamento"><span class="glyphicon glyphicon-trash"></span></button>
                            </small>
                        </td>
                    </tr>
                }

            </tbody>

        </table>

    </div>

</div>


<script type="text/javascript">

    $('#hddrdoDataCambio').val("in");

    $('.rdoDataCambioCL').change(function () {
        if ($("input[name='rdoDataCambio']:checked").val() == "in") {
            $('#hddrdoDataCambio').val("in");

        } else {
            $('#hddrdoDataCambio').val("out");
        }
    });


    $('#form-condPag').submit(function () {

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        var mod = $(this).serialize();

        $('#btnSalvarCondPag').attr("disabled", "disabled");
        $('#btnSalvarCondPag').html('Aguarde...');

        $.ajax({
            url: "@Url.Action("SalvarCond", "Supplier")",
            data: mod,
            type: "POST",
            success: function (d) {
                if (d.success) {
                    var $toast = toastr["success"](d.message, "Prosoftware");
                    $toastlast = $toast;
                    AtualizaCondPag();
                }
                else {
                    var $toast = toastr["error"](d.message, "Prosoftware");
                    $toastlast = $toast;
                }

                $('#btnSalvarCondPag').removeAttr("disabled", "disabled");
                $('#btnSalvarCondPag').html('Salvar');
            },
            error: function (XHR) {
                alert(XHR);
                $('#btnSalvarCondPag').removeAttr("disabled", "disabled");
                $('#btnSalvarCondPag').html('Salvar');
            }
        });

    });


    $('.deletarcondPag').click(function () {
        var result = window.confirm('Deseja deletar essa Cond Pagamento?');
        if (result == false) {
            e.preventDefault();
            return;
        };

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };

        $.get("@Url.Action("ExluirCondPag", "Supplier")", { idCondPag: $(this).val() }, function (d) {
            if (d.success) {
                var $toast = toastr["success"](d.message, "Prosoftware");
                $toastlast = $toast;
                AtualizaCondPag();
            }
            else {
                var $toast = toastr["error"](d.message, "Prosoftware");
                $toastlast = $toast;
            }

        });
    });

</script>