﻿
<form role="form" id="form-contato" method="post" action="javascript:func()">

    <input id="idSupplierContato" type="hidden" name="S_id" />

    <div class="row">
        <div class="col-md-12">
            <label for="txtNomeContato">Nome</label>
            <input id="txtNomeContato" name="SCONT_nome" type="text" class="form-control" required />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <label for="txtTelefoneContato">Telefone</label>
            <input id="txtTelefoneContato" name="SCONT_telefone" type="text" placeholder="Telefone" class="form-control" required />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <label for="txtCargoContato">Cargo</label>
            <input id="txtCargoContato" name="SCONT_position" type="text" placeholder="Cargo" class="form-control" required />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <label for="txtEmailContato">Email</label>
            <input id="txtEmailContato" name="SCONT_email" type="text" placeholder="Email" class="form-control" required />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2">
            <input id="btnSalvarContato" type="submit" class="btn btn-primary" title="Salvar" value="Salvar" style="border-radius:0px;" />
        </div>
    </div>
</form>

<br />

<div class="row">

    <div class="col-md-12">

        <table class="table table-bordered table-striped">

            <thead>

                <tr>
                    <th><small>Nome</small></th>
                    <th><small>Telefone</small></th>
                    <th><small>Cargo</small></th>
                    <th><small>Email</small></th>
                    <th><small>Deletar</small></th>
                </tr>

            </thead>

            <tbody>
               
                @foreach (var item in ViewBag.lstContatos)
                {
                    <tr>
                        <td><small>@item.SCONT_nome</small></td>
                        <td><small>@item.SCONT_telefone</small></td>
                        <td><small>@item.SCONT_position</small></td>
                        <td><small>@item.SCONT_email</small></td>
                        <td>
                            <small>
                                <button type="button" value='@item.SCONT_id' class="btn btn-xs btn-danger deletarcontato" title="Deletar Contato"><span class="glyphicon glyphicon-trash"></span></button>
                            </small>
                        </td>
                    </tr>                  
                }

            </tbody>

        </table>

    </div>

</div>


<script type="text/javascript">

    $('#form-contato').submit(function () {

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };

        $('#btnSalvarContato').attr("disabled", "disabled");
        $('#btnSalvarContato').html('Aguarde...');

        var mod = $(this).serialize();

        $.ajax({
            url: "@Url.Action("SalvarContato", "Supplier")",
            data: mod,
            type: "POST",
            success: function (d) {
                if (d.success) {
                    var $toast = toastr["success"](d.message, "Prosoftware");
                    $toastlast = $toast;
                    AtualizaContato();
                }
                else {
                    var $toast = toastr["error"](d.message, "Prosoftware");
                    $toastlast = $toast;
                }

                $('#btnSalvarContato').removeAttr("disabled", "disabled");
                $('#btnSalvarContato').html('Salvar');
            },
            error: function (XHR) {
                alert(XHR);

                $('#btnSalvarContato').removeAttr("disabled", "disabled");
                $('#btnSalvarContato').html('Salvar');
            }
        });        
    });


    $('.deletarcontato').click(function () {
        var result = window.confirm('Deseja deletar esse contato?');
        if (result == false) {
            e.preventDefault();
            return;
        };

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };

        $.get("@Url.Action("ExluirContato", "Supplier")", { idContato: $(this).val() }, function (d) {
            if (d.success) {
                var $toast = toastr["success"](d.message, "Prosoftware");
                $toastlast = $toast;
                AtualizaContato();
            }
            else {
                var $toast = toastr["error"](d.message, "Prosoftware");
                $toastlast = $toast;
            }

        });
    });

</script>