﻿
<form role="form" id="form-copiarTarifas" method="post" action="javascript:func()">

    <div class="row">
        <div class="col-md-12">
            <label for="ddlEstacaoCop">Estação</label>
            <select id="ddlEstacaoCop" class="form-control">
                @foreach (var item in ViewBag.EstacaoCopTarifas)
                {
                    <option value="@item.S_mercado_estacao_id">@item.S_mercado_estacao_nome</option>
                }
            </select>
        </div>        
    </div>

    <br />
    <div class="row">
        <div class="col-md-8">
            <label for="ddlPeriodoCop">Periodo</label>
            <select id="ddlPeriodoCop" class="form-control" onchange="GetFDS()" required>
                <option value="0">Selecione...</option>
                @foreach (var item in ViewBag.PeriodosDatas)
                {
                    <option value="@item.S_merc_periodo_id">@string.Format("{0:dd/MM/yyyy}", item.S_merc_periodo_from)</option>
                }
            </select>
        </div>
        <div class="col-md-4">
            <br />
            <label id="lblDiaSemana"></label>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-4">
            <input type="checkbox" id="chkPercent" title="Percent?" onclick="" /> Percent?
            <input id="txtPercent" type="text" class="form-control" />
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-6">
            <label for="txtDataFromCopTar">Data From</label>
            <input id="txtDataFromCopTar" type="date" class="form-control" required />
        </div>
        <div class="col-md-6">
            <label for="txtDataToCopTar">Data To</label>
            <input id="txtDataToCopTar" type="date" class="form-control" required />
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-12">
            <input type="checkbox" id="chkProvisorio" title="Percent?" /> Provisório?           
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2">
            <input id="btnSalvarCopTarifas" type="button" class="btn btn-primary" title="Salvar" value="Salvar" style="border-radius:0px;" />
        </div>
    </div>
</form>

<script type="text/javascript">

    $('#txtPercent').hide();

    $('#chkPercent').change(function () {
        if ($(this).is(":checked")) {
            $('#txtPercent').show();
        } else {
            $('#txtPercent').hide();
        }      
    });

    function GetFDS() {
        $.get("@Url.Action("ObterFDS", "Supplier")", { DropPeriodos: $('#ddlPeriodoCop').val() }, function (data) {
            $('#lblDiaSemana').html(data);
        });
    }

    $('#btnSalvarCopTarifas').click(function () {

        $('#btnSalvarCopTarifas').html("Aguarde...");
        $('#btnSalvarCopTarifas').attr("disabled", "disabled");
       
        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };

        $.ajax({
            url: "@Url.Action("CopiarTarifas", "Supplier")",
            data: {
                chkPercent: $('#chkPercent').is(':checked'),
                txtPercent: $('#txtPercent').val(),
                DropPeriodos: $('#ddlPeriodoCop').val(),
                DropEstacao: $('#ddlEstacaoCop').val(),
                Sid: $('#idsupplier').val(),
                chkProvisorio: $('#chkProvisorio').is(':checked'),
                from: $('#txtDataFromCopTar').val(),
                to: $('#txtDataToCopTar').val()
            },
            type: "GET",
            success: function (d) {
                if (d.success) {
                    var $toast = toastr["success"](d.message, "Prosoftware");
                    $toastlast = $toast;

                    refreshGridTarifasSupplier();
                } else {
                    var $toast = toastr["error"](d.message, "Prosoftware");
                    $toastlast = $toast;
                }

                $('#btnSalvarCopTarifas').removeAttr("disabled");
                $('#btnSalvarCopTarifas').html('Procurar');
            },
            error: function (xhr) {
                alert(xhr);
                $('#btnSalvarCopTarifas').removeAttr("disabled");
                $('#btnSalvarCopTarifas').html('Procurar');
            }
        });

    });

</script>