﻿@model DAL.Entity.Descritivo_Pacote

<input type="hidden" id="idPeriodoDescrPacote" />

<div class="box-group" id="accordion">
    @for (int i = 0; i < ViewBag.MinimoNoites + 1; i++)
    {
        <div class="panel box box-primary">
            <div class="box-header with-border">
                <h4 class="box-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseDescr_@i">
                        Dia: @Convert.ToInt32(i + 1)
                    </a>
                </h4>
            </div>            

            @{ 
                var doptDal = new DAL.Persistencia.DescritivoOptionsDAL();
                var descropts = doptDal.ObterPorDecritivo(Model.Descritivo_id, i);

                bool chkbreak = false; bool chklunch = false; bool chkboxlunch = false; bool chkdinner = false;

                if (descropts != null)
                {
                    if (descropts.DescritivoOptions_breakfast != null) { chkbreak = true; }
                    if (descropts.DescritivoOptions_boxlunch != null) { chkboxlunch = true; }
                    if (descropts.DescritivoOptions_dinner != null) { chkdinner = true; }
                    if (descropts.DescritivoOptions_lunch != null) { chklunch = true; }
                }
            }

            <div id="collapseDescr_@i" class="panel-collapse collapse">
                <div class="box-body">

                    <div class="row">
                        <div class="col-md-2">
                            <input type="checkbox" id="break_@i" value="Breakfast" title="Breakfast" checked="@chkbreak" /><span>Breakfast</span>
                        </div>
                        <div class="col-md-2">
                            <input type="checkbox" id="lunch_@i" value="Lunch" title="Lunch" checked="@chklunch" /><span>Lunch</span>
                        </div>
                        <div class="col-md-2">
                            <input type="checkbox" id="boxlunch_@i" value="Box Lunch" title="Box Lunch" checked="@chkboxlunch" /><span>Box Lunch</span>
                        </div>
                        <div class="col-md-2">
                            <input type="checkbox" id="dinner_@i" value="Dinner" title="Dinner" checked="@chkdinner" /><span>Dinner</span>
                        </div>
                    </div>

                    <textarea id="EditorPacote_@i" class="summernote form-control"></textarea>

                    @*<div class="summernote" id="EditorPacote_@i"></div>*@

                    @switch (i)
                    {
                        case 0:
                            <textarea id="EditorPacoteTxt_@i" style="display: none;">@Model.Descritivo_descr0</textarea>
                            break;
                        case 1:
                            <textarea id="EditorPacoteTxt_@i" style="display: none;">@Model.Descritivo_descr1</textarea>
                            break;
                        case 2:
                            <textarea id="EditorPacoteTxt_@i" style="display: none;">@Model.Descritivo_descr2</textarea>
                            break;
                        case 3:
                            <textarea id="EditorPacoteTxt_@i" style="display: none;">@Model.Descritivo_descr3</textarea>
                            break;
                        case 4:
                            <textarea id="EditorPacoteTxt_@i" style="display: none;">@Model.Descritivo_descr4</textarea>
                            break;
                        case 5:
                            <textarea id="EditorPacoteTxt_@i" style="display: none;">@Model.Descritivo_descr5</textarea>
                            break;
                        case 6:
                            <textarea id="EditorPacoteTxt_@i" style="display: none;">@Model.Descritivo_descr6</textarea>
                            break;
                        case 7:
                            <textarea id="EditorPacoteTxt_@i" style="display: none;">@Model.Descritivo_descr7</textarea>
                            break;
                        case 8:
                            <textarea id="EditorPacoteTxt_@i" style="display: none;">@Model.Descritivo_descr8</textarea>
                            break;
                        case 9:
                            <textarea id="EditorPacoteTxt_@i" style="display: none;">@Model.Descritivo_descr9</textarea>
                            break;
                        case 10:
                            <textarea id="EditorPacoteTxt_@i" style="display: none;">@Model.Descritivo_descr10</textarea>
                            break;
                        case 11:
                            <textarea id="EditorPacoteTxt_@i" style="display: none;">@Model.Descritivo_descr11</textarea>
                            break;
                        case 12:
                            <textarea id="EditorPacoteTxt_@i" style="display: none;">@Model.Descritivo_descr12</textarea>
                            break;
                        case 13:
                            <textarea id="EditorPacoteTxt_@i" style="display: none;">@Model.Descritivo_descr13</textarea>
                            break;
                        case 14:
                            <textarea id="EditorPacoteTxt_@i" style="display: none;">@Model.Descritivo_descr14</textarea>
                            break;
                        case 15:
                            <textarea id="EditorPacoteTxt_@i" style="display: none;">@Model.Descritivo_descr15</textarea>
                            break;
                        case 16:
                            <textarea id="EditorPacoteTxt_@i" style="display: none;">@Model.Descritivo_descr16</textarea>
                            break;
                        case 17:
                            <textarea id="EditorPacoteTxt_@i" style="display: none;">@Model.Descritivo_descr17</textarea>
                            break;
                        case 18:
                            <textarea id="EditorPacoteTxt_@i" style="display: none;">@Model.Descritivo_descr18</textarea>
                            break;
                        case 19:
                            <textarea id="EditorPacoteTxt_@i" style="display: none;">@Model.Descritivo_descr19</textarea>
                            break;
                        case 20:
                            <textarea id="EditorPacoteTxt_@i" style="display: none;">@Model.Descritivo_descr20</textarea>
                            break;

                    }


                </div>
            </div>

        </div>
    }
</div>

<br />

<div class="row">
    <div class="col-md-1">
        <input id="btnSalvarDescrPacote" type="button" class="btn btn-primary btn-sm" title="Salvar" value="Salvar" style="border-radius:0px;" />
    </div>
</div>



<script type="text/javascript">

    $('.summernote').summernote({
        minHeight: 250,
        minwidth: 550
    });

    for (var j = 0; j < @ViewBag.MinimoNoites +1; j++) {
        $('#EditorPacote_' + j).summernote('code', $('#EditorPacoteTxt_' + j).val());
    }

    $('#btnSalvarDescrPacote').click(function () {

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };

        var sucesso = 0;

        var d1 = $('#EditorPacote_0').summernote('code');
        var mod1 = {
            descr: escape(d1),
            pos: 0,
            idPeriodo: $('#idPeriodoDescrPacote').val(),
            breakfast: $('#break_' + 0).is(":checked"),
            lunch: $('#lunch_' + 0).is(":checked"),
            boxlunch: $('#boxlunch_' + 0).is(":checked"),
            dinner: $('#dinner_' + 0).is(":checked")
        };
        $.post("@Url.Action("SalvarDescrPacote", "Supplier")", mod1, function (d) {
            if (d.success) {
                SalvarTodosDescrPacote();
            }
        });


        if (sucesso == 0) {
            var $toast = toastr["success"]("Descrições cadastrdas com sucesso.", "Prosoftware");
            $toastlast = $toast;
        }
        else {
            var $toast = toastr["error"]("Houve um erro.", "Prosoftware");
            $toastlast = $toast;
        }

    });

    function SalvarTodosDescrPacote() {

        for (var k = 1; k < @ViewBag.MinimoNoites + 1; k++) {

            var d = $('#EditorPacote_' + k).summernote('code');

            var mod = {
                descr: escape(d),
                pos: k,
                idPeriodo: $('#idPeriodoDescrPacote').val(),
                breakfast: $('#break_' + k).is(":checked"), 
                lunch: $('#lunch_' + k).is(":checked"),
                boxlunch: $('#boxlunch_' + k).is(":checked"),
                dinner: $('#dinner_' + k).is(":checked")
            };

            $.post("@Url.Action("AtualizarDescrPacote", "Supplier")", mod, function (d) {
                if (!d.success) {
                    sucesso = 1;
                }
            });

        }
    }

</script>