﻿@model DAL.Entity.S_Descricao

<form role="form" id="form-descrSpp" method="post" action="javascript:func()">

    <input id="DescrIdSpp" type="hidden" value="@Model.Desc_id" />
    <input id="SidDescrSpp" type="hidden" value="@Model.S_id" />

    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tabDesc_1" data-toggle="tab">Descrição Completa</a></li>
            <li><a href="#tabDesc_2" data-toggle="tab">Descrição Curta</a></li>
            <li><a href="#tabDesc_3" data-toggle="tab">Observação</a></li>
            <li><a href="#tabDesc_4" data-toggle="tab">Infos Adicionais</a></li>
        </ul>
        <div class="tab-content">

            <div class="tab-pane active" id="tabDesc_1">

                <textarea id="DescrCompleta" class="summernote form-control"></textarea>
                <textarea id="DescrCompletaTXT" style="display: none;">@Model.Desc_long</textarea>
            </div>

            <div class="tab-pane" id="tabDesc_2">

                <textarea id="DescrCurta" class="summernote form-control"></textarea>
                <textarea id="DescrCurtaTXT" style="display: none;">@Model.Desc_short</textarea>
            </div>

            <div class="tab-pane" id="tabDesc_3">

                <div class="row">
                    <div class="col-md-4">
                        <label for="txtremarksSpp">Remarks</label>
                        <textarea id="txtremarksSpp" class="form-control" rows="10">@Model.Desc_remarks</textarea>
                    </div>
                    <div class="col-md-4">
                        <label for="txtInfoClienteSpp">Infos do Cliente</label>
                        <textarea id="txtInfoClienteSpp" class="form-control" rows="10">@Model.Desc_cliente</textarea>
                    </div>
                    <div class="col-md-4">
                        <label for="txtInfoVoucherSpp">Infos do Voucher</label>
                        <textarea id="txtInfoVoucherSpp" class="form-control" rows="10">@Model.Desc_voucher</textarea>
                    </div>
                </div>

            </div>

            <div class="tab-pane" id="tabDesc_4">

                <div class="row">
                    <div class="col-md-4">
                        <label for="txtNumRoomsSupplier">Num de Rooms</label>
                        <input id="txtNumRoomsSupplier" type="text" class="form-control" value="@Model.Desc_nRooms" />
                    </div>
                    <div class="col-md-4">
                        <label for="txtCheckinSupplier">Check In</label>
                        <input id="txtCheckinSupplier" type="text" class="form-control" value="@Model.Desc_HoraCheckIn" />
                    </div>
                    <div class="col-md-4">
                        <label for="txtCheckoutSupplier">Check Out</label>
                        <input id="txtCheckoutSupplier" type="text" class="form-control" value="@Model.Desc_HoraCheckOut" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <label for="txtLinkAdvisorSupplier">Link Advisor</label>
                        <input id="txtLinkAdvisorSupplier" type="text" class="form-control" value="@Model.Desc_LnkAdvisor" />
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <input id="btnSalvarDescricaoSpp" type="submit" class="btn btn-primary" title="Salvar Descrições" value="Salvar Descrições" style="border-radius:0px;" />
        </div>
    </div>

</form>

<script type="text/javascript">

    $('.summernote').summernote({
        minHeight: 250,
        minwidth: 550
    });

    $('#DescrCompleta').summernote('code', $('#DescrCompletaTXT').val());
    $('#DescrCurta').summernote('code', $('#DescrCurtaTXT').val());


    if(@Model.Desc_id == 0)
    {
        $('#DescrCompleta').val("");
        $('#DescrCurta').val("");
        $('#txtremarksSpp').val("");
        $('#txtInfoClienteSpp').val("");
        $('#txtInfoVoucherSpp').val("");
        $('#txtNumRoomsSupplier').val("");
        $('#txtCheckinSupplier').val("");
        $('#txtCheckoutSupplier').val("");
        $('#txtLinkAdvisorSupplier').val("");
    }

    $('#form-descrSpp').submit(function(){

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        var mod = {
            Desc_short: escape($('#DescrCurta').summernote('code')),
            Desc_long: escape($('#DescrCompleta').summernote('code')),
            Desc_remarks: $('#txtremarksSpp').val(),
            Desc_cliente: $('#txtInfoClienteSpp').val(),
            Desc_voucher: $('#txtInfoVoucherSpp').val(),
            Desc_nRooms: $('#txtNumRoomsSupplier').val(),
            Desc_HoraCheckIn: $('#txtCheckinSupplier').val(),
            Desc_HoraCheckOut: $('#txtCheckoutSupplier').val(),
            Desc_LnkAdvisor: $('#txtLinkAdvisorSupplier').val(),
            S_id: $('#SidDescrSpp').val(),
            Desc_id: $('#DescrIdSpp').val()
        };

        $.ajax({
            url: "@Url.Action("CadastrarDescricao", "Supplier")",
            data: mod,
            type: "POST",
            success: function (d) {
                if (d.success) {
                    var $toast = toastr["success"](d.message, "Prosoftware");
                    $toastlast = $toast;

                    $('#DescrIdSpp').val(d.descrID);                    
                }
                else {
                    var $toast = toastr["error"](d.message, "Prosoftware");
                    $toastlast = $toast;
                }
                waitingDialog.hide();
            },
            error: function (XHR) {
                waitingDialog.hide(); alert(XHR);
            }
        });

    });

</script>
