﻿@model IEnumerable<DAL.Entity.S_Image>


<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-md-2">
            <img class="img-thumbnail zoom" src="~/galeria/@item.S_id/@item.Image_nome" alt="@item.Image_id" rel="~/galeria/@item.S_id/@item.Image_nome" style="width:70px;height:70px;" />
            <div class="row">
                <div class="col-md-1">
                    <button type="button" value='@item.Image_id' class="btn btn-lg btn-link trocarcapa" title="Colocar foto como imagem principal.">
                        <span class="glyphicon glyphicon-camera"></span>
                    </button>
                </div>
                <div class="col-md-1">
                    <button type="button" value='@item.Image_id' class="btn btn-lg btn-link excluirfoto" title="Excluir Foto">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
            </div>
        </div>
    }

</div>

<div class="preview">
    <img src="" style="width: 300px;height:300px;">
</div>


<script type="text/javascript">

    $('.preview').hide();

    $("img.zoom").mouseover(        
        function () {
            $(".preview").html($("<img>").attr("src", $(this).attr("rel")));
            $('.preview').show();
        }
    );
    $("img.zoom").mouseout(       
        function () {
            $(".preview").html($("<img>").attr("src", ""));
            $('.preview').hide();
        }
    );

    $('.excluirfoto').click(function () {
        $.get("@Url.Action("ExcluirFoto", "Supplier")", { Image_id: $(this).val(), idSupplier: $('#idsupplier').val() }, function (d) {

            if (d.success) {
                alert(d.message);
                refreshgridfotos();
            }
        });

    });

    $('.trocarcapa').click(function () {
        $.get("@Url.Action("CapaFoto", "Supplier")", { idSupplier: $('#idsupplier').val(), idImg: $(this).val() }, function (d) {

            if (d.success) {
                alert(d.message);
                refreshgridfotos();
            }
        });

    });

    function refreshgridfotos() {
        $.get("@Url.Action("CarregarFotos", "Supplier")", { idSupplier: $('#idsupplier').val() }, function (d) {
            $('#dvfotossupplier').html(d);
        });
    }

</script>