﻿@model IEnumerable<DAL.Entity.S_Bases>


<table class="table table-bordered table-striped">

    <thead>

        <tr>
            <th><small>De</small></th>
            <th><small>Até</small></th>
        </tr>

    </thead>

    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td><small>@item.Base_de</small></td>
                <td><small>@item.Base_ate</small></td>                
            </tr>
        }
    </tbody>

</table>

