﻿@model IEnumerable<DAL.Models.TarifasCadastradasPeriodoModel>

<table id="tblTarifasCadastradas" class="table table-bordered table-striped">

    <thead>

        <tr>
            <th><small>Tarifa Nome</small></th>
            <th><small>Categoria</small></th>
            <th><small>Room</small></th>
            <th><small>Tarifa</small></th>
            <th><small>Status</small></th>
            <th></th>
        </tr>

    </thead>

    <tbody>
        @{
            int i = 0;
            DAL.Persistencia.SPoliticaCHDTarifasDAL spd = new DAL.Persistencia.SPoliticaCHDTarifasDAL();
            DAL.Persistencia.SPoliticaTCTarifasDAL spc = new DAL.Persistencia.SPoliticaTCTarifasDAL();
        }
        @foreach (var item in Model)
        {
            <tr id="Cadastradastr_@i">
                <td><small>@item.S_mercado_tipo_tarifa_nome</small></td>
                <td><small>@item.Tarif_categoria_nome</small></td>
                <td><small>@item.Tipo_room_nome</small></td>
                <td><small>@item.S_merc_tarif_tarifa_total</small></td>
                <td><small>@item.S_mercado_tarifa_status_nome</small></td>
                <td>
                    <button id="btnEditarCHD" type="button" value='@item.S_merc_tarif_id°@i' class="btn btn-xs btn-link openCHD" title="CHD">
                        @if (spd.ObterPorId(Convert.ToInt32(item.S_merc_tarif_id)) != null)
                        {
                            <img src="~/images/icon/politicaCHD.png" />
                        }
                        else
                        {
                            <img src="~/images/icon/politicaCHDS.png" />
                        }
                    </button>
                    <button id="btnEditarTC" type="button" value='@item.S_merc_tarif_id°@i' class="btn btn-xs btn-link openTC" title="TC">
                        @if (spc.ObterPorId(Convert.ToInt32(item.S_merc_tarif_id)) != null)
                        {
                            <img src="~/images/icon/icon_tour.png" />
                        }
                        else
                        {
                            <img src="~/images/icon/icon_tourS.png" />
                        }
                    </button>

                    <button id="btnEditarTarifa" type="button" value='@item.S_merc_tarif_id°@i' class="btn btn-xs btn-success editartarifasupplier" title="Editar Periodo"><span class="glyphicon glyphicon-pencil"></span></button>
                    <button type="button" value="@item.S_merc_tarif_id" class="btn btn-xs btn-danger deletartarifasupplier" title="Deletar"><span class="glyphicon glyphicon-trash"></span></button>
                </td>
            </tr>
            i++;
        }

    </tbody>

</table>


<script type="text/javascript">

    $('.openCHD').click(function () {

        if ($('#idPeriodoTelaTarifas').val() == "") {
            alert('Favor selecionar um periodo!');
            return false;
        }

        var arr = $(this).val().split('°');

        $.get("@Url.Action("OpenCHDTarifas", "Supplier")", { idperiodo: $('#idPeriodoTelaTarifas').val(), IdTarifaCHD: arr[0] }, function (data) {
            $('#dvTelasPeriodos').html(data);
            $('#ddlChds').html('@ViewBag.dropCHDs');

            $('.salvarnatarifachd').show();
            $('.salvarnormalchd').hide();
            $('#hdnIdTarifaSelect').val(arr[0]);
        });

    });


    $('.openTC').click(function () {

        if ($('#idPeriodoTelaTarifas').val() == "") {
            alert('Favor selecionar um periodo!');
            return false;
        }

        var arr = $(this).val().split('°');

        $.get("@Url.Action("OpenTcTarifas", "Supplier")", { idperiodo: $('#idPeriodoTelaTarifas').val(), IdTarifaCHD: arr[0] }, function (data) {
            $('#dvTelasPeriodos').html(data);            

            $('.salvarnatarifatc').show();
            $('.salvarnormaltc').hide();
            $('#hdnIdTarifaSelect').val(arr[0]);
        });

    });


    $('.deletartarifasupplier').click(function () {
        var result = window.confirm('Deseja deletar essa tarifa?');
        if (result == false) {
            e.preventDefault();
            return;
        };

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };

        $.get("@Url.Action("ExluirTarifa", "Supplier")", { Sid: $('#idsupplier').val(), S_merc_tarif_id: $(this).val() }, function (d) {
            if (d.success) {
                var $toast = toastr["success"](d.message, "Prosoftware");
                $toastlast = $toast;
                AtualizaTarifasCadastradas();
            }
            else {
                var $toast = toastr["error"](d.message, "Prosoftware");
                $toastlast = $toast;
            }

        });
    });


    $('.editartarifasupplier').click(function () {

        $('#tblTarifasCadastradas tbody tr').each(function () {
            $(this).css('background-color', 'white');
        });

        var arr = $(this).val().split('°');

        $.get("@Url.Action("GetTarifaSelecionada", "Supplier")", { tarifaID: arr[0] }, function (d) {

            if (d.success) {
                $('#Cadastradastr_' + arr[1]).css('background-color', '#78beff');

                $('#txtStatusTarifa').val(d.modelo.txtStatusTarifa);
                $('#txtStatusTarifaTotal').val(d.modelo.txtStatusTarifaTotal);
                $('#ddlTipoTarifa').val(d.modelo.S_mercado_tipo_tarifa_id);
                $('#ddlCategoriaTarifaSpp').val(d.modelo.Tarif_categoria_id);
                $('#ddlTipoRoomTarifaSpp').val(d.modelo.Tipo_room_id);
                $('#ddlTipoCadastroTarifa').val(d.modelo.ddlTipoCadastro);
                $('#txtPorcentagemTaxa').val(d.modelo.txtPorcentagemTaxa);
                $('#txtPorcentagemImposto').val(d.modelo.txtPorcentagemImposto);
                $('#txtComissao').val(d.modelo.txtComissao);
                $('#idtarifaselecionada').val(d.modelo.TarifaID);

                if (d.modelo.S_merc_tarif_porApartamento) {
                    $("input[name=RdoTarifa][value=" + 1 + "]").prop('checked', true);
                } else {
                    $("input[name=RdoTarifa][value=" + 0 + "]").prop('checked', true);
                }

                TipoCadastroChange();

                if ($('#ddlTipoCadastroTarifa').val() == "Status") {
                    $('#ddlStatusTarifa').val(d.modelo.S_merc_tarif_status_id)
                }

            }

        });

    });

</script>