﻿@model IEnumerable<DAL.Models.TarifasSupplierModel>

<table id="tblSppTarifasEdit" class="table table-bordered table-striped">

    <thead>

        <tr>
            <th>From</th>
            <th>To</th>
            <th>Estação</th>
            <th>Fds From</th>
            <th>Fds To</th>
            <th>Pacote</th>
            <th>Editar</th>
        </tr>

    </thead>

    <tbody>
        @{ int i = 0; }
        @foreach (var item in Model)
        {
            <tr id="tr_@i">
                <td>@string.Format("{0:dd/MM/yy}", item.S_merc_periodo_from)</td>
                <td>@string.Format("{0:dd/MM/yy}", item.S_merc_periodo_to)</td>
                <td>@item.S_mercado_estacao_nome</td>
                <td>@item.S_merc_periodo_fdsFrom</td>
                <td>@item.S_merc_periodo_fdsTo</td>
                <td>@item.Pacote_nome</td>
                <td>
                    <button id="btnEditar" type="button" value='@item.S_merc_periodo_id°@i' class="btn btn-xs btn-success editartarifasupplier" title="Editar Periodo"><span class="glyphicon glyphicon-pencil"></span></button>
                </td>
            </tr>
            i++;
        }

    </tbody>

</table>

<script type="text/javascript">

    $('.editartarifasupplier').click(function () {

        $('#tblSppTarifasEdit tbody tr').each(function () {
            $(this).css('background-color', 'white');
        });

        var arr = $(this).val().split('°');

        $.get("@Url.Action("ObterPeriodo_Edit", "Supplier")", { idPeriodo: arr[0] }, function (d) {

            if (d.success) {
                $('#tr_' + arr[1]).css('background-color', 'yellow');

                $('#idPeriodoTelaTarifas').val(arr[0]);

                $('#lblMercadoAddTarifaSpp').html(d.merc);
                $('#lblBaseTarifariaAddTarifaSpp').html(d.basetar);
                $('#lblResponsavelAddTarifaSpp').html(d.resp);
                $('#lblMinimoNoitesAddTarifaSpp').html(d.minimNoite);
                $('#lblPromocaoAddTarifaSpp').html(d.promo);

                AtualizaBasesCadastradas();

                if ($('#idBaseSelect').val() == "") {
                    AtualizaTarifasCadastradas();
                    AtualizaMealsCadastradas();
                }
            }

        });
    });

    function AtualizaBasesCadastradas() {

        $('#dvtarifascadastradasBaselst').html("<img src=\"../images/icon/material_loader.gif\" />");
        $.get("@Url.Action("PopulaGridBase", "Supplier")", { Sid: $('#idsupplier').val() }, function (d) {            
            
            $('#dvtarifascadastradasBaselst').html(d);
        });
    }


    function AtualizaTarifasCadastradas() {        

        $('#dvtarifascadastradaslst').html("<img src=\"../images/icon/material_loader.gif\" />");
        $.get("@Url.Action("ObterTarifasCadastradas", "Supplier")", { Sid: $('#idsupplier').val(), IdTarifaBase: $('#idBaseSelect').val(), idPeriodo: $('#idPeriodoTelaTarifas').val() }, function (d) {
            $('#dvtarifascadastradaslst').html(d);
        });
    }

    function AtualizaMealsCadastradas() {

        $('#dvmealscadastradoslst').html("<img src=\"../images/icon/material_loader.gif\" />");
        $.get("@Url.Action("CarregarMeal", "Supplier")", { Sid: $('#idsupplier').val(), IdTarifaBase: $('#idBaseSelect').val(), idPeriodo: $('#idPeriodoTelaTarifas').val() }, function (d) {
            $('#dvmealscadastradoslst').html(d);
        });
    }


</script>