﻿@model IEnumerable<DAL.Entity.S_Bases>


<table id="tblTodasBases" class="table table-bordered table-striped">

    <thead>

        <tr>
            <th><small>Index</small></th>
            <th><small>Tipo</small></th>
            <th><small>De</small></th>
            <th><small>Até</small></th>
            <th><small>Transporte</small></th>
            <th><small>Moeda</small></th>
            <th><small>Mercado</small></th>
            <th><small>Base Tarifária</small></th>
        </tr>

    </thead>

    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td><small>@item.Base_index</small></td>
                <td><small>@item.Tipo_Base.TipoBase_nome</small></td>
                <td><small>@item.Base_de</small></td>
                <td><small>@item.Base_ate</small></td>
                <td><small>@item.Tipo_Transporte.TipoTrans_nome</small></td>
                <td><small>@item.Moeda.Moeda_sigla</small></td>
                <td><small>@item.Mercado.Mercado_nome</small></td>
                <td><small>@item.BaseTarifaria.BaseTarifaria_nome</small></td>
            </tr>
        }
    </tbody>

</table>


<script type="text/javascript">

    $('#tblTodasBases').each(function () {
        var Column_number_to_Merge = 1;

        // Previous_TD holds the first instance of same td. Initially first TD=null.
        var Previous_TD = null;
        var i = 1;
        $("tbody", this).find('tr').each(function () {
            // find the correct td of the correct column
            // we are considering the table column 1, You can apply on any table column
            var Current_td = $(this).find('td:nth-child(' + Column_number_to_Merge + ')');

            if (Previous_TD == null) {
                // for first row
                Previous_TD = Current_td;
                i = 1;
            }
            else if (Current_td.text() == Previous_TD.text()) {
                // the current td is identical to the previous row td
                // remove the current td
                Current_td.remove();
                // increment the rowspan attribute of the first row td instance
                Previous_TD.attr('rowspan', i + 1);
                i = i + 1;
            }
            else {
                // means new value found in current td. So initialize counter variable i
                Previous_TD = Current_td;
                i = 1;
            }
        });
    });


</script>