﻿@model IEnumerable<DAL.Entity.S_Bases>

@if (Model.Count() > 0)
{
    <input id="idBaseSelect" type="hidden" value="@Model.First().Base_id" />

    <table id="tblSBaseCadastradas" class="table table-bordered table-striped">

        <thead>

            <tr>
                <th><small>De</small></th>
                <th><small>Para</small></th>
                <th><small>Select</small></th>
            </tr>

        </thead>

        <tbody>
            @{
                int i = 0;
            }
            @foreach (var item in Model)
            {
                <tr id="SBases_@i">
                    <td><small>@item.Base_de</small></td>
                    <td><small>@item.Base_ate</small></td>
                    <td>
                        <small>
                            <button type="button" class="btn btn-link baseselect" value="@item.Base_id°@i">
                                selecionar
                            </button>
                        </small>
                    </td>
                </tr>
                i++;
            }

        </tbody>

    </table>
                }
                else
                {
                    <input id="idBaseSelect" type="hidden" value="0" />
                }

<script type="text/javascript">

    $('#SBases_' + 0).css('background-color', 'yellow');
    AtualizaTarifasCadastradas();
    AtualizaMealsCadastradas();

    $('.baseselect').click(function () {

        $('#tblSBaseCadastradas tbody tr').each(function () {
            $(this).css('background-color', 'white');
        });

        var arr = $(this).val().split('°');


        $('#SBases_' + arr[1]).css('background-color', 'yellow');
        
        $('#idBaseSelect').val(arr[0]);

        //AtualizaBasesCadastradas();
        AtualizaTarifasCadastradas();
        AtualizaMealsCadastradas();


    });


</script>