﻿@model IEnumerable<DAL.Models.MealsCadastradasPeriodoModel>

<table id="tblMealCadastradas" class="table table-bordered table-striped">

    <thead>

        <tr>
            <th><small>Meal</small></th>
            <th><small>Tarifa</small></th>
            <th><small>Status</small></th>
            <th><small>AddFile</small></th>
            <th><small>1x?</small></th>
            <th><small>Editar</small></th>            
        </tr>

    </thead>

    <tbody>
        @{
            int i = 0;
        }
        @foreach (var item in Model)
        {
            <tr id="Cadastradastrmeal_@i">
                <td><small>@item.S_meal_nome</small></td>
                <td><small>@item.S_merc_meal_tarifa_total</small></td>
                <td><small>@item.S_mercado_tarifa_status_nome</small></td>
                <td>
                    @if (item.AddFile)
                    {
                        <input type="checkbox" class="flat-red chkMealsAdd" value="@item.S_merc_meal_id" checked="checked" />
                    }
                    else
                    {
                        <input type="checkbox" class="flat-red chkMealsAdd" value="@item.S_merc_meal_id" />
                    }
                </td>
                <td>
                    @if (item.MealUmaVez)
                    {
                        <input type="checkbox" class="flat-red chkMealsAddUmaVez" value="@item.S_merc_meal_id" checked="checked" />
                    }
                    else
                    {
                        <input type="checkbox" class="flat-red chkMealsAddUmaVez" value="@item.S_merc_meal_id" />
                    }
                </td>
                <td>
                    <button id="btnEditarTarifa" type="button" value='@item.S_merc_meal_id°@i' class="btn btn-xs btn-success editarmealsupplier" title="Editar Meal"><span class="glyphicon glyphicon-pencil"></span></button>
                    <button type="button" value="@item.S_merc_meal_id" class="btn btn-xs btn-danger deletarmealsupplier" title="Deletar"><span class="glyphicon glyphicon-trash"></span></button>
                </td>
            </tr>
            i++;
        }

    </tbody>

</table>

<input id="idmealselecionado" type="hidden" value="0" />

<script type="text/javascript">

    $('.chkMealsAdd').click(function () {

        $.get("@Url.Action("chkAddFile_Checked", "Supplier")", { IdMeal: $(this).val() , check: $(this).is(":checked") }, function (d){
            AtualizaMealsCadastradas();
        });

    });

    $('.chkMealsAddUmaVez').click(function () {

        $.get("@Url.Action("chkAddFileUmaVez_Checked", "Supplier")", { IdMeal: $(this).val() , check: $(this).is(":checked") }, function (d){
            AtualizaMealsCadastradas();
        });

    });

    $('.deletarmealsupplier').click(function () {
        var result = window.confirm('Deseja deletar esse meal?');
        if (result == false) {
            e.preventDefault();
            return;
        };

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };

        $.get("@Url.Action("ExluirMeal", "Supplier")", { Sid: $('#idsupplier').val(), S_merc_meal_id: $(this).val() }, function (d) {
            if (d.success) {
                var $toast = toastr["success"](d.message, "Prosoftware");
                $toastlast = $toast;
                AtualizaMealsCadastradas();
            }
            else {
                var $toast = toastr["error"](d.message, "Prosoftware");
                $toastlast = $toast;
            }

        });


    });


    $('.editarmealsupplier').click(function () {

        $('#tblMealCadastradas tbody tr').each(function () {
            $(this).css('background-color', 'white');
        });

        var arr = $(this).val().split('°');

        $.get("@Url.Action("GetMealSelecionado", "Supplier")", { mealID: arr[0] }, function (d) {

            if (d.success) {
                $('#Cadastradastrmeal_' + arr[1]).css('background-color', '#78beff');

                $('#txtValorStatusMeal').val(d.modelo.txtStatusTarifa);
                $('#txtStatusTarifaTotalMeal').val(d.modelo.txtStatusTarifaTotal);
                $('#ddlTipoCadastroMeal').val(d.modelo.ddlTipoCadastro);
                $('#txtPorcentagemTaxaMeal').val(d.modelo.txtPorcentagemTaxa);
                $('#txtPorcentagemImpostoMeal').val(d.modelo.txtPorcentagemImposto);
                $('#idmealselecionado').val(d.modelo.IDMeal);

                TipoCadastroChangeMeal();

                $('#ddlMealSpp').val(d.modelo.IDMeal);

                if ($('#ddlTipoCadastroMeal').val() == "Status") {
                    $('#ddlStatusTarifaMeal').val(d.modelo.S_merc_tarif_status_id)
                }

            }

        });

    });

</script>