﻿@model IEnumerable<DAL.Models.TarifasSupplierModel>

<table class="table table-bordered table-striped">

    <thead>

        <tr>
            <th>From</th>
            <th>To</th>
            <th>Estação</th>
            <th>Fds From</th>
            <th>Fds To</th>
            <th>Pacote</th>
            <th>Editar</th>
        </tr>

    </thead>

    <tbody>
        @{ DAL.Persistencia.MercadoEstacaoDAL mec = new DAL.Persistencia.MercadoEstacaoDAL(); }
        @foreach (var item in Model)
        {
            <tr>
                <td>@string.Format("{0:dd/MM/yy}", item.S_merc_periodo_from)</td>
                <td>@string.Format("{0:dd/MM/yy}", item.S_merc_periodo_to)</td>
                <td>@item.S_mercado_estacao_nome</td>
                <td>@item.S_merc_periodo_fdsFrom</td>
                <td>@item.S_merc_periodo_fdsTo</td>
                <td>@item.Pacote_nome</td>
                <td>

                    @if (mec.VerificaPacotePorPeriodo(item.S_merc_periodo_id))
                    {
                        <button id="btnEditarPacote" type="button" value='@item.S_merc_periodo_id' class="btn btn-link editartarifaspacote" title="Editar Pacote">
                            <img src="~/images/icon/note.png" />
                        </button>
                    }
                    else
                    {
                        <button id="btnEditarPacote" type="button" value='@item.S_merc_periodo_id' disabled="disabled" class="btn btn-link editartarifaspacote" title="Editar Pacote">
                            <img src="~/images/icon/noteS.png" />
                        </button>
                    }

                    @if (item.Provisorio)
                    {
                        <button type="button" value='@item.S_merc_periodo_id' class="btn btn-link editartarifasprovisorio" title="Editar Provisório">
                            <img src="~/images/icon/provisorio.png" height="20" />
                        </button>
                    }
                    else
                    {
                        <button type="button" value='@item.S_merc_periodo_id' class="btn btn-link editartarifasprovisorio" title="Editar Provisório">
                            <img src="~/images/icon/naoprovisorio.png"  height="20" />
                        </button>
                    }

                    <button id="btnEditar" type="button" value='@item.S_merc_periodo_id' class="btn btn-xs btn-success editartarifasupplier" title="Editar Periodo"><span class="glyphicon glyphicon-pencil"></span></button>
                    <button id="btnDeletar" type="button" value='@item.S_merc_periodo_id' class="btn btn-xs btn-danger deletartarifasupplier" title="Deletar Periodo"><span class="glyphicon glyphicon-trash"></span></button>
                </td>
            </tr>
        }

    </tbody>

</table>

<script type="text/javascript">

    $('.editartarifasupplier').click(function () {
        $.get("@Url.Action("ObterPeriodo", "Supplier")", { idPeriodo: $(this).val() }, function (data) {
            $('#dvperiodosupplier').html(data);
            $('#idperiodosupplier').val($('#idsupplier').val());
            $('#modalPeriodoSupplier').modal();
        });
    });

    $('.deletartarifasupplier').click(function () {

        var result = window.confirm('Excluindo esse período, todas as tarifas do mesmo também serão excluídas. Confirma?');
        if (result == false) {
            e.preventDefault();
            return;
        };

        $.get("@Url.Action("ExcluirPeriodo", "Supplier")", { idPeriodo: $(this).val() }, function (d) {
            if (d.success) {
                refreshGridTarifasSupplier();
            } else {
                alert(d.message);
            }
        });
    });


    $('.editartarifaspacote').click(function () {

        var idp = $(this).val();       

        $.get("@Url.Action("AbrirPopUpAddDescrPacote", "Supplier")", { idPeriodo: $(this).val() }, function (d) {

            $('#dvdescrPacote').html(d);            
            $('#idPeriodoDescrPacote').val(idp);
            $('#modalDescPacote').modal();

        });        
    });

    $('.editartarifasprovisorio').click(function () {

        $.get("@Url.Action("TarifaProvisoria", "Supplier")", { idPeriodo: $(this).val() }, function (d) {

            if (d.success) {                
                refreshGridTarifasSupplier();
            }

        });   
    });

</script>