﻿@model IEnumerable<DAL.Models.OrdenarTarifasModel>

<div class="row">
    <div class="col-md-12">
        <table id="tblOrdenarTarifas" class="table table-bordered table-striped">

            <thead>

                <tr>
                    <th class="small">Nome</th>
                    <th class="small">Ordem</th>
                </tr>

            </thead>

            <tbody>
                @{ int i = 0;}
                @foreach (var item in Model)
                {
                    <tr id="tr_@i">
                        <td class="small">@item.Tarif_categoria_nome</td>
                        <td class="small">
                            <input type="text" id="valOrdem_@i" class="form-control" value="@item.S_merc_tarif_ordem" name="@item.CategoriaID" />
                        </td>
                    </tr>
                    i++;
                }

            </tbody>

        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-1">
        <input id="btnSalvarOrdenarTarifas" type="button" class="btn btn-primary btn-sm" value="Salvar" style="border-radius: 0px;" />
    </div>
    <div class="col-md-1">
        <input id="btnHideOrdenarTarifas" type="button" class="btn btn-primary btn-sm" value="Fechar" style="border-radius: 0px;" />
    </div>
</div>
<br /><br />

<script type="text/javascript">

    $('#btnHideOrdenarTarifas').click(function () {
        $('#dvTelasPeriodos').html("");
    });

    $('#btnSalvarOrdenarTarifas').click(function () {

        var p = 0;
        var str = "";
        $('#tblOrdenarTarifas tbody tr').each(function () {
           
            //alert($('#valOrdem_' + p).val());
            //alert($('#valOrdem_' + p).attr('name'));

            str = str + $('#valOrdem_' + p).val() + "°" + $('#valOrdem_' + p).attr('name') + "~";

            p++;
        });

        $.get("@Url.Action("AtualizaOrdemTarifas", "Supplier")", { idperiodo: $('#idPeriodoTelaTarifas').val(), categs: str.substring(0, str.length - 1) }, function (d) {

            if (d.success) {
                alert(d.message);
            }

        });
      
    });

</script>