﻿@model DAL.Entity.S_Mercado_Periodo

<form role="form" id="form-periodoSupplier" method="post" action="javascript:func()">

    <input type="hidden" id="idperiodospp" name="S_merc_periodo_id" value="@Model.S_merc_periodo_id" />
    <input type="hidden" id="idperiodosupplier" name="S_id" value="@Model.S_id" />

    <div class="row">
        <div class="col-md-6">

            <div class="row">
                <div class="col-md-6">
                    <label for="txtDataFromPriodoSpp">Data From</label>
                    <input id="txtDataFromPriodoSpp" name="S_merc_periodo_from" type="date" class="form-control" value="@string.Format("{0:yyyy-MM-dd}", Model.S_merc_periodo_from)" />
                </div>
                <div class="col-md-6">
                    <label for="ddlDataFromFdsSpp">Fds From</label>
                    <select id="ddlDataFromFdsSpp" class="form-control" name="S_merc_periodo_fdsFrom">
                        <option value="0">Nenhum</option>
                        <option value="Seg">Segunda</option>
                        <option value="Ter">Terça</option>
                        <option value="Qua">Quarta</option>
                        <option value="Qui">Quinta</option>
                        <option value="Sex">Sexta</option>
                        <option value="Sab">Sábado</option>
                        <option value="Dom">Domingo</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <label for="txtDataToPriodoSpp">Data To</label>
                    <input id="txtDataToPriodoSpp" name="S_merc_periodo_to" type="date" class="form-control" value="@string.Format("{0:yyyy-MM-dd}", Model.S_merc_periodo_to)" />
                </div>
                <div class="col-md-6">
                    <label for="ddlDataToFdsSpp">Fds To</label>
                    <select id="ddlDataToFdsSpp" class="form-control" name="S_merc_periodo_fdsTo">
                        <option value="0">Nenhum</option>
                        <option value="Seg">Segunda</option>
                        <option value="Ter">Terça</option>
                        <option value="Qua">Quarta</option>
                        <option value="Qui">Quinta</option>
                        <option value="Sex">Sexta</option>
                        <option value="Sab">Sábado</option>
                        <option value="Dom">Domingo</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <label for="ddlEstacaoPeriodoSpp">Estação/Pacote</label>
                    <select id="ddlEstacaoPeriodoSpp" class="form-control" name="S_mercado_estacao_id">
                        <option value="0">Selecione</option>
                        @foreach (var item in ViewBag.EstacaoPeriodoSpp)
                        {
                        <option value="@item.S_mercado_estacao_id">@item.S_mercado_estacao_nome</option>
                        }
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="txtNomePacote">Nome Pacote</label>
                    <input id="txtNomePacote" name="Pacote_nome" type="text" class="form-control" value="@Model.Pacote_nome" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <label for="ddlMercadoSppPeriodo">Mercado</label>
                    <select id="ddlMercadoSppPeriodo" class="form-control" name="Mercado_id">
                        @foreach (var item in ViewBag.MercadoSppPeriodo)
                        {
                        <option value="@item.Mercado_id">@item.Mercado_nome</option>
                        }
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="ddlBaseSppPeriodo">BaseTarifaria</label>
                    <select id="ddlBaseSppPeriodo" class="form-control" name="BaseTarifaria_id">
                        @foreach (var item in ViewBag.BaseTarifariaSppPeriodo)
                        {
                        <option value="@item.BaseTarifaria_id">@item.BaseTarifaria_nome</option>
                        }
                    </select>
                </div>

            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <input id="btnSalvarPeriodo" type="submit" class="btn btn-primary" title="Salvar" value="Salvar" style="border-radius:0px;" />
                </div>
            </div>
        </div>

        <div class="col-md-6">

            <div class="row">
                <div class="col-md-9">
                    <label for="ddlResponsavelPeriodoSpp">Responsável</label>
                    <select id="ddlResponsavelPeriodoSpp" class="form-control" name="Responsavel_id">
                        <option value="0">O Mesmo</option>
                        @foreach (var item in ViewBag.ResponsavelSppPeriodo)
                        {
                            <option value="@item.S_id">@item.S_nome</option>
                        }
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="ddlMoedaPeriodoSpp">Moeda</label>
                    <select id="ddlMoedaPeriodoSpp" class="form-control" name="Moeda_id">
                        <option value="0">Selecione</option>
                        @foreach (var item in ViewBag.MoedaPeriodoSpp)
                        {
                            <option value="@item.Moeda_id">@item.Moeda_sigla</option>
                        }
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <label for="ddlQtdNoitesPeriodoSpp">Noites</label>
                    <select id="ddlQtdNoitesPeriodoSpp" class="form-control" name="MinimoNoites_id">
                        <option value="0">Selecione</option>
                        @foreach (var item in ViewBag.QtdNoitesPeriodoSpp)
                        {
                            <option value="@item.MinimoNoites_id">@item.MinimoNoites_qtd</option>
                        }
                    </select>
                </div>
                <div class="col-md-6">
                    <br />
                    <input id="OptMinNoites" class="OptMinNoitesCl" name="OptMinNoites" type="radio" checked="checked" value="0" /> Mínimo
                    <input id="OptMinNoites" class="OptMinNoitesCl" name="OptMinNoites" type="radio" value="1" /> Mandatório
                    <input id="hddOptMinNoites" type="hidden" name="S_merc_periodo_minimo" />
                    <input id="hddOptMandNoites" type="hidden" name="S_merc_periodo_mandatorio" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <label for="ddlPromocaoPeriodoSpp">Promoção</label>
                    <select id="ddlPromocaoPeriodoSpp" class="form-control" name="Promocao_id">
                        <option value="0">Selecione</option>
                        @foreach (var item in ViewBag.PromocaoPeriodoSpp)
                        {
                            <option value="@item.Promocao_id">@item.Promocao_nome</option>
                        }
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <label for="txtRemarksPeriodoSpp">Remarks</label>
                    <textarea id="txtRemarksPeriodoSpp" class="form-control" name="S_merc_remarks" placeholder="Remarks">@Model.S_merc_remarks</textarea>
                </div>
            </div>

        </div>
    </div>

</form>


<script type="text/javascript">

    if(@Model.S_merc_periodo_id != 0)
    {
        $('#ddlDataFromFdsSpp').val('@Model.S_merc_periodo_fdsFrom');
        $('#ddlDataToFdsSpp').val('@Model.S_merc_periodo_fdsTo');
        $('#ddlEstacaoPeriodoSpp').val(@Model.S_mercado_estacao_id);
        $('#ddlMercadoSppPeriodo').val(@Model.Mercado_id);
        $('#ddlBaseSppPeriodo').val(@Model.BaseTarifaria_id);
        $('#ddlResponsavelPeriodoSpp').val(@Model.Responsavel_id);
        $('#ddlMoedaPeriodoSpp').val(@Model.Moeda_id);
        $('#ddlQtdNoitesPeriodoSpp').val(@Model.MinimoNoites_id);
        $('#ddlPromocaoPeriodoSpp').val(@Model.Promocao_id);  

        if('@Model.MinimoNoites_id' != '')
        {
            if ('@Model.S_merc_periodo_minimo' == "True") {
                $('#hddOptMinNoites').val("True");
                $('#hddOptMandNoites').val("");

                $("input[name=OptMinNoites][value=" + 0 + "]").prop('checked', true);
            
            } else {
                $('#hddOptMinNoites').val("");
                $('#hddOptMandNoites').val("True");

                $("input[name=OptMinNoites][value=" + 1 + "]").prop('checked', true);
            }
        }               
    }

    $('.OptMinNoitesCl').change(function () {
        if ($("input[name='OptMinNoites']:checked").val() == 0) {
            $('#hddOptMinNoites').val("True");
            $('#hddOptMandNoites').val("");
            
        } else {
            $('#hddOptMinNoites').val("");
            $('#hddOptMandNoites').val("True");
        }
        
    });


    $('#form-periodoSupplier').submit(function () {

        if($('#idsupplier').val() == 0){
            alert("Favor selecionar um supplier primeiro");
            return false;
        }

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        var mod = $(this).serialize();

        var url = "";
        if(@Model.S_id == 0){
            url = "@Url.Action("SalvarPeriodo", "Supplier")";
        }else{
            url = "@Url.Action("AtualizarPeriodo", "Supplier")"
        }

        $.ajax({
            url: url,
            data: mod,
            type: "POST",
            success: function (d) {
                if (d.success) {
                    var $toast = toastr["success"](d.message, "Prosoftware");
                    $toastlast = $toast;                    

                    refreshGridTarifasSupplier();
                    $('#modalPeriodoSupplier').modal('hide');
                }
                else {
                    var $toast = toastr["error"](d.message, "Prosoftware");
                    $toastlast = $toast;
                }
                waitingDialog.hide();
               
            },
            error: function (XHR) {
                waitingDialog.hide(); alert(XHR);
            }
        });
    });

</script>