﻿
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3">
                <label for="ddlTcAdd">TCs</label>
                <select id="ddlTcAdd" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>
        </div>
        
        <br />

        <div class="row">
            <div class="col-md-3">
                <label for="ddlTipoTc">Tipo</label>
                <select id="ddlTipoTc" class="form-control">
                    <option value="0" selected="selected">Free</option>
                    <option value="1">Valor</option>
                    <option value="2">Percent</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="txtValorTc">Valor</label>
                <input id="txtValorTc" class="form-control" type="text" placeholder="Valor" />
            </div>
        </div>

        <br />
        <div class="row">
            <div class="col-md-12" style="height: 200px; overflow-y: auto;">

                <input id="IdTC" value="0" type="hidden" />
                <table id="tblTcTarifas" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="small">Nr Chds</th>
                            <th class="small">De</th>
                            <th class="small">Até</th>
                            <th class="small">Free</th>
                            <th class="small">Valor</th>
                            <th class="small">Percent</th>
                            <th class="small">Adicionar</th>
                            <th class="small">Editar</th>
                        </tr>
                    </thead>

                    <tbody>
                        @{ int i = 0;}
                        @foreach (var item in ViewBag.TcList)
                        {
                            <tr id="tr_@i">
                                <td class="small">@item.S_politicaTC_qtd</td>
                                <td class="small">@item.S_politicaTC_idadeDe</td>
                                <td class="small">@item.S_politicaTC_idade</td>
                                <td class="small">@item.S_politicaTC_free</td>
                                <td class="small">@item.S_politicaTC_valor</td>
                                <td class="small">@item.S_politicaTC_percent</td>
                                <td class="small"><input id="chkTC_@i" type="checkbox" value="@item.S_politicaTC_id" /></td>
                                <td>
                                    <button id="btnEditar" type="button" value='@item.S_politicaTC_id' class="btn btn-xs btn-success editartc" title="Editar"><span class="glyphicon glyphicon-pencil"></span></button>
                                    <button id="btnDeletar" type="button" value='@item.S_politicaTC_id' class="btn btn-xs btn-danger deletartc" title="Deletar"><span class="glyphicon glyphicon-trash"></span></button>
                                </td>
                            </tr>
                            i++;
                        }

                    </tbody>

                </table>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <input type="hidden" id="hdnIdTarifaSelectTC" />
    <div class="col-md-2 salvarnatarifatc">
        <input id="btnSalvarNaTarifaTcTarifas" type="button" class="btn btn-primary btn-sm" value="Salvar na tarifa" style="border-radius: 0px;" />
    </div>
    <div class="col-md-1 salvarnormaltc">
        <input id="btnSalvarTcTarifas" type="button" class="btn btn-primary btn-sm" value="Salvar" style="border-radius: 0px;" />
    </div>
    <div class="col-md-3 salvarnormaltc">
        <input id="btnSalvarPoliticaTcTodoPeriodo" type="button" class="btn btn-primary btn-sm" value="Salvar todo período" style="border-radius: 0px;" />
    </div>
    <div class="col-md-3 salvarnormaltc">
        <input id="btnSalvarPoliticaTcTodoHotel" type="button" class="btn btn-primary btn-sm" value="Salvar todo Hotel" style="border-radius: 0px;" />
    </div>
    <div class="col-md-1 salvarnormaltc">
        <input id="btnHideTcTarifas" type="button" class="btn btn-primary btn-sm" value="Fechar" style="border-radius: 0px;" />
    </div>
</div>
<br /><br />


<script type="text/javascript">

    $('.salvarnatarifatc').hide();

    $('#btnSalvarTcTarifas').click(function () {

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };

        $.get("@Url.Action("SalvarPoliticaTc", "Supplier")", {
            IdPoliticaCHD: $('#IdPoliticaTC').val(),
            ddlQtdChds: $('#ddlTcAdd').val(),
            ddlTipoValorPoliticaTC: $('#ddlTipoTc').val(),
            txtValorPoliticaTC: $('#txtValorTc').val()
        }, function () {

            if (d.success) {
                var $toast = toastr["success"](d.message, "Prosoftware");
                $toastlast = $toast;


            } else {
                var $toast = toastr["error"](d.message, "Prosoftware");
                $toastlast = $toast;
            }
        });
    });


    $('#btnSalvarNaTarifaTcTarifas').click(function () {

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };

        $.get("@Url.Action("SalvarPoliticaTcTarifa", "Supplier")", {
            IdPoliticaTC: $('#IdTC').val(),
            ddlQtdTcs: $('#ddlTcAdd').val(),
            ddlTipoValorPoliticaTC: $('#ddlTipoTc').val(),
            txtValorPoliticaTC: $('#txtValorTc').val(),
            IdTarifaTC: $('#hdnIdTarifaSelectTC').val()
        }, function () {

            if (d.success) {
                var $toast = toastr["success"](d.message, "Prosoftware");
                $toastlast = $toast;


            } else {
                var $toast = toastr["error"](d.message, "Prosoftware");
                $toastlast = $toast;
            }
        });
    });


    $('#btnSalvarPoliticaTcTodoPeriodo').click(function () {

        var str = "";
        $('#tblTcTarifas tbody tr  input:checkbox').each(function () {
            if (this.checked) {
                str = str + $(this).val() + "°";
            }
        });

        $.get("@Url.Action("SalvarPoliticaTcTodoPeriodo", "Supplier")", { Ids: str.substring(0, str.length - 1), idperiodo: $('#idPeriodoTelaTarifas').val() }, function (d) {

            if (d.success) {
                alert(d.message);
                AtualizaTarifasCadastradas();
            }

        });

    });

    $('#btnSalvarPoliticaTcTodoHotel').click(function () {

        var str = "";
        $('#tblTcTarifas tbody tr  input:checkbox').each(function () {
            if (this.checked) {
                str = str + $(this).val() + "°";
            }
        });

        $.get("@Url.Action("SalvarPoliticaTcTodoHotel", "Supplier")", { Ids: str.substring(0, str.length - 1), idperiodo: $('#idPeriodoTelaTarifas').val(), idsupplier: $('#idsupplier').val() }, function (d) {

            if (d.success) {
                alert(d.message);
                AtualizaTarifasCadastradas();
            }

        });

    });

    $('#btnHideTcTarifas').click(function () {
        $('#dvTelasPeriodos').html("");
    });

    $('.editartc').click(function () {

        $('#IdTC').val($(this).val());

        $.get("@Url.Action("GetPoliticaTC_ID", "Supplier")", { IdTC: $(this).val() }, function (d) {

            if (d.success) {

                $('#ddlTcAdd').val(d.modelo.S_politicaTc_qtd);

                $('#ddlTipoTc').val(d.modelo.S_politicaTC_free);

                if (d.modelo.S_politicaTC_free == "0") {
                    $('#txtValorTc').val("");
                }

                if (d.modelo.S_politicaTC_free == "1") {
                    $('#txtValorTc').val(d.modelo.S_politicaTc_valor);
                } else if (d.modelo.S_politicaTC_free == "2") {
                    $('#txtValorTc').val(d.modelo.S_politicaTc_percent);
                }

            }

        });

    });

</script>