﻿
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3">
                <label for="ddlChdsAdd">CHDs</label>
                <select id="ddlChdsAdd" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="ddlChdsDe">De</label>
                <select id="ddlChdsDe" class="form-control"></select>
            </div>
            <div class="col-md-3">
                <label for="ddlChdsAte">Até</label>
                <select id="ddlChdsAte" class="form-control"></select>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label for="ddlTipoChd">Tipo</label>
                <select id="ddlTipoChd" class="form-control">
                    <option value="0" selected="selected">Free</option>
                    <option value="1">Valor</option>
                    <option value="2">Percent</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="txtValorChdd">Valor</label>
                <input id="txtValorChdd" class="form-control" type="text" placeholder="Valor" />
            </div>
        </div>

        <br />
        <div class="row">
            <div class="col-md-12" style="height: 200px; overflow-y: auto;">

                <input id="IdCHD" value="0" type="hidden" />
                <table id="tblChdTarifas" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="small">Nr Chds</th>
                            <th class="small">De</th>
                            <th class="small">Até</th>
                            <th class="small">Free</th>
                            <th class="small">Valor</th>
                            <th class="small">Percent</th>
                            <th class="small">Adicionar</th>
                            <th class="small">Editar</th>
                        </tr>
                    </thead>

                    <tbody>
                        @{ int i = 0;}
                        @foreach (var item in ViewBag.ChdList)
                        {
                            <tr id="tr_@i">
                                <td class="small">@item.S_politicaCHD_qtd</td>
                                <td class="small">@item.S_politicaCHD_idadeDe</td>
                                <td class="small">@item.S_politicaCHD_idade</td>
                                <td class="small">@item.S_politicaCHD_free</td>
                                <td class="small">@item.S_politicaCHD_valor</td>
                                <td class="small">@item.S_politicaCHD_percent</td>
                                <td class="small"><input id="chkCHD_@i" type="checkbox" value="@item.S_politicaCHD_id" /></td>
                                <td>
                                    <button id="btnEditar" type="button" value='@item.S_politicaCHD_id' class="btn btn-xs btn-success editarchd" title="Editar"><span class="glyphicon glyphicon-pencil"></span></button>
                                    <button id="btnDeletar" type="button" value='@item.S_politicaCHD_id' class="btn btn-xs btn-danger deletarchd" title="Deletar"><span class="glyphicon glyphicon-trash"></span></button>
                                </td>
                            </tr>
                            i++;
                        }

                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <input type="hidden" id="hdnIdTarifaSelect" />
    <div class="col-md-2 salvarnatarifachd">
        <input id="btnSalvarNaTarifaChdTarifas" type="button" class="btn btn-primary btn-sm" value="Salvar na tarifa" style="border-radius: 0px;" />
    </div>
    <div class="col-md-1 salvarnormalchd">
        <input id="btnSalvarChdTarifas" type="button" class="btn btn-primary btn-sm" value="Salvar" style="border-radius: 0px;" />
    </div>
    <div class="col-md-3 salvarnormalchd">
        <input id="btnSalvarPoliticaChdTodoPeriodo" type="button" class="btn btn-primary btn-sm" value="Salvar todo período" style="border-radius: 0px;" />
    </div>
    <div class="col-md-3 salvarnormalchd">
        <input id="btnSalvarPoliticaChdTodoHotel" type="button" class="btn btn-primary btn-sm" value="Salvar todo Hotel" style="border-radius: 0px;" />
    </div>
    <div class="col-md-1">
        <input id="btnHideChdTarifas" type="button" class="btn btn-primary btn-sm" value="Fechar" style="border-radius: 0px;" />
    </div>
</div>
<br /><br />



<script type="text/javascript">

    $('.salvarnatarifachd').hide();

    $('#btnSalvarChdTarifas').click(function () {

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };

        $.get("@Url.Action("SalvarPoliticaChd", "Supplier")", {
            IdPoliticaCHD: $('#IdCHD').val(),
            ddlQtdChds: $('#ddlChdsAdd').val(),
            ddlIdadeChdsDe: $('#ddlChdsDe').val(),
            ddlIdadeChdsAte: $('#ddlChdsAte').val(),
            ddlTipoValorPoliticaCHD: $('#ddlTipoChd').val(),
            txtValorPoliticaCHD: $('#txtValorChdd').val()
        }, function () {

            if (d.success) {
                var $toast = toastr["success"](d.message, "Prosoftware");
                $toastlast = $toast;


            } else {
                var $toast = toastr["error"](d.message, "Prosoftware");
                $toastlast = $toast;
            }
        });
    });

    $('#btnSalvarNaTarifaChdTarifas').click(function () {

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };

        $.get("@Url.Action("SalvarPoliticaChdTarifa", "Supplier")", {
            IdPoliticaCHD: $('#IdCHD').val(),
            ddlQtdChds: $('#ddlChdsAdd').val(),
            ddlIdadeChdsDe: $('#ddlChdsDe').val(),
            ddlIdadeChdsAte: $('#ddlChdsAte').val(),
            ddlTipoValorPoliticaCHD: $('#ddlTipoChd').val(),
            txtValorPoliticaCHD: $('#txtValorChdd').val(),
            IdTarifaCHD: $('#hdnIdTarifaSelect').val()
        }, function () {

            if (d.success) {
                var $toast = toastr["success"](d.message, "Prosoftware");
                $toastlast = $toast;


            } else {
                var $toast = toastr["error"](d.message, "Prosoftware");
                $toastlast = $toast;
            }
        });
    });


    $('#btnSalvarPoliticaChdTodoPeriodo').click(function () {

        var str = "";
        $('#tblChdTarifas tbody tr  input:checkbox').each(function () {
            if (this.checked) {
                str = str + $(this).val() + "°";
            }
        });

        $.get("@Url.Action("SalvarPoliticaChdTodoPeriodo", "Supplier")", { Ids: str.substring(0, str.length - 1), idperiodo: $('#idPeriodoTelaTarifas').val() }, function (d) {

            if (d.success) {
                alert(d.message);
                AtualizaTarifasCadastradas();
            }

        });

    });

    $('#btnSalvarPoliticaChdTodoHotel').click(function () {

        var str = "";
        $('#tblChdTarifas tbody tr  input:checkbox').each(function () {
            if (this.checked) {
                str = str + $(this).val() + "°";
            }
        });

        $.get("@Url.Action("SalvarPoliticaChdTodoHotel", "Supplier")", { Ids: str.substring(0, str.length - 1), idperiodo: $('#idPeriodoTelaTarifas').val(), idsupplier: $('#idsupplier').val() }, function (d) {

            if (d.success) {
                alert(d.message);
                AtualizaTarifasCadastradas();
            }

        });

    });

    $('#ddlChdsAte').html('@Html.Raw(ViewBag.dropDeAteCHDs)');
    $('#ddlChdsDe').html('@Html.Raw(ViewBag.dropDeAteCHDs)');

    $('#btnHideChdTarifas').click(function () {
        $('#dvTelasPeriodos').html("");
    });

    $('.editarchd').click(function () {

        $('#IdCHD').val($(this).val());

        $.get("@Url.Action("GetPolitica_ID", "Supplier")", { IdCHD: $(this).val() }, function (d) {

            if (d.success) {

                $('#ddlChdsAdd').val(d.modelo.S_politicaCHD_qtd);
                $('#ddlChdsDe').val(d.modelo.S_politicaCHD_idadeDe);
                $('#ddlChdsAte').val(d.modelo.S_politicaCHD_idade);

                $('#ddlTipoChd').val(d.modelo.S_politicaCHD_free);

                if (d.modelo.S_politicaCHD_free == "0") {
                    $('#txtValorChdd').val("");
                }

                if (d.modelo.S_politicaCHD_free == "1") {
                    $('#txtValorChdd').val(d.modelo.S_politicaCHD_valor);
                } else if (d.modelo.S_politicaCHD_free == "2") {
                    $('#txtValorChdd').val(d.modelo.S_politicaCHD_percent);
                }

            }

        });

    });

</script>