﻿<form action="/Supplier/Upload" enctype="multipart/form-data" method="post">

    <input type="file" name="Files" id="Files" multiple class="btn btn-primary" />
    <input type="hidden" name="idSupplier" id="idSupplierFotos" />
    <br />
    <input type="submit" name="submit" value="Enviar" class="btn btn-primary" />

</form>
