﻿@model DAL.Entity.Supplier

<form role="form" id="form-supplier" method="post" action="javascript:func()">

    <input type="hidden" id="idsupplier" name="S_id" value="@Model.S_id" />

    <div class="col-md-6">

        <div class="row">
            <div class="col-md-12">
                <label for="txtNomeSupplier">Nome Supplier</label>
                <input id="txtNomeSupplier" type="text" name="S_nome" class="form-control" placeholder="Nome do Supplier" required value="@Model.S_nome" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6">
                <label for="txtRazaoSupplier">Razão Social</label>
                <input id="txtRazaoSupplier" type="text" name="S_razaosocial" class="form-control" placeholder="Razão Social" value="@Model.S_razaosocial" />
            </div>
            <div class="col-md-6">
                <label for="txtCPFSupplier">CNPJ/CPF</label>
                <input id="txtCPFSupplier" type="text" name="S_cnpj" class="form-control" placeholder="CNPJ/CPF" value="@Model.S_cnpj" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <label for="ddlResponsavelSupplier">Responsável</label>
                <select id="ddlResponsavelSupplier" class="form-control" name="Responsavel_id">
                    <option value="0">O Mesmo...</option>
                    @foreach (var item in ViewBag.ResponsavelSupplier)
                    {
                        <option value="@item.S_id">@item.S_nome</option>
                    }
                </select>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-8">
                <label for="txtEndSupplier">Endereço Supplier</label>
                <textarea id="txtEndSupplier" class="form-control" name="S_endereco" placeholder="Endereço Supplier">@Model.S_endereco</textarea>
            </div>
            <div class="col-md-4">
                <label for="txtCepSupplier">Cep Supplier</label>
                <input id="txtCepSupplier" type="text" name="S_cep" class="form-control" placeholder="Cep Supplier" value="@Model.S_cep" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4">
                <label for="txtlatitude">Latitude</label>
                <input id="txtlatitude" type="text" name="Latitude" class="form-control" placeholder="Latitude" value="@Model.Latitude" />
            </div>
            <div class="col-md-4">
                <label for="txtlongitude">Longitude</label>
                <input id="txtlongitude" type="text" name="Longitude" class="form-control" placeholder="Latitude" value="@Model.Longitude" />
            </div>
        </div>

        <br />
        <div class="row">
            <div class="col-md-4">
                <label for="txtTelSupplier">Telefone</label>
                <input id="txtTelSupplier" type="text" name="S_telefone" class="form-control" placeholder="Telefone Supplier" value="@Model.S_telefone" />
            </div>
            <div class="col-md-4">
                <label for="txtFaxSupplier">Fax</label>
                <input id="txtFaxSupplier" type="text" name="S_fax" class="form-control" placeholder="Fax Supplier" value="@Model.S_fax" />
            </div>
            <div class="col-md-4">
                <label for="txtTelPlantSupplier">Telefone Plantão</label>
                <input id="txtTelPlantSupplier" type="text" name="S_teleplantao" class="form-control" placeholder="Telefone Plantão" value="@Model.S_teleplantao" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6">
                <label for="txtSiteSupplier">Site Supplier</label>
                <input id="txtSiteSupplier" type="text" name="S_http" class="form-control" placeholder="Site Supplier" value="@Model.S_http" />
            </div>
            <div class="col-md-6">
                <label for="txtEmailSupplier">Email Supplier</label>
                <input id="txtEmailSupplier" type="email" name="S_email" class="form-control" placeholder="Email Supplier" value="@Model.S_email" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label for="ddlMoedaSupplier">Moeda</label>
                <select id="ddlMoedaSupplier" class="form-control" name="Moeda_id">
                    <option value="0">Selecione</option>
                    @foreach (var item in ViewBag.MoedaSupplier)
                    {
                        <option value="@item.Moeda_id">@item.Moeda_sigla</option>
                    }
                </select>
            </div>
            <div class="col-md-3">
                <label for="optFaturarSpp">Faturar</label><br />
                <input id="optFaturarSpp" name="S_faturar" type="radio" checked="checked" value="Hotel" /> Supplier<br />
                <input id="optFaturarSpp" name="S_faturar" type="radio" value="Responsavel" /> Contratante
            </div>
            <div class="col-md-3">
                <label for="optReservasSpp">Reservas</label><br />
                <input id="optReservasSpp" name="S_reservas" type="radio" checked="checked" value="Hotel" /> Supplier<br />
                <input id="optReservasSpp" name="S_reservas" type="radio" value="Responsavel" /> Contratante
            </div>
            <div class="col-md-3">
                <label for="RecomendedSpp">Recomended</label><br />
                <input type="checkbox" id="RecomendedSpp" title="Recomended" /> Recomended
                <input type="hidden" id="recomendedHiden" value="false" name="Recomended" />
            </div>
        </div>


    </div>

    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <label for="ddlStatusSupplier">Status</label>
                <select id="ddlStatusSupplier" class="form-control" name="STATUS_id">
                    <option value="0">Selecione</option>
                    @foreach (var item in ViewBag.StatusSupplier)
                    {
                        <option value="@item.STATUS_id">@item.STATUS_nome</option>
                    }
                </select>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6">
                <label for="ddlTipoSupplier">Tipo Supplier</label>
                <select id="ddlTipoSupplier" class="form-control" name="TIPOSUPL_id">
                    <option value="0">Selecione</option>
                    @foreach (var item in ViewBag.TipoSupplier)
                    {
                        <option value="@item.TIPOSUPL_id">@item.TIPOSUPL_nome</option>
                    }
                </select>
            </div>
            <div class="col-md-6">
                <label for="ddlCategoriaEscSupplier">Categoria</label>
                <select id="ddlCategoriaEscSupplier" class="form-control" name="CategoriaEscrita_id">
                    <option value="0">Selecione</option>
                    @foreach (var item in ViewBag.CategoriaEscSupplier)
                    {
                        <option value="@item.CategoriaEscrita_id">@item.CategoriaEscrita_nome</option>
                    }
                </select>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4">
                <label for="ddlRedeSupplier">Rede</label>
                <select id="ddlRedeSupplier" class="form-control" name="Rede_id">
                    <option value="0">Selecione</option>
                    @foreach (var item in ViewBag.RedeSupplier)
                    {
                        <option value="@item.Rede_id">@item.Rede_nome</option>
                    }
                </select>
            </div>
            <div class="col-md-4">
                <label for="ddlCategoriaSupplier">Classificação</label>
                <select id="ddlCategoriaSupplier" class="form-control" name="Categ_id">
                    <option value="0">Selecione</option>
                    @foreach (var item in ViewBag.CategoriaSupplier)
                    {
                        <option value="@item.Categ_id">@item.Categ_classificacao</option>
                    }
                </select>
            </div>
            <div class="col-md-4">
                <label for="ddlClassificacaoLodge">Classificação Lodge</label>
                <select id="ddlClassificacaoLodge" class="form-control" name="ClassificacaoLodge_id">
                    <option value="0">Selecione</option>
                    @foreach (var item in ViewBag.classificacaoLodge)
                    {
                        <option value="@item.ClassificacaoLodge_id">@item.ClassificacaoLodge_nome</option>
                    }
                </select>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6">
                <label for="ddlPaisSupplier">País</label>
                <select id="ddlPaisSupplier" class="form-control" name="PAIS_id" onchange="ChangePaisSupplier()">
                    <option value="0">Selecione</option>
                    @foreach (var item in ViewBag.PaisSupplier)
                    {
                        <option value="@item.PAIS_id">@item.PAIS_nome</option>
                    }
                </select>
            </div>
            <div class="col-md-6">
                <label for="ddlCidadeSupplier">Cidade</label>
                <select id="ddlCidadeSupplier" class="form-control" name="CID_id">
                    <option value="0">Selecione</option>
                    @foreach (var item in ViewBag.CidadeSupplier)
                    {
                        <option value="@item.CID_id">@item.CID_nome</option>
                    }
                </select>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6">
                <label>Política de Grupo</label>
                <select id="ddlPoliticaSupplier" class="form-control" name="S_pessoaOUapt">
                    <option value="0">Selecione</option>
                    <option value="pessoa">Por Pessoa</option>
                    <option value="apartamento">Por Apartamento</option>
                </select>
            </div>
            <div class="col-md-6">
                <label>Qtd</label>
                <input id="txtQtd" type="text" name="S_qtdpessoas" class="form-control" placeholder="Qtd" value="@Model.S_qtdpessoas" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2">
                <input id="btnSalvarSupplier" type="submit" class="btn btn-primary" title="Salvar" value="Salvar" style="border-radius:0px;" />
            </div>
            <div class="col-md-2">
                <input id="btnExcluirSupplier" type="button" class="btn btn-primary" title="Excluir" value="Excluir" style="border-radius:0px;" />
            </div>
            <div class="col-md-1">
                <input id="btnNovoSupplier" type="button" class="btn btn-primary" title="Novo" value="Novo" style="border-radius:0px;" />
            </div>
        </div>
    </div>

</form>


<script type="text/javascript">

    if(@Model.S_id != 0){

        $('#ddlResponsavelSupplier').val(@Model.Responsavel_id);
        $('#ddlMoedaSupplier').val(@Model.Moeda_id);
        $('#ddlStatusSupplier').val(@Model.STATUS_id);
        $('#ddlTipoSupplier').val(@Model.TIPOSUPL_id);
        $('#ddlCategoriaEscSupplier').val(@Model.CategoriaEscrita_id);
        $('#ddlRedeSupplier').val(@Model.Rede_id);
        $('#ddlCategoriaSupplier').val(@Model.Categ_id);
        $('#ddlPaisSupplier').val(@Model.PAIS_id);

        $.get("@Url.Action("ObterCidadesSupplierDrop", "Supplier")", { idPais: $('#ddlPaisSupplier').val() }, function (data) {
            $('#ddlCidadeSupplier').html(data);
            $('#ddlCidadeSupplier').val(@Model.CID_id);
        });

        if('@Model.Recomended' == 'True'){
            $('#RecomendedSpp').attr("checked", "true");
        }else{
            $('#RecomendedSpp').removeAttr("checked");
        }

    }


    $('#btnExcluirSupplier').click(function () {

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        $.get("@Url.Action("ExcluirSupplier", "Supplier")", { IdSupplier: $('#idsupplier').val() }, function (d) {

            if (d.success) {
                var $toast = toastr["success"](d.message, "Prosoftware");
                $toastlast = $toast;

                location.reload();

            }
            else {
                var $toast = toastr["error"](d.message, "Prosoftware");
                $toastlast = $toast;
            }

            waitingDialog.hide();
        });
    });

    function ChangePaisSupplier() {
        $('#ddlCidade').html('<option value=\'0\'> Aguarde...</option>');
        $.ajax({
            url: "@Url.Action("ObterCidadesSupplierDrop", "Supplier")",
            data: { idPais: $('#ddlPaisSupplier').val() },
            type: "GET",
            success: function(data){
                $('#ddlCidadeSupplier').html(data);
            },
            error: function(xhr){
                alert(xhr);
            }
        });
    }

    $('#RecomendedSpp').change(function () {
        if ($(this).is(":checked")) {
            $('#recomendedHiden').val("true");
            //$(this).attr("checked", returnVal);
        } else {
            $('#recomendedHiden').val("false");
        }
        //$('#textbox1').val($(this).is(':checked'));
    });

    $('#form-supplier').submit(function () {

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        var mod = $(this).serialize();

        var url = "";
        if(@Model.S_id == 0){
            url = "@Url.Action("SalvarSupplier", "Supplier")";
        }else{
            url = "@Url.Action("AtualizarSupplier", "Supplier")"
        }

        $.ajax({
            url: url,
            data: mod,
            type: "POST",
            success: function (d) {
                if (d.success) {
                    var $toast = toastr["success"](d.message, "Prosoftware");
                    $toastlast = $toast;

                    $('#idsupplier').val(d.cod);
                }
                else {
                    var $toast = toastr["error"](d.message, "Prosoftware");
                    $toastlast = $toast;
                }
                waitingDialog.hide();
            },
            error: function (XHR) {
                waitingDialog.hide(); alert(XHR);
            }
        });
    });

</script>