﻿
<div class="row">

    <input type="hidden" id="idPeriodoTelaTarifas" />

    <div class="col-md-6">

        <div class="row">
            <div class="col-md-12">
                <small id="lblMercadoAddTarifaSpp">Mercado: </small><br />
                <small id="lblBaseTarifariaAddTarifaSpp">Base Tarifária: </small><br />
                <small id="lblResponsavelAddTarifaSpp">Responsável:</small><br />
                <small id="lblMinimoNoitesAddTarifaSpp">Mínimo Noites:</small><br />
                <small id="lblPromocaoAddTarifaSpp">Promoção:</small><br />
            </div>
        </div>

        <br />
        <div class="row">
            <div class="col-md-12">

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h4 id="tituloCliente">Periodos</h4>
                    </div>
                    <div class="box-body">
                        @Html.Partial("_lst_supplierTarifas_Edit", ViewData["suppliertarifasedit"])
                    </div>
                </div>

            </div>
        </div>


    </div>

    <div class="col-md-6">


        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tabTar_1" data-toggle="tab">Tarifas</a></li>
                <li><a href="#tabTar_2" data-toggle="tab">Meals</a></li>
            </ul>
            <div class="tab-content">

                <div class="tab-pane active" id="tabTar_1">
                    <div id="dvTelasPeriodos">
                    </div>

                    <div class="box box-primary">
                        <div class="box-header">
                            <h3 class="box-title">Tarifa</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <input id="idtarifaselecionada" type="hidden" value="0" />
                            <div class="row">
                                <div class="col-md-3">
                                    <label for="ddlTipoTarifa">Tipo Tarifa</label>
                                    <select id="ddlTipoTarifa" class="form-control">
                                        @foreach (var item in ViewBag.TipoTarifaSpp)
                                        {
                                            <option value="@item.S_mercado_tipo_tarifa_id">@item.S_mercado_tipo_tarifa_nome</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-md-3">

                                    <label for="ddlCategoriaTarifaSpp" class="dropcateg">Categoria</label>
                                    <select id="ddlCategoriaTarifaSpp" class="form-control dropcateg">
                                        @foreach (var item in ViewBag.CategoriaTarifaSpp)
                                        {
                                            <option value="@item.Tarif_categoria_id">@item.Tarif_categoria_nome</option>
                                        }
                                    </select>
                                    <button id="btnAddNewCategoria" type="button" class="btn-link btn-sm dropcateg">Add</button>

                                    <label for="ddlCategoriaTarifaSpp" class="addcateg">Add Categoria</label>
                                    <input id="txtAddCategoria" class="form-control addcateg" />
                                    <button id="btnSalvarNewCategoria" type="button" class="btn-link btn-sm addcateg">Salvar</button>
                                    <button id="btnCancelNewCategoria" type="button" class="btn-link btn-sm addcateg">Cancelar</button>

                                </div>
                                <div class="col-md-3">
                                    <label for="ddlTipoRoomTarifaSpp">Tipo Room</label>
                                    <select id="ddlTipoRoomTarifaSpp" class="form-control">
                                        @foreach (var item in ViewBag.TipoRoomTarifaSpp)
                                        {
                                            <option value="@item.Tipo_room_id">@item.Tipo_room_nome</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label for="ddlTipoCadastroTarifa">Tipo Cadastro</label>
                                    <select id="ddlTipoCadastroTarifa" class="form-control" onchange="TipoCadastroChange()">
                                        <option value="Valor">Valor</option>
                                        <option value="Status">Status</option>
                                    </select>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="dvvalortarifas">
                                    <div class="col-md-3">
                                        <label for="txtPorcentagemTaxa">Taxas</label><br />
                                        <div class="col-md-8" style="padding: 0px;">
                                            <input id="txtPorcentagemTaxa" type="text" class="form-control" value="0" onchange="changeValores()" />
                                        </div>
                                        <div class="col-md-2">
                                            %
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="col-md-8" style="padding: 0px;margin-top: 25px;">
                                            <input id="txtPorcentagemImposto" type="text" class="form-control" value="0" onchange="changeValores()" />
                                        </div>
                                        <div class="col-md-2" style="margin-top: 25px;">
                                            %
                                        </div>
                                    </div>

                                    <div class="col-md-3" style="padding: 0px;">
                                        <label for="txtComissao">Comissão</label>
                                        <div class="col-md-8" style="padding: 0px;">
                                            <input id="txtComissao" type="text" class="form-control" value="0" onchange="changeValores()" />
                                        </div>
                                        <div class="col-md-2">
                                            %
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <br />
                                    <input id="RdoTarifa" class="RdoTarifaCL" name="RdoTarifa" type="radio" checked="checked" value="0" /> Por Pessoa<br />
                                    <input id="RdoTarifa" class="RdoTarifaCL" name="RdoTarifa" type="radio" value="1" /> Por Apartamento
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="dvvalortarifas">
                                    <div class="col-md-3">
                                        <label for="txtStatusTarifa">Tarifa</label><br />
                                        <input id="txtStatusTarifa" type="text" class="form-control" value="0" onchange="changeValores()" />
                                    </div>
                                    <div class="col-md-3">
                                        <label for="txtStatusTarifaTotal">Total</label><br />
                                        <input id="txtStatusTarifaTotal" type="text" class="form-control" disabled="disabled" />
                                    </div>
                                    <div class="col-md-6">
                                        <br />
                                        <input type="checkbox" id="chkDividePacote" title="Divide valor por número de noites?" /> Divide valor por número de noites?
                                    </div>

                                </div>
                                <div id="dvddlstatustarifa">
                                    <div class="col-md-3">
                                        <label for="ddlStatusTarifa">Status</label>
                                        <select id="ddlStatusTarifa" class="form-control">
                                            @foreach (var item in ViewBag.StatusTarifa)
                                            {
                                                <option value="@item.S_mercado_tarifa_status_id">@item.S_mercado_tarifa_status_nome</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-2">
                                    <input id="btnSalvarTarifa" type="button" class="btn btn-primary btn-sm" value="Salvar" style="border-radius: 0px;" />
                                </div>
                                <div class="col-md-1">
                                    <input id="btnNovaTarifa" type="button" class="btn btn-primary btn-sm" value="Nova" style="border-radius: 0px;" />
                                </div>
                                <div class="col-md-2">
                                    <input id="btnOpenOrdernarTarifas" type="button" class="btn btn-primary btn-sm" value="Ordenar Tarifas" style="border-radius: 0px;" />
                                </div>
                                <div class="col-md-1">
                                    <input id="btnOpenChdTarifas" type="button" class="btn btn-primary btn-sm" value="CHD" style="border-radius: 0px;" />
                                </div>
                            </div>

                        </div>
                    </div>
                    <br />

                    <div class="box box-primary">
                        <div class="box-header">
                            <h3 class="box-title">Tarifas Cadastradas</h3>
                        </div>
                        <div class="box-body">

                            <div class="row">
                                <div class="col-md-12">
                                    <div style="overflow-y: auto; height: 200px;">
                                        <div id="dvtarifascadastradaslst"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="box box-primary">
                        <div class="box-header">
                            <h3 class="box-title">Base</h3>
                        </div>
                        <div class="box-body">

                            <div class="row">
                                <div class="col-md-12">
                                    <div style="overflow-y: auto; height: 200px;">
                                        <div id="dvtarifascadastradasBaselst"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="tab-pane" id="tabTar_2">

                    <div class="box box-primary">
                        <div class="box-header">
                            <h3 class="box-title">Meal</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body">

                            <div class="row">
                                <div class="col-md-8">
                                    <label for="ddlMealSpp">Meal</label>
                                    <select id="ddlMealSpp" class="form-control">
                                        @foreach (var item in ViewBag.MealSpp)
                                        {
                                            <option value="@item.S_meal_id">@item.S_meal_nome</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label for="ddlTipoCadastroMeal">Tipo Cadastro</label>
                                    <select id="ddlTipoCadastroMeal" class="form-control" onchange="TipoCadastroChangeMeal()">
                                        <option value="Valor">Valor</option>
                                        <option value="Status">Status</option>
                                    </select>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="dvvalormeal">
                                    <div class="col-md-3">
                                        <label for="txtPorcentagemTaxaMeal">Taxas</label><br />
                                        <div class="col-md-8" style="padding: 0px;">
                                            <input id="txtPorcentagemTaxaMeal" type="text" class="form-control" value="0" onchange="changeValoresMeal()" />
                                        </div>
                                        <div class="col-md-2">
                                            %
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="col-md-8" style="padding: 0px;margin-top: 25px;">
                                            <input id="txtPorcentagemImpostoMeal" type="text" class="form-control" value="0" onchange="changeValoresMeal()" />
                                        </div>
                                        <div class="col-md-2" style="margin-top: 25px;">
                                            %
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="dvvalormeal">
                                    <div class="col-md-3">
                                        <label for="txtValorStatusMeal">Tarifa</label><br />
                                        <input id="txtValorStatusMeal" type="text" class="form-control" value="0" onchange="changeValoresMeal()" />
                                    </div>
                                    <div class="col-md-3">
                                        <label for="txtStatusTarifaTotalMeal">Total</label><br />
                                        <input id="txtStatusTarifaTotalMeal" type="text" class="form-control" disabled="disabled" />
                                    </div>
                                </div>
                                <div id="dvddlstatusmeal">
                                    <div class="col-md-3">
                                        <label for="ddlStatusTarifaMeal">Status</label>
                                        <select id="ddlStatusTarifaMeal" class="form-control">
                                            @foreach (var item in ViewBag.StatusTarifa)
                                            {
                                                <option value="@item.S_mercado_tarifa_status_id">@item.S_mercado_tarifa_status_nome</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-2">
                                    <input id="btnSalvarMeal" type="button" class="btn btn-primary btn-sm" value="Salvar" style="border-radius: 0px;" />
                                </div>
                                <div class="col-md-1">
                                    <input id="btnNovoMeal" type="button" class="btn btn-primary btn-sm" value="Nova" style="border-radius: 0px;" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="box box-primary">
                        <div class="box-header">
                            <h3 class="box-title">Meals Cadastrados</h3>
                        </div>
                        <div class="box-body">

                            <div class="row">
                                <div class="col-md-12">
                                    <div style="overflow-y: auto; height: 200px;">
                                        <div id="dvmealscadastradoslst"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />

                </div>

            </div>

        </div>

    </div>

</div>




<script type="text/javascript">

    $('#dvddlstatustarifa').hide();
    $('#dvddlstatusmeal').hide();
    $('.addcateg').hide();

    $('#btnAddNewCategoria').click(function () {
        $('.dropcateg').hide();
        $('.addcateg').show();
    });

    $('#btnCancelNewCategoria').click(function () {
        $('.dropcateg').show();
        $('.addcateg').hide();
    });

    $('#btnSalvarNewCategoria').click(function () {

        $.get("@Url.Action("SalvarCategoriaAddSpp", "Supplier")", { txtAddCategoria: $('#txtAddCategoria').val() }, function (d) {
            if (d.success) {                    
                $('.dropcateg').show();
                $('#ddlCategoriaTarifaSpp').html(d.categs);
                $('#ddlCategoriaTarifaSpp').val(d.value);
                alert(d.message);
            } else {
                alert(d.message);
            }
        });

        $('#txtAddCategoria').val("");
        $('.addcateg').hide();

    });

    $('#txtAddCategoria').autocomplete({
        source: "@Url.Action("ObterCategorias", "Supplier")",
        minLength: 4,
        select: function (e, ui) {                    

            $.get("@Url.Action("SelectCategoriaAdd", "Supplier")", { txtAddCategoria: ui.item.value }, function (d) {
                if (d.success) {                    
                    $('.dropcateg').show();
                    $('#ddlCategoriaTarifaSpp').val(d.value);
                }
            });
                      
            $('#txtAddCategoria').val("");            
            $('.addcateg').hide();
        }
    });

   
    $('#btnOpenOrdernarTarifas').click(function () {

        if ($('#idPeriodoTelaTarifas').val() == "") {
            alert('Favor selecionar um periodo!');
            return false;
        }

        $.get("@Url.Action("OpenOrdenarTarifas", "Supplier")", { idperiodo: $('#idPeriodoTelaTarifas').val() }, function (data) {
            $('#dvTelasPeriodos').html(data);
        });

    });

    $('#btnOpenChdTarifas').click(function () {
        if ($('#idPeriodoTelaTarifas').val() == "") {
            alert('Favor selecionar um periodo!');
            return false;
        }

        $.get("@Url.Action("OpenCHDTarifas", "Supplier")", { idperiodo: $('#idPeriodoTelaTarifas').val(), IdTarifaCHD: 0 }, function (data) {
            $('#dvTelasPeriodos').html(data);
            $('#ddlChds').html('@ViewBag.dropCHDs');
        });

    });


    function TipoCadastroChange() {

        if ($('#ddlTipoCadastroTarifa').val() == "Valor") {
            $('.dvvalortarifas').css("display", "block");
            $('#dvddlstatustarifa').hide();

            if ($('#txtStatusTarifaTotal').val() == "") {
                $('#txtPorcentagemTaxa').val("0");
                $('#txtPorcentagemImposto').val("0");
                $('#txtComissao').val("0");
                $('#txtStatusTarifa').val("0");
                $('#txtStatusTarifaTotal').val("");
            }


        } else {
            $('.dvvalortarifas').css("display", "none");
            $('#dvddlstatustarifa').show();

        }
    }

    function TipoCadastroChangeMeal() {

        if ($('#ddlTipoCadastroMeal').val() == "Valor") {
            $('.dvvalormeal').css("display", "block");
            $('#dvddlstatusmeal').hide();

            if ($('#txtStatusTarifaTotalMeal').val() == "") {
                $('#txtPorcentagemTaxaMeal').val("0");
                $('#txtPorcentagemImpostoMeal').val("0");
                $('#txtValorStatusMeal').val("0");
                $('#txtStatusTarifaTotalMeal').val("");
            }


        } else {
            $('.dvvalormeal').css("display", "none");
            $('#dvddlstatusmeal').show();

            $('#txtValorStatusMeal').val("0");
            $('#txtStatusTarifaTotalMeal').val("0");
            $('#txtPorcentagemTaxaMeal').val("0");
            $('#txtPorcentagemImpostoMeal').val("0");
                                  
        }
    }

    function changeValoresMeal() {
        if ($('#idPeriodoTelaTarifas').val() == "") {
            alert('Favor selecione um periodo!');
            return false;
        }

        $.get("@Url.Action("txtPorcentagemTaxaMeal_TextChanged", "Supplier")", { txtPorcentagemTaxaMeal: $('#txtPorcentagemTaxaMeal').val(), txtPorcentagemImpostoMeal: $('#txtPorcentagemImpostoMeal').val(), ddlTipoCadastroMeal: $('#ddlTipoCadastroMeal').val(), txtValorStatusMeal: $('#txtValorStatusMeal').val() }, function (d) {

            if (d.success) {

                $('#txtStatusTarifaTotalMeal').val(d.total);
                $('#txtValorStatusMeal').val(d.tarifa);

            } else {
                alert(d.message);
            }

        });
    }


    function changeValores() {

        if ($('#idPeriodoTelaTarifas').val() == "") {
            alert('Favor selecione um periodo!');
            return false;
        }

        var divide = false;
        if ($('#chkDividePacote').is(":checked")) {
            divide = true;
        }

        $.get("@Url.Action("txtStatusTarifa_func", "Supplier")", { idperiodo: $('#idPeriodoTelaTarifas').val(), txtcomissao: $('#txtComissao').val(), dividePac: divide, txtPorcentagemImposto: $('#txtPorcentagemImposto').val(), txtPorcentagemTaxa: $('#txtPorcentagemTaxa').val(), ddlTipoCadastro: $('#ddlTipoCadastroTarifa').val(), txtStatusTarifa: $('#txtStatusTarifa').val() }, function (d) {

            if (d.success) {

                $('#txtStatusTarifaTotal').val(d.total);
                $('#txtStatusTarifa').val(d.tarifa);

            } else {
                alert(d.message);
            }

        });

    }

    $('#btnNovaTarifa').click(function () {

        $('#idtarifaselecionada').val(0);
        $('#txtPorcentagemTaxa').val("0");
        $('#txtPorcentagemImposto').val("0");
        $('#txtComissao').val("0");
        $('#txtStatusTarifa').val("0");
        $('#txtStatusTarifaTotal').val("");
        AtualizaTarifasCadastradas();
    });

    $('#btnNovoMeal').click(function () {

        $('#idmealselecionado').val("0");
        $('#txtPorcentagemTaxaMeal').val("0");
        $('#txtPorcentagemImpostoMeal').val("0");
        $('#txtValorStatusMeal').val("0");
        $('#txtStatusTarifaTotalMeal').val("");
        AtualizaMealsCadastradas();
    });

    $('#btnSalvarTarifa').click(function () {

        var divide = false;
        if ($('#chkDividePacote').is(":checked")) {
            divide = true;
        }

        var mod = {
            idperiodo: $('#idPeriodoTelaTarifas').val(),
            ddlTipoCadastro: $('#ddlTipoCadastroTarifa').val(),
            dividePac: divide,
            txtStatusTarifa: $('#txtStatusTarifa').val(),
            txtStatusTarifaTotal: $('#txtStatusTarifaTotal').val(),
            statusid: $('#ddlStatusTarifa').val(),
            txtPorcentagemTaxa: $('#txtPorcentagemTaxa').val(),
            txtPorcentagemImposto: $('#txtPorcentagemImposto').val(),
            txtComissao: $('#txtComissao').val(),
            Tipo_room_id: $('#ddlTipoRoomTarifaSpp').val(),
            Tarif_categoria_id: $('#ddlCategoriaTarifaSpp').val(),
            S_mercado_tipo_tarifa_id: $('#ddlTipoTarifa').val(),
            RdoTarifa: $("input[name='RdoTarifa']:checked").val(),
            Sid: $('#idsupplier').val(),
            TarifaID: $('#idtarifaselecionada').val(),
            IdTarifaBase: $('#idBaseSelect').val()
        }


        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        $('#btnSalvarTarifa').html('Aguarde...');
        $('#btnSalvarTarifa').attr("disabled", "disabled");

        var url = "";
        if ($('#idtarifaselecionada').val() == 0) {
            url = "@Url.Action("SalvarTarifa", "Supplier")";
        } else {
            url = "@Url.Action("AtualizaTarifa", "Supplier")";
        }

        $.ajax({
            url: url,
            data: mod,
            type: "POST",
            success: function (d) {

                if (d.success) {
                    var $toast = toastr["success"](d.message, "Prosoftware");
                    $toastlast = $toast;

                    $('#txtPorcentagemTaxa').val("0");
                    $('#txtPorcentagemImposto').val("0");
                    $('#txtComissao').val("0");
                    $('#txtStatusTarifa').val("0");
                    $('#txtStatusTarifaTotal').val("");
                }
                else {
                    var $toast = toastr["error"](d.message, "Prosoftware");
                    $toastlast = $toast;
                }

                $('#btnSalvarTarifa').removeAttr("disabled");
                $('#btnSalvarTarifa').html('Salvar');
                AtualizaTarifasCadastradas();
            },
            error: function (xhr) {
                alert(xhr);
                $('#btnSalvarTarifa').removeAttr("disabled");
                $('#btnSalvarTarifa').html('Salvar');
            }
        });

    });



    $('#btnSalvarMeal').click(function () {


        var mod = {
            idperiodo: $('#idPeriodoTelaTarifas').val(),
            ddlTipoCadastro: $('#ddlTipoCadastroMeal').val(),
            txtStatusTarifa: $('#txtValorStatusMeal').val(),
            txtStatusTarifaTotal: $('#txtStatusTarifaTotalMeal').val(),
            txtPorcentagemTaxa: $('#txtPorcentagemTaxaMeal').val(),
            txtPorcentagemImposto: $('#txtPorcentagemImpostoMeal').val(),
            Sid: $('#idsupplier').val(),
            TarifaID: $('#idmealselecionado').val(),
            IDMeal: $('#ddlMealSpp').val(),
            IdTarifaBase: $('#idBaseSelect').val(),
            S_merc_tarif_status_id: $('#ddlStatusTarifaMeal').val()
        }


        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        $('#btnSalvarTarifa').html('Aguarde...');
        $('#btnSalvarTarifa').attr("disabled", "disabled");

        var url = "";
        if ($('#idmealselecionado').val() == 0) {
            url = "@Url.Action("SalvarMeal", "Supplier")";
        } else {
            url = "@Url.Action("AtualizaMeal", "Supplier")";
        }

        $.ajax({
            url: url,
            data: mod,
            type: "POST",
            success: function (d) {

                if (d.success) {
                    var $toast = toastr["success"](d.message, "Prosoftware");
                    $toastlast = $toast;

                    $('#txtPorcentagemTaxa').val("0");
                    $('#txtPorcentagemImposto').val("0");
                    $('#txtComissao').val("0");
                    $('#txtStatusTarifa').val("0");
                    $('#txtStatusTarifaTotal').val("");
                }
                else {
                    var $toast = toastr["error"](d.message, "Prosoftware");
                    $toastlast = $toast;
                }

                $('#btnSalvarTarifa').removeAttr("disabled");
                $('#btnSalvarTarifa').html('Salvar');

                AtualizaMealsCadastradas();
            },
            error: function (xhr) {
                alert(xhr);
                $('#btnSalvarTarifa').removeAttr("disabled");
                $('#btnSalvarTarifa').html('Salvar');
            }
        });

    });


</script>
