﻿
@{
    ViewBag.Title = "Suppliers";
    Layout = "~/Views/Shared/template.cshtml";
}

<section class="content-header">
    <h1>
        Suppliers

        <small>Lista</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-database" aria-hidden="true"></i>Suppliers</a></li>
    </ol>
</section>



<section class="content">

    <div class="box box-primary">
        <div class="box-header with-border">
            <h4 id="tituloCliente">Filtro</h4>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body">

            <div class="row">
                <div class="col-md-12">
                    <label for="txtProcurarSuppliers">Procurar</label>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
                        <input id="txtProcurarSuppliers" type="text" class="form-control" aria-describedby="basic-addon1" placeholder="Nome Supplier">
                    </div>
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-md-3">
                    <label for="ddlStatusSupplierFiltro">Status</label>
                    <select id="ddlStatusSupplierFiltro" class="form-control">
                        <option value="0">Selecione Filtro</option>
                        @foreach (var item in ViewBag.StatusSupplier)
                        {
                        <option value="@item.STATUS_id">@item.STATUS_nome</option>
                        }
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="ddlTipoSupplierFiltro">Tipo Supplier</label>
                    <select id="ddlTipoSupplierFiltro" class="form-control">
                        <option value="0">Selecione Filtro</option>
                        @foreach (var item in ViewBag.TipoSupplier)
                        {
                        <option value="@item.TIPOSUPL_id">@item.TIPOSUPL_nome</option>
                        }
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="ddlPaisSupplierFiltro">País</label>
                    <select id="ddlPaisSupplierFiltro" class="form-control" onchange="ChangePaisSupplierFiltro()">
                        <option value="0">Selecione Filtro</option>
                        @foreach (var item in ViewBag.PaisSupplierFiltro)
                        {
                            <option value="@item.PAIS_id">@item.PAIS_nome</option>
                        }
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="ddlCidadeSupplierFiltro">Cidade</label>
                    <select id="ddlCidadeSupplierFiltro" class="form-control">
                        <option value="0">Selecione Filtro</option>
                        @foreach (var item in ViewBag.CidadeSupplierFiltro)
                        {
                        <option value="@item.CID_id">@item.CID_nome</option>
                        }
                    </select>
                </div>
            </div>

        </div>
    </div>

    <div class="box box-primary">
        <div class="box-header with-border">
            <h4 id="tituloSupplier">Cadastros</h4>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body">


            <div id="tabSpp" class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab">Supplier</a></li>
                    <li><a href="#tab_2" data-toggle="tab">Tarifas</a></li>
                    <li><a href="#tab_3" data-toggle="tab">Infos</a></li>
                    <li><a href="#tab_4" data-toggle="tab">Amenities</a></li>
                    <li><a href="#tab_5" data-toggle="tab">Bases</a></li>
                </ul>

                <div class="tab-content">

                    <div class="tab-pane active" id="tab_1">
                        <div class="row">
                            <div id="dvsuppliercadastro">
                                @Html.Partial("_supplier_add", ViewData["supplier"])
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="tab_2">

                        <div class="row">
                            <div class="col-md-4">
                                <label for="ddlMercadoSppTarifas">Mercado</label>
                                <select id="ddlMercadoSppTarifas" class="form-control" onchange="refreshGridTarifasSupplier()">
                                    @foreach (var item in ViewBag.MercadoSppTarifas)
                                    {
                                        <option value="@item.Mercado_id">@item.Mercado_nome</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="ddlBaseSppTarifas">BaseTarifaria</label>
                                <select id="ddlBaseSppTarifas" class="form-control" onchange="refreshGridTarifasSupplier()">
                                    @foreach (var item in ViewBag.BaseTarifariaSppTarifas)
                                    {
                                        <option value="@item.BaseTarifaria_id">@item.BaseTarifaria_nome</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label for="ddlResponsavelSppTarifas">Responsável</label>
                                <select id="ddlResponsavelSppTarifas" class="form-control" onchange="refreshGridTarifasSupplier()">
                                    <option value="0">O Mesmo...</option>
                                    @foreach (var item in ViewBag.ResponsavelSppTarifas)
                                    {
                                        <option value="@item.S_id">@item.S_nome</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-2">
                                <input type="button" id="btnMostrarRespons" class="btn btn-primary btn-sm" style="margin-left:0px;margin-top:25px;" title="Mostrar Responsável" value="Mostrar Responsável" />
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-1">
                                <button id="btnAddPeriodoSpp" class="btn btn-success btn-sm" title="Periodo" style="border-radius:0px;">
                                    <i class="fa fa-plus" aria-hidden="true"></i> Periodo
                                </button>
                            </div>
                            <div class="col-md-1">
                                <button id="btnAddTarifaSpp" class="btn btn-success btn-sm" title="Tarifas" style="border-radius:0px;">
                                    <i class="fa fa-usd" aria-hidden="true"></i> Tarifas
                                </button>
                            </div>
                            <div class="col-md-1">
                                <button id="btnAddBlackOut" class="btn btn-success btn-sm" title="Blackout" style="border-radius:0px;">
                                    Blackout
                                </button>
                            </div>
                            <div class="col-md-1">
                                <button id="btnCopiarTarifas" class="btn btn-success btn-sm" title="Copiar Tarifas" style="border-radius:0px;">
                                    Cop Tarifas
                                </button>
                            </div>
                            <div class="col-md-1">
                                <button id="btnContato" class="btn btn-success btn-sm" title="Contato" style="border-radius:0px;">
                                    Contato
                                </button>
                            </div>
                            <div class="col-md-1">
                                <button id="btnCategorias" class="btn btn-success btn-sm" title="Categorias" style="border-radius:0px;">
                                    Categorias
                                </button>
                            </div>
                            <div class="col-md-2">
                                <button id="btnCondPagamento" class="btn btn-success btn-sm" title="Cond Pagamento" style="border-radius:0px;">
                                    Cond Pagamento
                                </button>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <div id="dvtarifassupplier">
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="tab-pane" id="tab_3">

                        <div class="row">
                            <div class="col-md-1">
                                <input id="btnAddFotosSpp" type="button" class="btn btn-primary btn-sm" title="Enviar Fotos" value="Enviar Fotos" style="border-radius:0px;" />
                            </div>
                            <div class="col-md-1">
                                <input id="btnFotosSpp" type="button" class="btn btn-primary btn-sm" title="Fotos" value="Fotos" style="border-radius:0px;" />
                            </div>
                        </div>
                        <br />
                        <div id="dvdescricoesSpp">
                        </div>

                    </div>

                    <div class="tab-pane" id="tab_4">
                        <div id="dvamenitiesSpp">
                        </div>
                    </div>

                    <div class="tab-pane" id="tab_5">

                        <div class="row">
                            <div class="col-md-2">
                                <label for="ddlMercadoSppBases">Mercado</label>
                                <select id="ddlMercadoSppBases" class="form-control" onchange="refreshBasesIndex()">
                                    @foreach (var item in ViewBag.MercadoSppTarifas)
                                    {
                                    <option value="@item.Mercado_id">@item.Mercado_nome</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label for="ddlBaseSppBases">BaseTarifaria</label>
                                <select id="ddlBaseSppBases" class="form-control" onchange="refreshBasesIndex()">
                                    @foreach (var item in ViewBag.BaseTarifariaSppTarifas)
                                    {
                                    <option value="@item.BaseTarifaria_id">@item.BaseTarifaria_nome</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label for="ddlTipoTransporteBases">Tipo Transporte</label>
                                <select id="ddlTipoTransporteBases" class="form-control" onchange="refreshBasesIndex()">
                                    @foreach (var item in ViewBag.TipoTransporteBases)
                                    {
                                    <option value="@item.IdTipoTrans">@item.TipoTrans_nome</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label for="ddlTipoBases">Tipo Base</label>
                                <select id="ddlTipoBases" class="form-control" onchange="refreshBasesIndex()">
                                    @foreach (var item in ViewBag.TipoBases)
                                    {
                                    <option value="@item.TipoBase_id">@item.TipoBase_nome</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label for="ddlMoedaBases">Moeda</label>
                                <select id="ddlMoedaBases" class="form-control" onchange="refreshBasesIndex()">
                                    @foreach (var item in ViewBag.MoedaSupplier)
                                    {
                                    <option value="@item.Moeda_id">@item.Moeda_sigla</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <br />

                        <div class="box box-primary">
                            <div class="box-header with-border">

                                <div class="row">
                                    <div class="col-md-2">

                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="txtDeSozinho">De</label>
                                                <input id="txtDeSozinho" type="number" class="form-control small" />
                                            </div>
                                            <div class="col-md-6">
                                                <label for="txtAteSozinho">Até</label>
                                                <input id="txtAteSozinho" type="number" class="form-control small" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <input type="checkbox" id="chkMontaSozinhoAutoBases" title="Monta Auto?" /> Monta Auto?
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <input id="btnMontaBases" type="button" class="btn btn-primary btn-sm" title="Montar Bases" value="Montar Bases" style="border-radius:0px;" />
                                            </div>
                                        </div>

                                    </div>


                                    <div class="col-md-4">

                                        <div class="row">
                                            <div class="col-md-8">
                                                <select id="ddlIndexBase" class="form-control" onchange="refreshBasesIndex()">
                                                    <option value="1">Base Principal</option>
                                                    <option value="2">Base 2</option>
                                                    <option value="3">Base 3</option>
                                                </select>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-2">
                                                <input id="btnExcluirBase" type="button" class="btn btn-danger btn-sm" title="Excluir Bases" value="Excluir Bases" style="border-radius:0px;" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div id="lstIndexBases"></div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div id="lstTodasBases"></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>


                    </div>

                </div>
            </div>

        </div>
    </div>

</section>



<div class="modal fade  bs-example-modal-lg" id="modalPeriodoSupplier" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Periodo</h4>
            </div>

            <div class="modal-body">
                <div id="dvperiodosupplier">
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade  bs-example-modal-lg" id="modalAddTarifaPeriodo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" style="width:100%;">
        <div class="modal-content" style="width:100%;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="TituloAddTarifasSpp"></h4>
            </div>

            <div class="modal-body">
                <div id="dvaddtarifaperiodo">
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" id="modalOrdenarTarifas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Ordernar Tarifas</h4>
            </div>

            <form role="form" id="form-OrdernarTarifas" method="post" action="javascript:func()">

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <label for="txtNovaDataTo">Nova data</label>
                            <input id="txtNovaDataTo" class="form-control" type="date" name="dtSelecionada" />
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <input id="btnTrocarDataTo" type="submit" class="btn btn-primary" title="Trocar" value="Trocar" />
                    <button id="btnfecharmodalOrdernarTarifas" type="button" class="btn btn-default">Fechar</button>
                </div>

            </form>


        </div>
    </div>
</div>

<div class="modal fade" id="modalBlackout" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Blackout</h4>
            </div>

            <div class="modal-body">
                <div id="dvblackout"></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="modalCopiarTarifas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Copiar Tarifas</h4>
            </div>

            <div class="modal-body">
                <div id="dvcopiartarifas"></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="modalContatos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Contatos</h4>
            </div>

            <div class="modal-body">
                <div id="dvcontatos"></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="modalCondPag" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Cond Pagamento</h4>
            </div>

            <div class="modal-body">
                <div id="dvcondPag"></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="modalCategObs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Categorias Obs</h4>
            </div>

            <div class="modal-body">
                <div id="dvcategObs"></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" id="modalDescPacote" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Descrição Pacote</h4>
            </div>

            <div class="modal-body">
                <div id="dvdescrPacote"></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="modalUpdFotosSupplier" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Enviar Fotos</h4>
            </div>

            <br />

            <div class="modal-body">

                <form action='@Url.Action("Upload", "Supplier")' enctype="multipart/form-data" method="post">

                    <input type="file" name="Files" id="Files" multiple class="btn btn-primary" />
                    <input type="hidden" name="idSupplier" id="idSupplierFotos" />
                    <br />
                    <input type="submit" name="submit" value="Enviar" class="btn btn-primary" />

                </form>

            </div>
            <br />

        </div>
    </div>
</div>

<div class="modal fade" id="modalFotosSupplier" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Fotos</h4>
            </div>

            <div class="modal-body">
                <div id="dvfotossupplier"></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" id="modalResponsavelSpp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog  modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Responsável</h4>
            </div>

            <div class="modal-body">
                <div id="dvResponsaveis"></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">


    $('#btnMostrarRespons').click(function () {
        $.ajax({
            url: "@Url.Action("ObterResponsavel", "Supplier")",
            data: { idspp: $('#idsupplier').val() },
            type: "GET",
            success: function(data){
                $('#dvResponsaveis').html(data);
                $('#modalResponsavelSpp').modal();
            },
            error: function(xhr){
                alert(xhr);
            }
        });
    });

    function ChangePaisSupplierFiltro() {
        $('#ddlCidadeSupplierFiltro').html('<option value=\'0\'> Aguarde...</option>');
        $.ajax({
            url: "@Url.Action("ObterCidadesSupplierDropFiltro", "Supplier")",
            data: { idPais: $('#ddlPaisSupplierFiltro').val() },
            type: "GET",
            success: function(data){
                $('#ddlCidadeSupplierFiltro').html(data);
            },
            error: function(xhr){
                alert(xhr);
            }
        });
    }

    if ('@ViewBag.retornofoto' != "") {

        var spp = '@ViewBag.retornofoto' + ' ° ' + '@ViewBag.retornofotocidade';

        spp = spp.replace("&#227;","ã");

        $.get("@Url.Action("ObterSupplier", "Supplier")", { supplier: spp }, function (data) {
                $('#dvsuppliercadastro').html(data);
                $('#idSupplierFotos').val($('#idsupplier').val());
                $('#tituloSupplier').html("Cadastros: " + spp);
                $('#txtProcurarSuppliers').val("");
                refreshGridTarifasSupplier();
                refreshDescricoesSpp();
                refreshAmenitiesSpp();
                refreshTodasBases();
                refreshBasesIndex();
                alert('Fotos enviadas com sucesso.');
        });

        $('#tabSpp a[href="#tab_3"]').tab('show');
    }

    $('#btnAddFotosSpp').click(function () {
        $('#modalUpdFotosSupplier').modal();
    });

    $('#btnFotosSpp').click(function () {

        $.get("@Url.Action("CarregarFotos", "Supplier")", { idSupplier: $('#idsupplier').val() }, function (d) {
            $('#dvfotossupplier').html(d);
            $('#modalFotosSupplier').modal();
        });
     });


    $("#txtProcurarSuppliers").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "@Url.Action("ObterSuppliers_Filtros", "Supplier")",
                dataType: "json",
                data: {
                    term: request.term,
                    idStatus: $("#ddlStatusSupplierFiltro").val(),
                    idTipoSupplier: $("#ddlTipoSupplierFiltro").val(),
                    TipoPesquisa: 0,
                    idCidade: $("#ddlCidadeSupplierFiltro").val()
                },
                success: function (data) {
                    response(data);
                }
            });
        },
        min_length: 3,
        select: function (event, ui) {
            waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

            $.get("@Url.Action("ObterSupplier", "Supplier")", { supplier: ui.item.value }, function (data) {
                $('#dvsuppliercadastro').html(data);
                $('#idSupplierFotos').val($('#idsupplier').val());
                $('#tituloSupplier').html("Cadastros: " + ui.item.value);
                $('#txtProcurarSuppliers').val("");
                refreshGridTarifasSupplier();
                refreshDescricoesSpp();
                refreshAmenitiesSpp();
                refreshTodasBases();
                refreshBasesIndex();
            });

            waitingDialog.hide();
        },
        delay: 300
    });


    $('#btnAddBlackOut').click(function () {
        refreshGridBlackout();
    });

    function refreshGridBlackout() {
        $.get("@Url.Action("ObterPeriodoBlack_Empty", "Supplier")", { SupplierID: $('#idsupplier').val(), MercadoID: $('#ddlMercadoSppTarifas').val(), BaseTarifariaID: $('#ddlBaseSppTarifas').val() }, function (d) {

            $('#dvblackout').html(d);
            $('#modalBlackout').modal();
        });

    }

    function refreshDescricoesSpp() {
        $.get("@Url.Action("Buscadescricao", "Supplier")", { Sid: $('#idsupplier').val() }, function (d) {
            $('#dvdescricoesSpp').html(d);
            $('#SidDescrSpp').val($('#idsupplier').val());
        });
    }

    function refreshAmenitiesSpp() {
        $.get("@Url.Action("PopulaAmenities", "Supplier")", { Sid: $('#idsupplier').val() }, function (d) {
            $('#dvamenitiesSpp').html(d);
        });
    }

    function refreshTodasBases() {
        $.get("@Url.Action("PopulaGridResumoBases", "Supplier")", { IdSupplier: $('#idsupplier').val() }, function (d) {
            $('#lstTodasBases').html(d);
        });
    }

    function refreshBasesIndex() {
        $.get("@Url.Action("PopulaGridBasesIndex", "Supplier")",
            {
                IdSupplier: $('#idsupplier').val(),
                index: $('#ddlIndexBase').val(),
                ddlMercadoFiltro_Base: $('#ddlMercadoSppBases').val(),
                ddlBaseTarifariaFiltro_Base: $('#ddlBaseSppBases').val(),
                ddlMoedaFiltro_Base: $('#ddlMoedaBases').val(),
                ddlTipoTransporte: $('#ddlTipoTransporteBases').val(),
                ddlTipoBase_Base: $('#ddlTipoBases').val()
            }, function (d) {
                $('#lstIndexBases').html(d);
            });
    }

    $('#btnMontaBases').click(function () {
        var TYPE = 0;
        if ($('#chkMontaSozinhoAutoBases').is(":checked")) {
            TYPE = 1;
        }

        $.get("@Url.Action("SalvarBases", "Supplier")",
            {
                type: TYPE,
                index: $('#ddlIndexBase').val(),
                txtDe: $('#txtDeSozinho').val(),
                txtAte: $('#txtAteSozinho').val(),
                IdSupplier: $('#idsupplier').val(),
                ddlMercadoFiltro_Base: $('#ddlMercadoSppBases').val(),
                ddlBaseTarifariaFiltro_Base: $('#ddlBaseSppBases').val(),
                ddlMoedaFiltro_Base: $('#ddlMoedaBases').val(),
                ddlTipoTransporte: $('#ddlTipoTransporteBases').val(),
                ddlTipoBase_Base: $('#ddlTipoBases').val()
            }, function (d) {
                if (d.success) {
                    refreshTodasBases();
                    refreshBasesIndex();
                    alert(d.message);
                } else {
                    alert(d.message);
                }
            });
    });

    $('#btnExcluirBase').click(function () {
        $.get("@Url.Action("ExcluirBases", "Supplier")",
            {
                IdSupplier: $('#idsupplier').val(),
                index: $('#ddlIndexBase').val(),
                ddlMercadoFiltro_Base: $('#ddlMercadoSppBases').val(),
                ddlBaseTarifariaFiltro_Base: $('#ddlBaseSppBases').val(),
                ddlMoedaFiltro_Base: $('#ddlMoedaBases').val(),
                ddlTipoTransporte: $('#ddlTipoTransporteBases').val(),
                ddlTipoBase_Base: $('#ddlTipoBases').val()
            }, function (d) {
                if (d.success) {
                    refreshTodasBases();
                    refreshBasesIndex();
                    alert(d.message);
                } else {
                    alert(d.message);
                }
            });
    });

    $('#btnCopiarTarifas').click(function () {
        $.get("@Url.Action("ObterCopiarTarifas_Empty", "Supplier")", { SupplierID: $('#idsupplier').val() }, function (d) {

            $('#dvcopiartarifas').html(d);
            $('#modalCopiarTarifas').modal();
        });

    });

    function refreshGridTarifasSupplier() {
        $.get("@Url.Action("ObterTarifasSupplier", "Supplier")", { Sid: $('#idsupplier').val(), idMercado: $('#ddlMercadoSppTarifas').val(), idBaseTarifaria: $('#ddlBaseSppTarifas').val(), idresponsavel: $('#ddlResponsavelSppTarifas').val() }, function (data) {
            $('#dvtarifassupplier').html(data);
        });
    }


    $('#btnAddPeriodoSpp').click(function () {
        $.get("@Url.Action("ObterPeriodoSpp_Empty", "Supplier")", function (data) {
            $('#dvperiodosupplier').html(data);
            $('#idperiodosupplier').val($('#idsupplier').val());
            $('#modalPeriodoSupplier').modal();
        });
    });

    $('#btnAddTarifaSpp').click(function () {
        $.get("@Url.Action("GetAddTarifasSpp", "Supplier")", { Sid: $('#idsupplier').val(), idMercado: $('#ddlMercadoSppTarifas').val(), idBaseTarifaria: $('#ddlBaseSppTarifas').val(), idresponsavel: $('#ddlResponsavelSppTarifas').val() }, function (data) {
            $('#dvaddtarifaperiodo').html(data);
            $('#TituloAddTarifasSpp').html("Supplier: " + $('#txtNomeSupplier').val());
            $('#modalAddTarifaPeriodo').modal();
        });
    });

    $('#btnContato').click(function () {
        $.get("@Url.Action("ObterContato_Empty", "Supplier")", { SupplierID: $('#idsupplier').val() }, function (data) {
            $('#dvcontatos').html(data);
            $('#idSupplierContato').val($('#idsupplier').val());
            $('#modalContatos').modal();
        });
    });
    function AtualizaContato() {
        $.get("@Url.Action("ObterContato_Empty", "Supplier")", { SupplierID: $('#idsupplier').val() }, function (data) {
            $('#dvcontatos').html(data);
            $('#idSupplierContato').val($('#idsupplier').val());
        });
    }

    $('#btnCondPagamento').click(function () {
        $.get("@Url.Action("ObterCondPag_Empty", "Supplier")", { SupplierID: $('#idsupplier').val() }, function (data) {
            $('#dvcondPag').html(data);
            $('#idSupplierCondPag').val($('#idsupplier').val());
            $('#modalCondPag').modal();
        });
    });
    function AtualizaCondPag() {
        $.get("@Url.Action("ObterCondPag_Empty", "Supplier")", { SupplierID: $('#idsupplier').val() }, function (data) {
            $('#dvcondPag').html(data);
            $('#idSupplierCondPag').val($('#idsupplier').val());
        });
    }

    $('#btnCategorias').click(function () {
        $.get("@Url.Action("ObterCategoriasObs_Empty", "Supplier")", { SupplierID: $('#idsupplier').val() }, function (data) {
            $('#dvcategObs').html(data);
            $('#modalCategObs').modal();
        });
    });


</script>