﻿
<form role="form" id="form-copiarServico" method="post" action="javascript:func()">

    <div class="row">
        <div class="col-md-12">
            <label for="ddlPeriodosMServicoSozinho">Período</label>
            <select id="ddlPeriodosMServicoSozinho" class="form-control">
                @foreach (var item in ViewBag.ddlPeriodosMServicoSozinho)
                {
                    <option value="@item.IdMServico">@string.Format("{0:dd/MM/yyyy}", item.MServico_DataFrom)</option>
                }
            </select>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <label for="txtDataFromCopServSoz">Data From</label>
            <input id="txtDataFromCopServSoz" type="date" class="form-control" required />
        </div>
        <div class="col-md-6">
            <label for="txtDataToCopServSoz">Data To</label>
            <input id="txtDataToCopServSoz" type="date" class="form-control" required />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <input id="txtPercent" type="text" class="form-control" placeholder="Percent" />%
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2">
            <input id="btnSalvarCopServSoz" type="submit" class="btn btn-primary" title="Salvar" value="Salvar" style="border-radius:0px;" />
        </div>
    </div>

</form>

<script type="text/javascript">

    $('#form-copiarServico').submit(function () {

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };

        $('#btnSalvarCopServSoz').html('Aguarde...');
        $('#btnSalvarCopServSoz').attr("disabled", "disabled");

        $.ajax({
            url: "@Url.Action("AdicionaMontaServicoSozinho", "Servicos")",
            data: {
                ddlPeriodosMServicoSozinho: $('#ddlPeriodosMServicoSozinho').val(),
                txtPeriodoFromCopiarMServSozinho: $('#txtDataFromCopServSoz').val(),
                txtPeriodoToCopiarMServSozinho: $('#txtDataToCopServSoz').val(), 
                percent: $('#txtPercent').val(), 
                idservico: $('#idservico').val()
            },
            type: "GET",
            success: function (d) {

                if (d.success) {
                    var $toast = toastr["success"](d.message, "Prosoftware");
                    $toastlast = $toast;                    
                }
                else {
                    var $toast = toastr["error"](d.message, "Prosoftware");
                    $toastlast = $toast;
                }

                $('#btnSalvarCopServSoz').removeAttr("disabled");
                $('#btnSalvarCopServSoz').html('Salvar');

            },
            error: function (XHR) {
                $('#btnSalvarCopServSoz').removeAttr("disabled");
                $('#btnSalvarCopServSoz').html('Salvar');
                alert(XHR);
            }
        });



    });

</script>