﻿
<form role="form" id="form-copiarServicoSub" method="post" action="javascript:func()">

    <div class="row">
        <div class="col-md-12">
            <label for="ddlPeriodosMServicoSub">Período</label>
            <select id="ddlPeriodosMServicoSub" class="form-control">
                @foreach (var item in ViewBag.ddlPeriodosMServicoSub)
                {
                    <option value="@item.IdMServico">@string.Format("{0:dd/MM/yyyy}", item.MServico_DataFrom)</option>
                }
            </select>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <label for="txtDataFromCopServSub">Data From</label>
            <input id="txtDataFromCopServSub" type="date" class="form-control" required />
        </div>
        <div class="col-md-6">
            <label for="txtDataToCopServSub">Data To</label>
            <input id="txtDataToCopServSub" type="date" class="form-control" required />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2">
            <input id="btnSalvarCopServSub" type="submit" class="btn btn-primary" title="Salvar" value="Salvar" style="border-radius:0px;" />
        </div>
    </div>

</form>

<script type="text/javascript">

    $('#form-copiarServicoSub').submit(function () {

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };

        $('#btnSalvarCopServSub').html('Aguarde...');
        $('#btnSalvarCopServSub').attr("disabled", "disabled");

        $.ajax({
            url: "@Url.Action("AdicionaMontaServicoSub", "Servicos")",
            data: {
                ddlPeriodosMServicoSub: $('#ddlPeriodosMServicoSub').val(),
                txtPeriodoFromCopiarMServSub: $('#txtDataFromCopServSub').val(),
                txtPeriodoToCopiarMServSub: $('#txtDataToCopServSub').val(),
                idservico: $('#idservico').val()
            },
            type: "GET",
            success: function (d) {

                if (d.success) {


                    PreencheTarifaCopiada(d.idMserv);

                    var $toast = toastr["success"](d.message, "Prosoftware");
                    $toastlast = $toast;
                }
                else {
                    var $toast = toastr["error"](d.message, "Prosoftware");
                    $toastlast = $toast;
                }

                $('#btnSalvarCopServSub').removeAttr("disabled");
                $('#btnSalvarCopServSub').html('Salvar');

            },
            error: function (XHR) {
                $('#btnSalvarCopServSub').removeAttr("disabled");
                $('#btnSalvarCopServSub').html('Salvar');
                alert(XHR);
            }
        });

    });


    function PreencheTarifaCopiada(IdMServ) {
        $.get("@Url.Action("EditarSubServico", "Servicos")", { IdMServico: IdMServ }, function (d) {

            if (d.success) {

                $('#IdMontaSubServicoTemporada').val(IdMServ);
                $('#NovaTemporadaSubServicoRetorno').val(1);
                $('#txtDtFromSub').val(d.fromdt);
                $('#txtDtToSub').val(d.todt);
                $('#btnCalcularSubs').show();


                $.get("@Url.Action("PopulaGridSubServAdicionados", "Servicos")", { IdServico: $('#idservico').val(), IdMServico: $('#IdMontaSubServicoTemporada').val() }, function (data) {

                    $('#dvGridSubServAdicionados').html(data);


                    $.get("@Url.Action("DataBoundGridBase", "Servicos")",
                    {
                        idsupplier: $('#idsupplierPeriodoSub').val(),
                        IdMServico: $('#IdMontaSubServicoTemporada').val(),
                        index: $('#ddlIndexBaseSub').val()
                    },
                    function (data) {
                        $('#dvGridBaseSupplierSub').html(data);

                        CalcularCopiada();
                    });


                });


            }

        });
    }


    function CalcularCopiada() {

        var i = 0;
        var str = "";
        $('#tblSubServicosAdicionados tbody tr').each(function () {

            str = str + $('#txtDeSubAdicionados_' + i).val() + "°" +
                        $('#txtParaSubAdicionados_' + i).val() + "°" +
                        $('#hdeSubAdicionados_' + i).val() + "~";

            i++;
        });

        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        $.get("@Url.Action("CalculaServico", "Servicos")",
        {
            str: str.substring(0, str.length - 1),
            idsupplier: $('#idsupplierPeriodoSub').val(),
            IdMServicoParam: $('#IdMontaSubServicoTemporada').val(),
            index: $('#ddlIndexBaseSub').val(),
            IdServico: $('#idservico').val(),
            IdMoedaBaseSubServico: $('#IdMoedaBaseSubServico').val(),
            IdSupplierSubServicoPrincipal: $('#IdSupplierSubServicoPrincipal').val()
        },
        function (d) {
            if (d.success) {
                refreshBaseSupplierServicoSub_Valores();
            }
        });

        waitingDialog.hide();

    }

</script>