﻿@model DAL.Entity.Holidays

<form role="form" id="form-holiday" method="post" action="javascript:func()">

    <input type="hidden" id="idholiday" name="Holidays_id" value="@Model.Holidays_id" />

    <div class="row">
        <div class="col-md-2">
            <label>Week Days</label><br />
            <input id="chkHolidaySeg" type="checkbox" onchange="changechkHolidays()"/> Segunda<br />
            <input id="chkHolidayTer" type="checkbox" onchange="changechkHolidays()"/> Terça<br />
            <input id="chkHolidayQua" type="checkbox" onchange="changechkHolidays()"/> Quarta<br />
            <input id="chkHolidayQui" type="checkbox" onchange="changechkHolidays()"/> Quinta<br />
            <input id="chkHolidaySex" type="checkbox" onchange="changechkHolidays()"/> Sexta<br />
            <input id="chkHolidaySab" type="checkbox" onchange="changechkHolidays()"/> Sábado<br />
            <input id="chkHolidayDom" type="checkbox" onchange="changechkHolidays()"/> Domingo<br />
        </div>
        <div class="col-md-3">
            <label>Data</label>
            <input id="txtHolidayDate" type="date" class="form-control" />
            <input id="btnAddHolidayDate" type="button" class="btn btn-primary btn-sm" title="Add" value="Add" style="border-radius:0px;" />
            <br /><br />
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <div class="col-md-12">
                            <label>Datas Cadastradas</label>
                        </div>
                        <br />
                        @foreach (var item in Model.Holidays_Dates.ToList())
                        {
                            <div class="col-md-8">
                                @string.Format("{0:dd/MM/yyyy}", item.Holidays_Dates_data)
                            </div>
                            <div class="col-md-1">
                                <button type="button" value='@item.Holidays_Dates_id' class="btn btn-sm btn-link excluirHolidayDate" title="Excluir">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </div>
                        }


                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <label>Periodo</label>
            <div class="row">
                <div class="col-md-6">
                    <input id="txtHolidayPeriodoFrom" type="date" class="form-control" />
                </div>
                <div class="col-md-6">
                    <input id="txtHolidayPeriodoTo" type="date" class="form-control" />
                </div>
            </div>
            <input id="btnAddHolidayPeriodos" type="button" class="btn btn-primary btn-sm" title="Add" value="Add" style="border-radius:0px;" />
            <br /><br />
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-12">
                            <label>Periodos Cadastrados</label>
                        </div>
                        <br />
                        @foreach (var item in Model.Holidays_Periodo.ToList())
                        {
                            <div class="col-md-5">
                                @string.Format("{0:dd/MM/yyyy}", item.HoliDays_Periodo_from)
                            </div>
                            <div class="col-md-5">
                                @string.Format("{0:dd/MM/yyyy}", item.HoliDays_Periodo_to)
                            </div>
                            <div class="col-md-1">
                                <button type="button" value='@item.HoliDays_Periodo_id' class="btn btn-sm btn-link excluirHolidayPeriodos" title="Excluir">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </div>
                                    <br />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <label for="txtRemarksHolidays">Remarks</label>
            <textarea id="txtRemarksHolidays" class="form-control" rows="5">@Model.Holidays_remarks</textarea><br />
            <input id="btnAddHolidayRemark" type="button" class="btn btn-primary btn-sm" title="Salvar Remarks" value="Salvar Remarks" style="border-radius:0px;" />
        </div>
    </div>

</form>


<script type="text/javascript">

    $('.excluirHolidayPeriodos').click(function () {
        $.get("@Url.Action("ExluirHolidaysPeriodo", "Servicos")", { HoliDays_Periodo_id: $(this).val()  }, function (d) {
            if (d.success) {
                refreshholidays();
            }
        });
    });

    $('.excluirHolidayDate').click(function () {
        $.get("@Url.Action("ExluirHolidaysDates", "Servicos")", { Holidays_Dates_id: $(this).val()  }, function (d) {
            if (d.success) {
                refreshholidays();
            }
        });
    });

    $('#btnAddHolidayRemark').click(function () {
        $.get("@Url.Action("btnSalvarHolidaysRemarks", "Servicos")", { IdHolidays: $('#idholiday').val(), remarks: $('#txtRemarksHolidays').val() }, function (d) {
            if (d.success) {
                alert(d.message);
            }
        });
    });

    function changechkHolidays() {
        $.get("@Url.Action("btnSalvarHolidays", "Servicos")", { IdHolidays: $('#idholiday').val(), chkSeg: $('#chkHolidaySeg').is(":checked"), chkTer: $('#chkHolidayTer').is(":checked"), chkQua: $('#chkHolidayQua').is(":checked"), chkQui: $('#chkHolidayQui').is(":checked"), chkSex: $('#chkHolidaySex').is(":checked"), chkSab: $('#chkHolidaySab').is(":checked"), chkDom: $('#chkHolidayDom').is(":checked") }, function (d) {
            if (d.success) {
                alert(d.message);
            }
        });
    }

    $('#btnAddHolidayDate').click(function () {
        $.get("@Url.Action("btnSalvarDate", "Servicos")", { txtdataFooter: $('#txtHolidayDate').val(), IdHolidays: $('#idholiday').val()  }, function (d) {
            if (d.success) {
                alert(d.message);
                refreshholidays();
                $('#txtHolidayDate').val("");
            }
        });
    });

    $('#btnAddHolidayPeriodos').click(function () {
        $.get("@Url.Action("btnSalvarPeriodosHolidays", "Servicos")", { txtdataFromFooter: $('#txtHolidayPeriodoFrom').val(), txtdataToFooter: $('#txtHolidayPeriodoTo').val() , IdHolidays: $('#idholiday').val()  }, function (d) {
            if (d.success) {
                alert(d.message);
                refreshholidays();
                $('#txtHolidayPeriodoFrom').val("");
                $('#txtHolidayPeriodoTo').val("");
            }
        });
    });

    function refreshholidays() {
        $.get("@Url.Action("PopulaHolidays", "Servicos")", { idServico: $('#idservico').val() }, function (d) {
            $('#dvholiday').html(d);
        });
    }

    if ('@Model.Holidays_seg' == 'True'){
            $('#chkHolidaySeg').attr("checked", "true");
        }else{
            $('#chkHolidaySeg').removeAttr("checked");
    }

     if('@Model.Holidays_ter' == 'True'){
         $('#chkHolidayTer').attr("checked", "true");
        }else{
         $('#chkHolidayTer').removeAttr("checked");
    }

    if('@Model.Holidays_qua' == 'True'){
        $('#chkHolidayQua').attr("checked", "true");
        }else{
        $('#chkHolidayQua').removeAttr("checked");
     }

    if('@Model.Holidays_qui' == 'True'){
        $('#chkHolidayQui').attr("checked", "true");
        }else{
        $('#chkHolidayQui').removeAttr("checked");
    }

    if('@Model.Holidays_sex' == 'True'){
        $('#chkHolidaySex').attr("checked", "true");
        }else{
        $('#chkHolidaySex').removeAttr("checked");
    }

    if('@Model.Holidays_sab' == 'True'){
        $('#chkHolidaySab').attr("checked", "true");
        }else{
        $('#chkHolidaySab').removeAttr("checked");
    }

    if('@Model.Holidays_dom' == 'True'){
        $('#chkHolidayDom').attr("checked", "true");
        }else{
        $('#chkHolidayDom').removeAttr("checked");
    }

</script>
