﻿@model IEnumerable<DAL.Models.PeriodosCadastradosSozinhoModel>

<table class="table table-bordered table-striped">

    <thead>

        <tr>
            <th><small>From</small></th>
            <th><small>To</small></th>
            <th><small>Categoria</small></th>
            <th><small>Mercado</small></th>
            <th><small>Obs</small></th>
        </tr>

    </thead>

    <tbody>
        @{ int i = 0; }
        @foreach (var item in Model)
        {
            <tr>
                <td><small>@string.Format("{0:dd/MM/yyyy}", item.MServico_DataFrom)</small></td>
                <td><small>@string.Format("{0:dd/MM/yyyy}", item.MServico_DataTo)</small></td>
                <td><small>@item.Tipo_categ_nome</small></td>
                <td><small>@item.Mercado_nome</small></td>
                <td><small>@item.MServico_Obs</small></td>
                <td>
                    <input type="hidden" id="parametros_@i" value='@string.Format("{0},{1},{2},{3},{4}", item.IdMServico, item.Mercado_id, item.BaseTarifaria_id, item.TipoBase_id, item.Moeda_id)' />
                    <button type="button" value='@item.IdMServico°@i' class="btn btn-xs btn-success editarPeriodo" title="Editar"><span class="glyphicon glyphicon-pencil"></span></button>
                    <button type="button" value="@item.IdMServico" class="btn btn-xs btn-danger deletarPeriodo" title="Deletar"><span class="glyphicon glyphicon-trash"></span></button>
                </td>
            </tr>
            i++;
        }
    </tbody>

</table>


<script type="text/javascript">

    $('.editarPeriodo').click(function () {

        var arr = $(this).val().split('°');
        var param = $('#parametros_' + arr[1]).val();

        $.get("@Url.Action("EditarMServico", "Servicos")", { parametros: param, idservico: $('#idservico').val() }, function (d) {

            if (d.success) {

                $('#txtDtFrom').val(d.modelo.from);
                $('#txtDtTo').val(d.modelo.to);

                $('#txtPorcentagemTaxa').val(d.modelo.txtPorcentagemTaxa.replace(',','.'));
                $('#txtPorcentagemImposto').val(d.modelo.txtPorcentagemImposto1.replace(',', '.'));
                $('#txtComissao').val(d.modelo.txtComissao.replace(',', '.'));
                $('#txtObsPeriodo').val(d.modelo.txtObs);
                $('#ddlIndexBase').val(d.modelo.index);

                $('#ddlMercadoBasePeriodo').val(d.modelo.ddlMercadoFiltro_Base);
                $('#ddlBaseBasePeriodo').val(d.modelo.ddlBaseTarifariaFiltro_Base);
                $('#ddlTipoBasePeriodo').val(d.modelo.ddlTipoBase_Base);
                $('#ddlMoedaPeriodo').val(d.modelo.ddlMoedaFiltro_Base);

                $('#txtCodMServicoSozinho').val(d.modelo.txtCodMServicoSozinho);


                $.get("@Url.Action("PopulaGridServicoSozinho", "Servicos")",
                {
                    txtCodMServicoSozinho: 0,
                    index: $('#ddlIndexBase').val(),
                    txtSupplierMontaServico: $('#txtNomeSupplier').val(),
                    ddlMercadoFiltro_Base: $('#ddlMercadoBasePeriodo').val(),
                    ddlBaseTarifariaFiltro_Base: $('#ddlBaseBasePeriodo').val(),
                    ddlMoedaFiltro_Base: $('#ddlMoedaPeriodo').val(),
                    ddlTipoBase_Base: $('#ddlTipoBasePeriodo').val()
                },
                function (data) {
                    $('#dvGridBaseSupplierServicoSozinho').html(data);                    

                    
                    var lst = d.modeloDados.split('~');
                    for (var p = 0; p < lst.length; p++) {

                        var pars = lst[p].split('°');
                        var l = 0;
                        $('#tblBasesSSS tbody tr').each(function () {

                            if ($('#BASEIDSSS_' + l).val() == pars[0]) {

                                if (pars[1] == "Valor") {

                                    $('#totalBaseSozinha_' + l).show();
                                    $('#valorBaseSozinha_' + l).show();
                                    $('#categoriaBSSS_' + l).css("display", "none");                                    
                                    $('#valorBaseSozinha_' + l).val(pars[3].replace(',', '.'));
                                    $('#totalBaseSozinha_' + l).html(pars[4].replace(',', '.'));
                                    $('#txtValorServicoSozinhoVenda_' + l).val(pars[5].replace(',', '.'));
                                    $('#tipocadastroBSSS_' + l).val('0°'+l);

                                } else {
                                    $('#totalBaseSozinha_' + l).hide();
                                    $('#totalBaseSozinha_' + l).html("");
                                    $('#valorBaseSozinha_' + l).hide();
                                    $('#valorBaseSozinha_' + l).val("");
                                    $('#categoriaBSSS_' + l).css("display", "block");                                   
                                    $('#categoriaBSSS_' + l).val(pars[3]);
                                    $('#tipocadastroBSSS_' + l).val('1°' + l);                                   
                                }

                                $('#MServicosVlrs_' + l).val(pars[2]);
                            }

                            l++;
                        });
                    }

                });               
               

            }

        });

        $('#modalPeriodosCadastradosSozinho').modal('hide');
    });


    $('.deletarPeriodo').click(function () {

        var result = window.confirm('Deseja deletar esse periodo, tudo relacionado a ele será excluido?');
        if (result == false) {
            e.preventDefault();
            return;
        };

        $.get("@Url.Action("ExcluirTarifas", "Servicos")", { myid: $(this).val() }, function (d) {
            if (d.success) {
                alert(d.message);
                refreshGridCadastradosSozinho();
            }
        });

    });


</script>