﻿@model IEnumerable<DAL.Models.GridServPorSuppModel>


<table id="tblGridServPorSupp" class="table table-bordered table-striped">

    <thead>

        <tr>
            <th><small>Serviço</small></th>
            <th><small>From</small></th>
            <th><small>To</small></th>
        </tr>

    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><small>@item.Servicos_Nome</small></td>
                <td><small>@string.Format("{0:dd/MM/yyyy}", item.MServico_DataFrom)</small></td>
                <td><small>@string.Format("{0:dd/MM/yyyy}", item.MServico_DataTo)</small></td>
            </tr>
        }
    </tbody>

</table>


<script type="text/javascript">

    $('#tblGridServPorSupp').each(function () {
        var Column_number_to_Merge = 1;
       
        var Previous_TD = null;
        var i = 1;
        $("tbody", this).find('tr').each(function () {           
            var Current_td = $(this).find('td:nth-child(' + Column_number_to_Merge + ')');

            if (Previous_TD == null) {              
                Previous_TD = Current_td;
                i = 1;
            }
            else if (Current_td.text() == Previous_TD.text()) {               
                Current_td.remove();               
                Previous_TD.attr('rowspan', i + 1);
                i = i + 1;
            }
            else {                
                Previous_TD = Current_td;
                i = 1;
            }
        });
    });

</script>