﻿@model IEnumerable<DAL.Models.GridCadastradosSubModel>


<table class="table table-bordered table-striped">

    <thead>

        <tr>
            <th><small>Temporada</small></th>
            <th><small>Supplier</small></th>
            <th><small>Editar</small></th>
        </tr>

    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <small>
                        Data From: @string.Format("{0:dd/MM/yyyy}", item.MServico_DataFrom)<br />
                        Data To: @string.Format("{0:dd/MM/yyyy}", item.MServico_DataTo)
                    </small>
                </td>
                <td>
                    <small>
                        @item.S_nome<br />
                        @item.S_email
                    </small>
                </td>
                <td>
                    <button type="button" value='@item.IdMServico' class="btn btn-xs btn-success editarPeriodoSub" title="Editar"><span class="glyphicon glyphicon-pencil"></span></button>
                    <button type="button" value="@item.IdMServico" class="btn btn-xs btn-danger deletarPeriodoSub" title="Deletar"><span class="glyphicon glyphicon-trash"></span></button>
                </td>
            </tr>
        }
    </tbody>

</table>


<script type="text/javascript">

    $('.editarPeriodoSub').click(function () {

        var id = $(this).val();

        $.get("@Url.Action("EditarSubServico", "Servicos")", { IdMServico: $(this).val() }, function (d) {

            if (d.success) {

                $('#IdMontaSubServicoTemporada').val(id);

                $('#NovaTemporadaSubServicoRetorno').val(1);
                $('#txtDtFromSub').val(d.fromdt);
                $('#txtDtToSub').val(d.todt);

                $('#btnCalcularSubs').show();

                refreshgridsubservicosadicionados();
                refreshBaseSupplierServicoSub_Valores();

                $('#modalListPeriodosSubCadastrados').modal('hide');
            }

        });

    });

    $('.deletarPeriodoSub').click(function () {

        var result = window.confirm('Excluindo esse periodo, todas as tarifas do mesmo também serão excluídas. Confirma?');
        if (result == false) {
            e.preventDefault();
            return;
        };

        $.get("@Url.Action("ExluirSubServico", "Servicos")", { IdMServico: $(this).val() }, function (d) {

            if (d.success) {
                alert(d.message);

                $.get("@Url.Action("PopulaGridSubCadastrados", "Servicos")", { IdSupplier: $('#idsupplierPeriodoSub').val(), IdServico: $('#idservico').val() }, function (data) {
                    $('#dvPeriodosSubCadastrados').html(data);                   
                });
              
            }

        });

    });

</script>