﻿@model IEnumerable<DAL.Models.PeriodoSimplesModel>


<table class="table table-bordered table-striped">

    <thead>

        <tr>
            <th><small>Supplier</small></th>
            <th><small>From</small></th>
            <th><small>To</small></th>
        </tr>

    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><small>@item.S_nome</small></td>
                <td><small>@string.Format("{0:dd/MM/yyyy}", item.MServico_DataFrom)</small></td>
                <td><small>@string.Format("{0:dd/MM/yyyy}", item.MServico_DataTo)</small></td>
            </tr>
        }
    </tbody>

</table>
