﻿@model IEnumerable<DAL.Entity.Servico_Completo>


<table id="tblSubServicosAdicionados" class="table table-bordered table-striped">

    <thead>

        <tr>
            <th><small>Serviço</small></th>
            <th><small>Nome Fantasia</small></th>
            <th><small>De</small></th>
            <th><small>Para</small></th>
            <th><small>Index</small></th>
            <th><small>Del</small></th>
        </tr>

    </thead>

    <tbody>
        @{ int i = 0; }
        @foreach (var item in Model)
        {
            <tr id="trSubAdicionados_@i">
                <td><small>@item.Monta_Servico.ItemSubServico.ItemSubServico_nome - @item.Monta_Servico.SubItem.SubItem_nome</small></td>
                <td><small>@item.Monta_Servico.Supplier.S_nome</small></td>
                <td><small> <input id="txtDeSubAdicionados_@i" type="text" class="form-control" value="@item.ServicoCompleto_de" /> </small></td>
                <td><small> <input id="txtParaSubAdicionados_@i" type="text" class="form-control" value="@item.ServicoCompleto_ate" /> </small></td>
                <td>
                    <small>
                        @item.Base_Index

                        <input type="hidden" id="hdeSubAdicionados_@i" value="@item.ServicoCompleto_id°@item.Monta_Servico.IdMServico°@item.Monta_Servico.Supplier.S_id" />
                    </small>
                </td>
                <td>
                    <button id="btnDeletarSubInto" type="button" value="@item.Monta_Servico.IdMServico°@item.IdMServico_Temporada°@item.Base_Index" class="btn btn-xs btn-danger deletarSubServInto" title="Deletar"><span class="glyphicon glyphicon-trash"></span></button>
                </td>
            </tr>
            i++;
        }
    </tbody>

</table>

<script type="text/javascript">

    $('.deletarSubServInto').click(function () {

        var pars = $(this).val().split('°');

        $.get("@Url.Action("ExluirServCompleto", "Servicos")", { IdMServico: pars[0], IdMServico_Temporada: pars[1], Base_Index: pars[2] }, function (d) {
            refreshgridsubservicosadicionados();
            atualizaGridSubs();
            refreshBaseSupplierServicoSub_Valores();
        });

    });

</script>
