﻿@model IEnumerable<DAL.Models.GridBasesSubModel>


<input id="idsupplierPeriodoSub" type="hidden" value="@TempData["idSupplierSub"]" />
<input id="IdMoedaBaseSubServico" type="hidden" value="@ViewBag.IdMoedaBaseSubServico" />
<input id="IdSupplierSubServicoPrincipal" type="hidden" value="@ViewBag.IdSupplierSubServicoPrincipal" />

<div class="row">
    <div class="col-md-6">
        <label>Moeda</label>
        <strong>@ViewBag.lblMoedaBaseSubServ</strong>
    </div>
</div>
<br />

<table class="table table-bordered table-striped">

    <thead>

        <tr>
            <th><small>De</small></th>
            <th><small>Para</small></th>
            <th><small>Total</small></th>
        </tr>

    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><small>@item.Base_de</small></td>
                <td><small>@item.Base_ate</small></td>
                <td>
                    <small>
                        @item.lblValorBase
                    </small>
                </td>
            </tr>
        }
    </tbody>

</table>
