﻿@model IEnumerable<DAL.Entity.S_Bases>

<input id="idsupplierPeriodoSSS" type="hidden" value="@TempData["idSupplier"]" />

<table id="tblBasesSSS" class="table table-bordered table-striped">

    <thead>

        <tr>
            <th><small>De</small></th>
            <th><small>Para</small></th>
            <th><small>Tipo Cadastro</small></th>
            <th><small>Preço / Total</small></th>
            <th><small>Valor Venda</small></th>
        </tr>

    </thead>

    <tbody>
        @{ int i = 0; }

        @foreach (var item in Model)
        {            
            <tr id="trSSS_@i">
                <td><small>@item.Base_de</small></td>
                <td><small>@item.Base_ate</small></td>
                <td>
                    <input type="hidden" id="BASEIDSSS_@i" value="@item.Base_id" />
                    <input type="hidden" id="MServicosVlrs_@i" value="0" />
                    <small>
                        <select id="tipocadastroBSSS_@i" class="form-control small tipocadastroBSSS">
                            <option Value="0°@i">Valor</option>
                            <option Value="1°@i">Status</option>
                        </select>
                    </small>
                </td>
                <td>
                    <div class="row">
                        <div class="col-md-8">
                            <select id="categoriaBSSS_@i" class="form-control small" style="display:none;">
                                @foreach (var itemTC in ViewBag.tipoCadastroBSSS)
                                {
                                    <option value="@itemTC.S_mercado_tarifa_status_id">@itemTC.S_mercado_tarifa_status_nome</option>
                                }
                            </select>

                            <input id="valorBaseSozinha_@i" class="form-control small" type="text" value="" onkeyup="changevalor(@i)" />
                        </div>
                        <div class="col-md-4">
                            <small id="totalBaseSozinha_@i"></small>
                        </div>                      
                    </div>
                </td>
                <td>
                    <div class="row">
                        <div class="col-md-6">
                            <input id="txtValorServicoSozinhoVenda_@i" class="form-control small" type="text" value="" />
                        </div>
                    </div>
                </td>
            </tr>
            i++;
        }
    </tbody>

</table>


<script type="text/javascript">

    $('.tipocadastroBSSS').change(function(){
       
        var arr = $(this).val().split('°');

        if (arr[0] == 1) {

            $('#totalBaseSozinha_' + arr[1]).hide();
            $('#totalBaseSozinha_' + arr[1]).html("");
            $('#valorBaseSozinha_' + arr[1]).hide();
            $('#valorBaseSozinha_' + arr[1]).val("");

            $('#categoriaBSSS_' + arr[1]).css("display", "block");

        } else {

            $('#totalBaseSozinha_' + arr[1]).show();
            $('#valorBaseSozinha_' + arr[1]).show();
            $('#categoriaBSSS_' + arr[1]).css("display", "none");
        }

    });

    function changevalor(i) {
        
        var val = $('#valorBaseSozinha_' + i).val();

        if (val.indexOf(",") > -1)
        {
            alert('Favor utilizar ponto(.) ao invés de virugla(,). Exemplo 240.70');
            $('#valorBaseSozinha_' + i).val("");
            $('#totalBaseSozinha_' + i).html("");
            return false;
        }
        
        if (val != "") {
            $.get("@Url.Action("CalculaTaxas", "Servicos")", { valorBaseSozinha: val, txtPorcentagemTaxa: $('#txtPorcentagemTaxa').val(), txtPorcentagemImposto: $('#txtPorcentagemImposto').val(), txtComissao: $('#txtComissao').val() }, function (d) {

                if (d.success) {
                    $('#totalBaseSozinha_' + i).html(d.tot);
                }
            });
        }

        if(val == "")
        {
            $('#totalBaseSozinha_' + i).html("");
        }
    }   

    function changevalortodos() {
        var i = 0;
        $('#tblBasesSSS tbody tr').each(function () {
           
            if ($('#valorBaseSozinha_' + i).val() != "") {
                AcertaTotal(i);
            }
            i++;
        });
    }

    function AcertaTotal(i) {
        $.get("@Url.Action("CalculaTaxas", "Servicos")", { valorBaseSozinha: $('#valorBaseSozinha_' + i).val(), txtPorcentagemTaxa: $('#txtPorcentagemTaxa').val(), txtPorcentagemImposto: $('#txtPorcentagemImposto').val(), txtComissao: $('#txtComissao').val() }, function (d) {
            if (d.success) {
                $('#totalBaseSozinha_' + i).html(d.tot);               
            }
        });
    }

</script>