﻿@model DAL.Entity.S_Servicos

<form role="form" id="form-servico" method="post" action="javascript:func()">

    <input type="hidden" id="idservico" name="Servicos_Id" value="@Model.Servicos_Id" />

    <div class="col-md-4">

        <div class="row">
            <div class="col-md-12">
                <label for="txtNomeServico">Nome Serviço</label>
                <input id="txtNomeServico" type="text" name="Servicos_Nome" class="form-control" placeholder="Nome do Serviço" required value="@Model.Servicos_Nome" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <input id="chkSIBservico" type="checkbox" value="@Model.SIB" /> SIB
                <input type="hidden" id="HDchkSIBservico" value="false" name="SIB" />
            </div>
            <div class="col-md-6">
                <input id="chkRecommended" type="checkbox" value="@Model.Recommended" /> Recommended
                <input type="hidden" id="HDchkRecommended" value="false" name="Recommended" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6">
                <label for="ddlStatusCadastro">Status</label>
                <select id="ddlStatusCadastro" class="form-control" name="STATUS_id">
                    <option value="0">Selecione</option>
                    @foreach (var item in ViewBag.StatusFiltro)
                    {
                    <option value="@item.STATUS_id">@item.STATUS_nome</option>
                    }
                </select>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6">
                <label for="ddlTipoServicoCadastro">Tipo Servico</label>
                <select id="ddlTipoServicoCadastro" class="form-control" onchange="refreshCategoriasCadastro()" name="Tipo_Id">
                    <option value="0">Selecione</option>
                    @foreach (var item in ViewBag.TipoServicoFiltro)
                    {
                    <option value="@item.Tipo_Id">@item.Tipo_Nome</option>
                    }
                </select>
            </div>
            <div class="col-md-6">
                <label for="ddlCategoriaCadastro">Categoria</label>
                <select id="ddlCategoriaCadastro" class="form-control" name="Tipo_categ_id">
                    <option value="0">Selecione um tipo de serviço</option>
                </select>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6">
                <label for="ddlPaisCadastro">País</label>
                <select id="ddlPaisCadastro" class="form-control" name="Pais_Id" onchange="ChangePaisServico()">
                    <option value="0">Selecione</option>
                    @foreach (var item in ViewBag.PaisCadastro)
                    {
                    <option value="@item.PAIS_id">@item.PAIS_nome</option>
                    }
                </select>
            </div>
            <div class="col-md-6">
                <label for="ddlCidadeCadastro">Cidade</label>
                <select id="ddlCidadeCadastro" class="form-control" name="Cid_Id">
                    <option value="0">Selecione</option>
                    @foreach (var item in ViewBag.CidadeCadastro)
                    {
                    <option value="@item.CID_id">@item.CID_nome</option>
                    }
                </select>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2">
                <input id="btnSalvarServico" type="submit" class="btn btn-primary btn-sm" title="Salvar" value="Salvar" style="border-radius:0px;" />
            </div>
            <div class="col-md-2">
                <input id="btnExcluirServico" type="button" class="btn btn-primary btn-sm" title="Excluir" value="Excluir" style="border-radius:0px;" />
            </div>
            <div class="col-md-2">
                <input id="btnNovoServico" type="button" class="btn btn-primary btn-sm" title="Novo" value="Novo" style="border-radius:0px;" />
            </div>
            <div class="col-md-1">
                <input id="btnOpenImprimirTarifario" type="button" class="btn btn-primary btn-sm" title="Tarifário" value="Tarifário" style="border-radius:0px;" />
            </div>
        </div>

    </div>

    <div class="col-md-8">

        <div class="row">
            <div class="col-md-12">

                <div class="row">
                    <div class="col-md-2">
                        <input id="btnAddFotosServ" type="button" class="btn btn-primary btn-sm" title="Enviar Fotos" value="Enviar Fotos" style="border-radius:0px;" />
                    </div>
                    <div class="col-md-1">
                        <input id="btnFotosServ" type="button" class="btn btn-primary btn-sm" title="Fotos" value="Fotos" style="border-radius:0px;" />
                    </div>
                    <div class="col-md-2">
                        <input id="btnInfoServ" type="button" class="btn btn-primary btn-sm" title="Info Serviço" value="Info Serviço" style="border-radius:0px;" />
                    </div>
                    <div class="col-md-2">
                        <input id="btnOpenHoliday" type="button" class="btn btn-primary btn-sm" title="Holidays" value="Holidays" style="border-radius:0px;" />
                    </div>
                </div>
                <br />              

                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tabDesc_1" data-toggle="tab">Descrição Completa</a></li>
                        <li><a href="#tabDesc_2" data-toggle="tab">Descrição Curta</a></li>
                        <li><a href="#tabDesc_3" data-toggle="tab">Observação</a></li>
                    </ul>
                    <div class="tab-content">

                        <div class="tab-pane active" id="tabDesc_1">

                            <textarea id="DescrCompleta" class="summernote form-control"></textarea>
                            <textarea id="DescrCompletaTXT" style="display: none;">@Model.Servicos_descr</textarea>
                            <input id="DescrCompletahtml" type="hidden" name="Servicos_descr" />
                        </div>

                        <div class="tab-pane" id="tabDesc_2">

                            <textarea id="DescrCurta" class="summernote form-control"></textarea>
                            <textarea id="DescrCurtaTXT" style="display: none;">@Model.Servicos_descrCurt</textarea>
                            <input id="DescrCurtahtml" type="hidden" name="Servicos_descrCurt" />
                        </div>

                        <div class="tab-pane" id="tabDesc_3">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="txtremarksServ">Remarks</label>
                                    <textarea id="txtremarksServ" class="summernote form-control"></textarea>
                                    <textarea id="txtremarksServTXT" style="display: none;">@Model.Servicos_descrRemarks</textarea>
                                    <input id="txtremarksServhtml" type="hidden" name="Servicos_descrRemarks" />

                                    
                                    @*<textarea id="txtremarksServ" class="form-control" rows="10" name="Servicos_descrRemarks">@Model.Servicos_descrRemarks</textarea>*@
                                </div>
                                <div class="col-md-6">
                                    <label for="txtInfoClienteServ">Infos do Cliente</label>
                                    <textarea id="txtInfoClienteServ" class="summernote form-control"></textarea>
                                    <textarea id="txtInfoClienteServTXT" style="display: none;">@Model.Servicos_descrCliente</textarea>
                                    <input id="txtInfoClienteServhtml" type="hidden" name="Servicos_descrCliente" />

                                    @*<textarea id="txtInfoClienteServ" class="form-control" rows="10" name="Servicos_descrCliente">@Model.Servicos_descrCliente</textarea>*@
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="txtInfoVoucherServ">Infos do Voucher</label>
                                    <textarea id="txtInfoVoucherServ" class="summernote form-control"></textarea>
                                    <textarea id="txtInfoVoucherServTXT" style="display: none;">@Model.Servicos_descrVoucher</textarea>
                                    <input id="txtInfoVoucherServhtml" type="hidden" name="Servicos_descrVoucher" />

                                    @*<textarea id="txtInfoVoucherServ" class="form-control" rows="10" name="Servicos_descrVoucher">@Model.Servicos_descrVoucher</textarea>*@
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>

    </div>

</form>


<script type="text/javascript">

    $('#btnOpenHoliday').click(function () {
        $.get("@Url.Action("PopulaHolidays", "Servicos")", { idServico: $('#idservico').val() }, function (d) {
            $('#dvholiday').html(d);            
            $('#modalHoliday').modal();
        });        
    });

    $('#btnInfoServ').click(function () {
        var home = 'http://sp.southamerica.travel/NewTierra/Pages/Servicos/InfoServico.aspx?IdServico=' + $('#idservico').val();
        javascript: window.open(home);
    });

    $('#btnAddFotosServ').click(function () {
        $('#modalUpdFotosServico').modal();
    });

    $('#btnFotosServ').click(function () {

        $.get("@Url.Action("CarregarFotos", "Servicos")", { idServico: $('#idservico').val() }, function (d) {
            $('#dvfotosservico').html(d);
            $('#modalFotosServico').modal();
        });
    });

    $('.summernote').summernote({
        minHeight: 250,
        minwidth: 550
    });
    $('#DescrCompleta').summernote('code', $('#DescrCompletaTXT').val());
    $('#DescrCurta').summernote('code', $('#DescrCurtaTXT').val());

    $('#txtremarksServ').summernote('code', $('#txtremarksServTXT').val());
    $('#txtInfoClienteServ').summernote('code', $('#txtInfoClienteServTXT').val());
    $('#txtInfoVoucherServ').summernote('code', $('#txtInfoVoucherServTXT').val());
    

    $('#btnOpenImprimirTarifario').click(function(){
        $('#modalReportServico').modal();
    });

    if(@Model.Servicos_Id != 0){

        $('#ddlStatusCadastro').val(@Model.STATUS_id);

        $('#ddlTipoServicoCadastro').val(@Model.Tipo_Id);
        $.get("@Url.Action("refreshctegoriasfiltro", "Servicos")", { idTipoServico: $('#ddlTipoServicoCadastro').val() }, function (data) {
            $('#ddlCategoriaCadastro').html(data);
            $('#ddlCategoriaCadastro').val(@Model.Tipo_categ_id);
        });


        $('#ddlTipoServicoPeriodo').val(@Model.Tipo_Id);
        $.get("@Url.Action("refreshctegoriasfiltro", "Servicos")", { idTipoServico: $('#ddlTipoServicoPeriodo').val() }, function (data) {
            $('#ddlCategoriaPeriodo').html(data);
            $('#ddlCategoriaPeriodo').val(@Model.Tipo_categ_id);
        });


        $('#ddlPaisCadastro').val(@Model.Pais_Id);
        $.get("@Url.Action("ObterCidadesServicoDrop", "Servicos")", { idPais: $('#ddlPaisCadastro').val() }, function (data) {
            $('#ddlCidadeCadastro').html(data);
            $('#ddlCidadeCadastro').val(@Model.Cid_Id);
        });


        if('@Model.SIB' == 'True'){
            $('#chkSIBservico').attr("checked", "true");
            $('#HDchkSIBservico').val("True");
        }else{
            $('#chkSIBservico').removeAttr("checked");
            $('#HDchkSIBservico').val("False");
        }

        if('@Model.Recommended' == 'True'){
            $('#chkRecommended').attr("checked", "true");
            $('#HDchkRecommended').val("True");
        }else{
            $('#chkRecommended').removeAttr("checked");
            $('#HDchkRecommended').val("False");
        }
    }

    function refreshCategoriasCadastro() {
        $('#ddlCategoriaCadastro').html("Aguarde");
        $.get("@Url.Action("refreshctegoriasfiltro", "Servicos")", { idTipoServico: $('#ddlTipoServicoCadastro').val() }, function (data) {
            $('#ddlCategoriaCadastro').html(data);
        });
    }

    function ChangePaisServico() {
        $('#ddlCidadeCadastro').html('<option value=\'0\'> Aguarde...</option>');
        $.ajax({
            url: "@Url.Action("ObterCidadesServicoDrop", "Servicos")",
            data: { idPais: $('#ddlPaisCadastro').val() },
            type: "GET",
            success: function (data) {
                $('#ddlCidadeCadastro').html(data);
            },
            error: function (xhr) {
                alert(xhr);
            }
        });
    }

    $('#chkSIBservico').change(function () {
        if ($(this).is(":checked")) {
            $('#HDchkSIBservico').val("true");
        } else {
            $('#HDchkSIBservico').val("false");
        }

        //alert($('#HDchkSIBservico').val());
    });
    $('#chkRecommended').change(function () {
        if ($(this).is(":checked")) {
            $('#HDchkRecommended').val("true");
        } else {
            $('#HDchkRecommended').val("false");
        }

        //alert($('#HDchkRecommended').val());
    });

    $('#btnNovoServico').click(function(){
        window.location.href = window.location.href;
    });

    $('#btnExcluirServico').click(function(){

        var result = window.confirm('Excluindo esse serviço, todos as tarifas, fotos e infos do mesmo também serão excluídas. Confirma?');
        if (result == false) {
            e.preventDefault();
            return;
        };

        $.get("@Url.Action("ExcluirServico", "Servicos")", { idServico: $('#idservico').val() }, function (d) {
            if(d.success){
                alert('Serviços excçuido com sucesso.');
                window.location.href = window.location.href;
            }
        });

    });

    $('#form-servico').submit(function () {

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        $('#DescrCompletahtml').val(escape($('#DescrCompleta').summernote('code')));
        $('#DescrCurtahtml').val(escape($('#DescrCurta').summernote('code')));

        $('#txtremarksServhtml').val(escape($('#txtremarksServ').summernote('code')));
        $('#txtInfoClienteServhtml').val(escape($('#txtInfoClienteServ').summernote('code')));
        $('#txtInfoVoucherServhtml').val(escape($('#txtInfoVoucherServ').summernote('code')));
       

        //alert("Recomm - " + $('#HDchkRecommended').val());
        //alert("SIB - " + $('#HDchkSIBservico').val());


        var mod = $(this).serialize();

        $.ajax({
            url: "@Url.Action("SalvarServico", "Servicos")",
            data: mod,
            type: "POST",
            success: function (d) {
                if (d.success) {
                    var $toast = toastr["success"](d.message, "Prosoftware");
                    $toastlast = $toast;

                    $('#idservico').val(d.cod);
                }
                else {
                    var $toast = toastr["error"](d.message, "Prosoftware");
                    $toastlast = $toast;
                }
                waitingDialog.hide();
            },
            error: function (XHR) {
                waitingDialog.hide(); alert(XHR);
            }
        });
    });

</script>