﻿
<div class="row">
    <div class="col-md-12">

        <div class="row">
            <div class="col-md-12">
                <label for="txtSupplierSelectSub">Supplier:</label>
                <input id="txtSupplierSelectSub" type="text" class="form-control" value="@ViewBag.SppPesqSubs" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                Base Principal: <input id="optSubBaseIndex" name="optSubBaseIndex" type="radio" checked="checked" value="1" onchange="RefreshGridSubPorSupp()" />
                Base 2: <input id="optSubBaseIndex" name="optSubBaseIndex" type="radio" value="2" onchange="RefreshGridSubPorSupp()" />
                Base 3: <input id="optSubBaseIndex" name="optSubBaseIndex" type="radio" value="3" onchange="RefreshGridSubPorSupp()" />
            </div>
        </div>
        <br />
        <div id="waitSubGridSpp"></div>
        @if (ViewBag.GridMServicos != null)
        {
            <div class="row">
                <div class="col-md-12">

                    <table id="tblSubsPorSupplier" class="table table-bordered table-striped">

                        <thead>
                            <tr>
                                <th>Data From</th>
                                <th>Data To</th>
                                <th>Item SubServiço</th>
                                <th>Sub Item</th>
                                <th>Moeda</th>
                                <th>Obs</th>
                                <th>Index</th>
                                <th>Add</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in ViewBag.GridMServicos)
                            {
                                <tr>
                                    <td>@string.Format("{0:dd/MM/yyyy}", item.MServico_DataFrom)</td>
                                    <td>@string.Format("{0:dd/MM/yyyy}", item.MServico_DataTo)</td>
                                    <td>@item.ItemSubServico</td>
                                    <td>@item.SubItem</td>
                                    <td>@item.Moeda_sigla</td>
                                    <td>@item.MServico_Obs</td>
                                    <td>@item.Base_index</td>
                                    <td><button type="button" value="@item.IdMServico" class="btn btn-link addSubServicoModal" title="Adicionar"><i class="fa fa-plus-square" aria-hidden="true"></i></button></td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        }

    </div>
</div>

<script type="text/javascript">

    $('input:radio[name="optSubBaseIndex"]').filter('[value="@ViewBag.IndexSelect"]').attr('checked', true);

    $('#txtSupplierSelectSub').autocomplete({
        source: "@Url.Action("ObterSuppliers", "Servicos")",
        minLength: 3,
        select: function (e, ui) {
            $("#waitSubGridSpp").html('<img src="/images/icon/material_loader.gif" alt="Wait" />');
            $('#txtSupplierSelectSub').val(ui.item.value);
            RefreshGridSubPorSupp();
        }
    });


    function RefreshGridSubPorSupp() {
        $("#waitSubGridSpp").html('<img src="/images/icon/material_loader.gif" alt="Wait" />');

        $.get("@Url.Action("UpdateGridSubs", "Servicos")", {
            spp: $('#txtSupplierSelectSub').val(),
            dtFrom: $('#txtDtFromSub').val(),
            dtTo: $('#txtDtToSub').val(),
            indexBase: $("input[name='optSubBaseIndex']:checked").val()
        }, function (data) {
            $('#dvsubservicosmodal').html(data);
        });
    }

    $('.addSubServicoModal').click(function () {

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };

        $.get("@Url.Action("EditarMServico_Add", "Servicos")", {
            IdServico: $('#idservico').val(),
            idMSTemporada: $('#IdMontaSubServicoTemporada').val(),
            rdoBasesIndexSubServico: $("input[name='optSubBaseIndex']:checked").val(),
            idMServico: $(this).val()
        }, function (d) {
           
            if (d.success) {
                var $toast = toastr["success"](d.message, "Prosoftware");
                $toastlast = $toast;
                refreshgridsubservicosadicionados();
            } else {
                var $toast = toastr["error"](d.message, "Prosoftware");
                $toastlast = $toast;
            }

        });

    });


</script>