﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Info Services</title>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.lightbox-0.5.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/jquery.lightbox-0.5.js"></script>


    <style type="text/css">
        .tituloEndereco {
            font-family: Helvetica, Arial, sans-serif;
            font-size: 12px;
            font-weight: bold;
            font-style: italic;
            color: #0766D0;
            padding: 0 0 0 5px;
            line-height: 29px;
        }
    </style>

</head>
<body>

    <script type="text/javascript">

        $(document).ready(function () {
            $('#gallery a').lightBox();
        });

    </script>

    @{ var infosServ = ViewBag.infos as Site.Controllers.ServicosController.servicoInfo; }

    <br /><br />
    <div class="container">

        <div class="panel panel-primary">
            <div class="panel-heading">@infosServ.lblNomeServico</div>
            <div class="panel-body">

                <div class="row">

                    <div class="col-md-6">

                        <div class="row">
                            <div class="col-md-4">
                                <img class="img-thumbnail" alt="..." src="@infosServ.FotoPrincipal" />
                            </div>
                            <div class="col-md-6">
                                <span class="tituloEndereco">@infosServ.lblNomeServico</span><br />
                                <span class="tituloEndereco">@infosServ.lblCidade</span><br />
                                <span class="tituloEndereco">@infosServ.lblPais</span>
                            </div>
                        </div>
                    </div>



                    <div class="col-md-6">

                        <div class="row">
                            <div class="col-md-12">

                                <div class="panel panel-default">
                                    <div class="panel-body">

                                        <div id="gallery">

                                            @foreach (var item in ViewBag.servicoDataList as List<DAL.Entity.Servicos_Imagem>)
                                            {
                                                <div class="col-md-3">
                                                    <a href='@string.Format("../Galeria/Servicos/{0}/{1}", item.Servicos_Id , item.Serv_img_nome)'>
                                                        <img class="img-thumbnail" alt="..." src="@string.Format("../Galeria/Servicos/{0}/{1}", item.Servicos_Id , item.Serv_img_nome)" />
                                                    </a>
                                                </div>
                                            }

                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>




            </div>
        </div>

        <div class="panel panel-warning">
            <div class="panel-heading">@infosServ.lblNomeServico - Description</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">

                        <p>@Html.Raw(infosServ.lblInfoLong)</p>
                        <p>@Html.Raw(infosServ.lblInfoShort)</p>

                    </div>
                </div>
            </div>
        </div>
   
    

    </div>
</body>
</html>
