﻿@{
    ViewBag.Title = "Servicos";
    Layout = "~/Views/Shared/template.cshtml";
}

<section class="content-header">
    <h1>
        Serviços

        <small>Lista</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-bus" aria-hidden="true"></i>Serviços</a></li>
    </ol>
</section>


<section class="content">

    <div class="box box-primary">
        <div class="box-header with-border">
            <h4 id="tituloServicos">Filtro</h4>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body">

            <div class="row">
                <div class="col-md-12">
                    <label for="txtProcurarSuppliers">Procurar</label>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
                        <input id="txtProcurarServicos" type="text" class="form-control" aria-describedby="basic-addon1" placeholder="Nome Serviço">
                    </div>
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-md-3">
                    <label for="ddlPaisFiltro">País</label>
                    <select id="ddlPaisFiltro" class="form-control" onchange="ChangePaisServicoFiltro()">
                        <option value="0">Selecione Filtro</option>
                        @foreach (var item in ViewBag.PaisCadastroFiltro)
                        {
                            <option value="@item.PAIS_id">@item.PAIS_nome</option>
                        }
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="ddlCidadeFiltro">Cidade</label>
                    <select id="ddlCidadeFiltro" class="form-control">
                        <option value="0">Selecione Filtro</option>
                        @foreach (var item in ViewBag.CidadeFiltro)
                        {
                            <option value="@item.CID_id">@item.CID_nome</option>
                        }
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="ddlTipoServicoFiltro">Tipo Servico</label>
                    <select id="ddlTipoServicoFiltro" class="form-control" onchange="refreshCategoriasFiltro()">
                        <option value="0">Selecione Filtro</option>
                        @foreach (var item in ViewBag.TipoServicoFiltro)
                        {
                            <option value="@item.Tipo_Id">@item.Tipo_Nome</option>
                        }
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="ddlCategoriaFiltro">Categoria</label>
                    <select id="ddlCategoriaFiltro" class="form-control">
                        <option value="0">Selecione um tipo de serviço</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="ddlStatusFiltro">Status</label>
                    <select id="ddlStatusFiltro" class="form-control">
                        <option value="0">Selecione Filtro</option>
                        @foreach (var item in ViewBag.StatusFiltro)
                        {
                            <option value="@item.STATUS_id">@item.STATUS_nome</option>
                        }
                    </select>
                </div>
            </div>

        </div>
    </div>



    <div class="box box-primary">
        <div class="box-header with-border">
            <h4 id="tituloServicosCadastro">Cadastros</h4>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body">


            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab">Serviço</a></li>
                    <li><a href="#tab_2" data-toggle="tab">Tarifas</a></li>
                    <li><a href="#tab_3" data-toggle="tab">Sub Serviços</a></li>
                    <li><a href="#tab_4" data-toggle="tab">Serviços Por Supplier</a></li>
                </ul>
                <div class="tab-content">

                    <div class="tab-pane active" id="tab_1">
                        <div class="row">
                            <div id="dvservicocadastro">
                                @Html.Partial("_servico_add", ViewData["servico"])
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="tab_2">

                        <div class="row">
                            <div class="col-md-4">

                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <form role="form" id="form-servicosozinho" method="post" action="javascript:func()">

                                            <div class="row">
                                                <div class="col-md-9">
                                                    <label for="txtNomeSupplier">Nome Supplier</label>
                                                    <input id="txtNomeSupplier" type="text" class="form-control" placeholder="Supplier" required />
                                                </div>
                                                <div class="col-md-2">
                                                    <input id="btnOpenListServicoSimples" type="button" class="btn btn-primary" title="List" value="List" style="border-radius:0px; margin-top: 25px;" />
                                                </div>
                                            </div>
                                            <br />
                                            <div class="row">

                                                <input id="txtCodMServicoSozinho" type="hidden" />

                                                <div class="col-md-6">
                                                    <label for="txtDtFrom">Data From</label>
                                                    <input id="txtDtFrom" type="date" class="form-control" required />
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="txtDtTo">Data To</label>
                                                    <input id="txtDtTo" type="date" class="form-control" required />
                                                </div>
                                            </div>
                                            <br />
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label for="ddlTipoServicoPeriodo">Tipo Servico</label>
                                                    <select id="ddlTipoServicoPeriodo" class="form-control" disabled onchange="refreshCategoriasPeriodo()">
                                                        <option value="0">Selecione Filtro</option>
                                                        @foreach (var item in ViewBag.TipoServicoFiltro)
                                                        {
                                                            <option value="@item.Tipo_Id">@item.Tipo_Nome</option>
                                                        }
                                                    </select>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="ddlCategoriaPeriodo">Categoria</label>
                                                    <select id="ddlCategoriaPeriodo" class="form-control" disabled>
                                                        <option value="0">Selecione um tipo de serviço</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label for="txtObsPeriodo">Obs</label>
                                                    <textarea id="txtObsPeriodo" class="form-control"></textarea>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <select id="ddlIndexBase" class="form-control" onchange="refreshBaseSupplierServicoSozinho_()">
                                                        <option value="1">Base Principal</option>
                                                        <option value="2">Base 2</option>
                                                        <option value="3">Base 3</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <input id="btnSalvarPeriodo" type="submit" class="btn btn-primary btn-sm" title="Salvar" value="Salvar" style="border-radius:0px;" />
                                                </div>
                                                <div class="col-md-5">
                                                    <input id="btnTarifasCadastradas" type="button" class="btn btn-primary btn-sm" title="Tarifas Cadastradas" value="Tarifas Cadastradas" style="border-radius:0px;" />
                                                </div>
                                                <div class="col-md-2">
                                                    <input id="btnCopiarServicoSozinho" type="button" class="btn btn-primary btn-sm" title="Copiar Serviço" value="Copiar Serviço" style="border-radius:0px;" />
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-8">

                                <div class="panel panel-default">
                                    <div class="panel-body">

                                        <div class="row">
                                            <div class="col-md-3">
                                                <label for="ddlMercadoBasePeriodo">Mercado</label>
                                                <select id="ddlMercadoBasePeriodo" class="form-control" onchange="refreshBaseSupplierServicoSozinho_()">
                                                    @foreach (var item in ViewBag.Mercadoreport)
                                                    {
                                                        <option value="@item.Mercado_id">@item.Mercado_nome</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="ddlBaseBasePeriodo">BaseTarifaria</label>
                                                <select id="ddlBaseBasePeriodo" class="form-control" onchange="refreshBaseSupplierServicoSozinho_()">
                                                    @foreach (var item in ViewBag.BaseTarifariaReport)
                                                    {
                                                        <option value="@item.BaseTarifaria_id">@item.BaseTarifaria_nome</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="ddlTipoBasePeriodo">Tipo Base</label>
                                                <select id="ddlTipoBasePeriodo" class="form-control" onchange="refreshBaseSupplierServicoSozinho_()">
                                                    @foreach (var item in ViewBag.TipoBases)
                                                    {
                                                        <option value="@item.TipoBase_id">@item.TipoBase_nome</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="ddlMoedaPeriodo">Moeda</label>
                                                <select id="ddlMoedaPeriodo" class="form-control" onchange="refreshBaseSupplierServicoSozinho_()">
                                                    @foreach (var item in ViewBag.MoedaReport)
                                                    {
                                                        <option value="@item.Moeda_id">@item.Moeda_sigla</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label for="txtPorcentagemTaxa">Taxas</label><br />
                                                <div class="col-md-8" style="padding: 0px;">
                                                    <input id="txtPorcentagemTaxa" type="text" class="form-control" value="0" onchange="changevalortodos()" />
                                                </div>
                                                <div class="col-md-2">
                                                    %
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="col-md-8" style="padding: 0px;margin-top: 25px;">
                                                    <input id="txtPorcentagemImposto" type="text" class="form-control" value="0" onchange="changevalortodos()" />
                                                </div>
                                                <div class="col-md-2" style="margin-top: 25px;">
                                                    %
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <label for="txtComissao">Comissão</label><br />
                                                <div class="col-md-8" style="padding: 0px;">
                                                    <input id="txtComissao" type="text" class="form-control" value="0" onchange="changevalortodos()" />
                                                </div>
                                                <div class="col-md-2">
                                                    %
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div id="dvGridBaseSupplierServicoSozinho"></div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="tab-pane" id="tab_3">

                        <div class="row">

                            <div class="col-md-6">

                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <form role="form" id="form-servicosub" method="post" action="javascript:func()">

                                            <input id="NovaTemporadaSubServicoRetorno" type="hidden" value="0" />
                                            <input id="IdMontaSubServicoTemporada" type="hidden" value="0" />

                                            <div class="row">
                                                <div class="col-md-10">
                                                    <label for="txtNomeSupplierSub">Nome Supplier</label>
                                                    <input id="txtNomeSupplierSub" type="text" class="form-control" placeholder="Supplier" required />
                                                </div>
                                                <div class="col-md-2">
                                                    <input id="btnOpenListServicoSub" type="button" class="btn btn-primary" title="List" value="List" style="border-radius:0px; margin-top: 25px;" />
                                                </div>
                                            </div>
                                            <br />
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label for="txtDtFromSub">Data From</label>
                                                    <input id="txtDtFromSub" type="date" class="form-control" required />
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="txtDtToSub">Data To</label>
                                                    <input id="txtDtToSub" type="date" class="form-control" required />
                                                </div>
                                            </div>
                                            <br />
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <select id="ddlIndexBaseSub" class="form-control">
                                                        <option value="1">Base Principal</option>
                                                        <option value="2">Base 2</option>
                                                        <option value="3">Base 3</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <input id="btnOpenAddSubServicos" type="button" class="btn btn-primary btn-sm" title="Add Sub Serviço" value="Add Sub Serviço" style="border-radius:0px;" />
                                                </div>
                                            </div>
                                            <br />
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div id="dvGridSubServAdicionados"></div>
                                                </div>
                                            </div>
                                            <br /><br />
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <input id="btnNovaTemporadaSub" type="submit" class="btn btn-primary btn-sm" title="Nova" value="Nova" style="border-radius:0px;" />
                                                </div>
                                                <div class="col-md-3">
                                                    <input id="btnCadastradasSub" type="button" class="btn btn-primary btn-sm" title="Cadastradas" value="Cadastradas" style="border-radius:0px;" />
                                                </div>
                                                <div class="col-md-2">
                                                    <input id="btnCopiarSub" type="button" class="btn btn-primary btn-sm" title="Copiar" value="Copiar" style="border-radius:0px;" />
                                                </div>
                                                <div class="col-md-2">
                                                    <input id="btnCalcularSubs" type="button" class="btn btn-primary btn-sm" title="Calcular" value="Calcular" style="border-radius:0px;" />
                                                </div>
                                                <div class="col-md-2">
                                                    <input id="btnAtualizaSubs" type="button" class="btn btn-primary btn-sm" title="Atualizar" value="Atualizar" style="border-radius:0px;" />
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>

                            </div>

                            <div class="col-md-6">

                                <div class="panel panel-default">
                                    <div class="panel-body">

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div id="dvGridBaseSupplierSub"></div>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="tab-pane" id="tab_4">

                        <div class="panel panel-default">
                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-md-10">
                                        <label for="txtNomeSupplierPesq">Nome Supplier</label>
                                        <input id="txtNomeSupplierPesq" type="text" class="form-control" placeholder="Supplier" required />
                                    </div>
                                    <div class="col-md-2">
                                        <input id="btnreportPesq" type="button" class="btn btn-primary" title="Report" value="Report" style="border-radius:0px; margin-top: 25px;" />
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="dvperiodosPesq"></div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>


                </div>

            </div>


        </div>
    </div>
</section>


<div class="modal fade" id="modalReportServico" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Emitir relatório tarifario</h4>
            </div>

            <form role="form" id="form-reports" method="get" action="javascript:func()" target="_blank">

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="txtDtFromReport">Data From:</label>
                            <input id="txtDtFromReport" type="date" class="form-control" required />
                        </div>
                        <div class="col-md-6">
                            <label for="txtDtToReport">Data To:</label>
                            <input id="txtDtToReport" type="date" class="form-control" required />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <label for="ddlPaisReport">País</label>
                            <select id="ddlPaisReport" class="form-control" onchange="ChangePaisReport()">
                                <option value="0">Selecione</option>
                                @foreach (var item in ViewBag.PaisCadastro)
                                {
                                    <option value="@item.PAIS_id">@item.PAIS_nome</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="ddlCidadeReport">Cidade</label>
                            <select id="ddlCidadeReport" class="form-control">
                                <option value="0">Selecione</option>
                                @foreach (var item in ViewBag.CidadeCadastro)
                                {
                                    <option value="@item.CID_id">@item.CID_nome</option>
                                }
                            </select>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            <label for="ddlMoedaReport">Moeda</label>
                            <select id="ddlMoedaReport" class="form-control">
                                <option value="0">Selecione</option>
                                @foreach (var item in ViewBag.MoedaReport)
                                {
                                    <option value="@item.Moeda_id">@item.Moeda_sigla</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="ddlMercadoReport">Mercado</label>
                            <select id="ddlMercadoReport" class="form-control">
                                @foreach (var item in ViewBag.MercadoReport)
                                {
                                    <option value="@item.Mercado_id">@item.Mercado_nome</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="ddlBaseReport">BaseTarifaria</label>
                            <select id="ddlBaseReport" class="form-control">
                                @foreach (var item in ViewBag.BaseTarifariaReport)
                                {
                                    <option value="@item.BaseTarifaria_id">@item.BaseTarifaria_nome</option>
                                }
                            </select>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <label for="txtMarkupReport">Markup</label>
                            <input id="txtMarkupReport" type="text" class="form-control" value="0" />
                        </div>
                        <div class="col-md-6">
                            <label for="ddlReportTipo">Formato Relatório</label>
                            <select id="ddlReportTipo" class="form-control">
                                <option value="1">PDF</option>
                                <option value="2">Word</option>
                                <option value="3">Excel</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <input id="btnGerarReportServico" type="button" class="btn btn-primary" title="Gerar" value="Gerar" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>

            </form>

        </div>
    </div>
</div>

<div class="modal fade" id="modalListPeriodosSimples" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Periodos</h4>
            </div>

            <div class="modal-body">
                <div id="dvPeriodosSimples"></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="modalPeriodosCadastradosSozinho" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Periodos</h4>
            </div>

            <div class="modal-body">
                <div id="dvPeriodosCadastradosSozinho"></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="modalCopiarPeriodosSozinho" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Copiar</h4>
            </div>

            <div class="modal-body">
                <div id="dvcopiarservicosozinho"></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="modalListPeriodosSub" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Periodos</h4>
            </div>

            <div class="modal-body">
                <div id="dvPeriodosSub"></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="modalListPeriodosSubCadastrados" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Periodos</h4>
            </div>

            <div class="modal-body">
                <div id="dvPeriodosSubCadastrados"></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" id="modalSubServAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Sub Serviços Add</h4>
            </div>

            <div class="modal-body">
                <div id="dvsubservicosmodal"></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="modalCopiarPeriodoSub" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Copiar</h4>
            </div>

            <div class="modal-body">
                <div id="dvcopiarservicosub"></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="modalUpdFotosServico" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Enviar Fotos</h4>
            </div>

            <br />

            <div class="modal-body">

                <form action='@Url.Action("Upload", "Servicos")' enctype="multipart/form-data" method="post">

                    <input type="file" name="Files" id="Files" multiple class="btn btn-primary" />
                    <input type="hidden" name="idServico" id="idServicoFotos" />
                    <br />
                    <input type="submit" name="submit" value="Enviar" class="btn btn-primary" />

                </form>

            </div>
            <br />

        </div>
    </div>
</div>

<div class="modal fade" id="modalFotosServico" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Fotos</h4>
            </div>

            <div class="modal-body">
                <div id="dvfotosservico"></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" id="modalHoliday" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Holidays</h4>
            </div>

            <div class="modal-body">
                <div id="dvholiday"></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">

     function ChangePaisServicoFiltro() {
         $('#ddlCidadeFiltro').html('<option value=\'0\'> Aguarde...</option>');
        $.ajax({
            url: "@Url.Action("ObterCidadesServicoDropFiltro", "Servicos")",
            data: { idPais: $('#ddlPaisFiltro').val() },
            type: "GET",
            success: function(data){
                $('#ddlCidadeFiltro').html(data);
            },
            error: function(xhr){
                alert(xhr);
            }
        });
    }

    if ('@ViewBag.retornofoto' != "") {

        var serv = '@ViewBag.retornofoto' + ' ° ' + '@ViewBag.retornofotocidade';

        $.get("@Url.Action("ObterServico", "Servicos")", { servico: serv }, function (data) {
                $('#dvservicocadastro').html(data);
                $('#tituloServicosCadastro').html("Cadastros: " + serv);
                $('#idServicoFotos').val($('#idservico').val());
                $('#txtProcurarServicos').val("");
                alert('Fotos enviadas com sucesso.');
            });
    }

    $('#btnOpenAddSubServicos').hide();
    $('#btnCalcularSubs').hide();

    $('#btnCopiarSub').click(function () {
        $.get("@Url.Action("GetTelaCopiarServicoSub", "Servicos")", { IdSupplier: $('#idsupplierPeriodoSub').val(), IdServico: $('#idservico').val() }, function (data) {
            $('#dvcopiarservicosub').html(data);
            $('#modalCopiarPeriodoSub').modal();
        });
    });

    $('#btnCopiarServicoSozinho').click(function () {
        $.get("@Url.Action("GetTelaCopiarServicoSozinho", "Servicos")", { IdSupplier: $('#idsupplierPeriodoSSS').val(), IdServico: $('#idservico').val() }, function (data) {
            $('#dvcopiarservicosozinho').html(data);
            $('#modalCopiarPeriodosSozinho').modal();
        });
    });


    $('#form-servicosozinho').submit(function () {

        var i = 0;
        $('#tblBasesSSS tbody tr').each(function () {

            var tipo = $('#tipocadastroBSSS_' + i).val().split('°');

            if (tipo[0] == 0 && $('#valorBaseSozinha_' + i).val() == "") {
                alert('Favor preencher todos os valores');
                return false;
            }
            i++;
        });

        var opStatusTarifa = 0;
        var k = 0;
        $('#tblBasesSSS tbody tr').each(function () {

            if ($('#valorBaseSozinha_' + k).val() != "") {
                opStatusTarifa = 1;
                return false;
            }

            k++;
        });


        var j = 0;
        var str = "";
        $('#tblBasesSSS tbody tr').each(function () {

            var tipoCad = $('#tipocadastroBSSS_' + j).val().split('°');

            str = str + $('#BASEIDSSS_' + j).val() + "°" +
                        tipoCad[0] + "°" +
                        $('#categoriaBSSS_' + j).val() + "°" +
                        $('#valorBaseSozinha_' + j).val() + "°" +
                        $('#totalBaseSozinha_' + j).html() + "°" +
                        $('#txtValorServicoSozinhoVenda_' + j).val() + "°" +
                        $('#MServicosVlrs_' + j).val() + "~";

            j++;
        });

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        var mod = {
            IdSupplier: $('#idsupplierPeriodoSSS').val(),
            IdServico: $('#idservico').val(),
            index: $('#ddlIndexBase').val(),
            ddlTipoServico2: $('#ddlTipoServicoPeriodo').val(),
            ddlTipoServicoCateg2: $('#ddlCategoriaPeriodo').val(),
            txtPorcentagemTaxa: $('#txtPorcentagemTaxa').val(),
            txtPorcentagemImposto1: $('#txtPorcentagemImposto').val(),
            txtComissao: $('#txtComissao').val(),
            from: $('#txtDtFrom').val(),
            to: $('#txtDtTo').val(),
            txtObs: $('#txtObsPeriodo').val(),
            valoresGrid: str.substring(0, str.length - 1),
            opStatusTarifa: opStatusTarifa,
            CodMServicoSozinho: $('#txtCodMServicoSozinho').val()
        };


        var url = "";
        if ($('#txtCodMServicoSozinho').val() == 0) {
            url = "@Url.Action("SalvarTarifas", "Servicos")";
        } else {
            url = "@Url.Action("AtualizarTarifas", "Servicos")";
        }

        $.ajax({
            url: url,
            data: mod,
            type: "POST",
            success: function (d) {

                if (d.success) {
                    var $toast = toastr["success"](d.message, "Prosoftware");
                    $toastlast = $toast;

                    refreshBaseSupplierServicoSozinho_();

                    $('#txtDtFrom').val("");
                    $('#txtDtTo').val("");
                    $('#txtPorcentagemTaxa').val(0);
                    $('#txtPorcentagemImposto').val(0);
                    $('#txtComissao').val(0);
                    $('#txtCodMServicoSozinho').val(0);

                } else {
                    var $toast = toastr["error"](d.message, "Prosoftware");
                    $toastlast = $toast;
                }

                waitingDialog.hide();
            },
            error: function (XHR) {
                alert(XHR);
                waitingDialog.hide();
            }
        });

    });

    $('#btnTarifasCadastradas').click(function () {

        if ($('#idsupplierPeriodoSSS').val() == "") {
            alert('Selecione um supplier!');
            return false;
        }
        $.get("@Url.Action("PopulaGridMServicosSozinhoCadastrados", "Servicos")", { IdSupplier: $('#idsupplierPeriodoSSS').val(), IdServico: $('#idservico').val() }, function (data) {
            $('#dvPeriodosCadastradosSozinho').html(data);
            $('#modalPeriodosCadastradosSozinho').modal();
        });
    });
    function refreshGridCadastradosSozinho() {
        $.get("@Url.Action("PopulaGridMServicosSozinhoCadastrados", "Servicos")", { IdSupplier: $('#idsupplierPeriodoSSS').val(), IdServico: $('#idservico').val() }, function (data) {
            $('#dvPeriodosCadastradosSozinho').html(data);
        });
    }

    $('#btnGerarReportServico').click(function () {

        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        $.ajax({
            url: "@Url.Action("btnGerarRelatorioServicoTarifario", "Servicos")",
            data: {
                txtfromReportTarifario: $('#txtDtFromReport').val(),
                txttoReportTarifario: $('#txtDtToReport').val(),
                txtMarkUpRelatorioTarifario: $('#txtMarkupReport').val(),
                ddlPaisReportTarifario: $('#ddlPaisReport').val(),
                ddlCidadeRerpotTarifario: $('#ddlCidadeReport').val(),
                ddlBaseTarifariaReportTarifario: $('#ddlBaseReport').val(),
                ddlMercadoReportTarifario: $('#ddlMercadoReport').val(),
                ddlCambioReportTarifario: $('#ddlMoedaReport').val(),
                ddlFormatoReportServicos: $('#ddlReportTipo').val()
            },
            type: "GET",
            success: function (d) {
                if (d.success) {
                    window.open(d.url, '_blank');
                }
                waitingDialog.hide();
            },
            error: function (XHR) {
                alert(XHR);
                waitingDialog.hide();
            }
        });
    });


    $('#btnreportPesq').click(function () {

        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        $.ajax({
            url: "@Url.Action("btnReportFiltroSupplierServPorSupp", "Servicos")",
            data: {
                txtSupplier: $('#txtNomeSupplierPesq').val()
            },
            type: "GET",
            success: function (d) {
                if (d.success) {
                    window.open(d.url, '_blank');
                }
                waitingDialog.hide();
            },
            error: function (XHR) {
                alert(XHR);
                waitingDialog.hide();
            }
        });

    });


    $('#btnOpenListServicoSimples').click(function () {
        $.get("@Url.Action("PopularGridSuppliersServico", "Servicos")", { IdServico: $('#idservico').val() }, function (data) {
            $('#dvPeriodosSimples').html(data);
            $('#modalListPeriodosSimples').modal();
        });
    });

    function refreshgridsubservicosadicionados() {
        $.get("@Url.Action("PopulaGridSubServAdicionados", "Servicos")", { IdServico: $('#idservico').val(), IdMServico: $('#IdMontaSubServicoTemporada').val() }, function (data) {
            $('#dvGridSubServAdicionados').html(data);
        });
    }

    $('#form-servicosub').submit(function () {

        if ($('#IdMontaSubServicoTemporada').val() != 0) {
            $('#txtDtFromSub').val("");
            $('#txtDtToSub').val("");
            $('#IdMontaSubServicoTemporada').val(0)
            $('#NovaTemporadaSubServicoRetorno').val(0);
            $('#btnOpenAddSubServicos').hide();
            $('#btnCalcularSubs').hide();
            refreshgridsubservicosadicionados();
            refreshBaseSupplierServicoSub($('#txtNomeSupplierSub').val());
            return false;
        }

        $.get("@Url.Action("btnNovaTemporadaSubServico", "Servicos")",
            {
                NovaTemporadaSubServico: 0,
                txtDataFromSubServico: $('#txtDtFromSub').val(),
                txtDataToSubServico: $('#txtDtToSub').val(),
                IdSupplierSubServicoPrincipal: $('#idsupplierPeriodoSub').val()
            },
                function (d) {

                    if (d.success) {

                        $('#NovaTemporadaSubServicoRetorno').val(d.NovaTemporadaSubServicoRetorno);
                        $('#IdMontaSubServicoTemporada').val(d.IdMontaSubServicoTemporada);
                        alert(d.message);

                        $('#btnOpenAddSubServicos').show();
                        $('#btnCalcularSubs').show();

                    } else {
                        alert(d.message);
                    }

                });

    });


    $('#btnOpenAddSubServicos').click(function () {
        $.get("@Url.Action("UpdateGridSubs_empty", "Servicos")", function (data) {
            $('#dvsubservicosmodal').html(data);
            $('#modalSubServAdd').modal();
        });

    });

    $('#btnOpenListServicoSub').click(function () {
        $.get("@Url.Action("PopularGridSuppliersSub", "Servicos")", { IdServico: $('#idservico').val() }, function (data) {
            $('#dvPeriodosSub').html(data);
            $('#modalListPeriodosSub').modal();
        });
    });


    $('#btnCadastradasSub').click(function () {

        $.get("@Url.Action("PopulaGridSubCadastrados", "Servicos")", { IdSupplier: $('#idsupplierPeriodoSub').val(), IdServico: $('#idservico').val() }, function (data) {
            $('#dvPeriodosSubCadastrados').html(data);
            $('#modalListPeriodosSubCadastrados').modal();
        });

    });

    function refreshCategoriasFiltro() {
        $('#ddlCategoriaFiltro').html("Aguarde");
        $.get("@Url.Action("refreshctegoriasfiltro", "Servicos")", { idTipoServico: $('#ddlTipoServicoFiltro').val() }, function (data) {
            $('#ddlCategoriaFiltro').html(data);
        });
    }

    function refreshCategoriasPeriodo() {
        $('#ddlCategoriaPeriodo').html("Aguarde");
        $.get("@Url.Action("refreshctegoriasfiltro", "Servicos")", { idTipoServico: $('#ddlTipoServicoPeriodo').val() }, function (data) {
            $('#ddlCategoriaPeriodo').html(data);
        });
    }

    function ChangePaisReport() {
        $('#ddlCidadeReport').html('<option value=\'0\'> Aguarde...</option>');
        $.ajax({
            url: "@Url.Action("ObterCidadesServicoDrop", "Servicos")",
            data: { idPais: $('#ddlPaisReport').val() },
            type: "GET",
            success: function (data) {
                $('#ddlCidadeReport').html(data);
            },
            error: function (xhr) {
                alert(xhr);
            }
        });
    }

    function refreshBaseSupplierServicoSozinho(spp) {
        $.get("@Url.Action("PopulaGridServicoSozinho", "Servicos")",
            {
                txtCodMServicoSozinho: 0,
                index: $('#ddlIndexBase').val(),
                txtSupplierMontaServico: spp,
                ddlMercadoFiltro_Base: $('#ddlMercadoBasePeriodo').val(),
                ddlBaseTarifariaFiltro_Base: $('#ddlBaseBasePeriodo').val(),
                ddlMoedaFiltro_Base: $('#ddlMoedaPeriodo').val(),
                ddlTipoBase_Base: $('#ddlTipoBasePeriodo').val()
            },
            function (data) {
                $('#dvGridBaseSupplierServicoSozinho').html(data);
            });
    }

    function refreshBaseSupplierServicoSozinho_() {
        if ($('#txtNomeSupplier').val() != "") {
            $.get("@Url.Action("PopulaGridServicoSozinho", "Servicos")",
                {
                    txtCodMServicoSozinho: 0,
                    index: $('#ddlIndexBase').val(),
                    txtSupplierMontaServico: $('#txtNomeSupplier').val(),
                    ddlMercadoFiltro_Base: $('#ddlMercadoBasePeriodo').val(),
                    ddlBaseTarifariaFiltro_Base: $('#ddlBaseBasePeriodo').val(),
                    ddlMoedaFiltro_Base: $('#ddlMoedaPeriodo').val(),
                    ddlTipoBase_Base: $('#ddlTipoBasePeriodo').val()
                },
                function (data) {
                    $('#dvGridBaseSupplierServicoSozinho').html(data);
                });
        }
    }


    function refreshBaseSupplierServicoSub(spp) {
        $.get("@Url.Action("PopulaGridBaseSub", "Servicos")",
        {
            txtSupplier: spp,
            IdMServico: 0,
            index: $('#ddlIndexBaseSub').val()
        },
        function (data) {
            $('#dvGridBaseSupplierSub').html(data);
        });
    }

    function refreshBaseSupplierServicoSub_Valores() {

        $.get("@Url.Action("DataBoundGridBase", "Servicos")",
        {
            idsupplier: $('#idsupplierPeriodoSub').val(),
            IdMServico: $('#IdMontaSubServicoTemporada').val(),
            index: $('#ddlIndexBaseSub').val()
        },
        function (data) {
            $('#dvGridBaseSupplierSub').html(data);
        });
    }

    $('#btnCalcularSubs').click(function () {

        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        var i = 0;
        var str = "";
        $('#tblSubServicosAdicionados tbody tr').each(function () {

            str = str + $('#txtDeSubAdicionados_' + i).val() + "°" +
                        $('#txtParaSubAdicionados_' + i).val() + "°" +
                        $('#hdeSubAdicionados_' + i).val() + "~";

            i++;
        });

        $.get("@Url.Action("CalculaServico", "Servicos")",
           {
               str: str.substring(0, str.length - 1),
               idsupplier: $('#idsupplierPeriodoSub').val(),
               IdMServicoParam: $('#IdMontaSubServicoTemporada').val(),
               index: $('#ddlIndexBaseSub').val(),
               IdServico: $('#idservico').val(),
               IdMoedaBaseSubServico: $('#IdMoedaBaseSubServico').val(),
               IdSupplierSubServicoPrincipal: $('#IdSupplierSubServicoPrincipal').val()
           },
           function (d) {
               if (d.success) {
                   refreshBaseSupplierServicoSub_Valores();

                   var $toast = toastr["success"](d.message, "Prosoftware");
                   $toastlast = $toast;
               }
           });

        waitingDialog.hide();

    });

    $('#btnAtualizaSubs').click(function () {

        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        var i = 0;
        var str = "";
        $('#tblSubServicosAdicionados tbody tr').each(function () {

            str = str + $('#txtDeSubAdicionados_' + i).val() + "°" +
                        $('#txtParaSubAdicionados_' + i).val() + "°" +
                        $('#hdeSubAdicionados_' + i).val() + "~";

            i++;
        });

        $.get("@Url.Action("SalvaSubsAdicionados", "Servicos")",
           {
               str: str.substring(0, str.length - 1),
               idsupplier: $('#idsupplierPeriodoSub').val(),
               IdMServicoParam: $('#IdMontaSubServicoTemporada').val(),
               index: $('#ddlIndexBaseSub').val(),
               IdServico: $('#idservico').val(),
               IdMoedaBaseSubServico: $('#IdMoedaBaseSubServico').val(),
               IdSupplierSubServicoPrincipal: $('#IdSupplierSubServicoPrincipal').val()
           },
           function (d) {
               if (d.success) {
                   refreshBaseSupplierServicoSub_Valores();

                   var $toast = toastr["success"](d.message, "Prosoftware");
                   $toastlast = $toast;
               }
           });

        waitingDialog.hide();

    });

    function atualizaGridSubs() {


        var i = 0;
        var str = "";
        $('#tblSubServicosAdicionados tbody tr').each(function () {

            str = str + $('#txtDeSubAdicionados_' + i).val() + "°" +
                        $('#txtParaSubAdicionados_' + i).val() + "°" +
                        $('#hdeSubAdicionados_' + i).val() + "~";

            i++;
        });


        $.get("@Url.Action("CalculaServico", "Servicos")",
           {
               str: str.substring(0, str.length - 1),
               idsupplier: $('#idsupplierPeriodoSub').val(),
               IdMServicoParam: $('#IdMontaSubServicoTemporada').val(),
               index: $('#ddlIndexBaseSub').val(),
               IdServico: $('#idservico').val(),
               IdMoedaBaseSubServico: $('#IdMoedaBaseSubServico').val(),
               IdSupplierSubServicoPrincipal: $('#IdSupplierSubServicoPrincipal').val()
           },
           function (d) {
               if (d.success) {
                   refreshBaseSupplierServicoSub_Valores();

                   var $toast = toastr["success"](d.message, "Prosoftware");
                   $toastlast = $toast;


               }
           });
    }

    $('#txtNomeSupplier').autocomplete({
        source: "@Url.Action("ObterSuppliers", "Servicos")",
        minLength: 3,
        select: function (e, ui) {
            refreshBaseSupplierServicoSozinho(ui.item.value);
        }
    });

    $('#txtNomeSupplierSub').autocomplete({
        source: "@Url.Action("ObterSuppliers", "Servicos")",
        minLength: 3,
        select: function (e, ui) {
            refreshBaseSupplierServicoSub(ui.item.value);
        }
    });

    $('#txtNomeSupplierPesq').autocomplete({
        source: "@Url.Action("ObterSuppliers", "Servicos")",
        minLength: 3,
        select: function (e, ui) {
            refreshGridServPorSupp(ui.item.value);
        }
    });

    function refreshGridServPorSupp(spp) {
        $.get("@Url.Action("PopulaGridServPorSupp", "Servicos")", { txtSupplier: spp }, function (data) {
            $('#dvperiodosPesq').html(data);
        });
    }


    $("#txtProcurarServicos").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "@Url.Action("ObterServicos_Filtros", "Servicos")",
                dataType: "json",
                data: {
                    term: request.term,
                    idCidade: $("#ddlCidadeFiltro").val(),
                    idTipoServico: $("#ddlTipoServicoFiltro").val(),
                    idTipoCategServico: $("#ddlCategoriaFiltro").val(),
                    idStatus: $("#ddlStatusFiltro").val()
                },
                success: function (data) {
                    response(data);
                }
            });
        },
        min_length: 3,
        select: function (event, ui) {
            waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

            $.get("@Url.Action("ObterServico", "Servicos")", { servico: ui.item.value }, function (data) {
                $('#dvservicocadastro').html(data);
                $('#tituloServicosCadastro').html("Cadastros: " + ui.item.value);
                $('#idServicoFotos').val($('#idservico').val());
                $('#txtProcurarServicos').val("");
            });

            waitingDialog.hide();
        },
        delay: 300
    });

</script>