﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-select.css" rel="stylesheet" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <link href="http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Template/AdminLTE.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Template/_all-skins.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Template/blue.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Template/morris.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Template/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Template/datepicker3.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Template/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Template/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/Content/summernote.css" rel="stylesheet" />

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.min.css" rel="stylesheet" />
    @*<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />*@

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    @*<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.min.js" type="text/javascript"></script>*@
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/scripts/jquery.tablednd.js"></script>
    <script src="~/Scripts/bootstrap-select.min.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>

    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="~/Scripts/Template/morris.min.js"></script>
    <script src="~/Scripts/Template/jquery.sparkline.min.js"></script>
    <script src="~/Scripts/Template/jquery.knob.js"></script>
    <script src="~/Scripts/Template/daterangepicker.js"></script>
    <script src="~/Scripts/Template/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/Template/bootstrap3-wysihtml5.all.min.js"></script>
    @*<script src="~/Scripts/Template/icheck.min.js"></script>*@
    <script src="~/Scripts/Template/jquery.slimscroll.min.js"></script>
    <script src="~/Scripts/Template/fastclick.min.js"></script>
    <script src="~/Scripts/Template/app.min.js"></script>
    <script src="~/Scripts/Template/dashboard.js"></script>
    <script src="~/Scripts/bootstrap-select.min.js"></script>
    @*<script src="~/Scripts/Template/demo.js"></script>*@
    <script src="~/scripts/bootstrap3-typeahead.min.js"></script>
    <script src="~/scripts/summernote.min.js"></script>
    <script src="~/scripts/MyScript.js"></script>
    <script src="~/scripts/trailimage.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.min.js"></script>

    <style>
        #map_wrapper {
            height: 400px;
        }

        #map_canvas {
            width: 100%;
            height: 100%;
        }

        ul.ui-autocomplete {
            z-index: 1100;
        }

        .modal-dialogFull {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .modal-contentFull {
            height: auto;
            min-height: 100%;
            border-radius: 0;
        }

        .alt {
            background-color: #b7b7b7;
        }
    </style>


</head>
<body id="by" class="skin-blue">
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="@Url.Action("Index", "Home")" class="logo"><b>ProSoftware</b></a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                                <span class="hidden-xs">@ViewBag.UserLog</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="~/images/logo4star.png" alt="..." class="img-thumbnail" style="width: 220px;" />
                                    <p>
                                        @ViewBag.UserLog
                                    </p>
                                </li>

                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Perfil</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="javascript:sair()" class="btn btn-default btn-flat">Sair</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">

                    </div>
                    <div class="pull-left info">
                        <p>@ViewBag.UserLog</p>

                        <a href="#"><i class="fa fa-circle text-success"></i>Online</a>
                    </div>
                </div>
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="header">MENU</li>
                    <li><a href="http://sp.southamerica.travel/NewTierra"><i class="fa fa-dashboard"></i>Home</a></li>
                    <li><a href="@Url.Action("Quote","Home")"><i class="fa fa-bed" aria-hidden="true"></i>Quote</a></li>
                    <li><a href="@Url.Action("Index","Cliente")"><i class="fa fa-users" aria-hidden="true"></i>Clientes</a></li>
                    <li><a href="@Url.Action("Index","Supplier")"><i class="fa fa-database" aria-hidden="true"></i>Suppliers</a></li>
                    <li><a href="@Url.Action("Index","Servicos")"><i class="fa fa-bus" aria-hidden="true"></i>Serviços</a></li>
                    <li><a href="@Url.Action("Index","SubServicos")"><i class="fa fa-car"></i>SubServiços</a></li>
                    <li><a href="@Url.Action("Index","Cadastros")"><i class="fa fa-folder-open" aria-hidden="true"></i>Cadastros</a></li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-exchange" aria-hidden="true"></i>
                            <span>Mesclagem</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Index","Mesclagem")"><i class="fa fa-circle-o"></i> Mesclar</a></li>
                            <li><a href="javascript:OpenAtualizarOmni()"><i class="fa fa-circle-o"></i> Atualizar Categ OMNI</a></li>
                        </ul>
                    </li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>prosoftware</b> 3.0

            </div>
            <strong>Copyright &copy; 2017.</strong> All rights reserved.

        </footer>
    </div>
    <!-- ./wrapper -->

    <div class="modal fade" id="modalManterLogado" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Logout</h4>
                </div>

                <br />

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <b>
                                Your session will expire in less than 1 minute, continue logged in?
                            </b>
                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <div class="col-md-1">
                            <input type="button" id="btnContinuarLogado" class="btn btn-primary" value="YES" title="YES" />
                        </div>
                        <div class="col-md-1">
                            <input type="button" id="btnSairLogado" class="btn btn-danger" value="NO" title="NO" />
                        </div>
                    </div>

                </div>
                <br />

            </div>
        </div>
    </div>


    <script type="text/javascript">

        //setInterval(function () {
        //    alert("teste");
        //}, 5000);

        var idleTime = 0;
        $(document).ready(function () {
            //Increment the idle time counter every minute.
            var idleInterval = setInterval(timerIncrement, 60000); // 1 minute

            //Zero the idle timer on mouse movement.
            $(this).mousemove(function (e) {
                idleTime = 0;
            });
            $(this).keypress(function (e) {
                idleTime = 0;
            });
        });

        function timerIncrement() {
            console.log('entrou');
            idleTime = idleTime + 1;
            if (idleTime > 1) { // 15 minutos
                //$('#modalManterLogado').modal();

                //alert('Sua sessão vai expirar, deseja continuar logado?');
                //console.log('Sua sessão vai expirar.');
                //window.location.reload();

                $.get("@Url.Action("ManterLogado", "Home")", function (d) {
                });
            }
        }

        function sair() {
            $.get("@Url.Action("Logout", "Home")", function (data) {
                if (data == "sucesso") {
                    @*var home = "@Url.Action("Login", "Home")";
                    alert(home);
                    javascript: window.open(home);*@

                    window.location.replace("@Url.Action("Login", "Home")");
                    return false;
                }
            });
        }

        $('#btnContinuarLogado').click(function () {
            $.get("@Url.Action("ManterLogado", "Home")", function (d) {
                if (d.success) {
                    $('#modalManterLogado').modal('hide')
                } else {
                    window.location.reload();
                }
            });
        });
        $('#btnSairLogado').click(function () {
            window.location.reload();
        });

        function OpenAtualizarOmni() {

            alert('Uma nova aba será aberta, esse procedimento pode demorar mais de 10 minutos, favor não fechar a aba de atualização dos hoteis, antes da mensagem (Hotéis mesclados com sucesso.). ');
            window.open('http://localhost:56899/Pages/CarregaCategorias_Omni.aspx', '_blank');
        }
    </script>

</body>
</html>
