﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/template.cshtml";
}

<style>
    .voucherTextbox {
        height: 35px;
        width: 100%;
        max-width: 100%;
        border: none;
        border-bottom: 1px solid #555;
    }

    .liTextbox {
        height: 35px;
        width: 100%;
        max-width: 100%;
        border: none;
        border-bottom: 1px solid #555;
    }

    .espacoLabel {
        line-height: 30px;
    }

    .voucherTextarea {
        height: 30px;
        width: 100%;
        border: none;
        border-bottom: 1px solid #555;
        resize: none;
        overflow: auto;
    }

    .voucherTextarea2 {
        height: 80px;
        width: 100%;
        border: none;
        border-bottom: 1px solid #555;
        resize: none;
        overflow: auto;
    }

    .tituloPrograma {
        float: left;
        width: 100%;
        margin: 10px 0;
        border: 3px solid black;
    }

    .direita {
        text-align: right;
    }

    .element {
        position: fixed;
        top: 90%;
        left: 1%;
        padding: 10px;
        font-family: Arial;
        background: #fffea1;
        border: 1px solid #fc0;
        z-index: 999;
    }
</style>

<section class="content-header">
    <h1>
        Voucher

        <small>Edit</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i>Voucher</a></li>
    </ol>
</section>

@{
    DAL.Entity.Voucher voucher = ViewBag.voucher as DAL.Entity.Voucher;
    List<DAL.Entity.Voucher_Recommendations> recommend = ViewBag.ImportantRecommendations as List<DAL.Entity.Voucher_Recommendations>;
    List<DAL.Entity.Voucher_Trip> trips = ViewBag.rptTrip as List<DAL.Entity.Voucher_Trip>;
    List<DAL.Entity.Voucher_IncludedServices> includedserv = ViewBag.IncludedServices as List<DAL.Entity.Voucher_IncludedServices>;
    List<DAL.Entity.Voucher_AtYourDiscretion> yourdiscretion = ViewBag.AtYourDiscretion as List<DAL.Entity.Voucher_AtYourDiscretion>;
    int contRecom = 0;
    int contTrips = 0;
}

<section class="content" style="font-size: 16px;background-color: white;">

    <div class="element">Save voucher to confirm changes!</div>

    <input type="hidden" id="quotationid" value="@voucher.QuotationGrupoId" />
    <input type="hidden" id="optQuote" value="@voucher.optQuote" />
    <input type="hidden" id="grpnumber" value="@ViewBag.grpnumber" />
    <input type="hidden" id="allnames" value="@ViewBag.allnames" />

    <div class="row">
        <div class="col-md-12 col-md-offset-3">
            <h1>SouthAmerica.travel Travel Voucher</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-6">
            <input id="btnZerarVoucher" type="button" class="btn btn-primary btn-sm" title="Reset this voucher" value="Reset this voucher" />
            <input id="btnGeraVoucherLink" type="button" class="btn btn-primary btn-sm" title="Access public page" value="Access public page" />
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-8 col-md-offset-2" style="height:3px; background: black;">
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2" style="height:3px; background: black;margin-top:10px;">
        </div>
    </div>
    <br />

    <div class="row col-lg-offset-2">
        <div class="col-md-2 espacoLabel">
            Tour Name:
        </div>
        <div class="col-md-8">
            <input id="txtTourName" type="text" class="form-control voucherTextbox" value="@voucher.TourName" />
        </div>
    </div>


    <div class="row col-lg-offset-2">
        <div class="col-md-2 espacoLabel">
            Tour Code:
        </div>
        <div class="col-md-8">
            <input id="txtTourCode" type="text" class="form-control voucherTextbox" value="@voucher.TourCode" />
        </div>
    </div>


    <div class="row col-lg-offset-2">
        <div class="col-md-2  espacoLabel">
            Travelers:
        </div>
        <div class="col-md-8">
            <input id="txtTravellersQtd" type="text" class="form-control voucherTextbox" value="@voucher.NbrTravellers" />
        </div>
    </div>


    <div class="row col-lg-offset-2">
        <div class="col-md-2 espacoLabel">
            Children:
        </div>
        <div class="col-md-8">
            <input id="txtChildren" type="text" class="form-control voucherTextbox" value="@voucher.NbrChildren" />
        </div>
    </div>


    <div class="row col-lg-offset-2">
        <div class="col-md-2 espacoLabel">
            Infants:
        </div>
        <div class="col-md-8">
            <input id="txtInfants" type="text" class="form-control voucherTextbox" value="@voucher.NbrInfants" />
        </div>
    </div>


    <div class="row col-lg-offset-2">
        <div class="col-md-2 espacoLabel">
            <strong>Travelers:</strong>
        </div>
        <div class="col-md-8">
            <input id="txtTravellers" type="text" class="form-control voucherTextbox" value="@voucher.Travellers" />
        </div>
    </div>

    <div class="row col-lg-offset-2">
        <div class="col-md-2 espacoLabel">
            <strong>Welcome Sign:</strong>
        </div>
        <div class="col-md-8">
            <input id="txtsername" type="text" class="form-control voucherTextbox" value="@ViewBag.surname" disabled />            
        </div>
    </div>

    <br />

    <div class="row col-lg-offset-2">
        <div class="col-md-5">
            Important information:
        </div>
    </div>
    <br />
    <div class="row col-lg-offset-2">
        <div class="col-md-10">
            <ul id="ulRecommend">
                @foreach (var item in recommend)
                {
                    if (item.Recommendation == "")
                    {
                        continue;
                    }

                    <li id="lirecommends_@item.Id">
                        <input type="button" id="btnrecomm_@item.Id" class="btn btn-link openeditarrecommend" value="@item.Recommendation" name="@item.Id" title="Edit" />
                        <button type="button" id="btnrecommDel_@item.Id" class="btn btn-xs btn-danger deleterecommend" value="@item.Id" title="Deletar"><span class="glyphicon glyphicon-trash"></span></button>
                        <input id="txtEditRecomm_@item.Id" type="text" style="display: none;width:100%;" />
                        <button type="button" id="btnrecommSave_@item.Id" class="btn btn-xs btn-success" style="display: none;" onclick="closeTxtRecomm(@item.Id)" value="@item.Id" title="Save"><i class="fa fa-check" aria-hidden="true"></i></button>
                    </li>

                    contRecom++;
                }
            </ul>
        </div>
    </div>

    <br />

    <div class="row col-lg-offset-4">
        <div class="col-md-8">
            <h2>24/7 Emergency Numbers</h2>
        </div>
    </div>
    <br />
    <div class="row col-lg-offset-2">
        <div class="col-md-12">
            @*Note:<img src="~/images/Icones/tel.png" height="13" />*@
            @*<input id="txtTitleEmergencyNumbers" type="text" class="voucherTextbox" value="@voucher.TitleEmergencyNumbers" />*@
            <textarea id="txtTitleEmergencyNumbers" class="voucherTextarea2">@voucher.TitleEmergencyNumbers</textarea>
            @*Reach ANY emergency number via ANY international number at Extension 911 (example: +1 (800) 747-4540 ext. 911)*@
        </div>
    </div>
    <br />
    <div class="row col-lg-offset-2">
        <div class="col-md-10">
            <textarea id="txtEmergencyNumbers" style="width:100%;" rows="20">@voucher.EmergencyNumbers</textarea>
        </div>
    </div>

    <br />

    <div class="row col-lg-offset-2">
        <div class="col-md-10">
            <div class="tituloPrograma" style="text-align: center;">
                <h3>
                    @voucher.TourName
                    <br />
                    <input id="txtDataInOut" type="text" class="voucherTextbox" style="text-align: center;" value="@voucher.DataInOut" />
                </h3>
            </div>
        </div>
    </div>
    <br />

    <div class="row col-lg-offset-2">
        <div class="col-md-10">
            Notes:<img src="~/images/Icones/information.png" height="13" /><br />
            <input id="txtNotes" type="text" class="voucherTextbox" value="@voucher.Note" />
        </div>
    </div>
    <br />
    <br />

    <div class="row col-lg-offset-2">
        <div class="col-md-10">

            <table class="table table-bordered table-hover" id="tripTable">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Destination</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody id="tableBody">
                    @foreach (var item in trips)
                    {

                        <tr draggable="true" class="draggable" id="rowcolunatrip_@contTrips">
                            <td style="min-width:100px;">
                                @*<input type="text" id="datainputTrip_@contTrips" class="datainputTrip_@contTrips" value="@Html.Raw(item.DateRange).ToString().Replace("<br/>", "\r\n").Replace("<br>", "\r\n")" style="display: none;" />*@

                                <textarea id="datainputTrip_@contTrips" class="datainputTrip_@contTrips" style="display: none;" rows="3" cols="10">@Html.Raw(item.DateRange).ToString().Replace("<br/>", "\r\n").Replace("<br>", "\r\n").Replace("<br />", "\r\n")</textarea>

                                <p style="text-align:center;" id="dataspanTrip_@contTrips" class="datatrip">@Html.Raw(item.DateRange)</p>
                            </td>
                            <td>
                                <input type="text" id="destinationtripinputTrip_@contTrips" value="@item.Destination" class="destinationtripinputTrip_@contTrips" style="display: none;" />
                                <span style="text-align:center;" id="destinationtripspanTrip_@contTrips" class="destinationtrip">@item.Destination</span>
                            </td>
                            <td>
                                @*<input type="text" id="descriptiontripinputTrip_@contTrips" value="@Html.Raw(item.Description).ToString().Replace("<br/>", "\r\n").Replace("<br>", "\r\n")" class="descriptiontripinputTrip_@contTrips" style="display: none;" />*@
                                <textarea id="descriptiontripinputTrip_@contTrips" class="descriptiontripinputTrip_@contTrips" style="display: none;" rows="10" cols="50">@Html.Raw(item.Description).ToString().Replace("<br/>", "\r\n").Replace("<br>", "\r\n").Replace("<br />", "\r\n")</textarea>
                                <span id="descriptiontripspanTrip_@contTrips" class="descriptiontrip">@Html.Raw(item.Description)</span>
                            </td>
                            <td class="item-buttons">
                                <button id="btnEditarTrip_@contTrips" type="button" value='@contTrips' class="btn btn-xs btn-success editartripline" title="Edit"><span class="glyphicon glyphicon-pencil"></span></button>
                                <button id="btnsaveTripEdit_@contTrips" type="button" value='@contTrips' class="btn btn-xs btn-success savetripline" style="display: none;" title="Edit"><i class="fa fa-check" aria-hidden="true"></i></button>
                                <button id="btnDeletarTrip" type="button" value='@contTrips' class="btn btn-xs btn-danger deletartripline" title="Delete"><span class="glyphicon glyphicon-trash"></span></button>
                                @*<button id="btnsaveVoucherCompleto_@contTrips" type="button" value='@contTrips' class="btn btn-xs btn-warning savevouchercompleto" style="display: none;" title="Save Voucher"><i class="fa fa-save" aria-hidden="true"></i></button>*@
                            </td>
                        </tr>

                        contTrips++;
                    }
                </tbody>

                <tfoot>
                    <tr>
                        <td>
                            <input type="text" id="datainputTripFooter" style="display: none;" />
                        </td>
                        <td>
                            <input type="text" id="destinationtripinputTripFooter" style="display: none;" />
                        </td>
                        <td>
                            <textarea id="descriptiontripinputTripFootr" style="display: none;" rows="10" cols="50"></textarea>
                        </td>
                        <td>
                            <button id="btnAddTripGridFooter" type="button" value='@contTrips' class="btn btn-xs btn-success addtripgrid" title="Add"><span class="glyphicon glyphicon-plus"></span></button>
                            <button id="btnSaveTripGridFooter" type="button" value='@contTrips' class="btn btn-xs btn-success savetripgrid" style="display: none;" title="Save"><span class="glyphicon glyphicon-check"></span></button>
                        </td>
                    </tr>
                </tfoot>

            </table>
        </div>
    </div>

    <br />
    <div class="row col-lg-offset-2">
        <div class="col-md-5">
            Included Services:
        </div>
    </div>
    <div class="row col-lg-offset-2">
        <div class="col-md-10" id="dvincluded">
            @foreach (var item in includedserv)
            {
                <div id="dvIncludedServices_@item.Id">
                    <input type="button" id="btnincluded_@item.Id" class="btn btn-link openeditarincluded" value="@item.Service" name="@item.Id" title="Edit" />
                    <button type="button" id="btnincludedDel_@item.Id" class="btn btn-xs btn-danger excluirincluded" value="@item.Id" title="Deletar"><span class="glyphicon glyphicon-trash"></span></button>
                    <input id="txtEditIncluded_@item.Id" type="text" style="display: none;width:100%;" />
                    <button type="button" id="btnincludedSave_@item.Id" class="btn btn-xs btn-success" style="display: none;" value="@item.Id" onclick="closeTxtIncluded(@item.Id)" title="Save"><i class="fa fa-check" aria-hidden="true"></i></button>
                    <br />
                </div>
            }
        </div>
    </div>

    <br />
    <div class="row col-lg-offset-2">
        <div class="col-md-5">
            At your discretion:
        </div>
    </div>
    <div class="row col-lg-offset-2">
        <div class="col-md-10" id="dvdiscretion">
            @foreach (var item in yourdiscretion)
            {
                <div id="dvDiscretion_@item.Id">
                    <input type="button" id="btnyourdis_@item.Id" class="btn btn-link openeditaryourdis" value="@item.Description" name="@item.Id" title="Edit" />
                    <button type="button" id="btnyourdisdDel_@item.Id" class="btn btn-xs btn-danger excluiryourdiscretion" value="@item.Id" title="Deletar"><span class="glyphicon glyphicon-trash"></span></button>
                    <input id="txtEdityourdis_@item.Id" type="text" style="display: none;width:100%;" />
                    <button type="button" id="btnyourdisSave_@item.Id" class="btn btn-xs btn-success" style="display: none;" value="@item.Id" onclick="closeTxtDiscretion(@item.Id)" title="Save"><i class="fa fa-check" aria-hidden="true"></i></button>
                    <br />
                </div>
            }
        </div>
    </div>
    <br />

    <div class="row col-lg-offset-2">
        <div class="col-md-5">
            <h3>ADDITIONAL INFORMATION</h3>
        </div>
    </div>
    <div class="row col-lg-offset-2">
        <div class="col-md-10">
            <textarea id="EditorSecurityCheck" class="summernote form-control"></textarea>
            <textarea id="EditorSecurityCheckTxtArea" rows="5" style="display: none;">@voucher.SecurityCheck</textarea>
        </div>
    </div>
    <br />

    <div class="row col-lg-offset-2">
        <div class="col-md-10">
            <input type="button" id="btnsalvarvoucher" class="btn btn-success btn-block btn-lg" value="Save" title="Save" />
        </div>
    </div>

</section>




<script type="text/javascript">

    $('.excluiryourdiscretion').click(function () {
        var id = $(this).val();

        $('#dvDiscretion_' + id).remove();
    });

    $('.excluirincluded').click(function () {

        var id = $(this).val();

        $('#dvIncludedServices_' + id).remove();
    });

    $('.deleterecommend').click(function () {

        var id = $(this).val();

        $('#lirecommends_' + id).remove();

    });

    $('#btnZerarVoucher').click(function () {

        $('#btnZerarVoucher').attr("disabled", "disabled");

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };

        $.get("@Url.Action("resetVoucher", "Voucher")", { QuotationGrupoId: $('#quotationid').val(), optQuote: $('#optQuote').val() }, function (d) {

            if (d.success) {
                var $toast = toastr["success"](d.message, "Prosoftware");
                $toastlast = $toast;
            } else {
                var $toast = toastr["error"](d.message, "Prosoftware");
                $toastlast = $toast;
            }

            $('#btnZerarVoucher').removeAttr("disabled");

            location.reload();
        });

    });

    $('#btnGeraVoucherLink').click(function () {

        var url = "@Url.Action("Voucher","Voucher")" + "/?quotationGroupId=" + $('#quotationid').val() + "&optQuote=" + $('#optQuote').val() + "&grpNomes=" + $('#grpnumber').val() + "&allnames=" + $('#allnames').val();

        var win = window.open(url, '_blank');
        if (win) {
            //Browser has allowed it to be opened
            win.focus();
        } else {
            //Browser has blocked it
            alert('Please allow popups for this website');
        }

    });

    $('.deletartripline').click(function () {

        var result = window.confirm('Deseja deletar esse serviço?');
        if (result == false) {
            e.preventDefault();
            return;
        };


        $('#rowcolunatrip_' + $(this).val()).remove();
    });

    $('#btnSaveTripGridFooter').click(function () {

        $.get("@Url.Action("trataTextoTrip", "Voucher")", { texto: $('#descriptiontripinputTripFootr').val() }, function (d) {

            $('#tripTable').append(
                '<tr><td><span class=\"datatrip\">' + $('#datainputTripFooter').val() +
                '</span></td><td><span class=\"destinationtrip\">' + $('#destinationtripinputTripFooter').val() +
                '</span></td><td><span class=\"descriptiontrip\">' + d.text +
                '</span></td><td><span class=\"glyphicon glyphicon-info-sign\"></span>Save voucher to be able to change.</td></tr>');

            SalvaVoucherCompleto();
        });

        $('#datainputTripFooter').hide();
        $('#destinationtripinputTripFooter').hide();
        $('#descriptiontripinputTripFootr').hide();
        $('#btnSaveTripGridFooter').hide();
        $('#btnAddTripGridFooter').show();

        
    });

    $('#btnAddTripGridFooter').click(function () {

        $('#datainputTripFooter').val("");
        $('#destinationtripinputTripFooter').val("");
        $('#descriptiontripinputTripFootr').val("");

        $('#datainputTripFooter').show();
        $('#destinationtripinputTripFooter').show();
        $('#descriptiontripinputTripFootr').show();
        $('#btnSaveTripGridFooter').show();

        $('#btnAddTripGridFooter').hide();
    });

    $('.editartripline').click(function () {

        var cont = $(this).val();

        $('#dataspanTrip_' + cont).hide();
        $('#destinationtripspanTrip_' + cont).hide();
        $('#descriptiontripspanTrip_' + cont).hide();

        var conteudo = $('#descriptiontripinputTrip_' + cont).val();
        var conteudodata = $('#datainputTrip_' + cont).val();

        //$('#datainputTrip_' + cont).val(conteudodata);
        $('#datainputTrip_' + cont).show();

        $('#destinationtripinputTrip_' + cont).show();

        //$('#descriptiontripinputTrip_' + cont).val(conteudo.replace("<br />", "\n"));
        $('#descriptiontripinputTrip_' + cont).show();

        $(this).hide();
        $('#btnsaveTripEdit_' + cont).show();

    });

    $('.savetripline').click(function () {

        var cont = $(this).val();

        //$('#tripTable tbody tr').each(function () {
        //    var textodescritrip = $(this).find(".descriptiontripinputTrip_" + cont).html();
        //    console.log(textodescritrip);
        //});

        $.get("@Url.Action("trataTextoTrip", "Voucher")", { texto: $('.descriptiontripinputTrip_' + cont).val() }, function (d) {

            console.log(d.text);
            $('#descriptiontripspanTrip_' + cont).html(d.text);


            $.get("@Url.Action("trataTextoTrip", "Voucher")", { texto: $('#datainputTrip_' + cont).val() }, function (d2) {
                console.log(d2.text);
                $('#dataspanTrip_' + cont).html(d2.text);

                SalvaVoucherCompleto();
            });

            
        });

        //$('#dataspanTrip_' + cont).html($('#datainputTrip_' + cont).val());
        @*$.get("@Url.Action("trataTextoTrip", "Voucher")", { texto: $('#datainputTrip_' + cont).val() }, function (d) {
            console.log(d.text);
            $('#dataspanTrip_' + cont).html(d.text);            
        });*@

        $('#destinationtripspanTrip_' + cont).html($('#destinationtripinputTrip_' + cont).val());

        //$('.descriptiontripspanTrip_' + cont).html($('.descriptiontripinputTrip_' + cont).html().replace("\n", "<br/>"));


        
        

        $('#dataspanTrip_' + cont).show();
        $('#destinationtripspanTrip_' + cont).show();
        $('#descriptiontripspanTrip_' + cont).show();

        $('#datainputTrip_' + cont).hide();
        $('#destinationtripinputTrip_' + cont).hide();
        $('#descriptiontripinputTrip_' + cont).hide();

        $(this).hide();
        $('#btnEditarTrip_' + cont).show();
        $('#btnsaveVoucherCompleto_' + cont).show();
       
    });

    $('#btnsalvarvoucher').click(function () {
        SalvaVoucherCompleto();
    });
    $('.savevouchercompleto').click(function () {
        SalvaVoucherCompleto();
    });

    function SalvaVoucherCompleto() {



        var recommendstring = "";
        $('#ulRecommend li').each(function () {
            var textorecom = $(this).find(".openeditarrecommend").val();
            recommendstring = recommendstring + textorecom + "°";
        });

        var includeds = "";
        $('#dvincluded div').each(function () {
            var textoinclude = $(this).find(".openeditarincluded").val();
            includeds = includeds + textoinclude + "°";
        });

        var discretions = "";
        $('#dvdiscretion div').each(function () {
            var textodiscretions = $(this).find(".openeditaryourdis").val();
            discretions = discretions + textodiscretions + "°";
        });

        var vtrips = "";
        $('#tripTable tbody tr').each(function () {
            var textodatatrip = $(this).find(".datatrip").html();
            var textodestinationtrip = $(this).find(".destinationtrip").html();
            var textodescritrip = $(this).find(".descriptiontrip").html();
            vtrips = vtrips + textodatatrip + "~" + textodestinationtrip + "~" + textodescritrip + "^";
        });


        var security = $('#EditorSecurityCheck').summernote('code');

        var mod = {
            QuotationGrupoId: $('#quotationid').val(),
            optQuote: $('#optQuote').val(),
            DataPrograma: $('#txtDataInOut').val(),
            TourName: $('#txtTourName').val(),
            TourCode: $('#txtTourCode').val(),
            QtdTravellers: $('#txtTravellersQtd').val(),
            Children: $('#txtChildren').val(),
            Infants: $('#txtInfants').val(),
            TravellersName: $('#txtTravellers').val(),
            Notes: $('#txtNotes').val(),
            security: escape(security),
            EmergencyNumbers: $('#txtEmergencyNumbers').val(),
            importantrecommendations: recommendstring.substring(0, recommendstring.length - 1),
            includedservices: includeds.substring(0, includeds.length - 1),
            atyourdiscretion: discretions.substring(0, discretions.length - 1),
            vouchertrip: escape(vtrips.substring(0, vtrips.length - 1)),
            TitleEmergencyNumbers: $('#txtTitleEmergencyNumbers').val()
        };


        //console.log("recommends:" + recommendstring.substring(0, recommendstring.length - 1));
        //console.log("includes:" + includeds.substring(0, includeds.length - 1));
        //console.log("discretions:" + discretions.substring(0, discretions.length - 1));
        console.log("trip:" + vtrips.substring(0, vtrips.length - 1));

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        $.ajax({
            url: "@Url.Action("salvarvoucher", "Voucher")",
            type: "POST",
            data: mod,
            success: function (d) {

                if (d.success) {
                    var $toast = toastr["success"](d.message, "Prosoftware");
                    $toastlast = $toast;
                } else {
                    var $toast = toastr["error"](d.message, "Prosoftware");
                    $toastlast = $toast;
                }

                location.reload();

                waitingDialog.hide();
            },
            error: function (xhr) {
                alert(xhr);

                waitingDialog.hide();
            }

        });

    }

    $('.summernote').summernote({
        minHeight: 250,
        minwidth: 550
    });
    $('#EditorSecurityCheck').summernote('code', $('#EditorSecurityCheckTxtArea').val());

    function closeTxtDiscretion(id) {

        $('#btnyourdis_' + id).val($('#txtEdityourdis_' + id).val());

        $('#txtEdityourdis_' + id).hide();
        $('#txtEdityourdis_' + id).val("");

        $('#btnyourdisSave_' + id).hide();

        $('#btnyourdis_' + id).show();
        $('#btnyourdisdDel_' + id).show();

    }
    function closeTxtIncluded(id) {

        $('#btnincluded_' + id).val($('#txtEditIncluded_' + id).val());

        $('#txtEditIncluded_' + id).hide();
        $('#txtEditIncluded_' + id).val("");

        $('#btnincludedSave_' + id).hide();

        $('#btnincluded_' + id).show();
        $('#btnincludedDel_' + id).show();

    }
    function closeTxtRecomm(id) {

        $('#btnrecomm_' + id).val($('#txtEditRecomm_' + id).val());

        $('#txtEditRecomm_' + id).hide();
        $('#txtEditRecomm_' + id).val("");

        $('#btnrecommSave_' + id).hide();

        $('#btnrecomm_' + id).show();
        $('#btnrecommDel_' + id).show();

    }

    $('.openeditarrecommend').click(function () {

        var id = $(this).attr('name');
        $('#txtEditRecomm_' + id).show();
        $('#btnrecommSave_' + id).show();
        $('#txtEditRecomm_' + id).val($(this).val());

        $('#btnrecomm_' + id).hide();
        $('#btnrecommDel_' + id).hide();
    });

    $('.openeditarincluded').click(function () {

        var id = $(this).attr('name');
        $('#txtEditIncluded_' + id).show();
        $('#btnincludedSave_' + id).show();
        $('#txtEditIncluded_' + id).val($(this).val());

        $('#btnincluded_' + id).hide();
        $('#btnincludedDel_' + id).hide();
    });

    $('.openeditaryourdis').click(function () {

        var id = $(this).attr('name');
        $('#txtEdityourdis_' + id).show();
        $('#btnyourdisSave_' + id).show();
        $('#txtEdityourdis_' + id).val($(this).val());

        $('#btnyourdis_' + id).hide();
        $('#btnyourdisdDel_' + id).hide();
    });




    var dragSrcEl = null;

    var cols = document.querySelectorAll('.draggable');
    [].forEach.call(cols, function (col) {
        col.addEventListener('dragstart', handleDragStart, false);
        col.addEventListener('dragenter', handleDragEnter, false);
        col.addEventListener('dragover', handleDragOver, false);
        col.addEventListener('dragleave', handleDragLeave, false);
        col.addEventListener('drop', handleDrop, false);
        col.addEventListener('dragend', handleDragEnd, false);
    });

    function handleDragStart(e) {
        var target = this;
        target.style.opacity = '0.4';  // this / e.target is the source node.
        dragSrcEl = target;

        e.dataTransfer.effectAllowed = 'move';
        e.dataTransfer.setData('text/html', this.innerHTML);
    }

    function handleDragOver(e) {
        if (e.preventDefault) {
            e.preventDefault(); // Necessary. Allows us to drop.
        }

        e.dataTransfer.dropEffect = 'move';  // See the section on the DataTransfer object.

        return false;
    }

    function handleDragEnter(e) {
        // this / e.target is the current hover target.
        //this.classList.add('over');
    }

    function handleDragLeave(e) {
        //this.style.opacity = '0.4';  // this / e.target is the source node.
        //this.classList.remove('over');  // this / e.target is previous target element.
    }

    function handleDrop(e) {
        // this / e.target is current target element.
        //console.log(this.innerHTML);

        if (e.stopPropagation) {
            e.stopPropagation(); // Stops some browsers from redirecting.
        }

        // Don't do anything if dropping the same column we're dragging.
        if (dragSrcEl != this) {

            //alert('teste');
            

            $('.confirmChanges').css('display', 'block');
            dragSrcEl.innerHTML = this.innerHTML; //item1.replace('value="' + order1 + '"', 'value="' + order2 + '"');
            this.innerHTML = e.dataTransfer.getData('text/html'); //item2.replace('value="' + order2 + '"', 'value="' + order1 + '"');

            SalvaVoucherCompleto();
        }

        return false;
    }

    function handleDragEnd(e) {
        // this/e.target is the source node.

        [].forEach.call(cols, function (col) {
            col.style.opacity = '1';  // this / e.target is the source node.
        });
    }

</script>