﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Voucher</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-select.css" rel="stylesheet" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <link href="http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Template/AdminLTE.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Template/_all-skins.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Template/blue.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Template/morris.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Template/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Template/datepicker3.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Template/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Template/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/Content/summernote.css" rel="stylesheet" />

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.min.css" rel="stylesheet" />


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/scripts/jquery.tablednd.js"></script>
    <script src="~/Scripts/bootstrap-select.min.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>

    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="~/Scripts/Template/morris.min.js"></script>
    <script src="~/Scripts/Template/jquery.sparkline.min.js"></script>
    <script src="~/Scripts/Template/jquery.knob.js"></script>
    <script src="~/Scripts/Template/daterangepicker.js"></script>
    <script src="~/Scripts/Template/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/Template/bootstrap3-wysihtml5.all.min.js"></script>

    <script src="~/Scripts/Template/jquery.slimscroll.min.js"></script>
    <script src="~/Scripts/Template/fastclick.min.js"></script>
    <script src="~/Scripts/Template/app.min.js"></script>
    <script src="~/Scripts/Template/dashboard.js"></script>
    <script src="~/Scripts/bootstrap-select.min.js"></script>

    <script src="~/scripts/bootstrap3-typeahead.min.js"></script>
    <script src="~/scripts/summernote.min.js"></script>
    <script src="~/scripts/MyScript.js"></script>
    <script src="~/scripts/trailimage.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.min.js"></script>


    <style>
        .voucherTextbox {
            height: 35px;
            width: 100%;
            max-width: 100%;
            border: none;
            border-bottom: 1px solid #555;
        }

        .liTextbox {
            height: 35px;
            width: 100%;
            max-width: 100%;
            border: none;
            border-bottom: 1px solid #555;
        }

        .espacoLabel {
            line-height: 30px;
        }

        .voucherTextarea {
            height: 30px;
            width: 100%;
            border: none;
            border-bottom: 1px solid #555;
            resize: none;
            overflow: auto;
        }

        .voucherTextarea2 {
            height: 80px;
            width: 100%;
            border: none;
            border-bottom: 1px solid #555;
            resize: none;
            overflow: auto;
        }

        .tituloPrograma {
            float: left;
            width: 100%;
            margin: 10px 0;
            border: 3px solid black;
        }

        .direita {
            text-align: right;
        }

        .element {
            position: fixed;
            top: 90%;
            left: 1%;
            padding: 10px;
            font-family: Arial;
            background: #fffea1;
            border: 1px solid #fc0;
            z-index: 999;
        }
    </style>


</head>
<body>

    @{
        DAL.Entity.Voucher voucher = ViewBag.voucher as DAL.Entity.Voucher;
        List<DAL.Entity.Voucher_Recommendations> recommend = ViewBag.ImportantRecommendations as List<DAL.Entity.Voucher_Recommendations>;
        List<DAL.Entity.Voucher_Trip> trips = ViewBag.rptTrip as List<DAL.Entity.Voucher_Trip>;
        List<DAL.Entity.Voucher_IncludedServices> includedserv = ViewBag.IncludedServices as List<DAL.Entity.Voucher_IncludedServices>;
        List<DAL.Entity.Voucher_AtYourDiscretion> yourdiscretion = ViewBag.AtYourDiscretion as List<DAL.Entity.Voucher_AtYourDiscretion>;
    }



    <div class="container" style="font-size: 16px;">

        <div class="row" style="margin-top: 20px;">
            <div class="col-md-12 col-md-offset-4">
                <img src="~/images/logo4star.png" />
            </div>
        </div>

        <div class="row" id="dvexportpdf">
            <div class="col-md-3 col-md-offset-9">

                <span>@ViewBag.lblDataVoucher</span><br />
                <form action="@Url.Action("ExportPDF", "Voucher")" method="get">
                    <input type="hidden" id="quotationGroupId" name="quotationGroupId" value="@voucher.QuotationGrupoId" />
                    <input type="hidden" id="optQuote" name="optQuote" value="@voucher.optQuote" />
                    <input type="hidden" id="grpNomes" name="grpNomes" value="@ViewBag.grpnumber" />
                    <input type="hidden" id="exportpdfallnames" name="allnames" value="@ViewBag.allnames" />
                    <input id="btnGerarPdfVoucher" type="submit" class="btn btn-primary" title="Export to PDF" value="Export to PDF" style="border-radius: 0px;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);background-color: #31baef;border: none;" />
                </form>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-md-offset-3">
                <h1>SouthAmerica.travel Travel Voucher</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2" style="height:3px; background: black;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2" style="height:3px; background: black;margin-top:10px;">
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-2 col-md-offset-1 espacoLabel">
                Tour Name:
            </div>
            <div class="col-md-8">
                <span class="espacoLabel">@voucher.TourName</span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 col-md-offset-1 espacoLabel">
                Tour Code:
            </div>
            <div class="col-md-8">
                <span class="espacoLabel">@voucher.TourCode</span>
            </div>
        </div>


        <div class="row ">
            <div class="col-md-2 col-md-offset-1  espacoLabel">
                Travelers:
            </div>
            <div class="col-md-8">
                <span class="espacoLabel">@voucher.NbrTravellers</span>
            </div>
        </div>


        <div class="row ">
            <div class="col-md-2 col-md-offset-1 espacoLabel">
                Children:
            </div>
            <div class="col-md-8">
                <span class="espacoLabel">@voucher.NbrChildren</span>
            </div>
        </div>


        <div class="row ">
            <div class="col-md-2 col-md-offset-1 espacoLabel">
                Infants:
            </div>
            <div class="col-md-8">
                <span class="espacoLabel">@voucher.NbrInfants</span>
            </div>
        </div>


        <div class="row ">
            <div class="col-md-2 col-md-offset-1 espacoLabel">
                <strong>Travelers:</strong>
            </div>
            <div class="col-md-8">
                <span class="espacoLabel">@voucher.Travellers</span>
            </div>
        </div>

        <div class="row ">
            <div class="col-md-2 col-md-offset-1 espacoLabel">
                <strong>Welcome Sign:</strong>
            </div>
            <div class="col-md-8">
                <span class="espacoLabel">@ViewBag.surname</span>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                Important information:
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <ul id="ulRecommend">
                    @foreach (var item in recommend)
                    {
                        <li>
                            @item.Recommendation
                        </li>
                    }
                </ul>
            </div>
        </div>
        <br />

        <div class="row col-md-offset-4">
            <div class="col-md-8">
                <h2>24/7 Emergency Numbers</h2>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12 col-md-offset-1">
                @*Note:<img src="~/images/Icones/tel.png" height="13" />*@
                @*Reach ANY emergency number via ANY international number at Extension 911 (example: +1 (800) 747-4540 ext. 911)*@
                <span>@Html.Raw(voucher.TitleEmergencyNumbers.Replace("\n","<br>"))</span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <span>@Html.Raw(voucher.EmergencyNumbers.Replace("\n", "<br />"))</span>
            </div>
        </div>

        <br />
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="tituloPrograma" style="text-align: center;">
                    <h3>
                        @voucher.TourName
                        <br />
                        <span>@voucher.DataInOut</span>
                    </h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-md-offset-1">
                Notes:<img src="~/images/Icones/information.png" height="13" />
                <span>@voucher.Note</span>
            </div>
        </div>
        <br />
        <br />

        <div class="row">
            <div class="col-md-10 col-md-offset-1">

                <table class="table table-bordered table-hover" id="tripTable">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Destination</th>
                            <th>Description</th>

                        </tr>
                    </thead>

                    <tbody id="tableBody">
                        @foreach (var item in trips)
                        {
                            <tr>
                                <td style="min-width:100px;">
                                    <p style="text-align:center;">@Html.Raw(item.DateRange)</p>
                                </td>
                                <td>
                                    <span style="text-align:center;">@item.Destination</span>
                                </td>
                                <td>
                                    <span>@Html.Raw(item.Description)</span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>


        <br />
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                Included Services:
            </div>
        </div>
        <div class="row">
            <div class="col-md-10  col-md-offset-2" id="dvincluded">
                @foreach (var item in includedserv)
                {
                    <div>
                        <span>@item.Service</span>
                        <br />
                    </div>
                }
            </div>
        </div>

        <br />
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                At your discretion:
            </div>
        </div>
        <div class="row">
            <div class="col-md-10  col-md-offset-2" id="dvdiscretion">
                @foreach (var item in yourdiscretion)
                {
                    <div>
                        <span>@item.Description</span>
                        <br />
                    </div>
                }
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <h3>ADDITIONAL INFORMATION</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <span>@Html.Raw(voucher.SecurityCheck)</span>
            </div>
        </div>
        <br />




    </div>



</body>
</html>


<script type="text/javascript">

    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    var exportpdf = getParameterByName('exportpdf');

    if (exportpdf == 1) {
        $('#dvexportpdf').hide();
    }

</script>
