﻿@model IEnumerable<DAL.Entity.S_Mercado_Meal>

@if (Model != null && Model.Count() > 0)
{

    <input id="existsMealAddFile" type="hidden" value="1" />

    int i = 0;

    foreach (var item in Model)
    {

        <input id="SmercMealId_@i" type="hidden" value="@item.S_merc_meal_id" />

            <div class="row">
                <div class="col-md-6">
                    <label for="txtDtFrom">Data From</label>
                    <input id="txtDtFromAddMealSozinho_@i" class="form-control" type="date" />

                    <label for="txtDtTo">Data To</label>
                    <input id="txtDtToAddMealSozinho_@i" class="form-control" type="date" />

                    <br />
                    <div class="row">
                        <div class="col-md-3">
                            <input id="btnaddMealSozinho" type="button" class="btn btn-primary btn-sm addmealsozinho" name="@i" value="Add" title="Add" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-4">
                        <label>Meal</label><br />
                        @item.S_Meal.S_meal_nome
                    </div>
                    <div class="col-md-4">
                        <label>Tarifa</label><br />
                        @item.S_merc_meal_tarifa_total
                    </div>
                    <div class="col-md-4">
                        <label>Status</label><br />
                        @if (item.S_Mercado_Tarifa_Status != null)
                        {
                            <span>@item.S_Mercado_Tarifa_Status.S_mercado_tarifa_status_nome</span>
                        }
                    </div>
                </div>
            </div>
            <hr />
        i++;
    }
}
else
{
    <input id="existsMealAddFile" type="hidden" value="0" />
}


<script type="text/javascript">

    $('.addmealsozinho').click(function () {

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };

        var pos = $(this).attr('name');       

        if ($('#txtDtFromAddMealSozinho_' + pos).val() == "") {
            alert('Favor preencher as datas.');
            return false;
        }
        if ($('#txtDtToAddMealSozinho_' + pos).val() == "") {
            alert('Favor preencher as datas.');
            return false;
        }

        

        $.get("@Url.Action("AddMealsList", "Home")", {
            S_merc_periodo_from: $('#txtDtFromAddMealSozinho_' + pos).val(),
            S_merc_periodo_to: $('#txtDtToAddMealSozinho_' + pos).val(),
            S_merc_meal_id: $('#SmercMealId_' + pos).val()
        }, function (d) {

            if (d.success) {
                var $toast = toastr["success"](d.message, "Prosoftware");
                $toastlast = $toast;
            } else {
                var $toast = toastr["error"](d.message, "Prosoftware");
                $toastlast = $toast;
            }

        });
    });

</script>