﻿@model DAL.Models.QuotationGrupoModel

<form role="form" id="form-capa-file" method="post" action="javascript:func()">
    <input type="hidden" id="qCode" name="quotationCode" value="@Model.quotationCode" />
    <input type="hidden" id="qgID" name="Quotation_Grupo_Id" value="@Model.Quotation_Grupo_Id" />
    <input type="hidden" id="cancelallhd" name="cancelallhd" value="@Model.cancelall" />
    <input type="hidden" id="hdgruposelectpaxs" name="grpselecionadonomes" value="" />

    <div class="col-md-5">
        <div class="row">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Data In:</label>
                    <div class="col-sm-9">
                        <input id="txtDataIn" type="date" name="dataIN" value="@string.Format("{0:yyyy-MM-dd}", Model.dataIN)" class="form-control" required="required" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Data Out:</label>
                    <div class="col-sm-9">
                        <input id="txtDataOut" type="date" name="dateOut" value="@string.Format("{0:yyyy-MM-dd}", Model.dateOut)" class="form-control" required="required" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Tipo:</label>
                    <div class="col-sm-9">
                        <select id="ddlTipoCapa" class="form-control selectpicker" data-live-search="true" name="S_mercado_tipo_tarifa_id">
                            @foreach (var item in ViewBag.TipoTarifaCapa)
                            {
                                <option value="@item.S_mercado_tipo_tarifa_id">@item.S_mercado_tipo_tarifa_nome</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Usuário:</label>
                    <div class="col-sm-9">
                        <select id="ddlUserCapa" class="form-control selectpicker" data-live-search="true" name="US_id">
                            <option value="0">Selecione</option>
                            @foreach (var item in ViewBag.Users)
                            {
                                <option value="@item.US_id">@item.US_nome</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Linguagem:</label>
                    <div class="col-sm-9">
                        <select id="ddlLinguagemCapa" class="form-control selectpicker" data-live-search="true" name="FLinguagem_id">
                            @foreach (var item in ViewBag.LinguagemCapa)
                            {
                                <option value="@item.FLinguagem_id">@item.FLinguagem_nome</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Status:</label>
                    <div class="col-sm-9">
                        <select id="ddlStatusCapa" class="form-control selectpicker" data-live-search="true" name="Quotation_status_id">
                            @foreach (var item in ViewBag.ddlStatusCapa)
                            {
                                <option value="@item.Quotation_status_id">@item.Quotation_status_nome</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Moeda:</label>
                    <div class="col-sm-9">
                        <select id="ddlMoedaCapa" class="form-control selectpicker" data-live-search="true" name="Moeda_id">
                            @foreach (var item in ViewBag.ddlMoedaCapa)
                            {
                                <option value="@item.Moeda_id">@item.Moeda_nome</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-3">

                        </div>
                        <div class="col-md-2">
                            <label>ADL:</label>
                            <select id="ddlADLCapa" class="form-control" data-live-search="true" name="QtdAdult">
                                @for (int i = 0; i < 500; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label>CHD:</label>
                            <select id="ddlCHDCapa" class="form-control selectpicker" data-live-search="true" name="QtdChd">
                                @for (int i = 0; i < 10; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label>INF:</label>
                            <select id="ddlINFCapa" class="form-control selectpicker" data-live-search="true" name="QtdBaby">
                                @for (int j = 0; j < 10; j++)
                                {
                                    <option value="@j">@j</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label>Group:</label>
                            <select id="ddlGruposNomes" class="form-control" onchange="GroupChange()">              
                                @foreach (var item in ViewBag.gruposnomesdrop)
                                {
                                    <option value="@item.grp_number°@item.Qtd">Group @item.grp_number</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-6">
                        <input id="btnAddNomesPaxs" type="button" class="btn btn-primary btn-sm" title="Nomes" value="Nomes" style="border-radius:0px;" />
                        <input id="btnAddMarkup" type="button" class="btn btn-primary btn-sm" title="Markup" value="Markup" style="border-radius:0px;" />
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-5">
        <div class="row">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Pax Grp Nome:</label>
                    <div class="col-sm-9">
                        <input id="txtNomeGrupo" type="text" name="Pax_Group_Name" class="form-control" value="@Model.Pax_Group_Name" required="required" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Cliente:</label>
                    <div class="col-sm-9">
                        <input id="txtCliente" type="text" name="Cliente_nome" class="form-control" value="@if (Model.Cliente != null) { @Model.Cliente.Cliente_nome; }" required="required" />
                        <input type="hidden" id="idcliente" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Tour Code:</label>
                    <div class="col-sm-9">
                        <input id="txtTourCode" type="text" name="tourCode" class="form-control" value="@Model.tourCode" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Welcome Sign:</label>
                    <div class="col-sm-9">
                        <input id="txtSurname" type="text" name="surname" class="form-control" value="@Model.surname" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Remarks:</label>
                    <div class="col-sm-9">
                        <textarea id="txtRemarkFile" rows="6" class="form-control" placeholder="Remarks" name="remarks">
                            @if (Model.Remark_File != null && Model.Remark_File.Count > 0)
                            { @Model.Remark_File.First().remarkfile_text;
                            }
                        </textarea>
                        @*<input id="btnSalvaRemarkFile" type="button" class="btn btn-primary btn-sm" title="Salvar" value="Salvar" style="border-radius:0px;" />*@
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-9">
                        <input id="btnNovoFileCapa" type="button" class="btn btn-primary" title="Novo" value="Novo" style="border-radius:0px;" />

                        @if (Model.Quotation_Grupo_Id != 0)
                        {
                            <input id="btnSalvarFileCapa" type="submit" class="btn btn-primary" title="Salvar" value="Salvar" style="border-radius:0px;" />
                            <input id="btnExcluirFileCapa" type="button" class="btn btn-primary" title="Excluir" value="Excluir" style="border-radius:0px;" />
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>

</form>





<div class="modal fade bs-example-modal-lg" id="modalMarkupCapa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Markup</h4>
            </div>

            <div id="markupcapa">
                @Html.Partial("_markup_capa");
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>

        </div>
    </div>
</div>


<div class="modal fade bs-example-modal-lg" id="modalNomesCapa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Nomes</h4>
            </div>



            <div id="nomescapa">
            </div>



        </div>
    </div>
</div>

@*para os nomes da capa do file e grupos*@
<input id="hdgrpselecionado" type="hidden" />

<script type="text/javascript">

    function GroupChange() {

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };

        var pars = $('#ddlGruposNomes').val().split('°');
        $('#hdgrpselecionado').val(pars[0]);
        $('#ddlADLCapa').val(pars[1]);


        var $toast = toastr["success"]("Grupo " + pars[0] + " selecionado.", "Prosoftware");
        $toastlast = $toast;
    }

    function UpdateGroupChnage() {
        
        $.ajax({
                url: "@Url.Action("PreencheGroupsCapa", "Home")",                
                data: { Quotation_Grupo_Id: $('#qgID').val() },
                success: function (data) {
                    $('#ddlGruposNomes').html(data);
                }
            });
    }

    $("#txtNomeGrupo").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "@Url.Action("ObterPaxsGroups", "Home")",
                dataType: "json",
                data: { term: request.term, user_id: $("#ddlUserFilter").val() },
                success: function (data) {
                    response(data);
                }
            });
        },
        min_length: 3,
        select: function (event, ui) {
            waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });
            ObterCodePaxGroup(ui.item.value);
            refreshCapaQuote();
            refreshGridQuote();
            waitingDialog.hide();
            return false;
        },
        delay: 300
    });

    function ObterCodePaxGroup(paxgrp) {
        $.get("@Url.Action("ObterCodePaxGroup", "Home")", { PaxGroup: paxgrp }, function (data) {
            $('#idquotecode').val(data);
            $('#txtSelectFile').val(data);
        });
    }

    $("#txtCliente").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "@Url.Action("ObterClientes", "Home")",
                dataType: "json",
                data: { term: request.term },
                success: function (data) {
                    response(data);
                }
            });
        },
        min_length: 3,
        select: function (event, ui) {
            $('#idcliente').val(ui.item.value);
            $('#txtCliente').val($('#idcliente').val());
            return false;
        },
        delay: 300
    });

    $('#btnAddMarkup').click(function () {
        $("#modalMarkupCapa").modal();
    });

    $('#btnAddNomesPaxs').click(function () {
        $.ajax({
            url: "@Url.Action("CarregaNomesCapa", "Home")",
            type: "GET",
            data: { qCode: $('#qCode').val() },
            success: function (data) {
                $('#nomescapa').html(data);
                $("#modalNomesCapa").modal();
            },
            error: function (xhr) { alert(xhr); }
        });
    });

    $('#btnNovoFileCapa').click(function () {

        var pathname = window.location.pathname.split('/')[1];

        if ($('#txtSelectFile').val() != "") {
            $.ajax({
                url: "@Url.Action("LimpaCapa", "Home")",
                type: "POST",
                success: function (data) {
                    $('#capaquote').html(data);
                    $('#txtSelectFile').val("");
                    $('#idquotecode').val("");

                    $('#tituloFile').html("File");
                    $('#qgID').val("");
                    $('#qCode').val("");
                    $('#optQuoteAtiva').val(1);
                    $('#lstquote').html("<strong>Selecione um File!</strong>");

                    //refreshGridQuote();
                    //refreshGridFile();
                }
            });
        }
        else {
            toastr.options = {
                closeButton: true,
                newestOnTop: false,
                progressBar: true,
                onclick: null,
                showDuration: "300",
                positionClass: "toast-top-right"
            };


            if ($('#txtDataIn').val() == "" ||
               $('#txtDataOut').val() == "" ||
               $('#txtNomeGrupo').val() == "" ||
               $('#txtCliente').val() == "" ||
               $('#ddlTipoCapa').val() == 0 ||
               $('#ddlUserCapa').val() == 0 ||
               $('#ddlLinguagemCapa').val() == 0 ||
               $('#ddlStatusCapa').val() == 0 ||
               $('#ddlMoedaCapa').val() == 0) {
                var $toast = toastr["error"]("Favor preencher todos os campos.", "Prosoftware");
                $toastlast = $toast;
            }
            else {
                $('#btnNovoFileCapa').html('Aguarde...');
                $('#btnNovoFileCapa').attr("disabled", "disabled");

                var model = {
                    Cliente_nome: $('#txtCliente').val(),
                    S_mercado_tipo_tarifa_id: $('#ddlTipoCapa').val(),
                    US_id: $('#ddlUserCapa').val(),
                    FLinguagem_id: $('#ddlLinguagemCapa').val(),
                    Moeda_id: $('#ddlMoedaCapa').val(),
                    Quotation_status_id: $('#ddlStatusCapa').val(),
                    Pax_Group_Name: $('#txtNomeGrupo').val(),
                    dataIN: $('#txtDataIn').val(),
                    dateOut: $('#txtDataOut').val(),
                    tourCode: $('#txtTourCode').val(),
                    remarks: $('#txtRemarkFile').val(),
                    QtdAdult: $('#ddlADLCapa').val(),
                    QtdChd: $('#ddlCHDCapa').val(),
                    QtdBaby: $('#ddlINFCapa').val()
                }

                $.ajax({
                    url: "@Url.Action("CriaFile", "Home")",
                    data: model,
                    type: "POST",
                    success: function (data) {
                        if (data.indexOf("sucesso") > -1) {
                            $('#btnNovoFileCapa').removeAttr("disabled");
                            $('#btnNovoFileCapa').html('Novo');

                            var rt = data.split('~');
                            $('#txtSelectFile').val(rt[1]);
                            $('#idquotecode').val(rt[1]);
                            //$('#dtQuote').val(Date.now);

                            refreshCapaQuote();
                            refreshTituloFile();
                            refreshGridQuote();

                            var $toast = toastr["success"](rt[0], "Prosoftware");
                            $toastlast = $toast;
                        }
                        else {
                            var $toast = toastr["error"](data, "Prosoftware");
                            $toastlast = $toast;
                        }
                    },
                    error: function (xhr) {
                        $('#btnNovoFileCapa').removeAttr("disabled");
                        $('#btnNovoFileCapa').html('Novo');
                        var $toast = toastr["error"](xhr.status, "Prosoftware");
                        $toastlast = $toast;
                    }
                });

            }
        }
    });

    $('#form-capa-file').submit(function () {
        $('#btnSalvarFileCapa').html('Aguarde...');
        $('#btnSalvarFileCapa').attr("disabled", "disabled");

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };

        $('#hdgruposelectpaxs').val($('#hdgrpselecionado').val());

        var mod = $(this).serialize();

        $.ajax({
            url: "@Url.Action("AtualizarFile", "Home")",
            type: "POST",
            data: mod,
            success: function (data) {
                $('#btnSalvarFileCapa').removeAttr("disabled");
                $('#btnSalvarFileCapa').html('Salvar');

                if (data.indexOf("sucesso") > -1) {
                    var $toast = toastr["success"](data, "Prosoftware");
                    $toastlast = $toast;
                }
                else {
                    var $toast = toastr["error"](data, "Prosoftware");
                    $toastlast = $toast;
                }
            },
            error: function (xhr) {
                $('#btnSalvarFileCapa').removeAttr("disabled");
                $('#btnSalvarFileCapa').html('Salvar');
                var $toast = toastr["error"](xhr.status, "Prosoftware");
                $toastlast = $toast;
            }
        });

    });

    @{ int ADL = 0, CHD = 0, INF = 0, S_mercado_tipo_tarifa_id = 0, US_id = 0, FLinguagem_id = 0, Quotation_status_id = 0, Moeda_id = 0; }

    @if(Model.S_Mercado_Tipo_Tarifa != null)
    {
        S_mercado_tipo_tarifa_id = Model.S_Mercado_Tipo_Tarifa.S_mercado_tipo_tarifa_id; US_id = Model.Usuarios.US_id;
        FLinguagem_id = Model.File_Liguagem.FLinguagem_id; Quotation_status_id = Model.Quotation_Status.Quotation_status_id;
        Moeda_id = Model.Moeda.Moeda_id;
    }


    if ('@Model.cancelall' == "True") {
          $('#cancelAll_File').attr("checked", "true");
    } else {
          $('#cancelAll_File').removeAttr("checked");
    }

    $('#ddlTipoCapa').val(@S_mercado_tipo_tarifa_id);
    $('#ddlUserCapa').val(@US_id);
    $('#ddlLinguagemCapa').val(@FLinguagem_id);
    $('#ddlStatusCapa').val(@Quotation_status_id);
    $('#ddlMoedaCapa').val(@Moeda_id);

    @if(Model.Quotation_Grupo_Qtd_Adult != null) { ADL = Model.Quotation_Grupo_Qtd_Adult.First().Qtd;}
    @if(Model.Quotation_Grupo_Qtd_Chd != null) { CHD = Model.Quotation_Grupo_Qtd_Chd.First().Qtd; }
    @if(Model.Quotation_Grupo_Qtd_Baby != null) { INF = (int)Model.Quotation_Grupo_Qtd_Baby.First().Qtd; }

    $('#ddlADLCapa').val(@ADL);
    $('#ddlCHDCapa').val(@CHD);
    $('#ddlINFCapa').val(@INF);

    $('.selectpicker').selectpicker();

</script>
