﻿@model DAL.Models.EditorEmailModel


<div class="row">
    <div class="col-md-4">
        <label for="txtEmailNovo">Email de envio</label>
        <input id="txtEmailNovo" type="text" class="form-control" value="@Model.emailenvio1" />
    </div>
    <div class="col-md-1">
        <input id="btnEnviaEmail" type="button" class="btn btn-primary btn-sm" title="Enviar" value="Enviar" style="margin-top:25px; border-radius:0px;" />
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-12">
        <label for="EditorEmail">Email</label>
        <div class="summernote" id="EditorEmail"></div>
        <textarea id="EditorEmailTxtArea" rows="5" style="display: none;">@Model.conteudo</textarea>
    </div>
</div>

<input type="hidden" id="emailOutLook" value="@Html.Raw(ViewBag.emailOutLook)" />

<script type="text/javascript">

    $('.summernote').summernote({
        minHeight: 250,
        minwidth: 550
    });

    $('#EditorEmail').summernote('code', $('#EditorEmailTxtArea').val());

    $('#btnEnviaEmail').click(function () {        

        var email = $('#txtEmailNovo').val();
        var subject = 'Confirmar Reserva';
        var emailBody = $('#emailOutLook').val();
        //var attach = 'path';
        document.location = "mailto:" + email + "?subject=" + subject + "&body=" + emailBody;
            //+"?attach=" + attach;

    });

    $('#btnEnviaEmail1').click(function () {

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        var mod = {
            IdQuotGrupo: $('#qgID').val(),
            idSpp: $('#ddlSupplierEmails').val(),
            emailEnvio: $('#txtEmailNovo').val(),
            conteudo: escape($('#EditorEmail').val()),
            userCapa: $('#ddlUserCapa').val()
        };

        $.ajax({
            url: "@Url.Action("EnviarEmail", "Home")",
            data: mod,
            type: "POST",
            success: function (data) {
                if (data.indexOf("sucesso") > -1) {
                    var $toast = toastr["success"](data, "Prosoftware");
                    $toastlast = $toast;                   
                }
                else {
                    var $toast = toastr["error"](data, "Prosoftware");
                    $toastlast = $toast;
                }

                waitingDialog.hide();
            },
            error: function (XHR) {
                waitingDialog.hide(); alert(XHR);
            }
        });

    });

</script>
