﻿
<div class="modal-body">

    <div class="row">

        <div class="col-md-3">

            <table id="tblExportBases" class="table table-bordered table-striped">

                <thead>
                    <tr>
                        <th>Base</th>
                        <th>De</th>
                        <th>Até</th>
                    </tr>
                </thead>

                <tbody>

                    @foreach (var item in ViewBag.ExportBases)
                    {
                        <tr>
                            <td><input id="optBaseExport" name="optBaseExport" type="radio" alt="@item.Ranges_de°@item.Ranges_ate" /></td>
                            <td>@item.Ranges_de</td>
                            <td>@item.Ranges_ate</td>
                        </tr>
                    }

                </tbody>

            </table>

        </div>


        <div class="col-md-5">

            <table id="tblExportRooms" class="table table-bordered table-striped">

                <thead>
                    <tr>
                        <th>Room</th>
                        <th>Paxs</th>
                        <th>Rooms</th>
                    </tr>
                </thead>

                <tbody>

                    @foreach (var item in ViewBag.GridRooms)
                    {
                        <tr>
                            <td>@item.room</td>
                            <td><input id="txtQtdRoom_@item.room" type="text" placeholder="Nr" class="form-control qtdroomexport" alt="@item.room" /></td>
                            <td><label id="lblQtdsRooms_@item.room"></label></td>
                        </tr>
                    }

                </tbody>

            </table>

        </div>

        <div class="col-md-3">
            <label for="txtExportQtdServico">Paxs Serviço:</label>
            <input id="txtExportQtdServico" type="text" placeholder="Nr" class="form-control" />
        </div>


    </div>

</div>


<div class="modal-footer">
    <input id="btnExportFile" type="button" class="btn btn-primary" title="Exportar" value="Exportar" />
    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
</div>

<script type="text/javascript">

    $('.qtdroomexport').change(function () {

        var room = $(this).attr('alt');
        var name = "#lblQtdsRooms_" + room;

        switch (room) {
            case "Single":
                $(name).html($(this).val());
                break;

            case "Double":

                if ($(this).val() != "" && $(this).val() == 1) {
                    $(name).html($(this).val());
                }
                else {
                    if ($(this).val() != "") {
                        $(name).html($(this).val() / 2);
                    }
                }
                break;

            case "Triple":
                if ($(this).val() != "" && $(this).val() == 1) {
                    $(name).html($(this).val());
                }
                else {
                    if ($(this).val() != "") {
                        $(name).html($(this).val() / 3);
                    }
                }
                break;
        }
    });

    $('#btnExportFile').click(function () {

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };

        if ($('#txtExportQtdServico').val() == "") {
            var $toast = toastr["error"]("Favor preencher todos os campos.", "ProSoftware");
            $toastlast = $toast;
            return false;
        }

        var todos = false;
        var BaseSelect = "";
        var RoomsQtd = "";

        $('#tblExportBases tbody tr  input:radio').each(function () {
            if (this.checked) {
                BaseSelect = $(this).attr('alt');
                todos = true;
            }
        });

        if (!todos) {
            alert('Favor selecionar uma base.');
            return false;
        }

        $('#tblExportRooms tbody tr .qtdroomexport').each(function () {
            if ($(this).val() == "")
            {
                alert('Favor preencher todos os rooms!');
                todos = false;
                return false;
            }

            RoomsQtd = RoomsQtd + $(this).attr('alt') + "°" + $(this).val() + "~";
        });

        if (todos == true) {                        
            waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });
            $.ajax({
                url: "@Url.Action("ExportFile", "Home")",
                data: {
                    qCode: $('#qCode').val(),
                    OptQuote: $('#optQuoteAtiva').val(),
                    IdQuotGrupo: $('#qgID').val(),
                    Bases: BaseSelect,
                    QtdPaxServ: $('#txtExportQtdServico').val(),
                    roomsQtd: RoomsQtd.substring(0, RoomsQtd.length - 1)
                },
                type: "GET",
                success: function (data) {
                    var $toast = toastr["success"](data, "Prosoftware");
                    $toastlast = $toast;
                    waitingDialog.hide();
                },
                error: function (XHR) { waitingDialog.hide();  alert(XHR); }
            });
        }
    });

</script>