﻿@model DAL.Models.FlightModel


<div class="modal-body">
    @if (Model != null)
    {

        <input id="hdIdFlight" type="hidden" value="@Model.idFlight" name="idFlight" />
        <input id="hdIdRetornaFlight" type="hidden" value="@Model.ServicoID" name="idFlight" />
        <input id="hdFlagFlight" type="hidden" value="@Model.Flag" name="idFlight" />
        <input id="hdTypeFlight" type="hidden" value="@Model.type" name="type" />

            <div class="row">
                <div class="col-md-4">
                    Arrives: <input id="optTipoFlight" name="InOutFlights" type="radio" checked="checked" value="Arrives" />
                    Departs: <input id="optTipoFlight" name="InOutFlights" type="radio" value="Departs" />
                </div>
                @if (Model.txtConfirmationNumber == true)
                {
                    <div class="col-md-4">
                        <label for="txtConfirmationNbr">Confirmation Number</label>
                        <input id="txtConfirmationNbr" type="text" class="form-control" placeholder="Confirmation Number" name="txtConfirmationNumberTXT" value="@Model.txtConfirmationNumberTXT" />
                    </div>
                }
                <div class="col-md-4">
                    <label for="txtFlight">Flight</label>
                    <input id="txtFlight" type="text" class="form-control" placeholder="Flight" name="txtFlight" value="@Model.txtFlight" />
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-2">

                    <div id="cidadeDropFlight">
                        <input id="idCidadeFlight" type="hidden" value="@Model.idCidade" />
                        <label for="ddlCidadeFlight">City</label><a href="javascript:AddCidadetxt()">Add</a>
                        <select id="ddlCidadeFlight" class="form-control" name="idCidade">
                            @foreach (var item in ViewBag.CidadesFlights)
                            {
                                <option value="@item.CID_id">@item.CID_cod_Iata</option>
                            }
                        </select>
                    </div>

                    <div id="cidadeTXTFlight">
                        <label for="txtCity">City</label><a href="javascript:AddCidadeDrop()">Cancel</a>
                        <input id="txtCity" type="text" class="form-control" placeholder="City" name="NomeCidade" />
                    </div>

                </div>

                <div class="col-md-3">
                    <label for="txtTimeFlight">Time</label>
                    <input id="txtTimeFlight" type="text" class="form-control" placeholder="Time" name="txtHoraFlight" value="@Model.txtHoraFlight" />
                </div>
                <div class="col-md-3">
                    <label for="txtPickUpFlight">Pick Up</label>
                    <input id="txtPickUpFlight" type="text" class="form-control" placeholder="Pick Up" name="txtPickUpFlight" value="@Model.txtPickUpFlight" />
                </div>
                <div class="col-md-4">
                    <label for="txtDropOffFlight">Drop Off</label>
                    <input id="txtDropOffFlight" type="text" class="form-control" placeholder="Drop Off" name="txtDropOffFlight" value="@Model.txtDropOffFlight" />
                </div>
            </div>

            <br />
            <div class="row">
                <div class="col-md-12">
                    <label for="txtRemarksFlight">Remarks</label>
                    <textarea id="txtRemarksFlight" class="form-control" placeholder="Remarks" name="txtRemarksFlight" rows="4">@Model.txtRemarksFlight</textarea>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label for="chkOSFlight">Imprimir na ordem de serviço?</label>
                    <input type="checkbox" id="chkOSFlight" title="Imprimir na ordem de serviço" name="chkVooFlightOS" />
                </div>
            </div>

    }
</div>

<div class="modal-footer">
    <input id="btnSalvarFlight" type="submit" class="btn btn-primary" title="Salvar" value="Salvar" />
    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
</div>




<script type="text/javascript">

    if("@Model.NomeCidade" != "n")
    {
        $('#txtCity').val("@Model.NomeCidade");
    }

    if (@Model.idCidade == 0 && "@Model.NomeCidade" != "n")
    {
        $('#cidadeDropFlight').hide();
        $('#cidadeTXTFlight').show();
    }

    if ("@Model.NomeCidade" == "n" && @Model.idCidade == 0)
    {
        $('#cidadeDropFlight').show();
        $('#cidadeTXTFlight').hide();
    }

    if (@Model.idCidade != 0)
    {
        $('#cidadeDropFlight').show();
        $('#cidadeTXTFlight').hide();

        $('#ddlCidadeFlight').val(@Model.idCidade);
    }

    function AddCidadetxt(){
        $("#cidadeDropFlight").fadeOut("slow");
        $("#cidadeTXTFlight").fadeIn("slow");
    }

    function AddCidadeDrop(){
        $("#cidadeDropFlight").fadeIn("slow");
        $("#cidadeTXTFlight").fadeOut("slow");
    }

    $('input:radio[name=InOutFlights][value="@Model.InOutFlights"]').attr('checked', true);

    if("@Model.chkVooFlightOS" != "")
    {
        $('#chkOSFlight').attr("checked", @Model.chkVooFlightOS.ToString().ToLower());
    }

    $('#btnSalvarFlight').click(function(){
        var mod = {
            idFlight: $('#hdIdFlight').val(),
            txtConfirmationNumberTXT: $('#txtConfirmationNbr').val(),
            idCidade: $('#ddlCidadeFlight').val(),
            NomeCidade: $('#txtCity').val(),
            InOutFlights: $('input[name=InOutFlights]:checked').val(),
            txtFlight: $('#txtFlight').val(),
            txtHoraFlight: $('#txtTimeFlight').val(),
            txtPickUpFlight: $('#txtPickUpFlight').val(),
            txtDropOffFlight: $('#txtDropOffFlight').val(),
            txtRemarksFlight: $('#txtRemarksFlight').val(),
            chkVooFlightOS: $('#chkOSFlight').is(":checked"),
            ServicoID: $('#hdIdRetornaFlight').val(),
            Flag: $('#hdFlagFlight').val(),
            type: $('#hdTypeFlight').val()
        };

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        $.ajax({
            url: "@Url.Action("SalvarFlight", "Home")",
            data: mod,
            type: "POST",
            success: function(data){
                var $toast = toastr["success"](data, "Prosoftware");
                $toastlast = $toast;
                refreshGridQuote();
                waitingDialog.hide();
            },
            error: function(XHR){
                alert(XHR);
                waitingDialog.hide();
            }
        });
    });

</script>