﻿@model DAL.Models.InfosOmniModel

@if (Model != null)
{
    if (Model.DescricaoReservaDescXML != null)
    {
        <div class="row">
            <div class="col-md-12">
                <label>Descrição da Reserva</label><br />
                @Model.DescricaoReservaDescXML
            </div>
        </div>
        <br />
    }
    if (Model.DescricaoPagDescXML != null)
    {
        <div class="row">
            <div class="col-md-12">
                <label>Descrição de Pagamento</label><br />
                @Model.DescricaoPagDescXML
            </div>
        </div>
        <br />
    }
    if (Model.DescricaoCancelDescXML != null)
    {
        <div class="row">
            <div class="col-md-12">
                <label>Descrição de Cancelamento</label><br />
                @Model.DescricaoCancelDescXML
            </div>
        </div>
        <br />
    }
    <div class="row">
        <div class="col-md-3">
            <label>Breakfast</label><br />
            @Model.BreackFastDescXML
        </div>
        <div class="col-md-3">
            <label>Status</label><br />
            @Model.status
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>API</label><br />
            @Model.APInome
        </div>
        <div class="col-md-3">
            <label>Reserva</label><br />
            @Model.ReservaCod
        </div>
    </div>
    <br />
    if (Model.DescricaoCancelDescXML != null)
    {
        <div class="row">
            <div class="col-md-12">
                <label>Paxs</label><br />
                @Html.Raw(Model.NomesPaxs)
            </div>
        </div>
    }
}
else
{
    <div class="row">
        <div class="col-md-12">
            <h3>Houve um erro, tente novamente</h3>
        </div>
    </div>
}