﻿@model IEnumerable<DAL.Models.ServicosOSModel>

<div class="row">
    <div class="col-md-4">
        <label for="txtGuiaOS">Guia</label>
        <input id="txtGuiaOS" type="text" class="form-control" placeholder="Guia" name="guiaOS" />
    </div>
    <div class="col-md-4">
        <label for="txtHotelOS">Hotel</label>
        <input id="txtHotelOS" type="text" class="form-control" placeholder="Hotel" name="hotelOS" />
    </div>
    <div class="col-md-4">
        <label for="txtTransportOS">Transport</label>
        <input id="txtTransportOS" type="text" class="form-control" placeholder="Transport" name="transportOS" />
    </div>    
</div>

<br />
<br />
<table id="tblServicosOS" class="table table-bordered table-striped">

    <thead>
        <tr>
            <th><input type="checkbox" id="selectAllServicosOS" title="All" checked="checked" /></th>
            <th>Nome</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td style="width:30px;"><input type="checkbox" class="flat-red" checked="checked" value="@item.IDservico" /></td>
                <td>@item.DataFrom - @item.Cidade - @item.NomeServico</td>
            </tr>
        }

    </tbody>

</table>

<script type="text/javascript">
    $('#selectAllServicosOS').click(function (e) {
        $(this).closest('table').find('td input:checkbox').prop('checked', this.checked);
    });
</script>