﻿@model IEnumerable<DAL.Models.LstTransfersModel>

<div class="box box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">TRANSFERS</h3>
    </div><!-- /.box-header -->
    <div class="box-body">

        @if (ViewBag.SemDataSub != "")
        {
            <div class="row">
                <div class="col-md-6">
                    <div class="alert alert-danger" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <span>@Html.Raw(ViewBag.SemDataSub)</span>
                    </div>
                </div>
            </div>
        }

        <div class="box-group" id="accordion">
            <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
            @{ int i = 0; }
            @foreach (var item in Model)
            {
                <div class="panel box box-primary">
                    <div class="box-header with-border">
                        <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse_@i">
                                <span id="Servicos_Nome_@i">@item.Servicos_Nome</span> - <small id="S_nome_@i">@item.S_nome</small>
                            </a>
                            <button class="btn btn-link infoservico" value="@item.Servicos_Id"> <i class="fa fa-info-circle" aria-hidden="true"></i> </button>
                            @if (item.Recomended == true)
                            { <button class="btn btn-link" value="@item.Servicos_Id" title="recommended"> <i class="fa fa-thumbs-up" style="color:#ff6a6a;" aria-hidden="true"></i> </button> }
                        </h4>
                    </div>
                    <div id="collapse_@i" class="panel-collapse collapse">
                        <div class="box-body">

                            <input type="hidden" id="lblSuplID_@i" value="@item.S_id" />
                            <input type="hidden" id="lblMoedaId_@i" value="@item.Moeda_id" />
                            <input type="hidden" id="lblIdMServicoTemporada_@i" value="@item.IdMServico_Temporada" />


                            <div class="row">
                                <div class="col-md-1">
                                    <label>Período:</label>
                                </div>
                                <div class="col-md-1">
                                    <span id="MServico_DataFrom_@i">@string.Format("{0:dd/MM/yyyy}", item.MServico_DataFrom)</span>
                                </div>
                                <div class="col-md-1">
                                    <span id="MServico_DataFrom_@i">@string.Format("{0:dd/MM/yyyy}", item.MServico_DataTo)</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-1">
                                    <label>Base:</label>
                                </div>
                                <div class="col-md-6">
                                    <span id="bases_@i">@item.Base_de/@item.Base_ate</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-1">
                                    <label>Valor:</label>
                                </div>
                                <div class="col-md-11">
                                    <span id="Moeda_sigla_@i">@item.Moeda_sigla</span>
                                    @if (item.SubServico == true)
                                    {
                                        <span id="Valor_@i">
                                            @item.S_Bases_Valor_valor
                                        </span>
                                    }
                                    else
                                    {
                                        <span id="Valor_@i">
                                            @item.MServico_Valores_Bulk_Total
                                        </span>
                                    }
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-primary btn-sm addservico" title="Add" value="@i" style="border-radius:0px;">
                                        Add
                                    </button>

                                    @if (item.SubServico == true)
                                    {
                                        <button type="button" class="btn btn-primary btn-sm versubservicosTRF" title="Sub Serviços" value="@item.IdMServico_Temporada°@item.Servicos_Nome" style="border-radius:0px;">
                                            Sub Serviços
                                        </button>
                                    }
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                i++;
            }
        </div>
    </div><!-- /.box-body -->
</div><!-- /.box -->


<div class="modal fade" id="modalSubServicosTrf" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="tituloSubServicosTrf"></h4>
            </div>

            <div class="modal-body">
                <div id="dvsubservicostrf">

                </div>
            </div>


        </div>
    </div>
</div>


<script type="text/javascript">

    $('.addservico').click(function () {

        var pos = $(this).val(); // $(this).val().split('°');

        var mod = {
            qCode: $('#qCode').val(),
            IdQuotGrupo: $('#qgID').val(),
            DataFrom: $('#txtDataInTrf').val(),
            DataOut: $('#txtDataOutTrf').val(),
            nomeServico: $('#Servicos_Nome_' + pos).text(),
            NumPax: $('#ddlNumPaxTrf').val(),
            cidade: $('#txtCidadeTrf').val(),
            SupplierNome: $('#S_nome_' + pos).text(),
            moedaid: $("#ddlMoedaCapa").val(),
            S_id: $('#lblSuplID_' + pos).val(),
            OptQuote: $('#optQuoteAtiva').val(),
            IdMServicoTemporada: $('#lblIdMServicoTemporada_' + pos).val(),
            BaseDe: $('#ddlNumPaxTrf').val(),
            BaseAte: $('#ddlNumPaxTrf').val(),
            TipoSrv: "TRF",
            moedaidSeguimento: $('#lblMoedaId_' + pos).val(),
            VrFile: $('#Valor_' + pos).html()
        };

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };

        if ($('input[name=optQuoteFileTrf]:checked').val() == "Quote") {

            $.ajax({
                url: "@Url.Action("AdicionaServicoQuote", "Home")",
                data: mod,
                type: "POST",
                success: function (data) {
                    var arr = data.split('°');
                    var $toast = toastr["success"](arr[0], "Prosoftware");
                    $toastlast = $toast;

                    if (arr[1] != '\n\n' && arr[1] != "") {
                        $('#dvremarksADD').html(arr[1]);
                        $("#modalRemarksADD").modal();
                    }

                    refreshGridQuote();
                },
                error: function (XHR) {
                    alert(XHR);
                }
            });

        } else {

            $.ajax({
                url: "@Url.Action("AdicionaServicoFile", "Home")",
                data: mod,
            type: "POST",
            success: function (data) {
                var arr = data.split('°');
                var $toast = toastr["success"](arr[0], "Prosoftware");
                $toastlast = $toast;

                if (arr[1] != '\n\n' && arr[1] != "") {
                    $('#dvremarksADD').html(arr[1]);
                    $("#modalRemarksADD").modal();
                }

                refreshGridFile();
            },
            error: function (XHR) {
                alert(XHR);
            }
        });

        }

    });

    @*$('.versubservicosTRF').click(function () {
        var arr = $(this).val().split('°');

        $.ajax({
            url: "@Url.Action("VerSubServicosAdicionados", "Home")",
            data: { idTemporada: arr[0], NumPax: $('#ddlNumPaxTrf').val() },
            type: "GET",
            success: function (data) { $('#dvsubservicostrf').html(data); $('#tituloSubServicosTrf').html(arr[1]); $("#modalSubServicosTrf").modal(); },
            error: function (XHR) { alert(XHR); }
        });
    });*@

    $('.versubservicosTRF').click(function () {
        var arr = $(this).val().split('°');

        $.ajax({
            url: "@Url.Action("VerSubServicosAdicionados", "Home")",
            data: {
                idTemporada: arr[0],
                NumPax: $('#ddlNumPaxTrf').val(),
                DataIn: $('#txtDataInTrf').val(), DataOut: $('#txtDataOutTrf').val()
            },
            type: "GET",
            success: function (data) { $('#dvsubservicostrf').html(data); $('#tituloSubServicosTrf').html(arr[1]); $("#modalSubServicosTrf").modal(); },
            error: function (XHR) { alert(XHR); }
        });
    });

    $('.infoservico').click(function () {

        //window.open('http://sp.southamerica.travel/NewTierra/Pages/Servicos/InfoServico.aspx?IdServico=' + $(this).val(), 'infos', 'status=1, scrollbars=yes, width=1300, height=650, top=0, left=0');

        //window.open('http://sp.southamerica.travel/NewTierra/Pages/Servicos/InfoServico.aspx?IdServico=' + $(this).val(), 'infos', 'status=1, scrollbars=yes, width=1300, height=650, top=0, left=0');

        window.open('http://sp.southamerica.travel/TierraMVC/Servicos/InfoServicos?idServico=' + $(this).val(), 'infos', 'status=1, scrollbars=yes, width=1300, height=650, top=0, left=0');

        //window.open('http://localhost:62712/Servicos/InfoServicos?idServico=' + $(this).val(), 'infos', 'status=1, scrollbars=yes, width=1300, height=650, top=0, left=0');
    });


</script>