﻿@model IEnumerable<DAL.Models.NomesOptsModel>

<div class="modal-body">
    <table id="tblNomesOpts" class="table table-bordered table-striped">

        <thead>
            <tr>
                <th>Opções</th>
                <th>Nome</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>Opção: @item.OptQuote</td>
                    <td><input id="txtNomeOpt" type="text" title="@item.OptQuote" placeholder="Nome da Opção" value="@item.OptQuoteNome" class="form-control nomesopt" required="required" /></td>
                </tr>
            }
        </tbody>

    </table>
</div>


<div class="modal-footer">
    <input id="btnSalvarNomesOpt" type="button" class="btn btn-primary" title="Salvar" value="Salvar" />
    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
</div>


<script type="text/javascript">

    $('#btnSalvarNomesOpt').click(function () {

        var arrS = "";
        var entrou = false;

        $('#tblNomesOpts tbody tr .nomesopt').each(function () {

            if ($(this).val() == "") {
                alert("Favor preencher todos os nomes.");
                entrou = true;
                return false;
            }
            arrS = arrS + $(this).attr('title') + "°" + $(this).val() + "~";
        });

        if (!entrou) {
            toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };

            waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

            $.ajax({
                url: "@Url.Action("SalvarOptsNomes", "Home")",
                data: { qCode: $('#qCode').val(), arr: arrS.substring(0, arrS.length - 1) },
                type: "GET",
                success: function (data) {
                    var $toast = toastr["success"](data, "Prosoftware");
                    $toastlast = $toast;
                    waitingDialog.hide();
                },
                error: function (XHR) {
                    alert(XHR);
                }
            });
        }

    });

</script>