﻿@model IEnumerable<DAL.Models.OrdemPagServicosModel>

<div class="row">
    <div class="col-md-4">
        <select id="ddlSppOrdemPag" class="form-control" name="sppOrdemPag" onchange="ddlSppOrdemPagChange()">
            <option value="0">Selecione...</option>
            @foreach (var item in ViewBag.TarifasFileModel)
            {
                <option value="@item.idSupp">@item.NomeSupp</option>
            }
        </select>
    </div>
</div>

<br /><br />    

@if (Model.Count() > 0)
{
    <table id="tblOrdemPagServ" class="table table-bordered table-striped">

        <thead>
            <tr>
                <th>Select</th>
                <th>Data From</th>
                <th>Data To</th>
                <th>Service Name</th>
                <th>Acc/Meal Nome</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="width:30px;"><input type="checkbox" class="flat-red chkOrdemPag" value="@item.ID°@item.TipoQuote" /></td>
                    <td>@string.Format("{0:dd/MM/yyyy}", item.DataFrom)</td>
                    <td>@string.Format("{0:dd/MM/yyyy}", item.DataTo)</td>
                    <td>@item.Service_Name</td>
                    <td>@item.Transf_Nome</td>
                </tr>
            }
        </tbody>

    </table>


    <div class="row">
        <div class="col-md-4">
            <label for="txtTotalOrdemPagamento">Total</label>
            <input id="txtTotalOrdemPagamento" type="text" class="form-control" name="totalOrdemPag" />
        </div>
        <div class="col-md-4">
            <label for="txtDeadlineOrdemPag">Deadline</label>
            <input id="txtDeadlineOrdemPag" type="date" class="form-control" placeholder="Deadline" name="deadlineOrdemPag" />
        </div>       
    </div>

}



<script type="text/javascript">
    //$('#selectAllOrdemPag').click(function (e) {
    //    $(this).closest('table').find('td input:checkbox').prop('checked', this.checked);
    //});

    function ddlSppOrdemPagChange() {
        $('#hdSppIdOrdemPag').val($('#ddlSppOrdemPag').val());
        $.get("@Url.Action("ChangeDropOrdemPag", "Home")", { IdQuotGrupo: $('#qgID').val(), Spp: $("#ddlSppOrdemPag :selected").text() }, function (data) {
            $('#dvreports').html(data);
        });
    }

    $('.chkOrdemPag').click(function () {
        var arrGrid = "";
        $('#tblOrdemPagServ tbody tr  input:checkbox').each(function () {
            if (this.checked) {
                arrGrid = arrGrid + $(this).val() + "~";
            }
        });

        $.get("@Url.Action("chkSelectOrdemPag", "Home")", { arr: arrGrid.substring(0, arrGrid.length - 1) }, function (data) {
            $('#txtTotalOrdemPagamento').val(data);
        });

    });

    if ("@ViewBag.SppOrdemPag" != "") {
        $('#ddlSppOrdemPag option').filter(function () {
            return $(this).text() === '@ViewBag.SppOrdemPag';
        });
        //$("#mySelect1").find("option[text=" + text1 + "]").attr("selected", true);
    }

</script>