﻿@model IEnumerable<DAL.Models.RangesAddTc>

<div class="modal-body">
    <table id="tblOrdenarColunas" class="table table-bordered table-striped">

        <thead>
            <tr>
                <th>De</th>
                <th>Até</th>
                <th>Ordem</th>
            </tr>
        </thead>

        <tbody>
            @{ int i = 0; }

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Ranges_de</td>
                    <td>@item.Ranges_ate</td>
                    <td id="tdOrdemBasesNum_@i">
                        <input type="text" id="txtOrdemBases_@i" class="form-control" style="width: 50px;" value="@item.Ordem" />
                    </td>
                </tr>
                i++;
            }
        </tbody>

    </table>

    <div class="row">
        <div class="col-md-1">
            <input id="btnOrdemBasesSalvar" type="button" class="btn btn-primary btn-sm" value="Salvar" style="border-radius: 0px;" />
        </div>
    </div>

</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
</div>


<script type="text/javascript">

    $('#btnOrdemBasesSalvar').click(function () {

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        var str = "";
        var cont = 0;

        $('#tblOrdenarColunas tbody tr td').each(function () {

            var td = $(this).html();           

            if (td.length > 2) {               
                str = str + $('#txtOrdemBases_' + cont).val() + "°";  

                cont++;
            } else {

                str = str + td + "~";  

            }
                            
        });

         $.ajax({
            type: "GET",
            url: "@Url.Action("OrdenarColunas", "Home")",
            data: { basesOrd: str, Quotation_Id: @Model.First().Quotation_Id, optQuote: $('#optQuoteAtiva').val() },
            success: function (data) {

                if (data.success) {
                    var $toast = toastr["success"](data.message, "ProSoftware");
                    $toastlast = $toast;
                    
                }
                else {
                    var $toast = toastr["error"](data.message, "ProSoftware");
                    $toastlast = $toast;
                }

                refreshGridQuote();
                waitingDialog.hide();
            },
            error: function (xhr) { alert(xhr); waitingDialog.hide(); }
        });

    });

</script>