﻿@model IEnumerable<DAL.Models.LstToursModel>




<div class="box box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">TOURS</h3>
    </div><!-- /.box-header -->
    <div class="box-body">

        @if (ViewBag.SemDataSub != "")
        {
            <div class="row">
                <div class="col-md-6">
                    <div class="alert alert-danger" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <span>@Html.Raw(ViewBag.SemDataSub)</span>
                    </div>
                </div>
            </div>
        }

        <div class="box-group" id="accordion">
            <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
            @{ int i = 0; }
            @foreach (var item in Model)
            {
                <div class="panel box box-primary">
                    <div class="box-header with-border">
                        <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTRS_@i">
                                <span id="Servicos_NomeTRS_@i">@item.Servicos_Nome</span> - <small id="S_nomeTRS_@i">@item.S_nome</small>
                            </a>
                        </h4>
                        <button class="btn btn-link infoservicotour" value="@item.Servicos_Id"> <i class="fa fa-info-circle" aria-hidden="true"></i> </button>
                        @if (item.Recomended == true)
                        { <button class="btn btn-link" value="@item.Servicos_Id" title="recommended"> <i class="fa fa-thumbs-up" style="color:#ff6a6a;" aria-hidden="true"></i> </button> }
                    </div>
                    <div id="collapseTRS_@i" class="panel-collapse collapse">
                        <div class="box-body">

                            <input type="hidden" id="lblSuplIDTRS_@i" value="@item.S_id" />
                            <input type="hidden" id="lblMoedaIdTRS_@i" value="@item.Moeda_id" />
                            <input type="hidden" id="lblIdMServicoTemporadaTRS_@i" value="@item.IdMServico_Temporada" />


                            <div class="row">
                                <div class="col-md-1">
                                    <label>Período:</label>
                                </div>
                                <div class="col-md-1">
                                    <span id="MServico_DataFromTRS_@i">@string.Format("{0:dd/MM/yyyy}", item.MServico_DataFrom)</span>
                                </div>
                                <div class="col-md-1">
                                    <span id="MServico_DataFromTRS_@i">@string.Format("{0:dd/MM/yyyy}", item.MServico_DataTo)</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-1">
                                    <label>Base:</label>
                                </div>
                                <div class="col-md-6">
                                    <span id="basesTRS_@i">@item.Base_de/@item.Base_ate</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-1">
                                    <label>Valor:</label>
                                </div>
                                <div class="col-md-11">
                                    <span id="Moeda_siglaTRS_@i">@item.Moeda_sigla</span>
                                    @if (item.SubServico == true)
                                    {
                                        if (item.TipoBaseId == 1)
                                        {
                                            var val = (item.S_Bases_Valor_valor / item.Base_de);
                                            <span id="ValorTRS_@i">
                                                @item.S_Bases_Valor_valor
                                                @*@val*@
                                            </span>
                                        }
                                        else
                                        {
                                            <span id="ValorTRS_@i">
                                                @item.S_Bases_Valor_valor
                                            </span>
                                        }
                                    }
                                    else
                                    {
                                        if (item.TipoBaseId == 1)
                                        {
                                            var val = (item.MServico_Valores_Bulk_Total / item.Base_de);
                                            <span id="ValorTRS_@i">
                                                @val
                                                @*@item.MServico_Valores_Bulk_Total*@
                                            </span>
                                        }
                                        else
                                        {
                                            <span id="ValorTRS_@i">
                                                @item.MServico_Valores_Bulk_Total
                                            </span>
                                        }
                                    }
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-primary btn-sm addservicoTRS" title="Add" value="@i" style="border-radius:0px;">
                                        Add
                                    </button>

                                    @if (item.SubServico == true)
                                    {
                                        <button type="button" class="btn btn-primary btn-sm versubservicosTRS" title="Sub Serviços" value="@item.IdMServico_Temporada°@item.Servicos_Nome" style="border-radius:0px;">
                                            Sub Serviços
                                        </button>
                                    }
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                i++;
            }
        </div>
    </div><!-- /.box-body -->
</div><!-- /.box -->


<div class="modal fade" id="modalSubServicosTrs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="tituloSubServicosTrs"></h4>
            </div>

            <div class="modal-body">
                <div id="dvsubservicostrs">

                </div>
            </div>


        </div>
    </div>
</div>




<script type="text/javascript">



    $('.addservicoTRS').click(function () {

        var pos = $(this).val(); // $(this).val().split('°');

        var mod = {
            qCode: $('#qCode').val(),
            IdQuotGrupo: $('#qgID').val(),
            DataFrom: $('#txtDataInTur').val(),
            DataOut: $('#txtDataOutTur').val(),
            nomeServico: $('#Servicos_NomeTRS_' + pos).text(),
            NumPax: $('#ddlNumPaxTur').val(),
            cidade: $('#txtCidadeTur').val(),
            SupplierNome: $('#S_nomeTRS_' + pos).text(),
            moedaid: $("#ddlMoedaCapa").val(),
            S_id: $('#lblSuplIDTRS_' + pos).val(),
            OptQuote: $('#optQuoteAtiva').val(),
            IdMServicoTemporada: $('#lblIdMServicoTemporadaTRS_' + pos).val(),
            BaseDe: $('#ddlNumPaxTur').val(),
            BaseAte: $('#ddlNumPaxTur').val(),
            TipoSrv: "TRS",
            moedaidSeguimento: $('#lblMoedaIdTRS_' + pos).val(),
            VrFile: $('#ValorTRS_' + pos).html()
        };

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };

        if ($('input[name=optQuoteFileTur]:checked').val() == "Quote") {
            $.ajax({
                url: "@Url.Action("AdicionaServicoQuote", "Home")",
                data: mod,
                type: "POST",
                success: function (data) {
                    var arr = data.split('°');

                    console.log(data);

                    if (arr[1] == "holiday"){

                        var $toast = toastr["error"](arr[0], "Prosoftware");
                        $toastlast = $toast;

                        console.log(arr[1]);

                        if (arr[1] != '') {
                            //if (arr[1] != '\n\n' && arr[1] != "") {
                            $('#dvremarksADD').html(arr[2]);
                            $("#modalRemarksADD").modal();
                            //}
                        }

                    }
                    else {

                        console.log(arr[1]);

                        if (arr[1] != '') {
                            $('#dvremarksADD').html(arr[1]);
                            $("#modalRemarksADD").modal();
                        }

                        var $toast = toastr["success"](arr[0], "Prosoftware");
                        $toastlast = $toast;
                    }
                    

                   

                    refreshGridQuote();
                },
                error: function (XHR) {
                    alert(XHR);
                }
            });
        } else {

            $.ajax({
                url: "@Url.Action("AdicionaServicoFile", "Home")",
                data: mod,
            type: "POST",
            success: function (data) {
                var arr = data.split('°');

                if (arr[1] == "holiday") {

                    var $toast = toastr["error"](arr[0], "Prosoftware");
                    $toastlast = $toast;

                    //if (arr[1] != '\n\n' && arr[1] != "") {
                    $('#dvremarksADD').html(arr[2]);
                    $("#modalRemarksADD").modal();
                    //}

                }
                else {


                    $('#dvremarksADD').html(arr[1]);
                    $("#modalRemarksADD").modal();

                    var $toast = toastr["success"](arr[0], "Prosoftware");
                    $toastlast = $toast;
                }

                //var $toast = toastr["success"](arr[0], "Prosoftware");
                //$toastlast = $toast;

                //if (arr[1] != '\n\n' && arr[1] != "") {
                //    $('#dvremarksADD').html(arr[1]);
                //    $("#modalRemarksADD").modal();
                //}

                refreshGridFile();
            },
            error: function (XHR) {
                alert(XHR);
            }
            });

        }

    });

    $('.versubservicosTRS').click(function () {
        var arr = $(this).val().split('°');

        $.ajax({
            url: "@Url.Action("VerSubServicosAdicionados", "Home")",
            data: { idTemporada: arr[0], NumPax: $('#ddlNumPaxTur').val(), DataIn: $('#txtDataInTur').val(), DataOut: $('#txtDataOutTur').val() },
            type: "GET",
            success: function (data) { $('#dvsubservicostrs').html(data); $('#tituloSubServicosTrs').html(arr[1]); $("#modalSubServicosTrs").modal(); },
            error: function (XHR) { alert(XHR); }
        });
    });

    $('.infoservicotour').click(function () {

        //window.open('http://sp.southamerica.travel/NewTierra/Pages/Servicos/InfoServico.aspx?IdServico=' + $(this).val(), 'infos', 'status=1, scrollbars=yes, width=1300, height=650, top=0, left=0');

        //window.open('http://localhost:56899/Pages/Servicos/InfoServico.aspx?IdServico=' + $(this).val(), 'infos', 'status=1, scrollbars=yes, width=1300, height=650, top=0, left=0');

        window.open('http://sp.southamerica.travel/TierraMVC/Servicos/InfoServicos?idServico=' + $(this).val(), 'infos', 'status=1, scrollbars=yes, width=1300, height=650, top=0, left=0');

        //window.open('http://localhost:62712/Servicos/InfoServicos?idServico=' + $(this).val(), 'infos', 'status=1, scrollbars=yes, width=1300, height=650, top=0, left=0');
    });


</script>
