﻿@model IEnumerable<DAL.Models.GridQuoteModel>


<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-1">
                <input id="txtBaseDe" type="text" class="form-control" placeholder="De" value="2" />
            </div>
            <div class="col-md-1">
                <input id="txtBaseAte" type="text" class="form-control" placeholder="Até" value="2" />
            </div>
            <div class="col-md-1">
                <input id="btnAddBase" type="button" class="btn btn-primary btn-sm" value="Add Base" style="border-radius: 0px;" />
            </div>
            <div class="col-md-1">
                <input id="btnAddTC" type="button" class="btn btn-primary btn-sm" value="Add TC" style="border-radius: 0px;" />
            </div>
            <div class="col-md-1">
                <input id="btnAddOpt" type="button" class="btn btn-primary btn-sm" value="Add Opt" style="border-radius: 0px;" />
            </div>
            <div class="col-md-1">
                <input id="btnAddNomesOpt" type="button" class="btn btn-primary btn-sm" value="Nome Opt" style="border-radius: 0px;" />
            </div>
            <div class="col-md-1">
                <input id="btnDelOpt" type="button" class="btn btn-primary btn-sm" value="Del Opt" style="border-radius: 0px;" />
            </div>
            <div class="col-md-1">
                <input id="btnDelColuna" type="button" class="btn btn-primary btn-sm" value="Del Coluna" style="border-radius: 0px;" />
            </div>
            <div class="col-md-1">
                <input id="btnOpenExportFile" type="button" class="btn btn-primary btn-sm" value="Export File" style="border-radius: 0px;" />
            </div>
            <div class="col-md-1">
                <input id="btnOpenGerarGrid" type="button" class="btn btn-primary btn-sm" value="Grid" style="border-radius: 0px;" />
            </div>
            <div class="col-md-1">
                <input id="btnOpenGerarPacote" type="button" class="btn btn-primary btn-sm" value="Gerar Pacote" style="border-radius: 0px;" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-1">
                <input id="btnOpenSendFlights" type="button" class="btn btn-danger btn-sm" value="PNR" style="border-radius: 0px;" />
            </div>
            <div class="col-md-1">
                <input id="btnOrdemBases" type="button" class="btn btn-primary btn-sm" value="Ord Bases" style="border-radius: 0px;" />
            </div>
        </div>
    </div>
</div>


@if (Model.Count() > 0)
{

    <br />

    <div class="row">
        <div class="col-md-12">
            <div id="dvoptions">
                @foreach (var item in ViewBag.Options)
                {
                    <input type="button" class="btn btn-primary option" value="@item" title="@item" style="border-radius: 0px;" />
                }
            </div>

            <br /><br />
            <button id="btnExcluirItensQuote" type="button" class="btn btn-default" title="Deletar item selecionado" style="border-radius: 0px;">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
        </div>
    </div>

    <br />

    <table id="tblQuote" class="table table-bordered table-striped">

        <thead>
            <tr>
                <th><input type="checkbox" id="selectAll" title="All" /></th>
                <th>From</th>
                <th>To</th>
                <th>Nome</th>
                <th>Rooms/Meals</th>
                <th>Stat</th>
                <th>Remarks</th>
                <th>Flight</th>
                <th>Bulk</th>
                <th style="text-align: center;">Opt</th>
                <th>Provisório</th>
                @foreach (var item in ViewBag.Bases)
                {
                    <th style="text-align:center;">@item</th>
                }
            </tr>
        </thead>

        <tbody>
            @{
                List<string> g = Model.First().lstValores; int i = 0; int k = 0;
                DAL.Persistencia.CidadeDAL cDAL = new DAL.Persistencia.CidadeDAL();
                DAL.Persistencia.SupplierDAL sppDal = new DAL.Persistencia.SupplierDAL();
                DAL.Persistencia.FileTransfersDAL frdal = new DAL.Persistencia.FileTransfersDAL();
                DAL.Persistencia.ServicoDAL serdal = new DAL.Persistencia.ServicoDAL();
                DAL.Persistencia.FileTarifasDAL ftDal = new DAL.Persistencia.FileTarifasDAL();
                DAL.Persistencia.DescricaoDAL dd = new DAL.Persistencia.DescricaoDAL();
            }

            @foreach (var item in Model)
            {
                string dayweekFrom = Convert.ToDateTime(item.dtFrom).DayOfWeek.ToString();
                string dayweekTo = Convert.ToDateTime(item.dtTo).DayOfWeek.ToString();

                <tr id="@item.IdRetorna°@item.Flag°@item.Ordem°@k">
                    <td style="width:20px;">
                        <input type="hidden" id="tblQuoteOrdem_@k" value="@item.IdRetorna°@item.Flag°@item.Ordem°@item.dtFrom" />
                        <input type="checkbox" class="flat-red" value="@item.IdRetorna" />
                    </td>
                    <td style="width:50px;">
                        <button class="btn btn-link datafromquote" value="@item.Flag°@item.IdRetorna°@item.Ordem°@item.dtFrom">
                            @string.Format("{0:dd/MM/yy}", item.dtFrom) <br />
                            @dayweekFrom
                        </button>
                    </td>
                    <td style="width:50px;">
                        <button class="btn btn-link datatoquote" value="@item.Flag°@item.IdRetorna">
                            @string.Format("{0:dd/MM/yy}", item.dtTo) <br />
                            @dayweekTo
                        </button>
                    </td>
                    <td style="width:100px;">
                        @switch (item.Flag)
                        {
                            case "hotel":

                                DAL.Entity.Cidade cid = cDAL.ObterPorNomeSupplier(item.Nome);
                                DAL.Entity.Supplier spp = sppDal.ObterSupplierPorNome(item.Nome, cid.CID_id);
                                DAL.Entity.Supplier sppResp = sppDal.ObterPorId((int)spp.Responsavel_id);

                                string title = "";
                                string pacotenome = "";

                                if (spp.S_id != sppResp.S_id)
                                {
                                    title = "Responsável: " + sppResp.S_nome;
                                }
                                else
                                {
                                    title = "Hotel: " + item.Nome;
                                }

                                if (item.NomePacote != null)
                                {
                                    title = title + "\r\nPacote: " + item.NomePacote;
                                    pacotenome = item.NomePacote;
                                }

                                <b title="@title">@cid.CID_cod_Iata  @item.Nome</b><br />
                                if (!pacotenome.Equals(""))
                                {
                                    <span>@pacotenome</span>
                                }

                                break;
                            case "servico":
                                DAL.Entity.Cidade cids = new DAL.Entity.Cidade();

                                if (item.idCidade == 0)
                                { cids = cDAL.ObterPorNomeServico(item.Nome); }
                                else
                                { cids = cDAL.ObterPorId(item.idCidade); }

                                string title1 = "Supplier: " + item.NomeSupp;

                                @*<span title="@title1">@cids.CID_cod_Iata  @item.Nome</span>*@

                                <span>@cids.CID_cod_Iata</span><br />
                                <button class="btn btn-link trocarSupplier btn-sm" style="padding:0px;" title="@title1" value="@item.IdRetorna°@item.Flag">@item.Nome</button>

                                break;
                            case "extra":

                                DAL.Entity.Cidade cservextra = new DAL.Entity.Cidade();
                                if (item.S_id != 0)
                                { cservextra = cDAL.ObterPorIDSupplier(item.S_id); }
                                else if (item.idCidade == 0)
                                { cservextra = cDAL.ObterPorNomeSupplier(item.NomeSupp); }
                                else
                                { cservextra = cDAL.ObterPorId(item.idCidade); }

                                //DAL.Entity.Cidade cservextra = cDAL.ObterPorNomeSupplier(item.NomeSupp);

                                string title2 = "Supplier: " + item.NomeSupp;

                                <span style="color:red">@cservextra.CID_cod_Iata</span><br />
                                <button style="color:red;" class="btn btn-link trocarSupplier btn-sm" style="padding:0px;" title="@title2" value="@item.IdRetorna°@item.Flag">@item.Nome</button>

                                break;
                        }
                    </td>

                    <td style="width:40px;">
                        @*Comentario*@
                        @*@if (item.Plataforma_id != 0)
                            {
                                <button class="btn btn-link btnopenomniquote" title="API" value="@item.IdRetorna">
                                    <i class="fa fa-globe fa-lg" aria-hidden="true"></i>
                                </button>
                            }*@
                        @if (item.Plataforma_id == 1)
                        {
                            <button class="btn btn-link btnopenomni" title="OMNI" value="@item.IdRetorna">
                                <i class="fa fa-globe fa-lg" aria-hidden="true"></i>
                            </button>
                        }
                        @if (item.Plataforma_id == 2)
                        {
                            <button class="btn btn-link btnopenroomsxml" title="RoomsXML" value="@item.IdRetorna">
                                <i class="fa fa-globe fa-lg" aria-hidden="true"></i>
                            </button>
                        }
                        @if (item.Plataforma_id == 3)
                        {
                            <button class="btn btn-link btnopencts" title="CTS" value="@item.IdRetorna">
                                <i class="fa fa-globe fa-lg" aria-hidden="true"></i>
                            </button>
                        }
                        @if (item.Plataforma_id == 4)
                        {
                            <button class="btn btn-link btnopenHotelsPro" title="HotelsPro" value="@item.IdRetorna">
                                <i class="fa fa-globe fa-lg" aria-hidden="true"></i>
                            </button>
                        }

                        @if (item.Plataforma_id == 0 && !item.Plataforma.Equals(""))
                        {
                            <button class="btn btn-link" title="@item.Plataforma" value="@item.Plataforma">
                                <i class="fa fa-globe fa-lg" style="color: #ffd800;" aria-hidden="true"></i>
                            </button>
                        }

                        @if (item.MealNome == null)
                        {
                            <span>@item.Room - @item.Categoria</span>
                        }
                        else
                        {
                            @item.MealNome;
                        }
                    </td>

                    <td style="width:30px;" id="tdquote_@k">
                        @*@switch (item.Status)
                            {
                                case "OK":
                                    <button class="btn btn-link trocarStatus" name="@item.IdRetorna°@item.Status°@item.Flag" title="OK">
                                        <img src="~/images/icon/Confirm.bmp" alt="OK" />
                                    </button>
                                    break;
                                case "OR":
                                    <button class="btn btn-link trocarStatus" name="@item.IdRetorna°@item.Status°@item.Flag" title="OR">
                                        <img src="~/images/icon/OnRequest.bmp" alt="OR" />
                                    </button>
                                    break;
                            }*@

                        @*Comentario*@
                        @switch (item.Status)
                        {
                            case "OK":
                                <button class="btn btn-link btnStatusQuote" name="@k°@item.IdRetorna°@item.Flag" title="OK">
                                    <img src="~/images/icon/Confirm.bmp" alt="OK" />
                                </button>
                                break;
                            case "OR":
                                <button class="btn btn-link btnStatusQuote" name="@k°@item.IdRetorna°@item.Flag" title="OR">
                                    <img src="~/images/icon/OnRequest.bmp" alt="OR" />
                                </button>
                                break;
                            case "CA":
                                <button class="btn btn-link btnStatusQuote" name="@k°@item.IdRetorna°@item.Flag" title="CA">
                                    <img src="~/images/icon/Cancelled.bmp" alt="CA" />
                                </button>
                                break;
                        }
                    </td>

                    <td style="text-align:center;width:30px">
                        @if (item.Flag.Equals("servico"))
                        {
                            var f = frdal.ObterPorId(item.IdRetorna);
                            var ss = serdal.ObterPorNome(f.Transf_nome);

                            if (!String.IsNullOrEmpty(ss.Servicos_descrRemarks))
                            {
                                <button id="btnopenremarkservquote" class="btn btn-link btnopenremarkservico" value="@item.IdRetorna°@item.Flag" title="Remarks">
                                    <img src="~/images/Remarks.png" />
                                </button>
                                //remark = ss.Servicos_descrRemarks;
                            }
                        }
                        @if (item.Flag.Equals("hotel"))
                        {
                            var f = ftDal.ObterPorId(item.IdRetorna);

                            var ddht = dd.ObterPorIdSupp((int)f.S_id);

                            if (ddht != null)
                            {
                                if (ddht.Desc_remarks != null && ddht.Desc_remarks != "")
                                {
                                    <button id="btnopenremarkservquote" class="btn btn-link btnopenremarkservico" value="@item.IdRetorna°@item.Flag" title="Remarks">
                                        <img src="~/images/Remarks.png" />
                                    </button>
                                }
                            }
                        }
                    </td>

                    <td style="width:30px;">
                        @if (item.Flight_id != 0)
                        {
                            <button class="btn btn-link quoteFlight" name="@item.IdRetorna°@item.Flight_id°@item.Flag">
                                <img src="~/images/icon/flights.png" alt="..." />
                            </button>
                        }
                        else
                        {
                            <button class="btn btn-link quoteFlight" name="@item.IdRetorna°@item.Flight_id°@item.Flag">
                                <img src="~/images/icon/flightsS.png" alt="..." />
                            </button>
                        }
                    </td>

                    <td style="width:30px;">
                        @if (item.Bulk != true)
                        {
                            <a href="#" class="trocarBulk" name="@item.IdRetorna°@item.Bulk°@item.Flag" title="False">
                                <img src="~/images/icon/minus.png" alt="..." />
                            </a>
                        }
                        else
                        {
                            <a href="#" class="trocarBulk" name="@item.IdRetorna°@item.Bulk°@item.Flag" title="True">
                                <img src="~/images/icon/ok.gif" alt="..." />
                            </a>
                        }
                    </td>

                    <td style="width:80px; text-align: center;">
                        @if (item.Optional != true)
                        {
                            <a href="#" class="trocarOptional" name="@item.IdRetorna°@item.Optional°@item.Flag" title="False">
                                <img src="~/images/icon/minus.png" alt="..." />
                            </a>
                        }
                        else
                        {
                            <a href="#" class="trocarOptional" name="@item.IdRetorna°@item.Optional°@item.Flag" title="True">
                                <img src="~/images/icon/ok.gif" alt="..." />
                            </a>
                        }
                    </td>

                    <td style="text-align:center;">
                        @if (item.Provisorio == true)
                        {
                            <img src="~/images/icon/provisorio.png" alt="..." style="width:20px;" />
                        }
                        @*else if (item.Flag.Equals("hotel"))
                            {
                                <img src="~/images/icon/naoprovisorio.png" alt="..." style="width:20px;" />
                            }*@
                    </td>

                    @foreach (var item2 in ViewBag.Bases)
                    {
                        <td style="text-align:center;">
                            @{ string valor = g.Where(s => s.Contains(item.IdRetorna.ToString()) && s.Contains(item2)).First();
                                string idRg = "", bsa = "";
                                string[] pars = valor.Split('~');
                                if (i < pars.Length)
                                {
                                    string[] vr = pars[i].Split('°');
                                    bsa = vr[2];
                                    valor = vr[3];
                                    idRg = vr[0];
                                    i++;
                                }
                            }
                            <button class="btn btn-link linkvalores" name="@idRg°@item.Nome°@bsa" title="@valor">
                                @valor
                            </button>
                        </td>
                                }
                </tr>
                                    i = 0;
                                    k++;
                                }
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td style="font-size: 10px; color: red;">@Html.Raw(ViewBag.TotalTitulo)</td>
                @foreach (var itemTot in ViewBag.TotalVr)
                {
                    string[] totais = itemTot.Split('°');
                    <td style="font-size: 10px; color: red; text-align:center;">
                        @for (int p = 1; p <= totais.Length - 1; p++)
                        {
                            if (p == 1)
                            {
                                @totais[p]
                            }
                            else
                            {
                                @Html.Raw(totais[p])
                            }
                        }
                    </td>
                }

            </tr>
        </tbody>

    </table>

                                }



<script type="text/javascript">


    $('.btnopenremarkservico').click(function () {

        var pars = $(this).val().split('°');

        $.post("@Url.Action("ObterRemarkServico", "Home")", { idservico: pars[0], type: pars[1] }, function (d) {

            if (d.existe) {
                $('#dvremarksADD').html(d.remark);
                $("#modalRemarksADD").modal();
            } else {
                alert('Serviço sem remarks!');
            }
        });


    });

    $('#btnOpenSendFlights').click(function () {

        $('#idQcodeUploadFileFlights').val($('#qCode').val());
        $('#idQuotGrupoFileFlights').val($('#qgID').val());
        $('#optQuoteFileFlights').val($('#optQuoteAtiva').val());

        $("#modalUpdFileFlight").modal();
    });

    $('.btnopenomniquote').click(function () {
        $.get("@Url.Action("OpenInfosOmniQuote", "Home")", { IdRetorna: $(this).val(), type: "OMNI" }, function (data) {
            $('#dvinfosomni').html(data);
            $('#tituloModalOmni').html("OMNI");
            $("#modalInfosOmni").modal();
        });
    });


    $('.btnopenomni').click(function () {
        $.get("@Url.Action("OpenInfosOmniQuote", "Home")", { IdRetorna: $(this).val(), type: "OMNI" }, function (data) {
            $('#dvinfosomni').html(data);
            $('#tituloModalOmni').html("OMNI");
            $("#modalInfosOmni").modal();
        });
    });

    $('.btnopencts').click(function () {
        $.get("@Url.Action("OpenInfosOmniQuote", "Home")", { IdRetorna: $(this).val(), type: "CTS" }, function (data) {
            $('#dvinfosomni').html(data);
            $('#tituloModalOmni').html("CTS");
            $("#modalInfosOmni").modal();
        });
    });

    $('.btnopenroomsxml').click(function () {
        $.get("@Url.Action("OpenInfosOmniQuote", "Home")", { IdRetorna: $(this).val(), type: "RoomsXML" }, function (data) {
            $('#dvinfosomni').html(data);
            $('#tituloModalOmni').html("RoomsXML");
            $("#modalInfosOmni").modal();
        });
    });

    $('.btnopenHotelsPro').click(function () {
        $.get("@Url.Action("OpenInfosOmniQuote", "Home")", { IdRetorna: $(this).val(), type: "HotelsPro" }, function (data) {
            $('#dvinfosomni').html(data);
            $('#tituloModalOmni').html("HotelsPro");
            $("#modalInfosOmni").modal();
        });
    });


    $("#tblQuote").tableDnD({
        onDrop: function (table, row) {
            //var rows = table.tBodies[0].rows;
            //var debugStr = "Row dropped was " + row.id + ". New order: ";
            //for (var i = 0; i < rows.length; i++) {
            //    debugStr += rows[i].id + " ";
            //}


            $("#tblQuote").addClass("table-bordered table-striped");
            $('#' + row.id).removeClass('alt');
            var arr = row.id.split('°');

            var p = 0;
            $('#tblQuote tbody tr').each(function () {
                if ($(this).attr('id') == row.id) {
                    return false;
                }
                p++;
            });

            var ant = eval(p);
            var pos = eval(p) + 1;

            var clique = $('#tblQuoteOrdem_' + arr[3]).val();

            var arrAnt = $('#tblQuoteOrdem_' + ant).val();
            var arrPos = $('#tblQuoteOrdem_' + pos).val();

            $.get("@Url.Action("AlteraOrdemQuote", "Home")", { idRetorna: arr[0], Ordem: arr[2], flag: arr[1], Anterior: arrAnt, Posterior: arrPos, clicado: clique, qCode: $("#idquotecode").val(), optquote: $('#optQuoteAtiva').val() }, function (data) {

                if (data.success) {
                    refreshGridQuote();
                    return false;
                } else {

                    alert(data.message);
                    return false;
                }

            });

        },
        onDragStart: function (table, row) {
            $("#tblQuote").removeClass("table-bordered table-striped");
            $('#' + row.id).addClass('alt');
        }
    });

    //$("#tblQuote tr:even").addClass('alt');

    $('.linkvalores').click(function (e) {

        var arr = $(this).attr('name').split('°');

        $('#tituloValoresQuote').html(arr[1] + "<br />" + arr[2]);

        $.ajax({
            type: "GET",
            url: "@Url.Action("BuscaValoresQuote", "Home")",
            data: { idRange: arr[0] },
            success: function (data) {
                $('#dvquotevalores').html(data);

                $('#hdBasesSelec').val(arr[2]);

                $("#modalUpdValores").modal();
            },
            error: function (xhr) {
                alert(xhr);
            }
        });
    });

    $('.option').click(function (e) {
        var opt = $(this).val();

        $('#optQuoteAtiva').val(opt);

        $.ajax({
            type: "GET",
            url: "@Url.Action("PreencheGridQuote", "Home")",
            data: { quotation: $("#idquotecode").val(), opt: opt },
            success: function (data) {
                waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });
                $('#lstquote').html(data);
                refreshTituloFile();
                waitingDialog.hide();
            },
            error: function (xhr) {
                alert(xhr);
            }
        });

    });

    $('#btnAddBase').click(function () {
        $('#btnAddBase').html('Aguarde...');
        $('#btnAddBase').attr("disabled", "disabled");

        var modelo = {
            qCode: $('#qCode').val(),
            OptQuote: $('#optQuoteAtiva').val(),
            BaseDe: $('#txtBaseDe').val(),
            BaseAte: $('#txtBaseAte').val(),
            IdQuotGrupo: $('#qgID').val(),
            idmoedacapa: $('#ddlMoedaCapa').val()
        };

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };

        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        $.ajax({
            url: "@Url.Action("AddBaseNew", "Home")",
            type: "POST",
            data: modelo,
            success: function (data) {
                var $toast = toastr["success"](data, "Prosoftware");
                $toastlast = $toast;
                refreshGridQuote();
                $('#btnAddBase').removeAttr("disabled");
                $('#btnAddBase').html('Salvar');
                waitingDialog.hide();
            },
            error: function (XHR) {
                $('#btnAddBase').removeAttr("disabled");
                $('#btnAddBase').html('Salvar');
                alert(XHR);
            }
        });
    });

    $('#selectAll').click(function (e) {
        $(this).closest('table').find('td input:checkbox').prop('checked', this.checked);
    });

    $('#btnExcluirItensQuote').click(function () {
        var i = 0;
        var arr = "";

        $('#tblQuote tbody tr  input:checkbox').each(function () {
            if (this.checked) {
                arr = arr + $(this).val() + ",";
            }
        });

        var modelo = {
            tipotarifa: $('#ddlTipoCapa').val(),
            qCode: $('#qCode').val(),
            grAtivo: 0,
            IdQuotGrupo: $('#qgID').val(),
            OptQuote: $('#optQuoteAtiva').val(),
            idRetornaArr: arr.substring(0, arr.length - 1)
        };

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };

        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        $.ajax({
            url: "@Url.Action("imgExcluirQuoteSelect", "Home")",
            type: "POST",
            data: modelo,
            success: function (data) {
                var $toast = toastr["success"](data, "Prosoftware");
                $toastlast = $toast;
                refreshGridQuote();
                waitingDialog.hide();
            },
            error: function (XHR) {
                $('#btnExcluirItensQuote').removeAttr("disabled");
                $('#btnExcluirItensQuote').html('Salvar');
                alert(XHR);
            }
        });


    });

    $('#btnAddTC').click(function () {
        $.ajax({
            url: "@Url.Action("openAddTC", "Home")",
            data: { qCode: $('#qCode').val(), OptQuote: $('#optQuoteAtiva').val() },
            type: "GET",
            success: function (data) {
                $('#dvaddtc').html(data);
                $('#modalAddTC').modal();
            },
            error: function (XHR) {
                alert(XHR);
            }
        });
    });

    $('#btnAddOpt').click(function () {
        $('#modalAddOpt').modal();
    });

    $('#btnAddNomesOpt').click(function () {

        $.get("@Url.Action("GetOpts_Nomes", "Home")", { qCode: $('#qCode').val() }, function (data) {
            $('#dvnomesopts').html(data);
        });

        $('#modalAddNomesOpt').modal();
    });

    $('#btnDelOpt').click(function () {

        var result = window.confirm('Deseja realmente excluir essa Option?');
        if (result == false) {
            e.preventDefault();
            return;
        };

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        $.get("@Url.Action("DelOpt", "Home")", { IdQuotGrupo: $('#qgID').val(), QuoteAtiva: $('#optQuoteAtiva').val() }, function (data) {

            if (data.indexOf("sucesso") > -1) {
                var $toast = toastr["success"](data, "Prosoftware");
                $toastlast = $toast;
                $('#tblQuote tbody').remove();
                $('#tblQuote thead').remove();
            }
            else {
                var $toast = toastr["error"](data, "");
                $toastlast = $toast;
            }
            waitingDialog.hide();
        });
    });

    $('#btnOrdemBases').click(function () {
        $.ajax({
            url: "@Url.Action("GetOrdColuna", "Home")",
            data: { qCode: $('#qCode').val(), OptQuote: $('#optQuoteAtiva').val() },
            type: "GET",
            success: function (data) {
                $('#dvordcoluna').html(data);
                $('#modalOrdBases').modal();
            },
            error: function (XHR) {
                alert(XHR);
            }
        });
    });


    $('#btnDelColuna').click(function () {
        $.ajax({
            url: "@Url.Action("GetDelColuna", "Home")",
            data: { qCode: $('#qCode').val(), OptQuote: $('#optQuoteAtiva').val() },
            type: "GET",
            success: function (data) {
                $('#dvdelcoluna').html(data);
                $('#modalDelColuna').modal();
            },
            error: function (XHR) {
                alert(XHR);
            }
        });
    });


    $('#btnOpenExportFile').click(function () {
        $.ajax({
            url: "@Url.Action("OpenExportFile", "Home")",
            data: { qCode: $('#qCode').val(), OptQuote: $('#optQuoteAtiva').val() },
            type: "GET",
            success: function (data) { $('#dvExportFile').html(data); $('#modalExportFile').modal(); },
            error: function (XHR) { alert(XHR); }
        });
    });

    $('#btnOpenGerarGrid').click(function () {

        $('#qCodeGerarGrid').val($('#qCode').val());
        $('#OptQuoteGerarGrid').val($('#optQuoteAtiva').val());
        $('#IdQuotGrupoGerarGrid').val($('#qgID').val());

        $('#modalGerarGrid').modal();
    });

    $('#btnOpenGerarPacote').click(function () {

        var x = Math.floor((Math.random() * 100000) + 1);
        $('#txtCodePkg').html("Pkg" + x);

        $('#modalGerarPacote').modal();
    });

    $('#form-gerar-pacote').submit(function () {

        var mod = {
            qCode: $('#qCode').val(),
            pkgCode: $('#txtCodePkg').html(),
            dtFrom: $('#txtDtToPkg').val(),
            dtTo: $('#txtDtFromPkg').val(),
            nomePacote: $('#txtNomePkg').val(),
            IdQuotGrupo: $('#qgID').val(),
            OptQuote: $('#optQuoteAtiva').val()
        };

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        $.ajax({
            url: "@Url.Action("GerarPacote", "Home")",
            data: mod,
            type: "GET",
            success: function (data) {
                var $toast = toastr["success"](data, "Prosoftware");
                $toastlast = $toast;
                waitingDialog.hide();
            },
            error: function (XHR) { waitingDialog.hide(); alert(XHR); }
        });
    });

    $('.trocarStatus').click(function (e) {

        var result = window.confirm('Deseja trocar o status desse item?');
        if (result == false) {
            e.preventDefault();
            return;
        };

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        var arr = $(this).attr('name').split('°');

        $.ajax({
            url: "@Url.Action("AtualizarStatusNew", "Home")",
            data: { IdRetorna: arr[0], status: arr[1], flag: arr[2] },
            type: "GET",
            success: function (data) {
                if (data.indexOf("sucesso") > -1) {
                    var $toast = toastr["success"](data, "Prosoftware");
                    $toastlast = $toast;
                    refreshGridQuote();
                } else {
                    var $toast = toastr["error"](data, "Prosoftware");
                    $toastlast = $toast;
                }

                waitingDialog.hide();
            },
            error: function (XHR) {
                alert(XHR);
            }
        });

    });


    $('.btnStatusQuote').click(function () {

        var arr = $(this).attr('name').split('°');
        var str = "<select id=\"ddlStatusQuote\" class=\"form-control\" onchange=\"ChangeStatusQuote(" + arr[1] + ",'" + arr[2] + "')\">";
        str += "<option value=\"0\">Selecione</option>";
        str += "<option value=\"OK\">Confirmado</option>";
        str += "<option value=\"OR\">Pendente</option>";
        str += "<option value=\"CA\">Cancelado</option></select>";

        $('#tdquote_' + arr[0]).width("100");
        $('#tdquote_' + arr[0]).html(str);
    });
    function ChangeStatusQuote(idRetorna, Flag) {

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        $.ajax({
            url: "@Url.Action("AtualizarStatusQuote", "Home")",
            data: { qCode: $('#qCode').val(), statusID: $('#ddlStatusQuote').val(), flag: Flag, idRetorna: idRetorna },
            type: "GET",
            success: function (data) {
                if (data.indexOf("sucesso") > -1) {
                    var $toast = toastr["success"](data, "Prosoftware");
                    $toastlast = $toast;
                    refreshGridQuote();
                } else {
                    var $toast = toastr["error"](data, "Prosoftware");
                    $toastlast = $toast;
                }
                waitingDialog.hide();
            },
            error: function (XHR) {
                alert(XHR); waitingDialog.hide();
            }
        });
    };

    $('.trocarBulk').click(function (e) {

        var result = window.confirm('Deseja trocar o Bulk desta tarifa?');
        if (result == false) {
            e.preventDefault();
            return;
        };

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        var arr = $(this).attr('name').split('°');


        $.ajax({
            url: "@Url.Action("VerificaBulkGrade", "Home")",
            data: { IdRetorna: arr[0], bulkParam: arr[1], flag: arr[2], type: "quote" },
            type: "GET",
            success: function (data) {
                if (data.indexOf("sucesso") > -1) {
                    var $toast = toastr["success"](data, "Prosoftware");
                    $toastlast = $toast;
                    refreshGridQuote();
                } else {
                    var $toast = toastr["error"](data, "Prosoftware");
                    $toastlast = $toast;
                }

                waitingDialog.hide();
            },
            error: function (XHR) {
                waitingDialog.hide();
                alert(XHR);
            }
        });

    });

    $('.trocarOptional').click(function (e) {

        var result = window.confirm('Deseja trocar o Optional desta tarifa?');
        if (result == false) {
            e.preventDefault();
            return;
        };

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        var arr = $(this).attr('name').split('°');

        $.ajax({
            url: "@Url.Action("VerificaOptGrade", "Home")",
            data: { IdRetorna: arr[0], optParam: arr[1], flag: arr[2], type: "quote" },
            type: "GET",
            success: function (data) {
                if (data.indexOf("sucesso") > -1) {
                    var $toast = toastr["success"](data, "Prosoftware");
                    $toastlast = $toast;
                    refreshGridQuote();
                } else {
                    var $toast = toastr["error"](data, "Prosoftware");
                    $toastlast = $toast;
                }

                waitingDialog.hide();
            },
            error: function (XHR) {
                waitingDialog.hide();
                alert(XHR);
            }
        });
    });


    $('.quoteFlight').click(function () {

        var arr = $(this).attr('name').split('°');

        $.ajax({
            url: "@Url.Action("OpenFlightsNew", "Home")",
            data: { IdRetorna: arr[0], flight_id: arr[1], flag: arr[2], type: "quote" },
            type: "GET",
            success: function (data) {
                $('#dvFlights').html(data);
                $('#modalFlight').modal();
            },
            error: function (XHR) {
                alert(XHR);
            }
        });
    });

    $('.datafromquote').click(function () {
        var arr = $(this).val().split('°');
        $('#FlagFrom').val(arr[0]);
        $('#IdRetornaFrom').val(arr[1]);
        $('#OrdemFrom').val(arr[2]);
        $('#dtFrom_From').val(arr[3]);
        $('#TypeFrom').val("quote");
        $('#qCodeFrom').val($('#qCode').val());
        $('#optQuoteFrom').val($('#optQuoteAtiva').val());
        $('#MoedaCapaFrom').val($('#ddlMoedaCapa').val());
        $("#modalDataFrom").modal();
    });


    $('.datatoquote').click(function () {
        var arr = $(this).val().split('°');
        $.get("@Url.Action("lnkDataToOpen", "Home")", { flag: arr[0], type: "quote", idRetorna: arr[1] }, function (data) {
            $("#dataToAnterior").html(data);
        });
        $('#FlagTo').val(arr[0]);
        $('#IdRetornaTo').val(arr[1]);
        $('#TypeTo').val("quote");
        $('#TipoTarifaTo').val($('#ddlTipoCapa').val());
        $('#ClienteTo').val($('#txtCliente').val());
        $('#MoedaCapaTo').val($('#ddlMoedaCapa').val());
        $("#modalDataTo").modal();
    });

    $('.trocarSupplier').click(function () {

        var arr = $(this).val().split('°');

        if (arr[1] == 'servico') {
            $('#cidadesServicoSelect').hide();
        }

        $.get("@Url.Action("GetTrocaSppQuote", "Home")", { IdRetorna: arr[0], Flag: arr[1], type: "quote" }, function (data) {

            var retorno = data.split('°');
            $('#lblServicoSelect').html(retorno[0]);
            $('#lblServicoSelectTipo').html(arr[1]);
            $('#lblSppServicoSelect').html(retorno[1]);
            $('#ServicoSelectID').val(retorno[3]);
            $('#TypeServicoSelectID').val(retorno[4]);
            $('#ddlSppServicoSelect').val(0);

            $('#ddlCidadeServicoSelect').val(retorno[2]);

            if (arr[1] == 'extra') {
                $('#cidadesServicoSelect').show();
            }

            $("#modalTrocaSpp").modal();
        });
    });

</script>
