﻿@model IEnumerable<DAL.Models.GridQuoteModel>

@if (Model.Count() > 0)
{

    <table id="tblFile" class="table table-bordered table-striped">

        <thead>
            <tr>
                <th>Del</th>
                <th>From</th>
                <th>To</th>
                <th>Nome</th>
                <th>Rooms/Meals</th>
                <th>Stat</th>
                <th>Flight</th>
                <th>Bulk</th>
                <th style="display: none;">Opt</th>
                <th>Provisório</th>
                <th>Valor por Pax</th>
                @if (ViewBag.FileTCs.Count > 0)
                {
                    <th>TC</th>
                }
                <th>Total</th>
            </tr>
        </thead>

        <tbody>
            @{ int k = 0; decimal vrTC = 0; decimal vrTCtotal = 0; DAL.Persistencia.CidadeDAL cDAL = new DAL.Persistencia.CidadeDAL(); }
            @foreach (var item in Model)
            {
                <tr id="@item.IdRetorna°@item.Flag°@item.Ordem">
                    <td style="width:20px;">
                        <input type="hidden" id="tblFileOrdem_@k" value="@item.IdRetorna°@item.Flag°@item.Ordem°@item.dtFrom" />
                        <button id="btnDeletarColuna" type="button" value="@item.IdRetorna°@item.Flag" class="btn btn-xs btn-danger deletaritemfile" title="Deletar"><span class="glyphicon glyphicon-trash"></span></button>
                    </td>
                    <td style="width:80px;">
                        <button class="btn btn-link datafromfile" value="@item.Flag°@item.IdRetorna°@item.Ordem°@item.dtFrom">
                            @string.Format("{0:dd/MM/yy}", item.dtFrom)
                        </button>
                    </td>
                    <td style="width:80px;">
                        <button class="btn btn-link datatofile" value="@item.Flag°@item.IdRetorna°@item.Ordem°@item.dtFrom">
                            @string.Format("{0:dd/MM/yy}", item.dtTo)
                        </button>
                    </td>
                    <td style="width:200px;">
                        @switch (item.Flag)
                        {
                            case "hotel":
                                DAL.Entity.Cidade cid = cDAL.ObterPorNomeSupplier(item.Nome);
                                string pacotenome = "";
                                if (item.NomePacote != null)
                                {
                                    pacotenome = item.NomePacote;
                                }

                                <b>@cid.CID_cod_Iata  @item.Nome</b><br />
                                if (!pacotenome.Equals(""))
                                {
                                    <span>@pacotenome</span>
                                }

                                break;
                            case "servico":
                                DAL.Entity.Cidade cids = cDAL.ObterPorNomeServico(item.NomeTr);
                                <span>@cids.CID_cod_Iata  @item.NomeTr</span>
                                break;
                            case "extra":
                                DAL.Entity.Cidade cservextra = cDAL.ObterPorIDSupplier(item.S_id);
                                <span style="color:red">@cservextra.CID_cod_Iata</span> <button style="color:red;" class="btn btn-link trocarSupplierFile" value="@item.IdRetorna°@item.Flag">@item.NomeTr</button>
                                break;
                        }
                    </td>
                    <td style="width:40px;">
                        @if (item.Plataforma_id == 1)
                        {
                        <button class="btn btn-link btnopenomni" title="OMNI" value="@item.IdRetorna">
                            <i class="fa fa-globe fa-lg" aria-hidden="true"></i>
                        </button>
                        }
                        @if (item.Plataforma_id == 2)
                        {
                        <button class="btn btn-link btnopenroomsxml" title="RoomsXML" value="@item.IdRetorna">
                            <i class="fa fa-globe fa-lg" aria-hidden="true"></i>
                        </button>
                        }
                        @if (item.Plataforma_id == 3)
                        {
                        <button class="btn btn-link btnopencts" title="CTS" value="@item.IdRetorna">
                            <i class="fa fa-globe fa-lg" aria-hidden="true"></i>
                        </button>
                        }
                        @if (item.Plataforma_id == 4)
                        {
                        <button class="btn btn-link btnopenHotelsPro" title="HotelsPro" value="@item.IdRetorna">
                            <i class="fa fa-globe fa-lg" aria-hidden="true"></i>
                        </button>
                        }

                        @if (item.MealNome == null)
                        {
                        <span>@item.Room - @item.Categoria</span>
                        }
                        else
                        {
                        @item.MealNome;
                        }
                    </td>
                    <td style="width:30px;" id="td_@k">
                        @switch (item.Status)
                        {
                            case "OK":
                        <button class="btn btn-link btnStatusFile" name="@k°@item.IdRetorna°@item.Flag" title="OK">
                            <img src="~/images/icon/Confirm.bmp" alt="OK" />
                        </button>
                                break;
                            case "OR":
                        <button class="btn btn-link btnStatusFile" name="@k°@item.IdRetorna°@item.Flag" title="OR">
                            <img src="~/images/icon/OnRequest.bmp" alt="OR" />
                        </button>
                                break;
                            case "CA":
                        <button class="btn btn-link btnStatusFile" name="@k°@item.IdRetorna°@item.Flag" title="CA">
                            <img src="~/images/icon/Cancelled.bmp" alt="CA" />
                        </button>
                                break;
                            case "OP":
                        <button class="btn btn-link btnStatusFile" name="@k°@item.IdRetorna°@item.Flag" title="OP">
                            <img src="~/images/icon/ExtraGuide.bmp" alt="OP" />
                        </button>
                                break;
                            case "DA":
                        <button class="btn btn-link btnStatusFile" name="@k°@item.IdRetorna°@item.Flag" title="DA">
                            <img src="~/images/icon/Waiting.bmp" alt="DA" />
                        </button>
                                break;
                            case "CR":
                        <button class="btn btn-link btnStatusFile" name="@k°@item.IdRetorna°@item.Flag" title="CR">
                            <img src="~/images/icon/Protection.bmp" alt="CR" />
                        </button>
                                break;
                        }
                    </td>

                    <td style="width:30px;">
                        @if (item.Flight_id != 0)
                        {
                        <a href="#" class="fileFlight" name="@item.IdRetorna°@item.Flight_id°@item.Flag">
                            <img src="~/images/icon/flights.png" alt="..." />
                        </a>
                        }
                        else
                        {
                        <a href="#" class="fileFlight" name="@item.IdRetorna°@item.Flight_id°@item.Flag">
                            <img src="~/images/icon/flightsS.png" alt="..." />
                        </a>
                        }
                    </td>
                    <td style="width:30px;">
                        @if (item.Bulk != true)
                        {
                        <a href="#" class="trocarBulkFile" name="@item.IdRetorna°@item.Bulk°@item.Flag" title="False">
                            <img src="~/images/icon/minus.png" alt="..." />
                        </a>
                        }
                        else
                        {
                        <a href="#" class="trocarBulkFile" name="@item.IdRetorna°@item.Bulk°@item.Flag" title="True">
                            <img src="~/images/icon/ok.gif" alt="..." />
                        </a>
                        }
                    </td>
                    <td style="width:30px;display: none;">
                        @if (item.Optional != true)
                        {
                        <a href="#" class="trocarOptionalFile" name="@item.IdRetorna°@item.Optional°@item.Flag" title="False">
                            <img src="~/images/icon/minus.png" alt="..." />
                        </a>
                        }
                        else
                        {
                        <a href="#" class="trocarOptionalFile" name="@item.IdRetorna°@item.Optional°@item.Flag" title="True">
                            <img src="~/images/icon/ok.gif" alt="..." />
                        </a>
                        }
                    </td>
                    <td style="text-align:center;">
                        @if (item.Provisorio == true)
                        {
                            <img src="~/images/icon/provisorio.png" alt="..." style="width:20px;" />
                        }                       
                    </td>
                    <td>
                        <button class="btn btn-link linkvaloresFile" title="@item.IdRetorna°@item.Flag°@item.Nome">
                            @item.VRTOTAL
                        </button>
                        @*<a href="#" class="linkvaloresFile" title="@item.IdRetorna°@item.Flag°@item.Nome">@item.VRTOTAL</a>*@
                    </td>

                    @if (ViewBag.FileTCs.Count > 0)
                    {
                        <td>
                            @{
                                List<DAL.Models.GridQuoteModel> lstTC = ViewBag.FileTCs as List<DAL.Models.GridQuoteModel>;
                                var itemTC = lstTC.Where(s => s.idRange == item.idRange).SingleOrDefault();
                                vrTC = itemTC.VRTOTAL;
                                vrTCtotal = Convert.ToDecimal(itemTC.VRTOTAL * itemTC.Paying_Pax);
                            }
                            <button class="btn btn-link linkvaloresFileTC" title="@itemTC.IdRetorna°@itemTC.Flag°@itemTC.Nome">
                                @vrTC
                            </button>
                            @*<a href="#" class="linkvaloresFileTC" title="@itemTC.IdRetorna°@itemTC.Flag°@itemTC.Nome">@vrTC</a>*@
                        </td>
                                }

                    <td>
                        @{ decimal total = 0; }
                        @if (vrTCtotal != 0)
                        {
                            total = Convert.ToDecimal(item.VRTOTAL * item.Paying_Pax) + vrTCtotal;
                        }
                        else
                        {
                            total = Convert.ToDecimal(item.VRTOTAL * item.Paying_Pax);
                        }
                        @total
                    </td>
                </tr>
                                k++;
                            }

        </tbody>

    </table>

}

<div class="well well-sm">
    <div class="row">
        <div class="col-md-6">
            <span style="font-size: 15px; color: red;">
                @Html.Raw(ViewBag.totaisFile)
            </span>
        </div>
    </div>
</div>

<script type="text/javascript">

    $("#tblFile").tableDnD({
        onDrop: function (table, row) {
            $("#tblFile").addClass("table-bordered table-striped");
            $('#' + row.id).removeClass('alt');
            var arr = row.id.split('°');

            var p = 0;
            $('#tblFile tbody tr').each(function () {
                if ($(this).attr('id') == row.id) {
                    return false;
                }
                p++;
            });

            var ant = eval(p);
            var pos = eval(p) + 1;

            var arrAnt = $('#tblFileOrdem_' + ant).val();
            var arrPos = $('#tblFileOrdem_' + pos).val();

            $.get("@Url.Action("AlteraOrdemFile", "Home")", { idRetorna: arr[0], Ordem: arr[2], flag: arr[1], Anterior: arrAnt, Posterior: arrPos }, function (data) {
                refreshGridFile();
                return false;
            });

        },
        onDragStart: function (table, row) {
            $("#tblFile").removeClass("table-bordered table-striped");
            $('#' + row.id).addClass('alt');
        }
    });


    $('.btnStatusFile').click(function () {

        //var h = $(document).scrollTop();
        //var rowpos = $('#tblFile tr:last').position();

        var arr = $(this).attr('name').split('°');
        var str = "<select id=\"ddlStatusFile\" class=\"form-control\" onchange=\"ChangeStatusFile(" + arr[1] + ",'" + arr[2] + "')\">";
        str += "<option value=\"0\">Selecione</option>";
        str += "<option value=\"OK\">Confirmado</option>";
        str += "<option value=\"OR\">Pendente</option>";
        str += "<option value=\"CA\">Cancelado</option>";
        str += "<option value=\"OP\">Opcional</option>";
        str += "<option value=\"DA\">Desp. Adm</option>";
        str += "<option value=\"CR\">Créditos</option></select>";

        $('#td_' + arr[0]).width("100");
        $('#td_' + arr[0]).html(str);

        //$(document).scrollTop(h);
        //$('#by').scrollTop(rowpos.top);
    });

    function ChangeStatusFile(idRetorna, Flag) {
        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        $.ajax({
            url: "@Url.Action("AtualizarStatusFile", "Home")",
            data: { qCode: $('#qCode').val(), statusID: $('#ddlStatusFile').val(), flag: Flag, idRetorna: idRetorna },
            type: "GET",
            success: function (data) {
                if (data.indexOf("sucesso") > -1) {
                    var $toast = toastr["success"](data, "Prosoftware");
                    $toastlast = $toast;
                    refreshGridFile();
                } else {
                    var $toast = toastr["error"](data, "Prosoftware");
                    $toastlast = $toast;
                }
                waitingDialog.hide();
            },
            error: function (XHR) {
                alert(XHR); waitingDialog.hide();
            }
        });
    };

    $('.linkvaloresFile').click(function (e) {
        var arr = $(this).attr('title').split('°');
        $('#tituloValoresQuote').html(arr[2]);

        $.ajax({
            type: "GET",
            url: "@Url.Action("BuscaValoresFile", "Home")",
            data: { idRetorna: arr[0], flag: arr[1], De: "VR" },
            success: function (data) {
                $('#dvquotevalores').html(data);
                $('#hdFile').val("1");
                $("#modalUpdValores").modal();
            },
            error: function (xhr) {
                alert(xhr);
            }
        });
    });

    $('.linkvaloresFileTC').click(function (e) {
        var arr = $(this).attr('title').split('°');
        $('#tituloValoresQuote').html(arr[2]);

        $.ajax({
            type: "GET",
            url: "@Url.Action("BuscaValoresFile", "Home")",
            data: { idRetorna: arr[0], flag: arr[1], De: "TC" },
            success: function (data) {
                $('#dvquotevalores').html(data);
                $('#hdFile').val("1");
                $("#modalUpdValores").modal();
            },
            error: function (xhr) {
                alert(xhr);
            }
        });
    });



    $('.trocarBulkFile').click(function (e) {

        var result = window.confirm('Deseja trocar o Bulk desta tarifa?');
        if (result == false) {
            e.preventDefault();
            return;
        };

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        var arr = $(this).attr('name').split('°');

        $.ajax({
            url: "@Url.Action("VerificaBulkGrade", "Home")",
            data: { IdRetorna: arr[0], bulkParam: arr[1], flag: arr[2], type: "file" },
            type: "GET",
            success: function (data) {
                if (data.indexOf("sucesso") > -1) {
                    var $toast = toastr["success"](data, "Prosoftware");
                    $toastlast = $toast;
                    refreshGridFile();
                } else {
                    var $toast = toastr["error"](data, "Prosoftware");
                    $toastlast = $toast;
                }

                waitingDialog.hide();
            },
            error: function (XHR) {
                waitingDialog.hide();
                alert(XHR);
            }
        });

    });

    $('.trocarOptionalFile').click(function (e) {

        var result = window.confirm('Deseja trocar o Optional desta tarifa?');
        if (result == false) {
            e.preventDefault();
            return;
        };

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        var arr = $(this).attr('name').split('°');

        $.ajax({
            url: "@Url.Action("VerificaOptGrade", "Home")",
            data: { IdRetorna: arr[0], optParam: arr[1], flag: arr[2], type: "file" },
            type: "GET",
            success: function (data) {
                if (data.indexOf("sucesso") > -1) {
                    var $toast = toastr["success"](data, "Prosoftware");
                    $toastlast = $toast;
                    refreshGridFile();
                } else {
                    var $toast = toastr["error"](data, "Prosoftware");
                    $toastlast = $toast;
                }

                waitingDialog.hide();
            },
            error: function (XHR) {
                waitingDialog.hide();
                alert(XHR);
            }
        });
    });

    $('.fileFlight').click(function () {

        var arr = $(this).attr('name').split('°');

        $.ajax({
            url: "@Url.Action("OpenFlightsNew", "Home")",
            data: { IdRetorna: arr[0], flight_id: arr[1], flag: arr[2], type: "file" },
            type: "GET",
            success: function (data) {
                $('#dvFlights').html(data);
                $('#modalFlight').modal();
            },
            error: function (XHR) {
                alert(XHR);
            }
        });
    });


    $('.deletaritemfile').click(function () {

        var result = window.confirm('Deseja realmente excluir esse item?');
        if (result == false) {
            e.preventDefault();
            return;
        };

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        var arr = $(this).val().split('°');

        $.ajax({
            url: "@Url.Action("ExluirFileCarrinhoTarifasNew", "Home")",
            data: { qCode: $('#qCode').val(), idretorna: arr[0], flag: arr[1] },
            type: "GET",
            success: function (data) {
                if (data.indexOf("sucesso") > -1) {
                    var $toast = toastr["success"](data, "Prosoftware");
                    $toastlast = $toast;
                    refreshGridFile();
                } else {
                    var $toast = toastr["error"](data, "Prosoftware");
                    $toastlast = $toast;
                }

                waitingDialog.hide();
            },
            error: function (XHR) {
                alert(XHR);
            }
        });
    });


    $('.datafromfile').click(function () {
        var arr = $(this).val().split('°');
        $('#FlagFrom').val(arr[0]);
        $('#IdRetornaFrom').val(arr[1]);
        $('#OrdemFrom').val(arr[2]);
        $('#dtFrom_From').val(arr[3]);
        $('#TypeFrom').val("file");
        $('#qCodeFrom').val($('#qCode').val());
        $('#optQuoteFrom').val($('#optQuoteAtiva').val());
        $('#MoedaCapaFrom').val($('#ddlMoedaCapa').val());
        $("#modalDataFrom").modal();
    });


    $('.datatofile').click(function () {
        var arr = $(this).val().split('°');
        $.get("@Url.Action("lnkDataToOpen", "Home")", { flag: arr[0], type: "file", idRetorna: arr[1] }, function (data) {
            $("#dataToAnterior").html(data);
        });
        $('#FlagTo').val(arr[0]);
        $('#IdRetornaTo').val(arr[1]);
        $('#TypeTo').val("file");
        $('#TipoTarifaTo').val($('#ddlTipoCapa').val());
        $('#ClienteTo').val($('#txtCliente').val());
        $('#MoedaCapaTo').val($('#ddlMoedaCapa').val());
        $("#modalDataTo").modal();
    });

    $('.btnopenomni').click(function () {
        $.get("@Url.Action("OpenInfosOmni", "Home")", { IdRetorna: $(this).val(), type: "OMNI" }, function (data) {
            $('#dvinfosomni').html(data);
            $('#tituloModalOmni').html("OMNI");
            $("#modalInfosOmni").modal();
        });
    });

    $('.btnopencts').click(function () {
        $.get("@Url.Action("OpenInfosOmni", "Home")", { IdRetorna: $(this).val(), type: "CTS" }, function (data) {
            $('#dvinfosomni').html(data);
            $('#tituloModalOmni').html("CTS");
            $("#modalInfosOmni").modal();
        });
    });

     $('.btnopenroomsxml').click(function () {
        $.get("@Url.Action("OpenInfosOmni", "Home")", { IdRetorna: $(this).val(), type: "RoomsXML" }, function (data) {
            $('#dvinfosomni').html(data);
            $('#tituloModalOmni').html("RoomsXML");
            $("#modalInfosOmni").modal();
        });
    });

     $('.btnopenHotelsPro').click(function () {
        $.get("@Url.Action("OpenInfosOmni", "Home")", { IdRetorna: $(this).val(), type: "HotelsPro" }, function (data) {
            $('#dvinfosomni').html(data);
            $('#tituloModalOmni').html("HotelsPro");
            $("#modalInfosOmni").modal();
        });
    });

    $('.trocarSupplierFile').click(function () {

        var arr = $(this).val().split('°');
        $.get("@Url.Action("GetTrocaSppQuote", "Home")", { IdRetorna: arr[0], Flag: arr[1], type: "file" }, function (data) {

            var retorno = data.split('°');

            $('#lblServicoSelect').html(retorno[0]);
            $('#lblServicoSelectTipo').html(arr[1]);
            $('#lblSppServicoSelect').html(retorno[1]);
            $('#ServicoSelectID').val(retorno[3]);
            $('#TypeServicoSelectID').val(retorno[4]);
            $('#ddlSppServicoSelect').val(0);

            $('#ddlCidadeServicoSelect').val(0);
            $('#cidadesServicoSelect').hide();

            $("#modalTrocaSpp").modal();

        });

    });

</script>
