﻿@model IEnumerable<DAL.Models.RangesAddTc>

<div class="modal-body">
    <table id="tblDelColuna" class="table table-bordered table-striped">

        <thead>
            <tr>
                <th>De</th>
                <th>Até</th>
                <th>Del</th>
            </tr>
        </thead>

        <tbody>
            @{ int i = 0; }

            @foreach (var item in Model)
            {
                <tr id="rowDelColuna_@i">
                    <td>@item.Ranges_de</td>
                    <td>@item.Ranges_ate</td>
                    <td><button id="btnDeletarColuna" type="button" value='@item.Ranges_de°@item.Ranges_ate°@item.Quotation_Id°@item.Ordem°@i' class="btn btn-xs btn-danger deletarcoluna" title="Deletar"><span class="glyphicon glyphicon-trash"></span></button></td>
                </tr>
                i++;
            }
        </tbody>

    </table>
</div>

<div class="modal-footer">   
    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
</div>


<script type="text/javascript">

    $('.deletarcoluna').click(function (e) {

        var result = window.confirm('Deseja deletar essa coluna?');
        if (result == false) {
            e.preventDefault();
            return;
        };

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        var arr = $(this).val().split('°');

        $.ajax({
            type: "GET",
            url: "@Url.Action("DelColuna", "Home")",
            data: { OptQuote: $('#optQuoteAtiva').val(), De: arr[0], Ate: arr[1], Quotation_Id: arr[2], Ordem: arr[3] },
            success: function (data) {

                if (data.indexOf("sucesso") > -1) {
                    var $toast = toastr["success"](data, "ProSoftware");
                    $toastlast = $toast;

                    $('#rowDelColuna_' + arr[4]).remove();

                    refreshGridQuote();
                }
                else {
                    var $toast = toastr["error"](data, "ProSoftware");
                    $toastlast = $toast;
                }
                waitingDialog.hide();
            },
            error: function (xhr) { alert(xhr); }
        });
    });

</script>