﻿@model IEnumerable<DAL.Models.LstSubServs>

<table class="table table-bordered table-striped">

    <thead>
        <tr>
            <th>Serviço</th>
            <th>Supplier</th>
            <th>Base De</th>
            <th>Base Até</th>
            <th>Valor</th>
            <th>Moeda</th>
            <th>Tipo Base</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ItemNome - @item.SubItemNome</td>
                <td>@item.S_nome</td>
                <td>@item.Base_de</td>
                <td>@item.Base_ate</td>
                <td>@item.MServico_Valores_Bulk_Total</td>
                <td>@item.Moeda</td>
                <td>@item.TipoBase</td>
            </tr>
        }
    </tbody>

</table>
