﻿@model IEnumerable<DAL.Models.RangesAddTc>

<div class="modal-body">
    <table id="tblAddTc" class="table table-bordered table-striped">

        <thead>
            <tr>
                <th>De</th>
                <th>Até</th>
                <th>Qtd TC</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Ranges_de</td>
                    <td>@item.Ranges_ate</td>
                    <td>
                        @if (item.Ranges_de.Equals("TC"))
                        {
                            <input id="txtQtdTC" disabled="disabled" type="text" title="@item.Ranges_de°@item.Ranges_ate" placeholder="Qtd TC" value="" class="form-control qtdtc" required="required" />
                        }
                        else
                        {
                            <input id="txtQtdTC" type="text" title="@item.Ranges_de°@item.Ranges_ate" placeholder="Qtd TC" value="" class="form-control qtdtc" required="required" />
                        }
                        
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

<div class="modal-footer">
    <input id="btnAddTcBases" type="submit" class="btn btn-primary" title="Add" value="Add" />
    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
</div>


<script type="text/javascript">

    $('#btnAddTcBases').click(function () {

        var entrou = false;
        var arr = "";

        $('#tblAddTc tbody tr  .qtdtc').each(function () {
            if ($(this).val() == "") {
                alert("Favor preencher todas as bases.");
                entrou = true;
                return false;
            }
            arr = arr + $(this).attr('title') + "°" + $(this).val() + "~";
        });

        if (!entrou) {

            toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };

            waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

            $.ajax({
                url: "@Url.Action("btnSalvaTC", "Home")",
                data: { qCode: $('#qCode').val(), OptQuote: $('#optQuoteAtiva').val(), arrTC: arr.substring(0, arr.length - 1) },
                type: "GET",
                success: function (data) {
                    waitingDialog.hide();
                    var $toast = toastr["success"](data, "Prosoftware");
                    $toastlast = $toast;
                    refreshGridQuote();
                    //$('#modalAddTC').modal();
                },
                error: function (XHR) {
                    alert(XHR);
                }
            });

        }

    });

</script>