﻿@model IEnumerable<DAL.Models.TarifasHotelModel>

@{
    int i = 0;
}
<div class="row">
    <div class="col-md-12">


        <div class="box box-primary">
            <div class="box-header with-border ">

                <div class="row">
                    <div class="col-md-12">
                        <h3>
                            <strong>
                                <span id="nomeSupplier">
                                    @ViewBag.nomehotel
                                </span>
                            </strong>
                        </h3>
                    </div>
                </div>
            </div><!-- /.box-header -->
            <div class="box-body">

                <table id="tblTarifasPainel" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>API</th>
                            <th>NR</th>
                            <th>Room Type</th>
                            <th>Board Type</th>
                            <th>Price</th>
                        </tr>
                    </thead>

                    <tbody>
                        @{  var countmeals = 0;

                            foreach (var item in Model)
                            {

                                <tr id="@i">
                                    <td id="tituloTarifa_@i">
                                        @item.TituloTarifa
                                    </td>
                                    <td class="tdNR">
                                        @if (item.NR == true)
                                        {
                                            <small>
                                                <span style="color:red;" title="Non-refundable">NR</span>
                                            </small>
                                        }
                                        else if (item.checkHotelsPro == true)
                                        {
                                            <b>!!!!!</b>
                                        }
                                    </td>
                                    <td>

                                        @if (item.TituloTarifa.Equals("Sistema"))
                                        {
                                            <span id="">@item.Tarif_categoria_nome - @item.Tipo_room_nome</span><br />
                                            if (item.Pacote_nome != null)
                                            {
                                                <span><b>Pacote:</b> @item.Pacote_nome - <b>Estação:</b> @item.S_mercado_estacao_nome</span><br />
                                            }

                                            <span><b>Provedor:</b> @item.ResponsavelNome</span>
                                        }
                                        else if (item.RatePlanName == null)
                                        {
                                            <span id="">@item.Tarif_categoria_nome</span>
                                        }
                                        else
                                        {
                                            <span>@item.Tarif_categoria_nome</span><br />
                                            <small>@item.RatePlanName</small>
                                            if (item.DisponibilidadeRooms != null && item.DisponibilidadeRooms != "")
                                            {
                                                <br />
                                                <small>
                                                    @Html.Raw(item.DisponibilidadeRooms)
                                                    @*<br />
                                                        Minimum length of stay: @item.totaldayspck*@
                                                </small>
                                            }
                                        }

                                        @if (item.TituloTarifa.Equals("Sistema") && item.lstMeal != null)
                                        {
                                            //var countmeals = 0;
                                            <br />
                                            <a href="javascript:abrirMealsGrid(@i);" title="Abrir meals"><i id="iconMeals_@i" class="fa fa-plus"></i></a>
                                            <input type="hidden" id="hdMealOpen_@i" value="0" />
                                            <div id="dvGridMeals_@i" class="dvsGridMeals" style="display:none;">
                                                @foreach (var itemMeals in item.lstMeal)
                                                {
                                                    <input id="lblSupplierMealId_@countmeals" type="hidden" value="@itemMeals.S_id" />
                                                    <input id="lblMealId_@countmeals" type="hidden" value="@itemMeals.S_merc_meal_id" />
                                                    <input id="lblMoedaMealId_@countmeals" type="hidden" value="@itemMeals.Moeda_id" />
                                                    <input id="lblStatusNomeMeal_@countmeals" type="hidden" value="@itemMeals.S_mercado_tarifa_status_nome" />
                                                    <input id="lblMealNome_@countmeals" type="hidden" value="@itemMeals.S_meal_nome" />
                                                    <input id="hdValorTotalMealHotel_@countmeals" type="hidden" value="@itemMeals.S_merc_meal_tarifa_total" />


                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <b>@itemMeals.S_meal_nome</b>
                                                        </div>
                                                        <div class="col-md-1">
                                                            @if (itemMeals.S_merc_meal_tarifa_total != 0)
                                                            {
                                                                @itemMeals.Moeda_sigla @itemMeals.S_merc_meal_tarifa_total
                                                            }
                                                            else
                                                            {
                                                                @itemMeals.S_mercado_tarifa_status_nome
                                                            }
                                                        </div>
                                                        <div class="col-md-2">
                                                            <button type="button" class="btn btn-sm btn-primary btnaddmeal" style="margin-bottom:2px;" name="@countmeals°@i"><i class="fa fa-check"></i> Add</button>
                                                        </div>
                                                    </div>

                                                    countmeals++;
                                                }
                                                @if(item.lstMeal.Count() == 0)
                                                {
                                                <span>Não existe meal cadastrado para esta tarifa!</span>
                                                }
                                            </div>
                                        }

                                    </td>
                                    <td>
                                        @if (item.Refeicao != null)
                                        {
                                            if (!item.Refeicao.ToUpper().Equals("TRUE"))
                                            {
                                                <span>@item.Refeicao</span>
                                                <input id="breakfast_@i" type="hidden" value="true" />
                                            }
                                            else if (item.Refeicao.ToUpper().Equals("TRUE"))
                                            {
                                                <span>Breakfast</span>
                                                <input id="breakfast_@i" type="hidden" value="true" />
                                            }
                                            else
                                            {
                                                <span>Room Only</span>
                                                <input id="breakfast_@i" type="hidden" value="false" />
                                            }
                                        }
                                        else
                                        {
                                            if (item.TituloTarifa.Equals("Omni"))
                                            {
                                                <img src="../images/exclamacao.png" style="width: 30px;height:30px;" />
                                            }
                                            else if (item.TituloTarifa.Equals("Sistema"))
                                            {
                                                <span>Breakfast</span>
                                            }
                                            <input id="breakfast_@i" type="hidden" value="false" />
                                        }
                                    </td>
                                    <td>
                                        @if (item.TituloTarifa.Equals("Sistema"))
                                        {

                                            //string vr = "", vrr = "";

                                            //if (item.S_mercado_tarifa_status_nome != null && item.S_merc_tarif_tarifa_total == 0)
                                            //{
                                            //    vr = item.S_mercado_tarifa_status_nome.ToString();
                                            //    vrr = item.S_mercado_tarifa_status_nome.ToString();
                                            //}
                                            //else
                                            //{
                                            //    if (item.S_merc_tarif_porApartamento == false)
                                            //    {
                                            //        vr = string.Format("{0}{1}", item.Moeda_sigla, item.S_merc_tarif_tarifa_total).ToString();
                                            //        vrr = item.S_merc_tarif_tarifa_total.ToString();
                                            //    }
                                            //    else
                                            //    {
                                            //        vr = string.Format("{0}{1:N}", item.Moeda_sigla, Convert.ToDecimal(item.S_merc_tarif_tarifa_total) / Convert.ToDecimal(item.Tipo_room_number)).ToString();
                                            //        vrr = (Convert.ToDecimal(item.S_merc_tarif_tarifa_total) / Convert.ToDecimal(item.Tipo_room_number)).ToString();
                                            //    }
                                            //}

                                            <span id="">
                                                @item.vr
                                            </span>

                                        }
                                        else
                                        {


                                            if (item.TituloTarifa.Equals("Omni"))
                                            {
                                                <span id="">$@item.S_merc_tarif_tarifa_total</span>

                                                <br />
                                                <input type="button" id="polcanceltext_@i" class="btn btn-link btnconditions" style="padding:0px;" title="@item.PoliticaCancelamento" value="Conditions" />
                                            }
                                            else if (item.TituloTarifa.Equals("RoomsXML"))
                                            {
                                                @*<span id="">$@item.S_merc_tarif_tarifa_total</span>*@

                                                var addpercent = (item.S_merc_tarif_tarifa_total * Convert.ToDecimal(1.07));

                                                <span id="">$@addpercent.ToString("N2")</span>
                                                <br />
                                                <input type="button" id="polcanceltext_@i" class="btn btn-link btnconditionsRoomXml" style="padding:0px;" title="@item.PoliticaCancelamento°@item.conditionRoomsXml" value="Conditions" />
                                            }
                                            else if (item.TituloTarifa.Equals("HotelsPro"))
                                            {
                                                @*<span id="">$@item.S_merc_tarif_tarifa_total</span>*@

                                                var addpercent = (item.S_merc_tarif_tarifa_total * Convert.ToDecimal(1.07));

                                                <span id="">$@addpercent.ToString("N2")</span>
                                                <br />
                                                <input type="button" id="polcanceltext_@i" class="btn btn-link btnconditions" style="padding:0px;" title="@item.PoliticaCancelamento" value="Conditions" />
                                            }
                                            else if (item.TituloTarifa.Equals("CTS"))
                                            {
                                                <span id="">$@item.S_merc_tarif_tarifa_total</span>
                                                <br />
                                                <input type="button" id="polcanceltext_@i" class="btn btn-link btnconditions" style="padding:0px;" title="@item.PoliticaCancelamento" value="Conditions" />
                                            }
                                        }
                                    </td>
                                    <td>
                                        <div style="display: none;">
                                            @item.S_id
                                            @item.Tipo_room_id
                                            @item.Moeda_id
                                            @item.IdHotelXml
                                            @item.CategoriaIdXml
                                            @item.Tipo_room_nome
                                            @item.RatePlanId
                                            @item.QuoteId
                                            @item.Moeda_sigla
                                        </div>

                                        <input id="sId_@i" type="hidden" value="@item.S_id" />
                                        <input id="moedaId_@i" type="hidden" value="@item.Moeda_id" />
                                        <input id="moeda_@i" type="hidden" value="@item.Moeda_sigla" />
                                        <input id="tipoRoomId_@i" type="hidden" value="@item.Tipo_room_id" />
                                        <input id="lblRoom_@i" type="hidden" value="@item.Tipo_room_nome" />
                                        <input id="quoteId_@i" type="hidden" value="@item.QuoteId" />
                                        <input id="roomNumber_@i" type="hidden" value="@item.Tipo_room_number" />
                                        <input id="tipoRoom_@i" type="hidden" value="@item.Tipo_room_nome" />
                                        <input id="idTarifa_@i" type="hidden" value="@item.S_merc_tarif_id" />
                                        <input id="categoriaId_@i" type="hidden" value="@item.Tarif_categoria_id" />

                                        @if (item.TituloTarifa.Equals("RoomsXML") || item.TituloTarifa.Equals("HotelsPro"))
                                        {
                                            var addpercent = (item.S_merc_tarif_tarifa_total * Convert.ToDecimal(1.07));

                                            <input id="valorTotal_@i" type="hidden" value="@addpercent.ToString("N2")" />
                                        }
                                        else
                                        {
                                            <input id="valorTotal_@i" type="hidden" value="@item.S_merc_tarif_tarifa_total" />
                                        }


                                        <input id="quoteId_@i" type="hidden" value="@item.QuoteId" />
                                        <input id="ratePlanId_@i" type="hidden" value="@item.RatePlanId" />
                                        @*<input id="quoteIdHotelsPro_@i" type="hidden" value="@item.QuoteId_HotelsPro" />*@
                                        @*<input id="quoteIdRoomsXml_@i" type="hidden" value="@item.QuoteId_RoomsXML" />*@


                                        <input id="lblFDSHotel_@i" type="hidden" value="@string.Format(" {0} / {1}", item.S_merc_periodo_fdsFrom, item.S_merc_periodo_fdsTo)" />
                                        <input id="lblNomePacoteHotel_@i" type="hidden" value="@item.Pacote_nome" />
                                        <input id="lblEstacaoHotel_@i" type="hidden" value="@item.S_mercado_estacao_nome" />
                                        <input id="ResponsavelId_@i" type="hidden" value="@item.Responsavel_id" />

                                        @if (item.block)
                                        {
                                            //DateTo Pack: @string.Format("{0:dd/MM/yyyy}", item.dtBlockPack)  Minimum length of stay: @item.totaldayspck
                                            <button type="button" class="btn btn-sm btn-danger" disabled="disabled" title="This date did not reach Minimum length of package required by hotel. Please, check dates." name=""><i class="fa fa-check"></i> Reservar</button>
                                        }
                                        else
                                        {
                                            <button type="button" class="btn btn-sm btn-warning" onclick="openAddMeals(this, @i);" name=""><i class="fa fa-check"></i> Reservar</button>
                                        }

                                    </td>
                                </tr>

                                i++;

                            }
                        }

                    </tbody>

                </table>

            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="modalCondition" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Conditions</h4>
            </div>

            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">
                        <span id="txtconditions"></span>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>

        </div>
    </div>
</div>


<div class="modal fade bs-example-modal-lg" id="modalMealAddFile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
                <h4 class="modal-title">Meals</h4>
            </div>

            <div class="modal-body">
                <div id="dvmeals"></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="btnfecharAddMealFile" value="">Fechar</button>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });

    $('.btnconditions').click(function () {

        $('#txtconditions').html($(this).attr("title"));
        $('#modalCondition').modal();
    });

    $('.btnconditionsRoomXml').click(function () {

        var pars = $(this).attr("title").split('°');

        $('#txtconditions').html(pars[0] + "<br />" + pars[1]);
        $('#modalCondition').modal();
    });






    $('.btnaddmeal').click(function () {
        
        var params = $(this).attr("name").split('°');
        var pos = params[0];
        var ii = params[1];

        var mod = {
            qCode: $('#qCode').val(),
            IdQuotGrupo: $('#qgID').val(),
            DataPeriodoInHotel: $('#txtDataInHotel').val(),
            DataPeriodoToHotel: $('#txtDataOutHotel').val(),
            cidade: $('#txtCidadeHotel').val(),
            moedaid: $("#ddlMoedaCapa").val(),

            S_id: $('#lblSupplierMealId_' + pos).val(),

            OptQuote: $('#optQuoteAtiva').val(),
            BaseDe: $('#txtBaseDe').val(),
            BaseAte: $('#txtBaseAte').val(),

            NomeSupplier: $('#ddlHoteisSearch :selected').text(),
            lblFDS: $('#lblFDSHotel_' + ii).val(),           

            S_merc_meal_tarifa_total: $('#hdValorTotalMealHotel_' + pos).val(),
            moedaMealid: $('#lblMoedaMealId_' + pos).val(),
            NumPax: $('#ddlADLCapa').val(),
            S_mercado_tarifa_status_nome: $('#lblStatusNomeMeal_' + pos).val(),
            MealId: $('#lblMealId_' + pos).val(),
            S_meal_nome: $('#lblMealNome_' + pos).val()
        };

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        if ($('input[name=optQuoteFileHotel]:checked').val() == "Quote") {

            $.ajax({
                url: "@Url.Action("AddRoomsMealQuote", "Home")",
                data: mod,
                type: "POST",
                success: function (data) {

                    if (data.indexOf("sucesso") > -1) {
                        var $toast = toastr["success"](data, "Prosoftware");
                        $toastlast = $toast;
                        refreshGridQuote();

                        @*$('#dvremarksADD').html('@ViewBag.RemarksADD');
                        $("#modalRemarksADD").modal();*@
                    }
                    else {
                        var $toast = toastr["error"](data, "Prosoftware");
                        $toastlast = $toast;
                    }
                    waitingDialog.hide();

                },
                error: function (XHR) {
                    waitingDialog.hide(); alert(XHR);
                }
            });
        } else {


            $.ajax({
                url: "@Url.Action("AddRoomsMealFile", "Home")",
                data: mod,
                type: "POST",
                success: function (data) {

                    if (data.indexOf("sucesso") > -1) {
                        var $toast = toastr["success"](data, "Prosoftware");
                        $toastlast = $toast;
                        refreshGridFile();
                        $('#dvremarksADD').html('@ViewBag.RemarksADD');
                        $("#modalRemarksADD").modal();
                    }
                    else {
                        var $toast = toastr["error"](data, "Prosoftware");
                        $toastlast = $toast;
                    }
                    waitingDialog.hide();

                },
                error: function (XHR) {
                    waitingDialog.hide(); alert(XHR);
                }
            });
        }
    });
    function abrirMealsGrid(count) {
        
        if ($('#hdMealOpen_' + count).val() == "0") {
            $('#dvGridMeals_' + count).fadeIn();
            $('#iconMeals_' + count).removeClass("fa fa-plus");
            $('#iconMeals_' + count).addClass("fa fa-minus");
            $('#hdMealOpen_' + count).val("1");
        } else {
            $('#dvGridMeals_' + count).fadeOut();
            $('#iconMeals_' + count).removeClass("fa fa-minus");
            $('#iconMeals_' + count).addClass("fa fa-plus");
            $('#hdMealOpen_' + count).val("0");
        }
    }

    function openAddMeals(item, pos) {

        if ($('input[name=optQuoteFileHotel]:checked').val() === "Quote") {
            book(item, pos);
            return false;
        }

        $('#btnfecharAddMealFile').val(item + '~' + pos);

        var reservaq = false;
        if ($('#chkReservaOmniQuote').is(":checked")) {
            reservaq = true;
        } else {
            reservaq = false;
        }
        var omni = false;
        var cts = false;
        var roomsxml = false;
        var hotelspro = false;
        var provider = $('#tituloTarifa_' + pos).html().trim();
        if (provider === "Omni") {
            omni = true;
        } else if (provider === "CTS") {
            cts = true;
        } else if (provider === "RoomsXML") {
            roomsxml = true;
        } else if (provider === "HotelsPro") {
            hotelspro = true;
        }
        var polcancel = escape($('#polcanceltext_' + pos).attr("title"));

        var mod = {
            qCode: $('#qCode').val(),
            IdQuotGrupo: $('#qgID').val(),
            DataPeriodoInHotel: $('#txtDataInHotel').val(),
            DataPeriodoToHotel: $('#txtDataOutHotel').val(),
            cidade: $('#txtCidadeHotel').val(),
            moedaid: $('#ddlMoedaCapa').val(), //$("#moedaId_" + pos).val(),
            OptQuote: $('#optQuoteAtiva').val(),
            BaseDe: $('#txtBaseDe').val(),
            BaseAte: $('#txtBaseAte').val(),
            NomeSupplier: $('#nomeSupplier').html(),
            lblFDS: $('#lblFDSHotel_' + pos).val(),
            lblEstacao: $('#lblEstacaoHotel_' + pos).val(),
            ResponsavelId: $('#ResponsavelId_' + pos).val(),
            QtdRoom: 1,
            lblValorTotal: $('#valorTotal_' + pos).val(),
            lblRoom: $('#lblRoom_' + pos).val(),
            lblRoomId: $('#tipoRoomId_' + pos).val(),
            lblMoedaId: $('#moedaId_' + pos).val(),
            lblMoeda: $('#moeda_' + pos).val(),
            lblCategoriaId: $('#categoriaId_' + pos).val(),
            lblSupplierId: $('#sId_' + pos).val(),
            reservaquote: reservaq,
            Omni: omni,
            Cts: cts,
            RoomsXML: roomsxml,
            HotelsPro: hotelspro,
            quoteId: $('#quoteId_' + pos).val(),
            ratePlanId: $('#ratePlanId_' + pos).val(),
            grpselecionadoreserva: $('#hdgrpselecionado').val(),
            Breakfast: $('#breakfast_' + pos).val(),
            politicacancelamento: polcancel,
            lblIdTarifa: $('#idTarifa_' + pos).val()
        };

        $.ajax({
            url: "@Url.Action("AddRoomsFileMeals", "Home")",
            type: "POST",
            data: mod,
            success: function (d) {

                $('#dvmeals').html(d);

                if ($('#existsMealAddFile').val() == "1") {


                    $('#modalMealAddFile').modal({ backdrop: 'static', keyboard: false });
                } else {


                    book(item, pos);
                }
            },
            error: function (xhr) {
                alert('Add meal file error.');
            }
        });

    }

    $('#btnfecharAddMealFile').click(function () {

        var pars = $(this).val().split('~');
        book(pars[0], pars[1]);

    });

    function book(item, pos) {

        var result = window.confirm('The reservation is being made in the Group ' + $('#hdgrpselecionado').val());
        if (result == false) {
            //e.preventDefault();
            return;
        };

        //debugger;
        //toastr.info('Booking...');

        var reservaq = false;
        if ($('#chkReservaOmniQuote').is(":checked")) {
            reservaq = true;
        } else {
            reservaq = false;
        }

        var omni = false;
        var cts = false;
        var roomsxml = false;
        var hotelspro = false;

        debugger;
        var provider = $('#tituloTarifa_' + pos).html().trim();

        if (provider === "Omni") {
            omni = true;
        } else if (provider === "CTS") {
            cts = true;
        } else if (provider === "RoomsXML") {
            roomsxml = true;
        } else if (provider === "HotelsPro") {
            hotelspro = true;
        }


        var polcancel = escape($('#polcanceltext_' + pos).attr("title"));

        var mod = {
            qCode: $('#qCode').val(),
            IdQuotGrupo: $('#qgID').val(),
            DataPeriodoInHotel: $('#txtDataInHotel').val(),
            DataPeriodoToHotel: $('#txtDataOutHotel').val(),
            cidade: $('#txtCidadeHotel').val(),
            moedaid: $('#ddlMoedaCapa').val(), //$("#moedaId_" + pos).val(),
            OptQuote: $('#optQuoteAtiva').val(), // ??
            BaseDe: $('#txtBaseDe').val(),
            BaseAte: $('#txtBaseAte').val(),
            NomeSupplier: $('#nomeSupplier').html(),
            lblFDS: $('#lblFDSHotel_' + pos).val(), // ??
            lblNomePacote: $('#lblNomePacoteHotel_' + pos).val(), // ?
            lblEstacao: $('#lblEstacaoHotel_' + pos).val(), //// ?
            ResponsavelId: $('#ResponsavelId_' + pos).val(), // nao precisa, pega no backend
            QtdRoom: 1, // $('#txtQtdRoomOmni_' + pos[0] + '_' + pos[1]).val(), // por enquanto reserva uma de cada vez
            lblValorTotal: $('#valorTotal_' + pos).val(),
            lblRoom: $('#lblRoom_' + pos).val(),
            lblRoomId: $('#tipoRoomId_' + pos).val(),
            //lblMoeda: $('#lblMoedaHotelOmni_' + pos[0] + '_' + pos[1]).val(), // nao precisa
            lblMoedaId: $('#moedaId_' + pos).val(),
            lblMoeda: $('#moeda_' + pos).val(),
            //lblCategoria: $('#Tarif_categoria_nomeHotel_' + i).html(),
            lblCategoriaId: $('#categoriaId_' + pos).val(),
            lblSupplierId: $('#sId_' + pos).val(),
            reservaquote: reservaq,
            Omni: omni,
            Cts: cts,
            RoomsXML: roomsxml,
            HotelsPro: hotelspro,
            quoteId: $('#quoteId_' + pos).val(),
            ratePlanId: $('#ratePlanId_' + pos).val(),
            grpselecionadoreserva: $('#hdgrpselecionado').val(),
            Breakfast: $('#breakfast_' + pos).val(),
            politicacancelamento: polcancel,
            lblIdTarifa: $('#idTarifa_' + pos).val()
        };


        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        console.log($('input[name=optQuoteFileHotel]:checked').val());
        if ($('input[name=optQuoteFileHotel]:checked').val() === "Quote") {

            $.ajax({
                url: '@Url.Action("AddRoomsQuote", "Home")',
                data: mod,
                type: "POST",
                success: function (data) {

                    if (data.indexOf("sucesso") > -1) {
                        var arr = data.split('°');
                        var $toast = toastr["success"](arr[0], "Prosoftware");
                        $toastlast = $toast;
                        refreshGridQuote();

                        if (arr[1] != '\n\n' && arr[1] != "") {
                            $('#dvremarksADD').html(arr[1]);
                            $("#modalRemarksADD").modal();
                        }
                    }
                    else {
                        var $toast = toastr["error"](data, "Prosoftware");
                        $toastlast = $toast;
                    }
                    waitingDialog.hide();

                },
                error: function (XHR) {
                    waitingDialog.hide(); alert(XHR);
                }
            });

        } else {

            $.ajax({
                url: '@Url.Action("AddRoomsFile", "Home")',
                data: mod,
                type: "POST",
                success: function (data) {

                    if (data.indexOf("sucesso") > -1) {
                        var arr = data.split('°');
                        var $toast = toastr["success"](arr[0], "Prosoftware");
                        $toastlast = $toast;
                        refreshGridFile();
                    }
                    else {
                        var $toast = toastr["error"](data, "Prosoftware");
                        $toastlast = $toast;
                        waitingDialog.hide();
                    }


                },
                error: function (XHR) {
                    waitingDialog.hide(); alert(XHR);
                }
            });

        }

        //waitingDialog.hide();

    }

</script>
