﻿@model IEnumerable<DAL.Models.ResultadoHoteisModel>


<div class="box box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">HOTEIS</h3>
    </div><!-- /.box-header -->
    <div class="box-body">

        <div class="box-group" id="accordion">

            @{ int i = 0; }
            @foreach (var item in Model)
            {

                string DBL = "";

                if (item.S_mercado_tarifa_status_nome != "")
                {
                    DBL = item.S_mercado_tarifa_status_nome;
                }
                else
                {
                    if (item.S_merc_tarif_porApartamento == false)
                    {

                        DBL = item.S_merc_tarif_tarifa_total;
                    }
                    else
                    {
                        DBL = (Convert.ToDecimal(item.S_merc_tarif_tarifa_total) / Convert.ToDecimal(item.Tipo_room_number)).ToString();
                    }
                }


                <div class="panel box box-primary">
                    <div class="box-header with-border">
                        <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseHotel_@i">
                                @{
                                    string fds = "";
                                    if (item.S_merc_periodo_fdsFrom != "")
                                    {
                                        fds = item.S_merc_periodo_fdsFrom + "/" + item.S_merc_periodo_fdsTo;
                                    }

                                    List<DAL.Models.DalHotelModel> thm = new List<DAL.Models.DalHotelModel>();
                                    thm = Session["TmodHotelsPro"] as List<DAL.Models.DalHotelModel>;
                                }
                                <span id="S_nomeHotel_@i">@item.S_nome</span> @fds - <small id="Tarif_categoria_nomeHotel_@i">@item.Tarif_categoria_nome</small> - Período: <small id="S_merc_periodo_fromHotel_@i">@item.S_merc_periodo_from</small> / <small id="S_merc_periodo_toHotel_@i">@item.S_merc_periodo_to</small> - DBL: <small id="S_merc_tarif_tarifa_total_@i">@DBL</small> @if (item.lstTarifas.Where(s => s.TituloTarifa.Equals("Omni")).Count() > 0)
                                { <small style="color:green;"><i class="fa fa-certificate" aria-hidden="true"></i></small> }  @if (item.lstTarifas.Where(s => s.TituloTarifa.Equals("CTS")).Count() > 0)
                                { <small style="color:yellow;"><i class="fa fa-certificate" aria-hidden="true"></i></small> } @if (item.lstTarifas.Where(s => s.TituloTarifa.Equals("RoomsXML")).Count() > 0)
                                { <small style="color:red;"><i class="fa fa-certificate" aria-hidden="true"></i></small> } @if (item.lstTarifas.Where(s => s.TituloTarifa.Equals("HotelsPro")).Count() > 0  && thm.Where(s => s.Categoria.Equals(item.Tarif_categoria_nome)).Count() > 0)
                                { <small style="color:blue;"><i class="fa fa-certificate" aria-hidden="true"></i></small> } @if (item.S_mercado_estacao_nome != "")
                                { <br /><small>Pacote: @item.Pacote_nome - Estação: @item.S_mercado_estacao_nome</small>  } <small> - Responsável: @item.Responsavel</small>

                                <input id="lblFDSHotel_@i" type="hidden" value="@string.Format(" {0} / {1}", item.S_merc_periodo_fdsFrom , item.S_merc_periodo_fdsTo)" />
                                <input id="lblNomePacoteHotel_@i" type="hidden" value="@item.Pacote_nome" />
                                <input id="lblEstacaoHotel_@i" type="hidden" value="@item.S_mercado_estacao_nome" />
                                <input id="ResponsavelId_@i" type="hidden" value="@item.Responsavel_id" />
                                <input id="Tarif_categoria_idHotel_@i" type="hidden" value="@item.Tarif_categoria_id" />
                                <input id="lblSupplierIdHotel_@i" type="hidden" value="@item.S_id" />

                            </a>
                        </h4>
                    </div>
                    <div id="collapseHotel_@i" class="panel-collapse collapse">
                        <div class="box-body">

                            <div class="row">
                                @if (item.lstTarifas.Where(s => s.TituloTarifa.Equals("Sistema")).Count() > 0)
                                {
                                    <div class="col-md-2">
                                        <strong>Tarifas Sistema</strong>
                                        @{ int j = 0; }
                                        @foreach (var itemTar in item.lstTarifas.Where(s => s.TituloTarifa.Equals("Sistema")))
                                        {
                                            <input id="lblCategoriaHotel_@i@j" type="hidden" value="@itemTar.Tarif_categoria_nome" />
                                            <input id="lblCategoriaIdHotel_@i@j" type="hidden" value="@itemTar.Tarif_categoria_id" />
                                            <input id="lblRoomIdHotel_@i@j" type="hidden" value="@itemTar.Tipo_room_id" />
                                            <input id="lblSupplierIdHotel_@i@j" type="hidden" value="@itemTar.S_id" />
                                            <input id="lblEmailSupplierHotel_@i@j" type="hidden" value="@itemTar.EmailSupplier" />
                                            <input id="lblMoedaIdHotel_@i@j" type="hidden" value="@itemTar.Moeda_id" />
                                            <input id="lblMoedaHotel_@i@j" type="hidden" value="@itemTar.Moeda_sigla" />
                                            <input id="lblStatusHotel_@i@j" type="hidden" value="@itemTar.S_mercado_tarifa_status_nome" />
                                            <input id="hdfPPessoaPAptoHotel_@i@j" type="hidden" value="@itemTar.S_merc_tarif_porApartamento" />
                                            <input id="lblIdTarifaHotel_@i@j" type="hidden" value="@itemTar.S_merc_tarif_id" />
                                            <input id="hdfPlataformaHotel_@i@j" type="hidden" value="" />

                                            <div class="row">
                                                <div class="col-md-3">
                                                    <span id="lblRoomHotel_@i@j">
                                                        @itemTar.Tipo_room_nome
                                                    </span>
                                                </div>
                                                <div class="col-md-3">
                                                    @{
                                                        string vr = "", vrr = "";

                                                        if (itemTar.S_mercado_tarifa_status_nome != null && itemTar.S_merc_tarif_tarifa_total == 0)
                                                        {
                                                            vr = itemTar.S_mercado_tarifa_status_nome.ToString();
                                                            vrr = itemTar.S_mercado_tarifa_status_nome.ToString();
                                                        }
                                                        else
                                                        {
                                                            if (itemTar.S_merc_tarif_porApartamento == false)
                                                            {

                                                                vr = string.Format("{0}{1}", itemTar.Moeda_sigla, itemTar.S_merc_tarif_tarifa_total).ToString();
                                                                vrr = itemTar.S_merc_tarif_tarifa_total.ToString();
                                                            }
                                                            else
                                                            {
                                                                vr = string.Format("{0}{1:N}", itemTar.Moeda_sigla, Convert.ToDecimal(itemTar.S_merc_tarif_tarifa_total) / Convert.ToDecimal(itemTar.Tipo_room_number)).ToString();
                                                                vrr = (Convert.ToDecimal(itemTar.S_merc_tarif_tarifa_total) / Convert.ToDecimal(itemTar.Tipo_room_number)).ToString();
                                                            }
                                                        }
                                                    }
                                                    <span id="lblValorTotalHotel_@i@j">
                                                        @vr
                                                    </span>
                                                    <input id="hdValorTotalHotel_@i@j" type="hidden" value="@vrr" />
                                                </div>
                                                <div class="col-md-4">
                                                    <input id="txtQtdRoom_@i@j" class="form-control" placeholder="Qtd" />
                                                </div>
                                                <div class="col-md-1">
                                                    <button class="btn btn-link btnaddhotel" title="Add" value="@i°@j">
                                                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </div>
                                                            j++;
                                                        }
                                    </div>
                                                        }


                                @if (item.lstTarifas.Where(s => s.TituloTarifa.Equals("Omni")).Count() > 0)
                                {
                                    <div class="col-md-2">
                                        @*<strong>Tarifas Omni</strong>
                                            <br />*@
                                        <input id="btnOpenOmniTarifas" type="button" class="btn btn-link btnOpenOmniTarifas" style="margin:0px;padding:0px;font-weight:bold;" value="Tarifas Omni" title="Tarifas Omni" name="@item.Tarif_categoria_nome°@i" />
                                        @*@{ int o = 0; }*@
                                        @*@foreach (var itemTar in item.lstTarifas.Where(s => s.TituloTarifa.Equals("Omni")))
                                            {

                                            <input id="lblRoomIdHotelOmni_@i@o" type="hidden" value="@itemTar.Tipo_room_id" />

                                            <div class="row">
                                                <div class="col-md-3">
                                                    <span id="lblRoomHotelOmni_@i@o">
                                                        @itemTar.Tipo_room_nome
                                                    </span>
                                                </div>
                                                <div class="col-md-3">
                                                    @{
                                                    string moedaO = "";
                                                    switch (itemTar.Moeda_sigla)
                                                    {
                                                    case "BRL":
                                                    moedaO = "R$";
                                                    break;
                                                    case "USD":
                                                    moedaO = "$";
                                                    break;
                                                    case "EUR":
                                                    moedaO = "£";
                                                    break;
                                                    }
                                                    }
                                                    <input id="lblMoedaIdHotelOmni_@i@o" type="hidden" value="@itemTar.Moeda_id" />
                                                    <input id="lblMoedaHotelOmni_@i@o" type="hidden" value="@moedaO" />

                                                    <span id="lblValorTotalHotelOmni_@i@o" style="color:red;">
                                                        @if (itemTar.S_merc_tarif_tarifa_total == 0)
                                                        {
                                                        <span>N/A</span>
                                                        }
                                                        else
                                                        {
                                                        @moedaO@itemTar.S_merc_tarif_tarifa_total
                                                        }
                                                    </span>
                                                    <input id="hdValorTotalHotelOmni_@i@o" type="hidden" value="@itemTar.S_merc_tarif_tarifa_total" />
                                                </div>
                                                <div class="col-md-4">
                                                    <input id="txtQtdRoomOmni_@i@o" class="form-control" placeholder="Qtd" />
                                                </div>
                                                <div class="col-md-1">
                                                    <button class="btn btn-link btnaddhotelOMNI" title="@itemTar.PoliticaCancel" value="@i°@o">
                                                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            o++;
                                            }*@
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-2">
                                        <strong>Não existe tarifa OMNI nesta data.</strong>
                                    </div>
                                }


                                @if (item.lstTarifas.Where(s => s.TituloTarifa.Equals("CTS")).Count() > 0)
                                {
                                    <div class="col-md-2">
                                        <strong>Tarifas Cts</strong>
                                        @{ int ct = 0; }
                                        @foreach (var itemTar in item.lstTarifas.Where(s => s.TituloTarifa.Equals("CTS")))
                                        {
                                            <input id="lblRoomIdHotelCts_@i@ct" type="hidden" value="@itemTar.Tipo_room_id" />

                                            <div class="row">
                                                <div class="col-md-3">
                                                    <span id="lblRoomHotelCts_@i@ct">
                                                        @itemTar.Tipo_room_nome
                                                    </span>
                                                </div>
                                                <div class="col-md-3">
                                                    <input id="lblMoedaIdHotelCts_@i@ct" type="hidden" value="@itemTar.Moeda_id" />

                                                    @if (itemTar.disponibilidade != null)
                                                    {
                                                        if (itemTar.disponibilidade.Equals("Reserva Automática"))
                                                        {
                                                            <span id="lblValorTotalHotelCts_@i@ct" style="color:red;" title="@itemTar.disponibilidade">
                                                                $@itemTar.S_merc_tarif_tarifa_total
                                                            </span>
                                                        }
                                                        else
                                                        {
                                                            <span id="lblValorTotalHotelCts_@i@ct" style="color:yellow;" title="@itemTar.disponibilidade">
                                                                $@itemTar.S_merc_tarif_tarifa_total
                                                            </span>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <span id="lblValorTotalHotelCts_@i@ct" style="color:red;">
                                                            $@itemTar.S_merc_tarif_tarifa_total
                                                        </span>
                                                    }

                                                    <input id="hdValorTotalHotelCts_@i@ct" type="hidden" value="@itemTar.S_merc_tarif_tarifa_total" />
                                                </div>
                                                <div class="col-md-4">
                                                    <input id="txtQtdRoomCts_@i@ct" class="form-control" placeholder="Qtd" />
                                                </div>
                                                <div class="col-md-1">
                                                    <button class="btn btn-link btnaddhotelCTS" title="@itemTar.PoliticaCancel" value="@i°@ct">
                                                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            ct++;
                                        }
                                    </div>
                                            }
                                            else
                                            {
                                                <div class="col-md-2">
                                                    <strong>Não existe tarifa CTS nesta data.</strong>
                                                </div>
                                            }


                                @if (item.lstTarifas.Where(s => s.TituloTarifa.Equals("RoomsXML")).Count() > 0)
                                {
                                    <div class="col-md-2">
                                        <input id="btnOpenRoomXmlTarifas" type="button" class="btn btn-link btnOpenRoomXmlTarifas" style="margin:0px;padding:0px;font-weight:bold;" value="Tarifas RoomsXml" title="Tarifas RoomsXML" name="@item.Tarif_categoria_nome°@i" />

                                        @*<strong>Tarifas RoomsXML</strong>
                                            @{ int rxml = 0; }
                                            @foreach (var itemTar in item.lstTarifas.Where(s => s.TituloTarifa.Equals("RoomsXML")))
                                            {
                                            <input id="lblRoomIdHotelRoomXml_@i@rxml" type="hidden" value="@itemTar.Tipo_room_id" />
                                            <input id="lblQuoteIDHotelRoomXml_@i@rxml" type="hidden" value="@itemTar.QuoteId_RoomsXML" />
                                            <input id="hdValorTotalHotelRoomXml_@i@rxml" type="hidden" value="@itemTar.S_merc_tarif_tarifa_total" />

                                            <div class="row">
                                                <div class="col-md-3">
                                                    <span id="lblRoomHotelRoomXml_@i@rxml">
                                                        @itemTar.Tipo_room_nome
                                                    </span>
                                                </div>
                                                <div class="col-md-3">
                                                    <input id="lblMoedaIdHotelRoomXml_@i@rxml" type="hidden" value="@itemTar.Moeda_id" />

                                                    @if (itemTar.disponibilidade != null)
                                                    {
                                                    if (itemTar.disponibilidade.Equals("Reserva Automática"))
                                                    {
                                                    <span id="lblValorTotalHotelRoomXml_@i@rxml" style="color:red;" title="@itemTar.disponibilidade">
                                                        $@itemTar.S_merc_tarif_tarifa_total
                                                    </span>
                                                    }
                                                    else
                                                    {
                                                    <span id="lblValorTotalHotelRoomXml_@i@rxml" style="color:yellow;" title="@itemTar.disponibilidade">
                                                        $@itemTar.S_merc_tarif_tarifa_total
                                                    </span>
                                                    }
                                                    }
                                                    else
                                                    {
                                                    <span id="lblValorTotalHotelRoomXml_@i@rxml" style="color:red;">
                                                        $@itemTar.S_merc_tarif_tarifa_total
                                                    </span>
                                                    }


                                                </div>
                                                <div class="col-md-4">
                                                    <input id="txtQtdRoomRoomXml_@i@rxml" class="form-control" placeholder="Qtd" />
                                                </div>
                                                <div class="col-md-1">
                                                    <button class="btn btn-link btnaddhotelRoomXml" title="@itemTar.PoliticaCancel" value="@i°@rxml">
                                                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            rxml++;
                                            }*@
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-2">
                                        <strong>Não existe tarifa RoomXml nesta data.</strong>
                                    </div>
                                }


                                @if (item.lstTarifas.Where(s => s.TituloTarifa.Equals("HotelsPro")).Count() > 0)
                                {
                                    <div class="col-md-2">
                                        <input id="btnOpenHotelsProTarifas" type="button" class="btn btn-link btnOpenHotelsProTarifas" style="margin:0px;padding:0px;font-weight:bold;" value="Tarifas HotelsPro" title="Tarifas HotelsPro" name="@item.Tarif_categoria_nome°@i" />
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-2">
                                        <strong>Não existe tarifa HotelsPro nesta data.</strong>
                                    </div>
                                }


                            </div>

                            <br />
                            <div class="row">
                                <div class="col-md-4">
                                    <strong>Meals</strong>
                                    @{ int m = 0; }
                                    @foreach (var itemMeals in item.lstMeals)
                                    {

                                        <input id="lblSupplierMealId_@m" type="hidden" value="@itemMeals.S_id" />
                                        <input id="lblMealId_@m" type="hidden" value="@itemMeals.S_merc_meal_id" />
                                        <input id="lblMoedaMealId_@m" type="hidden" value="@itemMeals.Moeda_id" />
                                        <input id="lblStatusNomeMeal_@m" type="hidden" value="@itemMeals.S_mercado_tarifa_status_nome" />


                                        <div class="row">
                                            <div class="col-md-6">
                                                <span id="lblMealNome_@m">
                                                    @itemMeals.S_meal_nome
                                                </span>
                                            </div>
                                            <div class="col-md-3">
                                                @if (itemMeals.S_merc_meal_tarifa_total != 0 && itemMeals.S_mercado_tarifa_status_nome == null)
                                                {
                                                    @itemMeals.Moeda_sigla@itemMeals.S_merc_meal_tarifa_total;
                                                }
                                                else
                                                {
                                                    @itemMeals.S_mercado_tarifa_status_nome;
                                                }

                                                <input id="hdValorTotalMealHotel_@m" type="hidden" value="@itemMeals.S_merc_meal_tarifa_total" />
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btn btn-link btnaddmeal" title="Add" value="@i°@m">
                                                    <i class="fa fa-plus-square" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>

                                        m++;
                                    }
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                                            i++;
                                        }


        </div>

    </div>
</div>


@*style="width:100%;"*@
<div class="modal fade bs-example-modal-lg" id="modalTarifasOmni" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Tarifas Omni</h4>
            </div>

            <div class="modal-body">
                <div id="dvModalTarifasOmni">
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" id="modalTarifasRoomsXml" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Tarifas RoomXml</h4>
            </div>

            <div class="modal-body">
                <div id="dvModalTarifasRoomsXml">
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" id="modalTarifasHotelsPro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Tarifas HotelsPro</h4>
            </div>

            <div class="modal-body" style="width:100%;overflow-x: auto;">
                <div id="dvModalTarifasHotelsPro">
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">

    $('.btnOpenHotelsProTarifas').click(function () {

        var prs = $(this).attr('name').split('°');

        $.get("@Url.Action("GetTodasTarifasHotelsPro", "Home")", { categoria: prs[0], valori: prs[1] }, function (d) {

            $('#dvModalTarifasHotelsPro').html(d);
            $('#modalTarifasHotelsPro').modal();
        });
    });

    $('.btnOpenRoomXmlTarifas').click(function () {

        var prs = $(this).attr('name').split('°');

        $.get("@Url.Action("GetTodasTarifasRoomsXml", "Home")", { categoria: prs[0], valori: prs[1] }, function (d) {

            $('#dvModalTarifasRoomsXml').html(d);
            $('#modalTarifasRoomsXml').modal();
        });
    });

    $('.btnOpenOmniTarifas').click(function () {

        var prs = $(this).attr('name').split('°');

        $.get("@Url.Action("GetTodasTarifasOmni", "Home")", { categoria: prs[0], valori: prs[1] }, function (d) {

            $('#dvModalTarifasOmni').html(d);
            $('#modalTarifasOmni').modal();
        });
    });

    $('.btnaddmeal').click(function () {
        var pos = $(this).val().split('°');
        var i = pos[0];
        var m = pos[1];

        var mod = {
            qCode: $('#qCode').val(),
            IdQuotGrupo: $('#qgID').val(),
            DataPeriodoInHotel: $('#txtDataInHotel').val(),
            DataPeriodoToHotel: $('#txtDataOutHotel').val(),
            cidade: $('#txtCidadeHotel').val(),
            moedaid: $("#ddlMoedaCapa").val(),
            S_id: $('#lblSupplierMealId_' + m).val(),
            OptQuote: $('#optQuoteAtiva').val(),
            BaseDe: $('#txtBaseDe').val(),
            BaseAte: $('#txtBaseAte').val(),
            NomeSupplier: $('#S_nomeHotel_' + i).html(),
            lblFDS: $('#lblFDSHotel_' + i).val(),
            lblNomePacote: $('#lblNomePacoteHotel_' + i).val(),
            lblEstacao: $('#lblEstacaoHotel_' + i).val(),
            ResponsavelId: $('#ResponsavelId_' + i).val(),
            S_merc_meal_tarifa_total: $('#hdValorTotalMealHotel_' + m).val(),
            moedaMealid: $('#lblMoedaMealId_' + m).val(),
            NumPax: $('#ddlADLCapa').val(),
            S_mercado_tarifa_status_nome: $('#lblStatusNomeMeal_' + m).val(),
            MealId: $('#lblMealId_' + m).val(),
            S_meal_nome: $('#lblMealNome_' + m).html()
        };

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        if ($('input[name=optQuoteFileHotel]:checked').val() == "Quote") {

            $.ajax({
                url: "@Url.Action("AddRoomsMealQuote", "Home")",
                data: mod,
                type: "POST",
                success: function (data) {

                    if (data.indexOf("sucesso") > -1) {
                        var $toast = toastr["success"](data, "Prosoftware");
                        $toastlast = $toast;
                        refreshGridQuote();

                        $('#dvremarksADD').html('@ViewBag.RemarksADD');
                        $("#modalRemarksADD").modal();
                    }
                    else {
                        var $toast = toastr["error"](data, "Prosoftware");
                        $toastlast = $toast;
                    }
                    waitingDialog.hide();

                },
                error: function (XHR) {
                    waitingDialog.hide(); alert(XHR);
                }
            });
        } else {


            $.ajax({
                url: "@Url.Action("AddRoomsMealFile", "Home")",
                data: mod,
                type: "POST",
                success: function (data) {

                    if (data.indexOf("sucesso") > -1) {
                        var $toast = toastr["success"](data, "Prosoftware");
                        $toastlast = $toast;
                        refreshGridFile();
                        $('#dvremarksADD').html('@ViewBag.RemarksADD');
                        $("#modalRemarksADD").modal();
                    }
                    else {
                        var $toast = toastr["error"](data, "Prosoftware");
                        $toastlast = $toast;
                    }
                    waitingDialog.hide();

                },
                error: function (XHR) {
                    waitingDialog.hide(); alert(XHR);
                }
            });
        }
    });



    $('.btnaddhotel').click(function () {

        var pos = $(this).val().split('°');
        var i = pos[0];
        var j = pos[1];

        if ($('#txtQtdRoom_' + i + j).val() == "") {
            alert('Favor preencher a quantidade de room!');
            return false;
        }

        var mod = {
            qCode: $('#qCode').val(),
            IdQuotGrupo: $('#qgID').val(),
            DataPeriodoInHotel: $('#txtDataInHotel').val(),
            DataPeriodoToHotel: $('#txtDataOutHotel').val(),
            cidade: $('#txtCidadeHotel').val(),
            moedaid: $("#ddlMoedaCapa").val(),
            S_id: $('#lblSupplierIdHotel_' + i + j).val(),
            OptQuote: $('#optQuoteAtiva').val(),
            BaseDe: $('#txtBaseDe').val(),
            BaseAte: $('#txtBaseAte').val(),
            NomeSupplier: $('#S_nomeHotel_' + i).html(),
            lblFDS: $('#lblFDSHotel_' + i).val(),
            lblNomePacote: $('#lblNomePacoteHotel_' + i).val(),
            lblEstacao: $('#lblEstacaoHotel_' + i).val(),
            ResponsavelId: $('#ResponsavelId_' + i).val(),
            lblIdTarifa: $('#lblIdTarifaHotel_' + i + j).val(),
            QtdRoom: $('#txtQtdRoom_' + i + j).val(),
            lblValorTotal: $('#hdValorTotalHotel_' + i + j).val(),
            lblRoom: $('#lblRoomHotel_' + i + j).html(),
            lblRoomId: $('#lblRoomIdHotel_' + i + j).val(),
            lblMoeda: $('#lblMoedaHotel_' + i + j).val(),
            lblMoedaId: $('#lblMoedaIdHotel_' + i + j).val(),
            lblCategoria: $('#Tarif_categoria_nomeHotel_' + i).html(),
            lblCategoriaId: $('#Tarif_categoria_idHotel_' + i).val(),
            lblSupplierId: $('#lblSupplierIdHotel_' + i).val(),
            lblEmailSupplier: $('#lblEmailSupplierHotel_' + i + j).val(),
            Omni: false
        };


        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        if ($('input[name=optQuoteFileHotel]:checked').val() == "Quote") {

            $.ajax({
                url: "@Url.Action("AddRoomsQuote", "Home")",
                data: mod,
                type: "POST",
                success: function (data) {

                    if (data.indexOf("sucesso") > -1) {
                        var arr = data.split('°');
                        var $toast = toastr["success"](arr[0], "Prosoftware");
                        $toastlast = $toast;
                        refreshGridQuote();

                        if (arr[1] != '\n\n' && arr[1] != "") {
                            $('#dvremarksADD').html(arr[1]);
                            $("#modalRemarksADD").modal();
                        }

                    }
                    else {
                        var $toast = toastr["error"](data, "Prosoftware");
                        $toastlast = $toast;
                    }
                    waitingDialog.hide();

                },
                error: function (XHR) {
                    waitingDialog.hide(); alert(XHR);
                }
            });

        } else {

            $.ajax({
                url: "@Url.Action("AddRoomsFile", "Home")",
                data: mod,
                type: "POST",
                success: function (data) {

                    if (data.indexOf("sucesso") > -1) {
                        var arr = data.split('°');
                        var $toast = toastr["success"](arr[0], "Prosoftware");
                        $toastlast = $toast;
                        refreshGridFile();

                        if (arr[1] != '\n\n' && arr[1] != "") {
                            $('#dvremarksADD').html(arr[1]);
                            $("#modalRemarksADD").modal();
                        }
                    }
                    else {
                        var $toast = toastr["error"](data, "Prosoftware");
                        $toastlast = $toast;
                    }
                    waitingDialog.hide();

                },
                error: function (XHR) {
                    waitingDialog.hide(); alert(XHR);
                }
            });

        }

    });


















    @*$('.btnaddhotelOMNI').click(function () {

        var pos = $(this).val().split('°');
        var i = pos[0];
        var o = pos[1];

        if ($('#txtQtdRoomOmni_' + i + o).val() == "") {
            alert('Favor preencher a quantidade de room!');
            return false;
        }

        var reservaq = false;
        if ($('#chkReservaOmniQuote').is(":checked")) {
            reservaq = true;
        } else {
            reservaq = false;
        }

        var mod = {
            qCode: $('#qCode').val(),
            IdQuotGrupo: $('#qgID').val(),
            DataPeriodoInHotel: $('#txtDataInHotel').val(),
            DataPeriodoToHotel: $('#txtDataOutHotel').val(),
            cidade: $('#txtCidadeHotel').val(),
            moedaid: $("#ddlMoedaCapa").val(),
            OptQuote: $('#optQuoteAtiva').val(),
            BaseDe: $('#txtBaseDe').val(),
            BaseAte: $('#txtBaseAte').val(),
            NomeSupplier: $('#S_nomeHotel_' + i).html(),
            lblFDS: $('#lblFDSHotel_' + i).val(),
            lblNomePacote: $('#lblNomePacoteHotel_' + i).val(),
            lblEstacao: $('#lblEstacaoHotel_' + i).val(),
            ResponsavelId: $('#ResponsavelId_' + i).val(),
            QtdRoom: $('#txtQtdRoomOmni_' + i + o).val(),
            lblValorTotal: $('#hdValorTotalHotelOmni_' + i + o).val(),
            lblRoom: $('#lblRoomHotelOmni_' + i + o).html(),
            lblRoomId: $('#lblRoomIdHotelOmni_' + i + o).val(),
            lblMoeda: $('#lblMoedaHotelOmni_' + i + o).val(),
            lblMoedaId: $('#lblMoedaIdHotelOmni_' + i + o).val(),
            lblCategoria: $('#Tarif_categoria_nomeHotel_' + i).html(),
            lblCategoriaId: $('#Tarif_categoria_idHotel_' + i).val(),
            lblSupplierId: $('#lblSupplierIdHotel_' + i).val(),
            reservaquote: reservaq,
            Omni: true
        };


        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        if ($('input[name=optQuoteFileHotel]:checked').val() == "Quote") {

            $.ajax({
                url: "@Url.Action("AddRoomsQuote", "Home")",
                data: mod,
                type: "POST",
                success: function (data) {

                    if (data.indexOf("sucesso") > -1) {
                        var arr = data.split('°');
                        var $toast = toastr["success"](arr[0], "Prosoftware");
                        $toastlast = $toast;
                        refreshGridQuote();

                        if (arr[1] != '\n\n' && arr[1] != "") {
                            $('#dvremarksADD').html(arr[1]);
                            $("#modalRemarksADD").modal();
                        }

                    }
                    else {
                        var $toast = toastr["error"](data, "Prosoftware");
                        $toastlast = $toast;
                    }
                    waitingDialog.hide();

                },
                error: function (XHR) {
                    waitingDialog.hide(); alert(XHR);
                }
            });

        } else {

            $.ajax({
                url: "@Url.Action("AddRoomsFile", "Home")",
                data: mod,
                type: "POST",
                success: function (data) {

                    if (data.indexOf("sucesso") > -1) {
                        var arr = data.split('°');
                        var $toast = toastr["success"](arr[0], "Prosoftware");
                        $toastlast = $toast;
                        refreshGridFile();

                        //if (arr[1] != '\n\n' && arr[1] != "") {
                        //    $('#dvremarksADD').html(arr[1]);
                        //    $("#modalRemarksADD").modal();
                        //}
                    }
                    else {
                        var $toast = toastr["error"](data, "Prosoftware");
                        $toastlast = $toast;
                    }
                    waitingDialog.hide();

                },
                error: function (XHR) {
                    waitingDialog.hide(); alert(XHR);
                }
            });

        }

    });*@





















    $('.btnaddhotelCTS').click(function () {

        var pos = $(this).val().split('°');
        var i = pos[0];
        var ct = pos[1];

        if ($('#txtQtdRoomCts_' + i + ct).val() == "") {
            alert('Favor preencher a quantidade de room!');
            return false;
        }


        var mod = {
            qCode: $('#qCode').val(),
            IdQuotGrupo: $('#qgID').val(),
            DataPeriodoInHotel: $('#txtDataInHotel').val(),
            DataPeriodoToHotel: $('#txtDataOutHotel').val(),
            cidade: $('#txtCidadeHotel').val(),
            moedaid: $("#ddlMoedaCapa").val(),
            OptQuote: $('#optQuoteAtiva').val(),
            BaseDe: $('#txtBaseDe').val(),
            BaseAte: $('#txtBaseAte').val(),
            NomeSupplier: $('#S_nomeHotel_' + i).html(),
            lblFDS: $('#lblFDSHotel_' + i).val(),
            lblNomePacote: $('#lblNomePacoteHotel_' + i).val(),
            lblEstacao: $('#lblEstacaoHotel_' + i).val(),
            ResponsavelId: $('#ResponsavelId_' + i).val(),
            QtdRoom: $('#txtQtdRoomCts_' + i + ct).val(),
            lblValorTotal: $('#hdValorTotalHotelCts_' + i + ct).val(),
            lblRoom: $('#lblRoomHotelCts_' + i + ct).html(),
            lblRoomId: $('#lblRoomIdHotelCts_' + i + ct).val(),
            lblMoedaId: $('#lblMoedaIdHotelCts_' + i + ct).val(),
            lblCategoria: $('#Tarif_categoria_nomeHotel_' + i).html(),
            lblCategoriaId: $('#Tarif_categoria_idHotel_' + i).val(),
            lblSupplierId: $('#lblSupplierIdHotel_' + i).val(),
            Cts: true
        };


        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        if ($('input[name=optQuoteFileHotel]:checked').val() == "Quote") {

            $.ajax({
                url: "@Url.Action("AddRoomsQuote", "Home")",
                data: mod,
                type: "POST",
                success: function (data) {

                    if (data.indexOf("sucesso") > -1) {
                        var arr = data.split('°');
                        var $toast = toastr["success"](arr[0], "Prosoftware");
                        $toastlast = $toast;
                        refreshGridQuote();

                        if (arr[1] != '\n\n' && arr[1] != "") {
                            $('#dvremarksADD').html(arr[1]);
                            $("#modalRemarksADD").modal();
                        }

                    }
                    else {
                        var $toast = toastr["error"](data, "Prosoftware");
                        $toastlast = $toast;
                    }
                    waitingDialog.hide();

                },
                error: function (XHR) {
                    waitingDialog.hide(); alert(XHR);
                }
            });

        } else {

            $.ajax({
                url: "@Url.Action("AddRoomsFile", "Home")",
                data: mod,
                type: "POST",
                success: function (data) {

                    if (data.indexOf("sucesso") > -1) {
                        var arr = data.split('°');
                        var $toast = toastr["success"](arr[0], "Prosoftware");
                        $toastlast = $toast;
                        refreshGridFile();

                        //if (arr[1] != '\n\n' && arr[1] != "") {
                        //    $('#dvremarksADD').html(arr[1]);
                        //    $("#modalRemarksADD").modal();
                        //}
                    }
                    else {
                        var $toast = toastr["error"](data, "Prosoftware");
                        $toastlast = $toast;
                    }
                    waitingDialog.hide();

                },
                error: function (XHR) {
                    waitingDialog.hide(); alert(XHR);
                }
            });

        }

    });






























@*$('.btnaddhotelRoomXml').click(function () {

        var pos = $(this).val().split('°');
        var i = pos[0];
        var rxml = pos[1];

        if ($('#txtQtdRoomRoomXml_' + i + rxml).val() == "") {
            alert('Favor preencher a quantidade de room!');
            return false;
        }


        var mod = {
            qCode: $('#qCode').val(),
            IdQuotGrupo: $('#qgID').val(),
            DataPeriodoInHotel: $('#txtDataInHotel').val(),
            DataPeriodoToHotel: $('#txtDataOutHotel').val(),
            cidade: $('#txtCidadeHotel').val(),
            moedaid: $("#ddlMoedaCapa").val(),
            OptQuote: $('#optQuoteAtiva').val(),
            BaseDe: $('#txtBaseDe').val(),
            BaseAte: $('#txtBaseAte').val(),
            NomeSupplier: $('#S_nomeHotel_' + i).html(),
            lblFDS: $('#lblFDSHotel_' + i).val(),
            lblNomePacote: $('#lblNomePacoteHotel_' + i).val(),
            lblEstacao: $('#lblEstacaoHotel_' + i).val(),
            ResponsavelId: $('#ResponsavelId_' + i).val(),
            QtdRoom: $('#txtQtdRoomRoomXml_' + i + rxml).val(),
            lblValorTotalstring: $('#lblValorTotalHotelRoomXml_' + i + rxml).html(),
            lblRoom: $('#lblRoomHotelRoomXml_' + i + rxml).html(),
            lblRoomId: $('#lblRoomIdHotelRoomXml_' + i + rxml).val(),
            lblMoedaId: $('#lblMoedaIdHotelRoomXml_' + i + rxml).val(),
			QuoteID_RoomXML: $('#lblQuoteIDHotelRoomXml_' + i + rxml).val(),
            lblCategoria: $('#Tarif_categoria_nomeHotel_' + i).html(),
            lblCategoriaId: $('#Tarif_categoria_idHotel_' + i).val(),
            lblSupplierId: $('#lblSupplierIdHotel_' + i).val(),
            RoomsXML: true
        };


        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        if ($('input[name=optQuoteFileHotel]:checked').val() == "Quote") {

            $.ajax({
                url: "@Url.Action("AddRoomsQuote", "Home")",
                data: mod,
                type: "POST",
                success: function (data) {

                    if (data.indexOf("sucesso") > -1) {
                        var arr = data.split('°');
                        var $toast = toastr["success"](arr[0], "Prosoftware");
                        $toastlast = $toast;
                        refreshGridQuote();

                        if (arr[1] != '\n\n' && arr[1] != "") {
                            $('#dvremarksADD').html(arr[1]);
                            $("#modalRemarksADD").modal();
                        }

                    }
                    else {
                        var $toast = toastr["error"](data, "Prosoftware");
                        $toastlast = $toast;
                    }
                    waitingDialog.hide();

                },
                error: function (XHR) {
                    waitingDialog.hide(); alert(XHR);
                }
            });

        } else {

            $.ajax({
                url: "@Url.Action("AddRoomsFile", "Home")",
                data: mod,
                type: "POST",
                success: function (data) {

                    if (data.indexOf("sucesso") > -1) {
                        var arr = data.split('°');
                        var $toast = toastr["success"](arr[0], "Prosoftware");
                        $toastlast = $toast;
                        refreshGridFile();
                    }
                    else {
                        var $toast = toastr["error"](data, "Prosoftware");
                        $toastlast = $toast;
                    }
                    waitingDialog.hide();

                },
                error: function (XHR) {
                    waitingDialog.hide(); alert(XHR);
                }
            });

        }

    });*@
</script>
