﻿
@if (ViewBag.lstInvoiceGrid.Count == 0)
{
    <p>
        Nenhum Invoice!
    </p>
}
else
{
    <table id="tblInvoiceReports" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Invoice</th>
                <th>Data</th>
                <th>Total</th>
                <th>Download</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in ViewBag.lstInvoiceGrid)
            {
                <tr>
                    <td>@item.Invoice_id</td>
                    <td>@item.DataEmissao</td>
                    <td>@item.Grand_Total</td>
                    <td><a href="@item.CaminhoPDF" target="_blank">Download</a></td>
                </tr>
            }
        </tbody>

    </table>
}
