﻿<div class="modal-body">
    @if (ViewBag.MarkupFileCapa != null)
    {
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Inicial</th>
                    <th>Final</th>
                    <th>Hotel</th>
                    <th>Desc Hotel</th>
                    <th>Serviço</th>
                    <th>Desc Serviço</th>
                    <th>Seasonal</th>
                    <th>Meal</th>
                    <th>Editar</th>
                </tr>
            </thead>

            <tbody>
                @{ int i = 0;}
                @foreach (var item in ViewBag.MarkupFileCapa)
                {
                    <tr class="rowMarkup_@i">
                        <td>@string.Format("{0:dd/MM/yyyy}", item.MarkupFile_dataInicial)</td>
                        <td>@string.Format("{0:dd/MM/yyyy}", item.MarkupFile_dataFinal)</td>
                        <td>@item.MarkupFile_hotel</td>
                        <td>@item.MarkupFile_descontoHotel</td>
                        <td>@item.MarkupFile_servico</td>
                        <td>@item.MarkupFile_descontoServico</td>
                        <td>@item.MarkupFile_seasonal</td>
                        <td>@item.MarkupFile_meals</td>
                        <td>
                            <button type="button" name="@i°@item.MarkupFile_dataInicial°@item.MarkupFile_dataFinal°@item.MarkupFile_hotel°@item.MarkupFile_descontoHotel°@item.MarkupFile_servico°@item.MarkupFile_descontoServico°@item.MarkupFile_seasonal°@item.MarkupFile_meals°@item.MarkupFile_id" class="btn btn-xs btn-success btnEditarMarkup" title="Editar"><span class="glyphicon glyphicon-pencil"></span></button>
                            @*<a href="#" class="btnEditarMarkup" name="@i°@item.MarkupFile_dataInicial°@item.MarkupFile_dataFinal°@item.MarkupFile_hotel°@item.MarkupFile_descontoHotel°@item.MarkupFile_servico°@item.MarkupFile_descontoServico°@item.MarkupFile_seasonal°@item.MarkupFile_meals°@item.MarkupFile_id">Editar</a>*@
                        </td>
                    </tr>

                    i++;
                }
            </tbody>
        </table>
                    }
    <input type="hidden" id="markupcapaid" value="" />
</div>


<script type="text/javascript">

    $('.btnEditarMarkup').click(function () {

        var arr = $(this).attr('name').split('°');
        $('#markupcapaid').val(arr[9]);

        var htm = "<form role=\"form\" id=\"form-markupCapa\" method=\"post\" action=\"javascript:func()\">";
        htm = htm + "<td><input id=\"txtMarkupFile_dataInicial\" type=\"date\"  value=" + acertaData(arr[1].split(' ')[0]) + "  class=\"form-control\" /></td>";
        htm = htm + "<td><input id=\"txtMarkupFile_dataFinal\" type=\"date\" value=" + acertaData(arr[2].split(' ')[0]) + "  class=\"form-control\" /></td>";
        htm = htm + "<td><input id=\"txtMarkupFile_hotel\" type=\"text\" value=" + arr[3] + " class=\"form-control\" /></td>";
        htm = htm + "<td><input id=\"txtMarkupFile_descontoHotel\" type=\"text\" value=" + arr[4] + " class=\"form-control\" /></td>";
        htm = htm + "<td><input id=\"txtMarkupFile_servico\" type=\"text\" value=" + arr[5] + " class=\"form-control\" /></td>";
        htm = htm + "<td><input id=\"txtMarkupFile_descontoServico\" type=\"text\" value=" + arr[6] + "  class=\"form-control\" /></td>";
        htm = htm + "<td><input id=\"txtMarkupFile_seasonal\" type=\"text\" value=" + arr[7] + " class=\"form-control\" /></td>";
        htm = htm + "<td><input id=\"txtMarkupFile_meals\" type=\"text\" value=" + arr[8] + " class=\"form-control\" /></td>";
        htm = htm + "<td><input id=\"btnSalvarMarkupCapa\" type=\"button\" class=\"btn btn-success btn-sm btnmarkupcapa\" title=\"Salvar\" value=\"Salvar\" style=\"border-radius:0px;\" /></td>";
        htm = htm + "</form>";

        $('.rowMarkup_' + arr[0]).html(htm);
    });

    $(document).on('click', '.btnmarkupcapa', function () {

        $(this).html('Aguarde...');
        $(this).attr("disabled", "disabled");

        var MarkupFile = {
            Quotation_Grupo_Id: $('#qgID').val(),
            MarkupFile_id: $('#markupcapaid').val(),
            MarkupFile_dataInicial: $('#txtMarkupFile_dataInicial').val(),
            MarkupFile_dataFinal: $('#txtMarkupFile_dataFinal').val(),
            MarkupFile_hotel: $('#txtMarkupFile_hotel').val(),
            MarkupFile_descontoHotel: $('#txtMarkupFile_descontoHotel').val(),
            MarkupFile_servico: $('#txtMarkupFile_servico').val(),
            MarkupFile_descontoServico: $('#txtMarkupFile_descontoServico').val(),
            MarkupFile_seasonal: $('#txtMarkupFile_seasonal').val(),
            MarkupFile_meals: $('#txtMarkupFile_meals').val(),
        };

        $.ajax({
            url: "@Url.Action("AtualizarMarkupCapa", "Home")",
            type: "POST",
            data: MarkupFile,
            success: function (data) {
                $(this).removeAttr("disabled");
                $(this).html('Salvar');

                $('#markupcapa').html(data);

            },
            error: function (xhr) {
                $(this).removeAttr("disabled");
                $(this).html('Salvar');
                var $toast = toastr["error"](xhr.status, "Prosoftware");
                $toastlast = $toast;
            }
        });

    });

    function acertaData(dateObject) {
        var altDate = dateObject.split("/");
        return altDate[2] + "-" + altDate[1] + "-" + altDate[0];
    };
</script>