﻿@model IEnumerable<DAL.Entity.Quotation_Grupo_Qtd_Adult_Nome>

<form role="form" id="form-nomes-adl" method="post" action="javascript:func()">

    <div class="modal-body">

        <h4>ADULTOS:</h4>

        @*@if (Session["hdIdsNomesVoucher"] != null)
        {
            foreach (var item in Session["hdIdsNomesVoucher"] as List<int>)
            {
               
            }
        }*@


        @{ int i = 0; int grp = 1; int grpadd = 1; bool selectreserva = true;

            //List<int> addNomes = new List<int>();
            //if (Session["hdIdsNomesVoucher"] != null)
            //{
            //    addNomes = Session["hdIdsNomesVoucher"] as List<int>;
            //}

        }

        @foreach (var item in Model)
        {
            List<DAL.Entity.Quotation_Grupo_Qtd_Adult> qtdadults = ViewBag.qgadults as List<DAL.Entity.Quotation_Grupo_Qtd_Adult>;
            DAL.Entity.Quotation_Grupo_Qtd_Adult qtdadult = qtdadults.Where(s => s.Qtd_Adult_id == item.Qtd_Adult_id).FirstOrDefault();

            if (qtdadult.grp_number != null)
            {
                if (i == 0 || grpadd == (int)qtdadult.grp_number)
                {
                    <input id="chkselectreserva_@qtdadult.grp_number" type="radio" title="Indicador" class="rdoselectreservas" name="rdoindicadorreserva" value="@qtdadult.grp_number" /> <strong>GRUPO @qtdadult.grp_number</strong> <button id="btnaddnomecapa" type="button" class="btn btn-xs btn-default btnaddnomecapa" value="@item.Qtd_Adult_Nome_id°@qtdadult.grp_number" title="Add Name"><span class="glyphicon glyphicon-plus"></span></button>
                    <input type="hidden" id="qtdgrp_@qtdadult.grp_number" value="@qtdadult.Qtd" />
                    <hr />
                    grp = (int)qtdadult.grp_number;
                    grpadd = (int)qtdadult.grp_number + 1;
                }
            }
            else
            {
                if (i == 0 || grpadd == (int)qtdadult.grp_number)
                {
                    <input id="chkselectreserva_@qtdadult.grp_number" type="radio" title="Indicador" class="rdoselectreservas" name="rdoindicadorreserva" value="@qtdadult.grp_number" /> <strong>GRUPO 1</strong> <button id="btnaddnomecapa" type="button" class="btn btn-xs btn-default btnaddnomecapa" value="@item.Qtd_Adult_Nome_id°@qtdadult.grp_number" title="Add Name"><span class="glyphicon glyphicon-plus"></span></button>
                    <input type="hidden" id="qtdgrp_@qtdadult.grp_number" value="@qtdadult.Qtd" />
                    <hr />
                }
            }

            <input id="txtIDadult_@i" type="hidden" value="@qtdadult.Qtd_Adult_id" />
            <input id="txtNomesCapaID_@i" type="hidden" value="@item.Qtd_Adult_Nome_id" />
            <input id="txtgrupo_@grp" type="hidden" value="@qtdadult.grp_number" />
            <div class="row">
                <div class="col-md-1">
                    <button id="btndeletarnomecapa" type="button" class="btn btn-xs btn-danger deletarnomescapa" value="@item.Qtd_Adult_Nome_id°@qtdadult.grp_number" title="Deletar"><span class="glyphicon glyphicon-trash"></span></button>
                </div>
                <div class="col-md-3">
                    <input id="txtNome_@i" type="text" placeholder="Nome" value="@item.Nome" class="form-control" required="required" />
                </div>
                <div class="col-md-3">
                    <input id="txtSobreNome_@i" type="text" placeholder="Sobrenome" value="@item.Sobrenome" class="form-control" required="required" />
                </div>
                <div class="col-md-2">
                    <input id="txtTratamento_@i" type="text" placeholder="Tratamento" value="@item.Tratamento" class="form-control" required="required" />
                    @*<select id="ddlTratamento_@i" class="form-control" onselect="@item.Tratamento">
                            <option value="Mr">Mr</option>
                            <option value="Mrs">Mrs</option>
                            <option value="Miss">Miss</option>
                        </select>*@
                </div>
                <div class="col-md-1">
                    <input id="txtIdade_@i" type="text" placeholder="Idade" value="@item.Idade" class="form-control" required="required" />
                </div>
                <div class="col-md-2">
                    <input id="chkIndicador_@i" type="radio" title="Indicador" name="rdoindicador_@grp" checked="@item.Principal_Indicador" />Indicador  <br />

                    @if (item.voucher == true)
                    {
                        <input id="chkNomesVoucher_@i" type="checkbox" title="Voucher" class="nomeschecksvoucher" name="@item.Qtd_Adult_Nome_id" checked="checked" /><span>Voucher</span>
                    }
                    else
                    {
                        <input id="chkNomesVoucher_@i" type="checkbox" title="Voucher" class="nomeschecksvoucher" name="@item.Qtd_Adult_Nome_id" /><span>Voucher</span>
                    }

                    @*@if (addNomes.Count > 0)
                    {
                        if (addNomes.Contains(item.Qtd_Adult_Nome_id))
                        {
                            <input id="chkNomesVoucher_@i" type="checkbox" title="Voucher" checked="checked" class="nomeschecksvoucher" name="@item.Qtd_Adult_Nome_id" /><span>Voucher</span>
                        }
                        else
                        {
                            <input id="chkNomesVoucher_@i" type="checkbox" title="Voucher" class="nomeschecksvoucher" name="@item.Qtd_Adult_Nome_id" /><span>Voucher</span>
                        }
                    }
                    else
                    {
                        <input id="chkNomesVoucher_@i" type="checkbox" title="Voucher" class="nomeschecksvoucher" name="@item.Qtd_Adult_Nome_id" /><span>Voucher</span>
                    }*@

                </div>
            </div>
            <br />


            i++;
                    }

    </div>

    <div class="modal-footer">
        <input id="hdaddgrp" type="hidden" value="0" />
        <input id="txtnumpaxaddgrupo" type="text" style="display: none; width: 100px;" placeholder="num de paxs" />
        <input id="btnAddGrupo" type="button" class="btn btn-primary btn-sm" title="Add Grupo" value="Add Grupo" style="border-radius:0px;" />
        <input id="btnSalvarNomesCapa" type="submit" class="btn btn-primary btn-sm" title="Salvar" value="Salvar" style="border-radius:0px;" />
        <input type="button" class="btn btn-default btn-sm" data-dismiss="modal" title="Fechar" value="Fechar" style="border-radius:0px;" />

    </div>
</form>

<script type="text/javascript">

    $('.nomeschecksvoucher').change(function () {
        $.get("@Url.Action("SaveNamesVoucher", "Home")", { names: $(this).attr("name"), add: $(this).is(":checked") }, function () {
        });
    });


    $('.btnaddnomecapa').click(function () {
        var pars = $(this).val().split('°');

         $.get("@Url.Action("AddNomeCapa", "Home")", { QtdAdultNomeid: pars[0], quotgrupoid: $('#qgID').val(), grpselect: pars[1] }, function(d) {
            $('#nomescapa').html(d);
        });
    });

    $('.deletarnomescapa').click(function(){

        var pars = $(this).val().split('°');

        $.get("@Url.Action("ExcluirNomeCapa", "Home")", { QtdAdultNomeid: pars[0], quotgrupoid: $('#qgID').val(), grpselect: pars[1] }, function(d) {
            $('#nomescapa').html(d);

            UpdateGroupChnage();
        });
    });

    if($('#hdgrpselecionado').val() == ""){
        $('#hdgrpselecionado').val("1");
        $('#chkselectreserva_0').prop('checked', true);
    }else{
        $('#chkselectreserva_' + $('#hdgrpselecionado').val()).prop('checked', true);
    }


    $('#btnAddGrupo').click(function() {

        if($('#hdaddgrp').val() == "0"){

            $('#txtnumpaxaddgrupo').show();
            $(this).val("Add");
            $('#hdaddgrp').val("1");


            UpdateGroupChnage();
        }else{

            var Quotation_Grupo_Id = $('#qgID').val();
            var qtdpax = $('#txtnumpaxaddgrupo').val();

            $.get("@Url.Action("AddGrupoNomesCapa", "Home")", { Quotation_Grupo_Id: $('#qgID').val(), qtdpax: $('#txtnumpaxaddgrupo').val() }, function(d){

                $('#nomescapa').html(d);

                UpdateGroupChnage();
            });

        }
    });



    $('input.rdoselectreservas').on('change', function () {

        $('#hdgrpselecionado').val($(this).val());

        var qtd = $('#qtdgrp_' + $(this).val()).val();
        $('#ddlADLCapa').val(qtd);
        //AlteraADL(qtd);
    });

    $('input.chkNomesCapa').on('change', function () {
        $('input.chkNomesCapa').not(this).prop('checked', false);
    });

    $('#form-nomes-adl').submit(function () {
        $('#btnSalvarNomesCapa').html('Aguarde...');
        $('#btnSalvarNomesCapa').attr("disabled", "disabled");

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };

        for (var j = 0; j < @i; j++) {

            var mod = {
                Qtd_Adult_Nome_id: $('#txtNomesCapaID_'+j).val(),
                Nome: $('#txtNome_'+j).val(),
                Sobrenome: $('#txtSobreNome_'+j).val(),
                Tratamento: $('#txtTratamento_'+j).val(),
                Idade: $('#txtIdade_'+j).val(),
                Principal_Indicador: $('#chkIndicador_'+j).is(':checked'),
                Quotation_Grupo_Id: $('#qgID').val(),
                Qtd_Adult_id: $('#txtIDadult_'+j).val()
            };

            $.ajax({ url: "@Url.Action("SalvarNomesCapa", "Home")", data: mod, type: "POST",
                success: function(data){
                    $('#btnSalvarNomesCapa').removeAttr("disabled");
                    $('#btnSalvarNomesCapa').html('Salvar');

                    var $toast = toastr["success"]("Registro cadastrado com sucesso.", "Prosoftware");
                    $toastlast = $toast;
                    $('#nomescapa').html(data);

                }, error: function(xhr){ alert(xhr); } });
        }
    });

</script>
