﻿

<div class="modal-body">
    <div class="row">
        <div class="col-md-12">

            <div class="col-md-6">

                <div class="row">
                    <div class="col-md-4">
                        <label for="txtValorTotalSub">Valor Net:</label>
                        <input id="txtValorTotalSub" type="text" class="form-control" disabled="disabled" value="@ViewBag.txtValorTotal" />
                    </div>
                    <div class="col-md-1">
                        <button id="BtnAtualizarValorGeralSub" type="button" class="btn btn-xs btn-default" title="Editar Venda" style="margin-top:25px;"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                    </div>
                </div>

                <br />

                <div class="row">
                    <div class="col-md-12">
                        <input id="typeSub" type="hidden" value="@ViewBag.SubServicosOpenModel.Type" />
                        <input id="IdRetornaSub" type="hidden" value="@ViewBag.SubServicosOpenModel.idRetorna" />
                        <input id="dtFromSub" type="hidden" value="@ViewBag.SubServicosOpenModel.dtFrom" />
                        <input id="dtToSub" type="hidden" value="@ViewBag.SubServicosOpenModel.dtTo" />
                        <input id="BaseSub" type="hidden" value="@ViewBag.SubServicosOpenModel.Base" />


                        <table id="tblSubAdicionados" class="table table-bordered table-striped">

                            <thead>
                                <tr>
                                    <th>Serviço</th>
                                    <th>Nome Fantasia</th>
                                    <th>Valor</th>
                                    <th>Upd</th>
                                    <th>Del</th>
                                </tr>
                            </thead>

                            <tbody>
                                @{ int i = 0; }
                                @foreach (var item in ViewBag.SubServicosFile)
                                {
                                    <tr>
                                        <td>
                                            @item.NomeFantasia<br />
                                            @item.NomeSubItem
                                        </td>
                                        <td>
                                            @item.NomeSupplier
                                        </td>
                                        <td>
                                            @if (item.Valor_Conferir != null && item.Valor_Conferir != 0)
                                            {
                                                <input type="text" id="txtValorSub_@i" value="@item.Valor" class="form-control" disabled="disabled" />
                                            }
                                            else
                                            {
                                                <input type="text" id="txtValorSub_@i" value="@item.Valor" class="form-control" />
                                            }
                                        </td>
                                        <td>
                                            @if (item.Valor_Conferir != null && item.Valor_Conferir != 0)
                                            {
                                                <button id="btnAtualizaValorSub" type="button" class="btn btn-link" title="Atualiza valor subserviço" disabled="disabled"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                                            }
                                            else
                                            {
                                                <button id="btnAtualizaValorSub" type="button" class="btn btn-link atualizarSubGrid" value="@item.SubServicosFile_id°@i" title="Atualiza valor subserviço"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                                            }
                                        </td>
                                        <td>
                                            @if (item.Valor_Conferir != null && item.Valor_Conferir != 0)
                                            {
                                                <button id="btnDeletarSub" type="button" class="btn btn-link" title="Deletar" disabled="disabled"><span class="glyphicon glyphicon-trash"></span></button>
                                            }
                                            else
                                            {
                                                <button id="btnDeletarSub" type="button" class="btn btn-link deletarSubGrid" title="Deletar" value="@item.SubServicosFile_id"><span class="glyphicon glyphicon-trash"></span></button>
                                            }
                                        </td>
                                    </tr>
                                    i++;
                                }
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>

            <div class="col-md-6">

                <div class="row">
                    <div class="col-md-12">
                        <label for="txtSupplierSelectSub">Supplier:</label>
                        <input id="txtSupplierSelectSub" type="text" class="form-control" value="@ViewBag.SppPesqSubs" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        Base Principal: <input id="optSubBaseIndex" name="optSubBaseIndex" type="radio" checked="checked" value="1" onchange="RefreshGridSubPorSupp()" />
                        Base 2: <input id="optSubBaseIndex" name="optSubBaseIndex" type="radio" value="2" onchange="RefreshGridSubPorSupp()" />
                        Base 3: <input id="optSubBaseIndex" name="optSubBaseIndex" type="radio" value="3" onchange="RefreshGridSubPorSupp()" />
                    </div>
                </div>
                <br />
                <div id="waitSubGridSpp"></div>
                @if (ViewBag.GridMServicos != null)
                {
                    <div class="row">
                        <div class="col-md-12">

                            <table id="tblSubsPorSupplier" class="table table-bordered table-striped">

                                <thead>
                                    <tr>
                                        <th>Data From</th>
                                        <th>Data To</th>
                                        <th>Item SubServiço</th>
                                        <th>Sub Item</th>
                                        <th>Moeda</th>
                                        <th>Obs</th>
                                        <th>Add</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in ViewBag.GridMServicos)
                                    {
                                        <tr>
                                            <td>@string.Format("{0:dd/MM/yyyy}", item.MServico_DataFrom)</td>
                                            <td>@string.Format("{0:dd/MM/yyyy}", item.MServico_DataTo)</td>
                                            <td>@item.ItemSubServico</td>
                                            <td>@item.SubItem</td>
                                            <td>@item.Moeda_sigla</td>
                                            <td>@item.MServico_Obs</td>
                                            <td><button type="button" value="@item.IdMServico°@item.ItemSubServico°@item.SubItem" class="btn btn-link addSubServicoModal" title="Adicionar"><i class="fa fa-plus-square" aria-hidden="true"></i></button></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                }

            </div>

        </div>
    </div>
</div>

<div class="modal-footer">
    <input type="button" class="btn btn-default btn-sm" onclick="closeAll()" title="Fechar" value="Fechar" style="border-radius:0px;" />
</div>


<script type="text/javascript">

    function closeAll(){
        $('.modal').modal('hide');
    };

    $('input:radio[name="optSubBaseIndex"]').filter('[value="@ViewBag.IndexSelect"]').attr('checked', true);

    $('#BtnAtualizarValorGeralSub').click(function () {

        var result = window.confirm('O valor net do serviço vai ser atualizado. Confirma?');
        if (result == false) {
            e.preventDefault();
            return;
        };

        var tp = "";
        if ($('#hdFile').val() == "0") {
            tp = "Quote";
        } else {
            tp = "File";
        }

        $.get("@Url.Action("AtualizarTotalNet", "Home")", {
            type: tp,
            idRetorna: $('#IDValoresQuote').val(),
            idRange: $('#Range_IDValoresQuote').val(),
            qCode: $('#qCode').val(),
            total: $('#txtValorTotalSub').val()
        }, function (data) {
            $('#dvsubservicosmodal').html(data);

            if (tp == "Quote") {
                refreshGridQuote();
            } else {
                refreshGridFile();
            }

            alert("Update realizado com sucesso!");
        });
    });

    $('#txtSupplierSelectSub').autocomplete({
        source: "@Url.Action("ObterSuppliers", "Home")",
        minLength: 3,
        select: function (e, ui) {
            $("#waitSubGridSpp").html('<img src="/images/icon/material_loader.gif" alt="Wait" />');
            $('#txtSupplierSelectSub').val(ui.item.value);
            RefreshGridSubPorSupp();
            //ui.item.value
        }
    });


    function RefreshGridSubPorSupp() {

        var tp = "";
        if ($('#hdFile').val() == "0") {
            tp = "Quote";
        } else {
            tp = "File";
        }

        $.get("@Url.Action("UpdateGridSubs", "Home")", {
            type: tp,
            idRetorna: $('#IDValoresQuote').val(),
            idRange: $('#Range_IDValoresQuote').val(),
            qCode: $('#qCode').val(),
            spp: $('#txtSupplierSelectSub').val(),
            dtFrom: $('#dtFromSub').val(),
            dtTo: $('#dtToSub').val(),
            indexBase: $("input[name='optSubBaseIndex']:checked").val()
        }, function (data) {
            $('#dvsubservicosmodal').html(data);
        });
    }

    $('.atualizarSubGrid').click(function () {

        var arr = $(this).val().split('°');
        var vr = $('#txtValorSub_' + arr[1]).val();
        $("#dvsubservicosmodal").html('<img src="/images/icon/material_loader.gif" alt="Wait" />');

        var tp = "";
        if ($('#hdFile').val() == "0"){
            tp = "Quote";
        } else {
            tp = "File";
        }

        $.ajax({
            url: "@Url.Action("AtualizaTarifaSubs", "Home")",
            data: {
                idSub: arr[0],
                valor: vr,
                type: tp,
                idRetorna: $('#IDValoresQuote').val(),
                idRange: $('#Range_IDValoresQuote').val(),
                qCode: $('#qCode').val()
            },
            type: "GET",
            success: function (data) {
                $('#dvsubservicosmodal').html(data);
            },
            error: function (XHR) {
                alert(XHR);
            }
        });
    });

    $('.deletarSubGrid').click(function () {

        $("#dvsubservicosmodal").html('<img src="/images/icon/material_loader.gif" alt="Wait" />');

        var tp = "";
        if ($('#hdFile').val() == "0") {
            tp = "Quote";
        } else {
            tp = "File";
        }

        $.ajax({
            url: "@Url.Action("ExluirSubServico", "Home")",
            data: {
                idSub: $(this).val(),
                type: tp,
                idRetorna: $('#IDValoresQuote').val(),
                idRange: $('#Range_IDValoresQuote').val(),
                qCode: $('#qCode').val()
            },
            type: "GET",
            success: function (data) {
                $('#dvsubservicosmodal').html(data);
            },
            error: function (XHR) {
                alert(XHR);
            }
        });
    });

    $('.addSubServicoModal').click(function () {
        $("#waitSubGridSpp").html('<img src="/images/icon/material_loader.gif" alt="Wait" />');
        var arr = $(this).val().split('°');

        var tp = "";
        if ($('#hdFile').val() == "0") {
            tp = "Quote";
        } else {
            tp = "File";
        }

        $.ajax({
            url: "@Url.Action("AddSubServ", "Home")",
            data: {
                type: tp,
                idRetorna: $('#IDValoresQuote').val(),
                idRange: $('#Range_IDValoresQuote').val(),
                qCode: $('#qCode').val(),
                myid: arr[0],
                baseSelect: $('#BaseSub').val(),
                baseIndex: $("input[name='optSubBaseIndex']:checked").val(),
                spp: $('#txtSupplierSelectSub').val(),
                NomeFantasia: arr[1],
                NomeSubItem: arr[2]
            },
            type: "GET",
            success: function (data) {
                $('#dvsubservicosmodal').html(data);
            },
            error: function (XHR) {
                alert(XHR);
            }
        });
    });

</script>