﻿@model IEnumerable<DAL.Models.TarifasHotelModel>


@if (Model.Count() > 0)
{
    <table id="tblTodasTarifasOmni" class="table table-bordered table-striped">

        <thead>
            <tr>
                <th>Room</th>
                <th id="thtarOmni1" class="@Model.First().RatePlanName">@Model.First().RatePlanName <span><i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="@Model.First().PoliticaCancelamento"></i></span></th>
                <th id="thtarOmni2" class="@Model.First().RatePlanName2">@Model.First().RatePlanName2 <span><i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="@Model.First().PoliticaCancelamento2"></i></span></th>
                <th id="thtarOmni3" class="@Model.First().RatePlanName3">@Model.First().RatePlanName3 <span><i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="@Model.First().PoliticaCancelamento3"></i></span></th>
                <th id="thtarOmni4" class="@Model.First().RatePlanName4">@Model.First().RatePlanName4 <span><i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="@Model.First().PoliticaCancelamento4"></i></span></th>
            </tr>
        </thead>

        <tbody>
            @{ int count = 0; int countInto = 0;}
            @foreach (var item in Model)
            {
                <tr id="trOmniTar_@count" class="@item.Tipo_room_nome">
                    <td>@item.Tipo_room_nome</td>
                    <td style="text-align: center;" id="@item.S_merc_tarif_tarifa_total">
                        <div class="row">
                            <div class="col-md-3">
                                @item.S_merc_tarif_tarifa_total
                                <input id="hdValorTotalHotelOmni_1_@countInto" type="hidden" value="@item.S_merc_tarif_tarifa_total" />
                                <input id="lblRoomHotelOmni_1_@countInto" type="hidden" value="@item.Tipo_room_nome" />
                                <input id="lblRoomIdHotelOmni_1_@countInto" type="hidden" value="@item.Tipo_room_id" />

                                @{
                                    string moedaO = "";
                                    switch (item.Moeda_sigla)
                                    {
                                        case "BRL":
                                            moedaO = "R$";
                                            break;
                                        case "USD":
                                            moedaO = "$";
                                            break;
                                        case "EUR":
                                            moedaO = "£";
                                            break;
                                    }
                                }
                                <input id="lblMoedaIdHotelOmni_1_@countInto" type="hidden" value="@item.Moeda_id" />
                                <input id="lblMoedaHotelOmni_1_@countInto" type="hidden" value="@moedaO" />

                            </div>
                            <div class="col-md-5">
                                <input id="txtQtdRoomOmni_1_@countInto" class="form-control" placeholder="Qtd" />
                            </div>
                            <div class="col-md-1">
                                <input class="btn btn-primary btn-sm btnaddhotelOMNITodas" value="Add" name="1°@countInto" style="width:45px;" />                               
                            </div>
                        </div>
                    </td>
                    <td style="text-align: center;" id="@item.S_merc_tarif_tarifa_total2">
                        <div class="row">
                            <div class="col-md-3">
                                @item.S_merc_tarif_tarifa_total2
                                <input id="hdValorTotalHotelOmni_2_@countInto" type="hidden" value="@item.S_merc_tarif_tarifa_total2" />
                                <input id="lblRoomHotelOmni_2_@countInto" type="hidden" value="@item.Tipo_room_nome" />
                                <input id="lblRoomIdHotelOmni_2_@countInto" type="hidden" value="@item.Tipo_room_id" />

                                @{
                                    string moedaO2 = "";
                                    switch (item.Moeda_sigla)
                                    {
                                        case "BRL":
                                            moedaO2 = "R$";
                                            break;
                                        case "USD":
                                            moedaO2 = "$";
                                            break;
                                        case "EUR":
                                            moedaO2 = "£";
                                            break;
                                    }
                                }
                                <input id="lblMoedaIdHotelOmni_2_@countInto" type="hidden" value="@item.Moeda_id" />
                                <input id="lblMoedaHotelOmni_2_@countInto" type="hidden" value="@moedaO2" />
                            </div>
                            <div class="col-md-5">
                                <input id="txtQtdRoomOmni_2_@countInto" class="form-control" placeholder="Qtd" />
                            </div>
                            <div class="col-md-1">
                                <input class="btn btn-primary btn-sm btnaddhotelOMNITodas" value="Add" name="2°@countInto" style="width:45px;" />
                            </div>
                        </div>
                    </td>
                    <td style="text-align: center;" id="@item.S_merc_tarif_tarifa_total3">
                        <div class="row">
                            <div class="col-md-3">
                                @item.S_merc_tarif_tarifa_total3
                                <input id="hdValorTotalHotelOmni_3_@countInto" type="hidden" value="@item.S_merc_tarif_tarifa_total3" />
                                <input id="lblRoomHotelOmni_3_@countInto" type="hidden" value="@item.Tipo_room_nome" />
                                <input id="lblRoomIdHotelOmni_3_@countInto" type="hidden" value="@item.Tipo_room_id" />

                                @{
                                    string moedaO3 = "";
                                    switch (item.Moeda_sigla)
                                    {
                                        case "BRL":
                                            moedaO3 = "R$";
                                            break;
                                        case "USD":
                                            moedaO3 = "$";
                                            break;
                                        case "EUR":
                                            moedaO3 = "£";
                                            break;
                                    }
                                }
                                <input id="lblMoedaIdHotelOmni_3_@countInto" type="hidden" value="@item.Moeda_id" />
                                <input id="lblMoedaHotelOmni_3_@countInto" type="hidden" value="@moedaO3" />
                            </div>
                            <div class="col-md-5">
                                <input id="txtQtdRoomOmni_3_@countInto" class="form-control" placeholder="Qtd" />
                            </div>
                            <div class="col-md-1">
                                <input class="btn btn-primary btn-sm btnaddhotelOMNITodas" value="Add" name="3°@countInto" style="width:45px;" />
                            </div>
                        </div>
                    </td>
                    <td style="text-align: center;" id="@item.S_merc_tarif_tarifa_total4">
                        <div class="row">
                            <div class="col-md-3">
                                @item.S_merc_tarif_tarifa_total4
                                <input id="hdValorTotalHotelOmni_4_@countInto" type="hidden" value="@item.S_merc_tarif_tarifa_total4" />
                                <input id="lblRoomHotelOmni_4_@countInto" type="hidden" value="@item.Tipo_room_nome" />
                                <input id="lblRoomIdHotelOmni_4_@countInto" type="hidden" value="@item.Tipo_room_id" />

                                @{
                                    string moedaO4 = "";
                                    switch (item.Moeda_sigla)
                                    {
                                        case "BRL":
                                            moedaO4 = "R$";
                                            break;
                                        case "USD":
                                            moedaO4 = "$";
                                            break;
                                        case "EUR":
                                            moedaO4 = "£";
                                            break;
                                    }
                                }
                                <input id="lblMoedaIdHotelOmni_4_@countInto" type="hidden" value="@item.Moeda_id" />
                                <input id="lblMoedaHotelOmni_4_@countInto" type="hidden" value="@moedaO4" />
                            </div>
                            <div class="col-md-5">
                                <input id="txtQtdRoomOmni_4_@countInto" class="form-control" placeholder="Qtd" />
                            </div>
                            <div class="col-md-1">
                                <input class="btn btn-primary btn-sm btnaddhotelOMNITodas"  value="Add" name="4°@countInto" style="width:45px;" />
                            </div>
                        </div>
                    </td>
                </tr>
                                        count++;
                                        countInto++;
                                    }
        </tbody>
    </table>
                                    }


<script type="text/javascript">

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });

    $('#tblTodasTarifasOmni tbody td').each(function () {
        if ($(this).attr('id') == "0,0" || $(this).attr('id') == "0") {
            $(this).hide();
        }
    });

    $('#tblTodasTarifasOmni thead th').each(function () {
        if ($(this).attr('class') == "") {
            $(this).hide();
        }        
    });

    $('#tblTodasTarifasOmni tbody tr').each(function () {

        switch ('@Model.First().qtdPax') {

            case '1':

                if ($(this).attr('class') == 'Double' || $(this).attr('class') == 'Triple') {
                    $(this).hide();
                }

                break;

            case '2':

                if ($(this).attr('class') == 'Single' || $(this).attr('class') == 'Triple') {
                    $(this).hide();
                }

                break;

            case '3':

                if ($(this).attr('class') == 'Single' || $(this).attr('class') == 'Double') {
                    $(this).hide();
                }

                break;

        }        

    });

    $('.btnaddhotelOMNITodas').click(function () {

        var pos = $(this).attr('name').split('°');

        var i = '@ViewBag.valori';

        var o = pos[1];


         if ($('#txtQtdRoomOmni_' + pos[0] + '_' + pos[1]).val() == "") {
            alert('Favor preencher a quantidade de room!');
            return false;
        }

        var reservaq = false;
        if ($('#chkReservaOmniQuote').is(":checked")) {
            reservaq = true;
        } else {
            reservaq = false;
        }

        var mod = {
            qCode: $('#qCode').val(),
            IdQuotGrupo: $('#qgID').val(),
            DataPeriodoInHotel: $('#txtDataInHotel').val(),
            DataPeriodoToHotel: $('#txtDataOutHotel').val(),
            cidade: $('#txtCidadeHotel').val(),
            moedaid: $("#ddlMoedaCapa").val(),
            OptQuote: $('#optQuoteAtiva').val(),
            BaseDe: $('#txtBaseDe').val(),
            BaseAte: $('#txtBaseAte').val(),
            NomeSupplier: $('#S_nomeHotel_' + i).html(),
            lblFDS: $('#lblFDSHotel_' + i).val(),
            lblNomePacote: $('#lblNomePacoteHotel_' + i).val(),
            lblEstacao: $('#lblEstacaoHotel_' + i).val(),
            ResponsavelId: $('#ResponsavelId_' + i).val(),
            QtdRoom: $('#txtQtdRoomOmni_' + pos[0] + '_' + pos[1]).val(),
            lblValorTotal: $('#hdValorTotalHotelOmni_' + pos[0] + '_' + pos[1]).val(),
            lblRoom: $('#lblRoomHotelOmni_' + pos[0] + '_' + pos[1]).val(),
            lblRoomId: $('#lblRoomIdHotelOmni_' + pos[0] + '_' + pos[1]).val(),
            lblMoeda: $('#lblMoedaHotelOmni_' + pos[0] + '_' + pos[1]).val(),
            lblMoedaId: $('#lblMoedaIdHotelOmni_' + pos[0] + '_' + pos[1]).val(),
            lblCategoria: $('#Tarif_categoria_nomeHotel_' + i).html(),
            lblCategoriaId: $('#Tarif_categoria_idHotel_' + i).val(),
            lblSupplierId: $('#lblSupplierIdHotel_' + i).val(),
            reservaquote: reservaq,
            Omni: true
        };


         toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        if ($('input[name=optQuoteFileHotel]:checked').val() == "Quote") {

            $.ajax({
                url: "@Url.Action("AddRoomsQuote", "Home")",
                data: mod,
                type: "POST",
                success: function (data) {

                    if (data.indexOf("sucesso") > -1) {
                        var arr = data.split('°');
                        var $toast = toastr["success"](arr[0], "Prosoftware");
                        $toastlast = $toast;
                        refreshGridQuote();

                        if (arr[1] != '\n\n' && arr[1] != "") {
                            $('#dvremarksADD').html(arr[1]);
                            $("#modalRemarksADD").modal();
                        }

                    }
                    else {
                        var $toast = toastr["error"](data, "Prosoftware");
                        $toastlast = $toast;
                    }
                    waitingDialog.hide();

                },
                error: function (XHR) {
                    waitingDialog.hide(); alert(XHR);
                }
            });

        } else {

            $.ajax({
                url: "@Url.Action("AddRoomsFile", "Home")",
                data: mod,
                type: "POST",
                success: function (data) {

                    if (data.indexOf("sucesso") > -1) {
                        var arr = data.split('°');
                        var $toast = toastr["success"](arr[0], "Prosoftware");
                        $toastlast = $toast;
                        refreshGridFile();
                    }
                    else {
                        var $toast = toastr["error"](data, "Prosoftware");
                        $toastlast = $toast;
                    }
                    waitingDialog.hide();

                },
                error: function (XHR) {
                    waitingDialog.hide(); alert(XHR);
                }
            });

        }

        waitingDialog.hide();
    });


</script>