﻿@model IEnumerable<DAL.Models.DalHotelModel>

<table id="tblTodasTarifasRoomsXml" class="table table-bordered table-striped">

    <thead>
        <tr>
            <th>Room</th>
            @foreach (var item in Model)
            {                
                <th>@item.Categoria <span><i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="@Html.Raw(item.ConditionsRoomsXml)"></i></span> <span><i class="fa fa-asterisk" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="@item.PoliticaCancelamento"></i></span> @if (item.BreakfastRoomXml) { <span><i class="fa fa-coffee" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Included"></i></span> }</th>
            }
        </tr>
    </thead>

    <tbody>

        @{ string nomeRoom = ""; decimal vr = 0; int rxml = 0; int Tipo_room_id = 0; int countInto = 0; int qtdItens = Model.FirstOrDefault().qtdRooms; }

        @*@for (int k = 1; k < qtdItens + 1; k++)
        {*@
            <tr>
                <td>
                    @switch (qtdItens)
                    {
                        case 1:
                            nomeRoom = "Single";
                            break;
                        case 2:
                            nomeRoom = "Double";
                            break;
                        case 3:
                            nomeRoom = "Triple";
                            break;
                    }

                    @nomeRoom
                </td>

                @foreach (var item in Model)
                {
                    <td>
                        @switch (qtdItens)
                        {
                            case 1:
                                vr = item.Valor;
                                Tipo_room_id = 1;
                                break;
                            case 2:
                                vr = item.Valor / 2;
                                Tipo_room_id = 2;
                                break;
                            case 3:
                                vr = item.Valor / 3;
                                Tipo_room_id = 3;
                                break;
                        }
                        <div class="row">
                            <div class="col-md-3">
                                @if (Tipo_room_id == 1)
                                { <input id="lblRoomHotelRoomXml_@countInto°@rxml" type="hidden" value="Single" /> }
                                else if (Tipo_room_id == 2)
                                { <input id="lblRoomHotelRoomXml_@countInto°@rxml" type="hidden" value="Double" /> }
                                else
                                { <input id="lblRoomHotelRoomXml_@countInto°@rxml" type="hidden" value="Triple" /> }

                                <input id="lblRoomIdHotelRoomXml_@countInto°@rxml" type="hidden" value="@Tipo_room_id" />
                                <input id="lblQuoteIDHotelRoomXml_@countInto°@rxml" type="hidden" value="@item.QuoteId" />
                                <input id="hdValorTotalHotelRoomXml_@countInto°@rxml" type="hidden" value="@vr" />

                                <span id="lblValorTotalHotelRoomXml_@countInto°@rxml" style="color:red;" title="@item.disponibilidadeRoomsXML">
                                    $@Math.Round(vr, 2)
                                </span>
                            </div>
                            <div class="col-md-5">
                                <input id="txtQtdRoomRoomXml_@countInto°@rxml" class="form-control" placeholder="Qtd" />
                            </div>
                            <div class="col-md-1">
                                <input class="btn btn-primary btn-sm btnaddhotelRoomsXmlTodas" value="Add" name="@countInto°@rxml" style="width:45px;" />
                            </div>
                        </div>
                    </td>
                    countInto++;
                }


            </tr>

            @*rxml++;
        }*@

    </tbody>

</table>


<script type="text/javascript">

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });



    $('.btnaddhotelRoomsXmlTodas').click(function () {

        var pos = $(this).attr('name').split('°');

        var i = '@ViewBag.valori';

        var rxml = pos;

        if ($('#txtQtdRoomRoomXml_' + + pos[0] + "°" + pos[1]).val() == "") {
            alert('Favor preencher a quantidade de room!');
            return false;
        }


        var mod = {
            qCode: $('#qCode').val(),
            IdQuotGrupo: $('#qgID').val(),
            DataPeriodoInHotel: $('#txtDataInHotel').val(),
            DataPeriodoToHotel: $('#txtDataOutHotel').val(),
            cidade: $('#txtCidadeHotel').val(),
            moedaid: $("#ddlMoedaCapa").val(),
            OptQuote: $('#optQuoteAtiva').val(),
            BaseDe: $('#txtBaseDe').val(),
            BaseAte: $('#txtBaseAte').val(),
            NomeSupplier: $('#S_nomeHotel_' + i).html(),
            lblFDS: $('#lblFDSHotel_' + i).val(),
            lblNomePacote: $('#lblNomePacoteHotel_' + i).val(),
            lblEstacao: $('#lblEstacaoHotel_' + i).val(),
            ResponsavelId: $('#ResponsavelId_' + i).val(),
            QtdRoom: $('#txtQtdRoomRoomXml_' + pos[0] + "°" + pos[1]).val(),
            lblValorTotalstring: $('#lblValorTotalHotelRoomXml_' + pos[0] + "°" + pos[1]).html(),
            lblRoom: $('#lblRoomHotelRoomXml_' + pos[0] + "°" + pos[1]).val(),
            lblRoomId: $('#lblRoomIdHotelRoomXml_' + pos[0] + "°" + pos[1]).val(),
            lblMoedaId: 1,
            QuoteID_RoomXML: $('#lblQuoteIDHotelRoomXml_' + pos[0] + "°" + pos[1]).val(),
            lblCategoria: $('#Tarif_categoria_nomeHotel_' + i).html(),
            lblCategoriaId: $('#Tarif_categoria_idHotel_' + i).val(),
            lblSupplierId: $('#lblSupplierIdHotel_' + i).val(),
            RoomXML: true
        };


        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        if ($('input[name=optQuoteFileHotel]:checked').val() == "Quote") {

            $.ajax({
                url: "@Url.Action("AddRoomsQuote", "Home")",
                data: mod,
                type: "POST",
                success: function (data) {

                    if (data.indexOf("sucesso") > -1) {
                        var arr = data.split('°');
                        var $toast = toastr["success"](arr[0], "Prosoftware");
                        $toastlast = $toast;
                        refreshGridQuote();

                        if (arr[1] != '\n\n' && arr[1] != "") {
                            $('#dvremarksADD').html(arr[1]);
                            $("#modalRemarksADD").modal();
                        }

                    }
                    else {
                        var $toast = toastr["error"](data, "Prosoftware");
                        $toastlast = $toast;
                    }
                    waitingDialog.hide();

                },
                error: function (XHR) {
                    waitingDialog.hide(); alert(XHR);
                }
            });

        } else {

            $.ajax({
                url: "@Url.Action("AddRoomsFile", "Home")",
                data: mod,
                type: "POST",
                success: function (data) {

                    if (data.indexOf("sucesso") > -1) {
                        var arr = data.split('°');
                        var $toast = toastr["success"](arr[0], "Prosoftware");
                        $toastlast = $toast;
                        refreshGridFile();
                    }
                    else {
                        var $toast = toastr["error"](data, "Prosoftware");
                        $toastlast = $toast;
                    }
                    waitingDialog.hide();

                },
                error: function (XHR) {
                    waitingDialog.hide(); alert(XHR);
                }
            });

        }

    });


</script>