﻿@model IEnumerable<DAL.Models.DalHotelModel>

@if (Model.Count() > 0)
{
    <table id="tblTodasTarifasHotelsPro" class="table table-bordered table-striped">

        <thead>
            <tr>
                <th>Room</th>
                @foreach (var item in Model)
                {
                    <th>@item.Categoria <span><i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="@item.PoliticaCancelamento"></i></span></th>
                }
            </tr>
        </thead>

        <tbody>

            @{ string nomeRoom = ""; decimal vr = 0; int rxml = 0; int Tipo_room_id = 0; int countInto = 0; int qtdItens = Model.FirstOrDefault().qtdRooms; }

            @for (int k = 1; k < qtdItens; k++)
            {
                <tr>
                    <td>
                        @switch (k)
                        {
                            case 1:
                                nomeRoom = "Single";
                                break;
                            case 2:
                                nomeRoom = "Double";
                                break;
                            case 3:
                                nomeRoom = "Triple";
                                break;
                        }

                        @nomeRoom
                    </td>

                    @foreach (var item in Model)
                    {
                        <td>
                            @switch (k)
                        {
                            case 1:
                                vr = item.ValorSingleRounded;
                                Tipo_room_id = 1;
                                break;
                            case 2:

                                if (item.ValorDoubleMatrimonialRounded != 0)
                                {
                                    vr = item.ValorDoubleMatrimonialRounded;
                                }
                                else
                                {
                                    vr = item.ValorDoubleTwinRounded;
                                }
                                Tipo_room_id = 2;

                                break;
                            case 3:
                                vr = item.ValorTrippleRounded;
                                Tipo_room_id = 3;
                                break;
                        }
                            <div class="row">
                                <div class="col-md-4">
                                    @if (Tipo_room_id == 1)
                                    { <input id="lblRoomHotelHotelsPro_@countInto°@rxml" type="hidden" value="Single" /> }
                                    else if (Tipo_room_id == 2)
                                    { <input id="lblRoomHotelHotelsPro_@countInto°@rxml" type="hidden" value="Double" /> }
                                    else
                                    { <input id="lblRoomHotelHotelsPro_@countInto°@rxml" type="hidden" value="Triple" /> }

                                    <input id="lblRoomIdHotelHotelsPro_@countInto°@rxml" type="hidden" value="@Tipo_room_id" />
                                    <input id="lblQuoteIDHotelHotelsPro_@countInto°@rxml" type="hidden" value="@item.QuoteId" />
                                    <input id="hdValorTotalHotelHotelsPro_@countInto°@rxml" type="hidden" class="vrtotalhoteslpro" value="@vr" />

                                    <span id="lblValorTotalHotelHotelsPro_@countInto°@rxml">
                                        $@Math.Round(vr, 2)
                                    </span>
                                </div>
                                <div class="col-md-5">
                                    <input id="txtQtdRoomHotelsPro_@countInto°@rxml" class="form-control" placeholder="Qtd" />
                                </div>
                                <div class="col-md-1">
                                    <input class="btn btn-primary btn-sm btnaddhotelHotelsProTodas" value="Add" name="@countInto°@rxml" style="width:45px;" />
                                </div>
                            </div>
                        </td>
                        countInto++;
                    }


                </tr>

                rxml++;
            }

        </tbody>

    </table>
                }

<script type="text/javascript">

    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

    $('#tblTodasTarifasHotelsPro tbody tr').each(function () {

        var n = $(this).find(".vrtotalhoteslpro").val();

        if (n == "0,0")
        {
            $(this).hide();
        }
    });



    $('.btnaddhotelHotelsProTodas').click(function () {

        var pos = $(this).attr('name').split('°');

        var i = '@ViewBag.valori';

        var rxml = pos;

        if ($('#txtQtdRoomHotelsPro_' + + pos[0] + "°" + pos[1]).val() == "") {
            alert('Favor preencher a quantidade de room!');
            return false;
        }


        var mod = {
            qCode: $('#qCode').val(),
            IdQuotGrupo: $('#qgID').val(),
            DataPeriodoInHotel: $('#txtDataInHotel').val(),
            DataPeriodoToHotel: $('#txtDataOutHotel').val(),
            cidade: $('#txtCidadeHotel').val(),
            moedaid: $("#ddlMoedaCapa").val(),
            OptQuote: $('#optQuoteAtiva').val(),
            BaseDe: $('#txtBaseDe').val(),
            BaseAte: $('#txtBaseAte').val(),
            NomeSupplier: $('#S_nomeHotel_' + i).html(),
            lblFDS: $('#lblFDSHotel_' + i).val(),
            lblNomePacote: $('#lblNomePacoteHotel_' + i).val(),
            lblEstacao: $('#lblEstacaoHotel_' + i).val(),
            ResponsavelId: $('#ResponsavelId_' + i).val(),
            QtdRoom: $('#txtQtdRoomHotelsPro_' + pos[0] + "°" + pos[1]).val(),
            lblValorTotal: $('#hdValorTotalHotelHotelsPro_' + pos[0] + "°" + pos[1]).val(),
            lblRoom: $('#lblRoomHotelHotelsPro_' + pos[0] + "°" + pos[1]).val(),
            lblRoomId: $('#lblRoomIdHotelHotelsPro_' + pos[0] + "°" + pos[1]).val(),
            lblMoedaId: 1,
            QuoteID_HotelsPro: $('#lblQuoteIDHotelHotelsPro_' + pos[0] + "°" + pos[1]).val(),
            lblCategoria: $('#Tarif_categoria_nomeHotel_' + i).html(),
            lblCategoriaId: $('#Tarif_categoria_idHotel_' + i).val(),
            lblSupplierId: $('#lblSupplierIdHotel_' + i).val(),
            HotelsPro: true
        };


        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        if ($('input[name=optQuoteFileHotel]:checked').val() == "Quote") {

            $.ajax({
                url: "@Url.Action("AddRoomsQuote", "Home")",
                data: mod,
                type: "POST",
                success: function (data) {

                    if (data.indexOf("sucesso") > -1) {
                        var arr = data.split('°');
                        var $toast = toastr["success"](arr[0], "Prosoftware");
                        $toastlast = $toast;
                        refreshGridQuote();

                        if (arr[1] != '\n\n' && arr[1] != "") {
                            $('#dvremarksADD').html(arr[1]);
                            $("#modalRemarksADD").modal();
                        }

                    }
                    else {
                        var $toast = toastr["error"](data, "Prosoftware");
                        $toastlast = $toast;
                    }
                    waitingDialog.hide();

                },
                error: function (XHR) {
                    waitingDialog.hide(); alert(XHR);
                }
            });

        } else {

            $.ajax({
                url: "@Url.Action("AddRoomsFile", "Home")",
                data: mod,
                type: "POST",
                success: function (data) {

                    if (data.indexOf("sucesso") > -1) {
                        var arr = data.split('°');
                        var $toast = toastr["success"](arr[0], "Prosoftware");
                        $toastlast = $toast;
                        refreshGridFile();
                    }
                    else {
                        var $toast = toastr["error"](data, "Prosoftware");
                        $toastlast = $toast;
                    }
                    waitingDialog.hide();

                },
                error: function (XHR) {
                    waitingDialog.hide(); alert(XHR);
                }
            });

        }

    });


</script>