﻿@model DAL.Models.ValoresQuoteModel

<form role="form" id="form-valoresQuote" method="post" action="javascript:func()">
    <div class="modal-body">

        <input type="hidden" name="Flag" id="FlagValoresQuote" value="@Model.Flag" />
        <input type="hidden" name="FileTabelaId" id="IDValoresQuote" value="@Model.FileTabelaId" />
        <input type="hidden" name="Ranges_id" id="Range_IDValoresQuote" value="@Model.Ranges_id" />
        <input type="hidden" name="BasesSelec" id="hdBasesSelec" value="@Model.BasesSelec" />

        <input type="hidden" name="hdFile" id="hdFile" value="@Model.hdFile" />

        <div class="row">
            <div class="col-md-2">
                <label for="txtPayPax">Paying Pax</label>
                <input id="txtPayPax" type="text" name="PayPax" value="@Model.PayPax" class="form-control" placeholder="Paying Pax" required="required" />
            </div>
            <div class="col-md-2">
                <label for="txtSppPayPax">Spp Paying Pax</label>
                <input id="txtSppPayPax" type="text" name="SppPayPax" value="@Model.SppPayPax" class="form-control" placeholder="Supplier Paying Pax" required="required" />
            </div>
            <div class="col-md-2">
                <label for="txtPaxs">Paxs </label>
                <input id="txtPaxs" type="text" name="Paxs" value="@Model.Paxs" class="form-control" placeholder="Paxs" required="required" />
                <button id="btnRecalculaServico" type="button" class="btn btn-xs btn-default recalculaservico" style="display:none;" title="Recalcular valores"><i class="fa fa-refresh" aria-hidden="true"></i></button>
            </div>
            <div class="col-md-2">
                <label for="txtComissaoRepresPop">Comissão</label>
                <input id="txtComissaoRepresPop" type="text" value="" class="form-control" placeholder="Comissão" />
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-2">
                <label for="txtNetNetTarifas">Net/Net</label>
                <input id="txtNetNetTarifas" type="text" name="Valor" value="@Model.Valor" class="form-control" placeholder="Net" required="required" />
                <button id="btnAtualizaNet" type="button" class="btn btn-xs btn-default atualizaVr" title="Editar Net/Net"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                @Model.NrNoitesDesc
            </div>
            <div class="col-md-2">
                <label for="txtVendaTarifasNet">Net</label>
                <input id="txtVendaTarifasNet" type="text" name="VendaNet" value="@Model.VendaNet" class="form-control" placeholder="Venda" required="required" />
            </div>
            <div class="col-md-2">
                <label for="txtMarkupTarifas">Markup</label>
                <input id="txtMarkupTarifas" type="text" name="markup" value="@Model.markup" class="form-control" placeholder="Markup" required="required" />
            </div>
            <div class="col-md-2">
                <label for="txtDescontoTarifas">Desconto</label>
                <input id="txtDescontoTarifas" type="text" name="desconto" value="@Model.desconto" class="form-control" placeholder="Desconto" required="required" />
            </div>
            <div class="col-md-2">
                <label for="txtMarkupNetTarifas">Markup Net</label>
                <input id="txtMarkupNetTarifas" type="text" name="markupNet" value="@Model.markupNet" class="form-control" placeholder="Markup" required="required" />
            </div>
            <div class="col-md-2">
                <label for="txtDescontoNetTarifas">Desconto Net</label>
                <input id="txtDescontoNetTarifas" type="text" name="descontoNet" value="@Model.descontoNet" class="form-control" placeholder="Desconto" required="required" />
            </div>
        </div>

        <br />

        <div class="row">

            <div class="col-md-2">
                <label for="txtVendaTarifas">Venda</label>
                <input id="txtVendaTarifas" type="text" name="Venda" value="@Model.Venda" class="form-control" placeholder="Venda" required="required" />
                <button id="btnAtualizaVenda" type="button" class="btn btn-xs btn-default atualizaVr" title="Editar Venda"><i class="fa fa-refresh" aria-hidden="true"></i></button>
            </div>
            <div class="col-md-2">
                <label>Total</label><br />
                <label for="txtTotal" id="txtTotal">@Model.ValorTotal</label>
            </div>
        </div>

        <br />
        <div class="row">
            <div class="col-md-9">
                <textarea id="txtRemarks" rows="3" placeholder="Remarks" class="form-control"></textarea>
            </div>
        </div>

        @if (Model.SubServico == true)
        {
            <br />
            <div class="row">
                <div class="col-md-9">
                    <button id="btnOpenSub" type="button" class="btn btn-default" title="Abrir SubServiços" style="border-radius: 0px;">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        }

    </div>

    <div class="modal-footer">
        @*<input id="btnSalvarValoresQuote" type="submit" class="btn btn-primary btn-sm" title="Salvar" value="Salvar" style="border-radius:0px;" />*@
        <input type="button" class="btn btn-default btn-sm" data-dismiss="modal" title="Fechar" value="Fechar" style="border-radius:0px;" />
    </div>
</form>


<script type="text/javascript">

    if ($('#FlagValoresQuote').val() == "servico") {
        $('#btnRecalculaServico').show();
    }

    $('.recalculaservico').click(function () {

        $(this).attr("disabled", "disabled");
        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
       
       $.ajax({
            url: "@Url.Action("RecalculaServicoModal", "Home")",
            data: { idRetorna: $('#IDValoresQuote').val(), qCode: $('#qCode').val(), numPax: $('#txtPaxs').val(), moedaid: $("#ddlMoedaCapa").val() },
            type: "GET",
            success: function (data) {             
                $('#dvquotevalores').html(data);
                $('#hdFile').val("1");
                $(this).removeAttr("disabled");
                alert('Recalculo feito com sucesso!');
                //$("#modalUpdValores").modal();
            },
            error: function (XHR) {
                alert(XHR);
            }
        });

    });


    $('.atualizaVr').click(function () {



        if ($('#hdFile').val() == 0) {

            var arr = $(this).attr('id');
            var url = "";

            if (arr == "btnAtualizaNet") {
                $('#btnAtualizaNet').attr("disabled", "disabled");
                url = "@Url.Action("AtualizaNetNet", "Home")";
            }
            else {
                $('#btnAtualizaVenda').attr("disabled", "disabled");
                url = "@Url.Action("AtualizaVenda", "Home")";
            }

            toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };

            var modelo = {
                Flag: $('#FlagValoresQuote').val(),
                FileTabelaId: $('#IDValoresQuote').val(),
                Ranges_id: $('#Range_IDValoresQuote').val(),
                BasesSelec: $('#hdBasesSelec').val(),
                qCode: $('#qCode').val(),
                PayPax: $('#txtPayPax').val(),
                SppPayPax: $('#txtSppPayPax').val(),
                Paxs: $('#txtPaxs').val(),
                VendaNet: $('#txtVendaTarifasNet').val(),
                markup: $('#txtMarkupTarifas').val(),
                desconto: $('#txtDescontoTarifas').val(),
                markupNet: $('#txtMarkupNetTarifas').val(),
                descontoNet: $('#txtDescontoNetTarifas').val(),
                Venda: $('#txtVendaTarifas').val(),
                Valor: $('#txtNetNetTarifas').val(),
                ValorTotal: $('#txtTotal').text(),
                OptQuote: $('#optQuoteAtiva').val()
            };

            $.ajax({
                url: url,
                data: modelo,
                type: "POST",
                success: function (data) {
                    $('#btnAtualizaNet').removeAttr("disabled");
                    $('#btnAtualizaVenda').removeAttr("disabled");

                    var $toast = toastr["success"]("Registro atualizado com sucesso.", "Prosoftware");
                    $toastlast = $toast;

                    $('#dvquotevalores').html(data);
                    refreshGridQuote();
                },
                error: function (XHR) { $('#btnAtualizaNet').removeAttr("disabled"); $('#btnAtualizaVenda').removeAttr("disabled"); alert(XHR); }
            });
        }
        else {

            var arr = $(this).attr('id');
            var url = "";

            if (arr == "btnAtualizaNet") {
                $('#btnAtualizaNet').attr("disabled", "disabled");
                url = "@Url.Action("AtualizaNetNet_File", "Home")";
            }
            else {
                $('#btnAtualizaVenda').attr("disabled", "disabled");
                url = "@Url.Action("AtualizaVenda_File", "Home")";
            }

            toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };

            var modelo = {
                Flag: $('#FlagValoresQuote').val(),
                FileTabelaId: $('#IDValoresQuote').val(),
                qCode: $('#qCode').val(),
                PayPax: $('#txtPayPax').val(),
                SppPayPax: $('#txtSppPayPax').val(),
                Paxs: $('#txtPaxs').val(),
                VendaNet: $('#txtVendaTarifasNet').val(),
                markup: $('#txtMarkupTarifas').val(),
                desconto: $('#txtDescontoTarifas').val(),
                markupNet: $('#txtMarkupNetTarifas').val(),
                descontoNet: $('#txtDescontoNetTarifas').val(),
                Venda: $('#txtVendaTarifas').val(),
                Valor: $('#txtNetNetTarifas').val(),
                ValorTotal: $('#txtTotal').text()
            };

            $.ajax({
                url: url,
                data: modelo,
                type: "POST",
                success: function (data) {
                    $('#btnAtualizaNet').removeAttr("disabled");
                    $('#btnAtualizaVenda').removeAttr("disabled");

                    var $toast = toastr["success"]("Registro atualizado com sucesso.", "Prosoftware");
                    $toastlast = $toast;

                    $('#dvquotevalores').html(data);
                    refreshGridFile();
                },
                error: function (XHR) { $('#btnAtualizaNet').removeAttr("disabled"); $('#btnAtualizaVenda').removeAttr("disabled"); alert(XHR); }
            });
        }
    });

    $('#btnOpenSub').click(function () {

        var tp = "";
        if ($('#hdFile').val() == 0) {
            tp = "Quote";
        } else {
            tp = "File";
        }

        $.ajax({
            url: "@Url.Action("OpenSubServicos", "Home")",
            data: { type: tp, idRetorna: $('#IDValoresQuote').val(), idRange: $('#Range_IDValoresQuote').val(), qCode: $('#qCode').val() },
            type: "GET",
            success: function (data) {
                $('#dvsubservicosmodal').html(data);
                $("#modalSubServicos").modal();
            },
            error: function (XHR) {
                alert(XHR);
            }
        });

    });


</script>