﻿

<!DOCTYPE html>

<html>
<head>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

    <title>Login</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/Content/iCheck/square/blue.css" rel="stylesheet" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="~/scripts/jquery-3.1.1.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/toastr.min.js"></script>
    <script src="~/Content/iCheck/icheck.min.js"></script>
</head>

<body class="login-page">


    <div class="login-box">
        <div class="login-logo">
            <a href="#"><b>Admin</b></a>
        </div><!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Login</p>

            <form id="form-login" role="form" action="javascript:func()" method="post">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" name="email" placeholder="E-mail" required />
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" name="senha" placeholder="Senha" required />
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">

                    <div class="col-xs-4">
                        <button id="btnLogin" type="submit" class="btn btn-primary btn-block btn-flat">Entrar</button>
                    </div><!-- /.col -->
                </div>
            </form>

        </div><!-- /.login-box-body -->
    </div>


    <script type="text/javascript">


        $('#form-login').submit(function () {

            var model = $(this).serialize();

            $('#btnLogin').attr("disabled", "disabled");
            $('#btnLogin').html('Aguarde...');

            toastr.options = {
                closeButton: true,
                newestOnTop: true,
                progressBar: true,
                onclick: null
            };

            $.ajax({
                type: "POST",
                url: "@Url.Action("Logar", "Home")",
                data: model,
                success: function (data) {
                    $('#btnLogin').removeAttr("disabled", "disabled");
                    $('#btnLogin').html('Entrar');

                    if (data.indexOf("Quote") > -1) {
                        window.location = "@Url.Action("Quote", "Home")";
                    }
                    else {
                        var $toast = toastr["error"](data, "");
                        $toastlast = $toast;
                    }

                },
                error: function (xhr) {
                    $('#btnLogin').removeAttr("disabled", "disabled");
                    $('#btnLogin').html('Entrar');

                    alert(xhr.status);
                }
            });


        });

    </script>
</body>
</html>
