﻿@{
    ViewBag.Title = "Quote";
    Layout = "~/Views/Shared/template.cshtml";
}

<section class="content">
    <br />
    <div class="box box-primary">
        <div class="box-header with-border">
            <h5 id="tituloFile">File</h5>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div><!-- /.box-header -->
        <div class="box-body">


            <div class="row">
                <div class="col-md-12">

                    <div class="col-md-2">
                        <label id="dtQuoteTit">Data Quote:</label>
                        <label id="dtQuote"></label>
                        <br />
                        <input id="txtSelectFile" type="text" class="form-control" placeholder="Número do File" />
                        <input type="hidden" id="idquotecode" />
                        <br />
                        <div class="panel panel-default">
                            <div class="panel-heading">FILTRO</div>
                            <div class="panel-body">
                                <select id="ddlUserFilter" class="form-control selectpicker" data-live-search="true" style="margin-bottom: 15px;">
                                    <option value="0">Usuário</option>
                                    @foreach (var item in ViewBag.Users)
                                    {
                                        <option value="@item.US_id">@item.US_nome</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <input type="checkbox" id="cancelAll_File" title="Auto-Cancel API Hotels (30 Days)" onchange="AlteraCancelarAll()" /> Auto-Cancel API Hotels (30 Days)
                    </div>

                    <div id="capaquote">
                        @Html.Partial("_capa_file", ViewData["Quotation_Grupo"])
                    </div>

                </div>
            </div>

        </div>
    </div>


    <div class="box">
        <div class="box-body">

            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab">Quote</a></li>
                    <li><a href="#tab_2" data-toggle="tab" onclick="refreshGridFile()">File</a></li>
                    <li><a href="#tab_3" data-toggle="tab">Hoteis</a></li>
                    <li><a href="#tab_4" data-toggle="tab">Transfers</a></li>
                    <li><a href="#tab_5" data-toggle="tab">Tours</a></li>
                    <li><a href="#tab_6" data-toggle="tab">Extra</a></li>
                    <li><a href="#tab_7" data-toggle="tab">Reports</a></li>
                    <li><a href="#tab_8" data-toggle="tab">Print Offer</a></li>
                    <li><a href="#tab_9" data-toggle="tab">Email</a></li>
                </ul>
                <div class="tab-content">

                    <div class="tab-pane active" id="tab_1">

                        <input id="optQuoteAtiva" type="hidden" value="1" />

                        <div id="lstquote">
                            <strong>Selecione um File!</strong>
                        </div>
                    </div>

                    <div class="tab-pane" id="tab_2">

                        <div class="row">
                            <div class="col-md-1">
                                <input id="btnOpenAddQuoteFile" type="button" class="btn btn-primary btn-sm" value="Gerar nova quote" style="border-radius: 0px;" data-toggle="modal" data-target="#modalAddNovaOptFile" />
                            </div>
                        </div>

                        <br />
                        <div id="lstfile"></div>

                    </div>

                    <div class="tab-pane" id="tab_3">

                        <form role="form" id="form-procura-hotel" method="post" action="javascript:func()">

                            <input id="IdQuoteGrupoHotel" type="hidden" name="IdQuoteGrupo" />
                            <input id="hdNumPax" type="hidden" name="NumPax" />
                            <input id="hdNumPaxLodge" type="hidden" name="NumPaxLodge" />
                            <input id="hdmoedacapa" type="hidden" name="moedacapa" />
                            <input id="hdgrpselecionadoreserva" type="hidden" name="grpselecionadoreserva" />

                            <input id="hdsearchtarifsistema" type="hidden" name="somentesistema" />

                            <input id="hdsearchtarifomni" type="hidden" name="somenteomni" />
                            <input id="hdsearchtarifroomsxml" type="hidden" name="somenteroomsxml" />
                            <input id="hdsearchtarifhotelspro" type="hidden" name="somentehotelspro" />
                            <input id="hdsearchtarifcts" type="hidden" name="somentects" />
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Período In</label>
                                    <input id="txtDataInHotel" name="DataIn" type="date" class="form-control" required="required" />
                                </div>
                                <div class="col-md-2">
                                    <label>Período Out</label>
                                    <input id="txtDataOutHotel" name="DataOut" type="date" class="form-control" required="required" />
                                </div>
                                <div class="col-md-2">
                                    <label for="txtCidadeHotel">Cidade</label>
                                    <input id="txtCidadeHotel" name="Cidade" type="text" class="form-control" placeholder="Cidade" />
                                </div>
                                <div class="col-md-5">
                                    <label>Hotéis</label>
                                    <div id="dvddlHotelSearch">

                                        <select id="ddlHoteisSearch" class="form-control" name="S_id" onchange="ChangeHotelDrop()">
                                            <option value="0">Selecione uma cidade...</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <input id="btnProcuraHotel" type="submit" class="btn btn-primary btn-sm" title="Procurar" value="Procurar" style="margin-top:25px; border-radius:0px;" />
                                </div>
                            </div>

                            <br />

                            <div class="row">
                                <div class="col-md-2">
                                    Quote: <input id="optQuoteFileHotel" name="optQuoteFileHotel" type="radio" checked="checked" value="Quote" />
                                    File: <input id="optQuoteFileHotel" name="optQuoteFileHotel" type="radio" value="File" />
                                    <br />
                                    <input type="checkbox" id="chkReservaOmniQuote" title="Reservar API?" /> <span id="chkReservaOmniQuoteTXT" style="color:#ff0000">Reservar API?</span>
                                    <br />
                                    <input type="checkbox" id="chksearchallAPIs" title="Check All" onchange="chksearchallAPIschange()" /> <span style="color:#ff0000">ALL</span>
                                    <br />
                                    <input type="checkbox" id="chksearchsistema" title="System Prices" checked="checked" /> <span id="chksearchsistemaTXT" style="color:#ff0000">System Prices</span>
                                    <br />
                                    <input type="checkbox" id="chksearchomni" title="Omni" /> <span style="color:#ff0000">Omni</span><br />
                                    <input type="checkbox" id="chksearchroomsxml" title="RoomsXML" /> <span style="color:#ff0000">RoomsXML</span><br />
                                    <input type="checkbox" id="chksearchhotelspro" title="HotelsPRO" /> <span style="color:#ff0000">HotelsPRO</span><br />
                                    <input type="checkbox" id="chksearchcts" title="CTS" /> <span style="color:#ff0000">CTS</span>

                                </div>
                                <div id="dvdropsestacaohotel">
                                    <div class="col-md-2">
                                    </div>
                                    <div class="col-md-2">
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <label for="txtAutoHotel">Hotel</label>
                                    <input id="txtAutoHotel" name="AutoHotel" type="text" class="form-control" placeholder="Nome Hotel" />
                                </div>
                            </div>

                            <br />
                            <div class="row">
                                <div id="lstHoteis">
                                </div>
                            </div>

                        </form>

                    </div>

                    <div class="tab-pane" id="tab_4">

                        <form role="form" id="form-procura-trf" method="post" action="javascript:func()">
                            <input type="hidden" name="moedaCapaid" id="hdmoedaCapaidTrf" />

                            <div class="row">
                                <div class="col-md-2">
                                    <label>Período In</label>
                                    <input id="txtDataInTrf" name="DataIn" type="date" class="form-control" required="required" />
                                </div>
                                <div class="col-md-2">
                                    <label>Período Out</label>
                                    <input id="txtDataOutTrf" name="DataOut" type="date" class="form-control" required="required" />
                                </div>
                                <div class="col-md-2">
                                    <label for="txtCidadeTrf">Cidade</label>
                                    <input id="txtCidadeTrf" name="Cidade" type="text" class="form-control" placeholder="Cidade" />
                                </div>
                                <div class="col-md-5">
                                    <label for="txtNomeTrf">Nome Transfer</label>
                                    <input id="txtNomeTrf" name="Nome" type="text" class="form-control" placeholder="Nome Transfer" />
                                </div>
                                <div class="col-md-1">
                                    <input id="btnProcuraTrf" type="submit" class="btn btn-primary btn-sm" title="Procurar" value="Procurar" style="margin-top:25px; border-radius:0px;" />
                                </div>
                            </div>

                            <br />

                            <div class="row">
                                <div class="col-md-2">
                                    Quote: <input id="optQuoteFileTrf" name="optQuoteFileTrf" type="radio" checked="checked" value="Quote" />
                                    File: <input id="optQuoteFileTrf" name="optQuoteFileTrf" type="radio" value="File" />
                                </div>

                                <div class="col-md-2">
                                    <label for="ddlNumPaxTrf">NumPax:</label>
                                    <select id="ddlNumPaxTrf" class="form-control" name="NumPax">
                                        @for (int i = 0; i < 51; i++)
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    </select>
                                </div>

                                <div class="col-md-2">
                                    <label for="">Supplier:</label>
                                    <select id="ddlSppTrf" class="form-control" onchange="GetTrfsUpd()">
                                        <option value="0">Selecione uma cidade</option>
                                    </select>
                                </div>

                                <div class="col-md-5">
                                    <label for="">Transfers:</label>
                                    <select id="ddlTrfs" class="form-control">
                                        <option value="0">Selecione um Supplier</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <input type="checkbox" id="chkOnlyRecommTrf" title="Only Recommended?" /> <span id="chkOnlyRecommTrfTXT" style="color:#ff0000">Only Recommended?</span>
                                    <input type="hidden" id="hdOnlyRecommTrf" name="recommended" value="false" />
                                </div>
                            </div>

                        </form>

                        <br />
                        <div class="row">
                            <div id="lstTransfers">
                            </div>
                        </div>

                    </div>

                    <div class="tab-pane" id="tab_5">

                        <form role="form" id="form-procura-tur" method="post" action="javascript:func()">
                            <input type="hidden" name="moedaCapaid" id="hdMoedaCapaProcuraTur" />
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Período In</label>
                                    <input id="txtDataInTur" name="DataIn" type="date" class="form-control" required="required" />
                                </div>
                                <div class="col-md-2">
                                    <label>Período Out</label>
                                    <input id="txtDataOutTur" name="DataOut" type="date" class="form-control" required="required" />
                                </div>
                                <div class="col-md-2">
                                    <label for="txtCidadeTur">Cidade</label>
                                    <input id="txtCidadeTur" name="Cidade" type="text" class="form-control" placeholder="Cidade" />
                                </div>
                                <div class="col-md-5">
                                    <label for="txtNomeTur">Nome Tour</label>
                                    <input id="txtNomeTur" name="Nome" type="text" class="form-control" placeholder="Nome Tour" />
                                </div>
                                <div class="col-md-1">
                                    <input id="btnProcuraTur" type="submit" class="btn btn-primary btn-sm" title="Procurar" value="Procurar" style="margin-top:25px; border-radius:0px;" />
                                </div>
                            </div>

                            <br />

                            <div class="row">
                                <div class="col-md-2">
                                    Quote: <input id="optQuoteFileTur" name="optQuoteFileTur" type="radio" checked="checked" value="Quote" />
                                    File: <input id="optQuoteFileTur" name="optQuoteFileTur" type="radio" value="File" />
                                </div>

                                <div class="col-md-2">
                                    <label for="ddlNumPaxTur">NumPax:</label>
                                    <select id="ddlNumPaxTur" class="form-control" name="NumPax">
                                        @for (int i = 0; i < 51; i++)
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    </select>
                                </div>

                                <div class="col-md-2">
                                    <label for="">Supplier:</label>
                                    <select id="ddlSppTur" class="form-control" onchange="GetTursUpd()">
                                        <option value="0">Selecione uma cidade</option>
                                    </select>
                                </div>

                                <div class="col-md-5">
                                    <label for="">Transfers:</label>
                                    <select id="ddlTurs" class="form-control">
                                        <option value="0">Selecione um Supplier</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <input type="checkbox" id="chkOnlyRecommTrs" title="Only Recommended?" /> <span id="chkOnlyRecommTrsTXT" style="color:#ff0000">Only Recommended?</span>
                                    <input type="hidden" id="hdOnlyRecommTrs" name="recommended" value="false" />
                                </div>
                            </div>

                        </form>

                        <br />
                        <div class="row">
                            <div id="lstTours">
                            </div>
                        </div>

                    </div>

                    <div class="tab-pane" id="tab_6">

                        <form role="form" id="form-add-extra" method="post" action="javascript:func()">

                            <div class="row">
                                <div class="col-md-2">
                                    <label>Período In</label>
                                    <input id="txtDataInExtra" name="DataIn" type="date" class="form-control" required="required" />
                                </div>
                                <div class="col-md-2">
                                    <label>Período Out</label>
                                    <input id="txtDataOutExtra" name="DataOut" type="date" class="form-control" required="required" />
                                </div>
                                <div class="col-md-2">
                                    <label for="txtCidadeExtra">Cidade</label>
                                    <input id="txtCidadeExtra" name="Cidade" type="text" class="form-control" placeholder="Cidade" />
                                </div>
                                <div class="col-md-5">
                                    <label for="txtNomeExtra">Nome Extra</label>
                                    <input id="txtNomeExtra" name="Nome" type="text" class="form-control" placeholder="Nome Extra" />
                                </div>
                                <div class="col-md-1">
                                    <input id="btnAddExtra" type="submit" class="btn btn-primary btn-sm" title="Add" value="Add" style="margin-top:25px; border-radius:0px;" />
                                </div>
                            </div>

                            <br />

                            <div class="row">
                                <div class="col-md-2">
                                    Quote: <input id="optQuoteFileExtra" name="optQuoteFileExtra" type="radio" checked="checked" value="Quote" />
                                    File: <input id="optQuoteFileExtra" name="optQuoteFileExtra" type="radio" value="File" />
                                </div>
                                <div class="col-md-2">
                                    <label for="ddlNumPaxExtra">NumPax:</label>
                                    <select id="ddlNumPaxExtra" class="form-control" name="NumPax">
                                        @for (int i = 0; i < 51; i++)
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <label for="ddlTipoExtra">Tipo Serviço:</label>
                                    <select id="ddlTipoExtra" class="form-control">
                                        <option value="0">Selecione</option>
                                        @foreach (var item in ViewBag.TipoExtra)
                                        {
                                            <option value="@item.Tipo_Id">@item.Tipo_Nome</option>
                                        }
                                    </select>
                                </div>

                                <div class="col-md-5">
                                    <label for="ddlSppExtra">Supplier:</label>
                                    <select id="ddlSppExtra" class="form-control">
                                        <option value="0">Selecione</option>
                                        @foreach (var item in ViewBag.SuppliersExtra)
                                        {
                                            <option value="@item.S_id">@item.S_nome</option>
                                        }
                                    </select>
                                </div>

                            </div>

                        </form>

                    </div>

                    <div class="tab-pane" id="tab_7">

                        @*<form role="form" id="form-reports" method="get" action="~/Home/GerarReport" target="_blank">*@

                        <form role="form" id="form-reports" method="get" action="javascript:func()" target="_blank">

                            <input type="hidden" id="qCodeGerarReport" name="qCode" />
                            <input type="hidden" id="IdQuotGrupoGerarReport" name="IdQuotGrupo" />

                            <div class="row">
                                <div class="col-md-4">
                                    <select id="ddlReports" class="form-control" name="opcao" onchange="ddlReportsCG()">
                                        <option value="1">Service Confirmation</option>
                                        <option value="2">Invoice</option>
                                        <option value="3">Voucher</option>
                                        <option value="4">Mapa Serviços</option>
                                        <option value="5">File Print</option>
                                        <option value="6">Ordem de Serviço</option>
                                        <option value="7">Ordem de Pagamento</option>
                                        <option value="8">Voucher - New</option>
                                        <option value="9">Super Voucher</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <select id="ddlReportsTipo" class="form-control" name="tiporeport">
                                        <option value="1">PDF</option>
                                        <option value="2">Word</option>
                                        <option value="3">Excel</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <input id="btnGerarReport" type="submit" class="btn btn-primary" title="Gerar" value="Gerar" />
                                </div>
                            </div>
                            <br /><br />
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="dvreports"></div>
                                    <div id="dvmapaservicos" style="display:none;">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label for="txtDataInMapaServ">Data Inicio:</label>
                                                <input id="txtDataInMapaServ" class="form-control" type="date" name="dtFromMapa" />
                                            </div>
                                            <div class="col-md-4">
                                                <label for="txtDataOutMapaServ">Data Fim:</label>
                                                <input id="txtDataOutMapaServ" class="form-control" type="date" name="dtToMapa" />
                                            </div>
                                            <div class="col-md-4">
                                                <label for="txtCidMapaServ">Cidade:</label>
                                                <input id="txtCidMapaServ" class="form-control" type="text" placeholder="Cidade" name="cidadeMapa" />
                                            </div>
                                        </div>
                                    </div>
                                    <input id="hdServicosOS" type="hidden" name="ServicosOS" />
                                    <input id="hdSppIdOrdemPag" type="hidden" name="idSppOrdemPag" />
                                    <input id="hdIDsOrdemPag" type="hidden" name="idsOrdemPag" />
                                </div>
                            </div>
                            
                            <div class="row" style="display:none;" id="dvVoucher">
                                <div class="col-md-6">
                                    <input id="optnamesVoucher" name="optnamesVoucher" type="radio" checked="checked" value="AllVoucher" /> All passengers
                                    <input id="optnamesVoucher" name="optnamesVoucher" type="radio" value="OnlyVoucher" /> Only checked
                                </div>
                            </div>
                        </form>

                    </div>

                    <div class="tab-pane" id="tab_8">

                        <div class="row">
                            <div class="col-md-3">
                                <label for="ddlTipoQuote">Tipo</label>
                                <select id="ddlTipoQuote" class="form-control">
                                    <option value="0">Package</option>
                                    <option value="1">Breakdown</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="ddlFotoQuote">Foto</label>
                                <select id="ddlFotoQuote" class="form-control">
                                    <option value="0">Sim</option>
                                    <option value="1">Não</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="ddlRatearTCOffer">Ratear TC</label>
                                <select id="ddlRatearTCOffer" class="form-control">
                                    <option value="0">Sim</option>
                                    <option value="1">Não</option>
                                </select>
                            </div>
                            @*<div class="col-md-1">
                                <input id="btnOpenOffer" type="button" class="btn btn-primary btn-sm" title="Print Quote" value="Print Quote" style="margin-top:25px; border-radius:0px;" />
                            </div>*@
                            <div class="col-md-1">
                                <input id="btnOpenOfferNew" type="button" class="btn btn-primary btn-sm" title="Print Quote New" value="Print Quote New" style="margin-top:25px; border-radius:0px;" />
                            </div>
                        </div>


                    </div>

                    <div class="tab-pane" id="tab_9">

                        <div class="row">
                            <div class="col-md-4">
                                <label for="ddlTipoEnvioEmail">Envio</label>
                                <select id="ddlTipoEnvioEmail" class="form-control" name="idTipoEmail" onchange="TipoEnvioEmail()">
                                    <option value="0">Selecione</option>
                                    <option value="1">Hotel</option>
                                    <option value="2">Serviços</option>
                                </select>
                            </div>
                            <div class="col-md-8">
                                <label for="ddlSupplierEmails">Supplier</label>
                                <div id="dvddlSupplierEmails">
                                    <select id="ddlSupplierEmails" class="form-control" name="idSuppEmail">
                                        <option value="0">Selecione um tipo de envio...</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br />

                        <div id="dveditoremail"></div>

                    </div>

                </div><!-- /.tab-content -->
            </div><!-- nav-tabs-custom -->

        </div>
    </div>

</section>


<div class="modal fade bs-example-modal-lg" id="modalUpdValores" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="tituloValoresQuote"></h4>
            </div>

            <div id="dvquotevalores">

            </div>


        </div>
    </div>
</div>

<div class="modal fade" id="modalAddTC" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add TC</h4>
            </div>

            <div id="dvaddtc">
            </div>



        </div>
    </div>
</div>

<div class="modal fade" id="modalAddOpt" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Option</h4>
            </div>

            <div id="dvaddopt">

                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-3">
                            <label for="txtFileCopia">File para copia</label>
                            <input id="txtFileCopia" type="text" class="form-control" placeholder="Número do File" />
                        </div>
                        <div class="col-md-3">
                            <label>Opção da copia</label>
                            <select id="ddlOptCopia" class="form-control" data-live-search="true">
                                @for (int i = 1; i < 11; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="col-md-5">
                            <input type="checkbox" title="copy with changes" id="chkCopyChangesOpt" /> Copy with changes
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <input id="btnAddOptQuoteCopia" type="submit" class="btn btn-primary" title="Add Copiando" value="Add Copiando" />
                    <input id="btnAddOptQuoteSCopia" type="submit" class="btn btn-primary" title="Add Vazio" value="Add Vazio" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>

            </div>



        </div>
    </div>
</div>

<div class="modal fade" id="modalAddNomesOpt" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Nomes Opts</h4>
            </div>

            <div id="dvnomesopts">
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="modalDelColuna" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Deletar Coluna</h4>
            </div>

            <div id="dvdelcoluna">
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="modalOrdBases" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Ordenar Colunas</h4>
            </div>

            <div id="dvordcoluna">
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="modalExportFile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Exportar File</h4>
            </div>

            <div id="dvExportFile">
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="modalGerarGrid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Gerar Grid</h4>
            </div>


            <form role="form" id="form-gerar-grid" method="get" action="~/Home/GerarGrid" target="_blank">

                <input type="hidden" id="qCodeGerarGrid" name="qCode" />
                <input type="hidden" id="IdQuotGrupoGerarGrid" name="IdQuotGrupo" />
                <input type="hidden" id="OptQuoteGerarGrid" name="OptQuote" />

                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-3">
                            <label for="ddlTipoGrid">Tipo Grid:</label>
                            <select id="ddlTipoGrid" class="form-control" name="TipoRpt">
                                <option value="1">PDF</option>
                                <option value="2">Word</option>
                                <option value="3">Excel</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="chkRatearGrid">Ratear TC:</label><br />
                            <input type="checkbox" id="chkRatearGrid" title="Sim" name="rateado" />
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <input id="btnGerarGrid" type="submit" class="btn btn-primary" title="Gerar" value="Gerar" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </form>

        </div>
    </div>
</div>

<div class="modal fade" id="modalGerarPacote" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Gerar Pacote</h4>
            </div>


            <form role="form" id="form-gerar-pacote" method="post" action="javascript:func()">

                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-12">
                            <label for="txtCodePkg">Code Pkg:</label>
                            <label id="txtCodePkg"></label>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <label for="txtNomePkg">Nome Pkg:</label>
                            <input id="txtNomePkg" type="text" class="form-control" placeholder="Nome do Pacote" required="required" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <label for="txtDtFromPkg">Data From:</label>
                            <input id="txtDtFromPkg" type="date" class="form-control" required="required" />
                        </div>
                        <div class="col-md-6">
                            <label for="txtDtToPkg">Data To:</label>
                            <input id="txtDtToPkg" type="date" class="form-control" required="required" />
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <input id="btnGerarGrid" type="submit" class="btn btn-primary" title="Gerar" value="Gerar" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </form>

        </div>
    </div>
</div>

<div class="modal fade" id="modalFlight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Flights</h4>
            </div>

            <div id="dvFlights">
            </div>

        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" id="modalSubServicos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" style="width:100%;">
        <div class="modal-content" style="width:100%;">
            <div class="modal-header">
                <button type="button" class="close" onclick="closeAll()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="tituloSubServicosModal"></h4>
            </div>

            <div id="dvsubservicosmodal">
            </div>

        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" id="modalDataFrom" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Trocar Datas</h4>
            </div>

            <form role="form" id="form-dataFrom" method="post" action="javascript:func()">

                <input id="FlagFrom" type="hidden" name="flag" />
                <input id="IdRetornaFrom" type="hidden" name="IdRetorna" />
                <input id="OrdemFrom" type="hidden" name="ordem" />
                <input id="dtFrom_From" type="hidden" name="dtFrom" />
                <input id="TypeFrom" type="hidden" name="type" />
                <input id="qCodeFrom" type="hidden" name="qCode" />
                <input id="optQuoteFrom" type="hidden" name="OptQuote" />
                <input id="MoedaCapaFrom" type="hidden" name="moedaid" />


                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <label for="txtNovaDataFrom">Nova data</label>
                            <input id="txtNovaDataFrom" class="form-control" type="date" name="dtSelecionada" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <input type="checkbox" class="flat-red" name="chkTrocarTodosfrom" checked="checked" />Trocar todas as datas após esta?
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <input type="checkbox" class="flat-red" name="chkRecotizarTodosfrom" />Recotizar tarifas?
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <input type="checkbox" class="flat-red" name="chkMantemValoresfrom" />Mantém mesmos valores extras?
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <input type="checkbox" class="flat-red" name="chkPuxaMarkufrom" />Puxa markup novamente?
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <input id="btnTrocarDataFrom" type="submit" class="btn btn-primary" title="Trocar" value="Trocar" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </form>

        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" id="modalDataTo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Trocar data to</h4>
            </div>

            <form role="form" id="form-dataTo" method="post" action="javascript:func()">
                <input id="FlagTo" type="hidden" name="flag" />
                <input id="IdRetornaTo" type="hidden" name="IdRetorna" />
                <input id="TypeTo" type="hidden" name="type" />

                <input id="ClienteTo" type="hidden" name="cliente" />
                <input id="TipoTarifaTo" type="hidden" name="tipoTarifaCapa" />
                <input id="MoedaCapaTo" type="hidden" name="moedaid" />


                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Data Anterior:</label> <label id="dataToAnterior"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="txtNovaDataTo">Nova data</label>
                            <input id="txtNovaDataTo" class="form-control" type="date" name="dtSelecionada" />
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <input id="btnTrocarDataTo" type="submit" class="btn btn-primary" title="Trocar" value="Trocar" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>

            </form>


        </div>
    </div>
</div>

<div class="modal fade" id="modalRemarksADD" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Remarks</h4>
            </div>

            <div class="modal-body">
                <div id="dvremarksADD">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>


        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" id="modalInfosOmni" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 id="tituloModalOmni" class="modal-title"></h4>
            </div>

            <div class="modal-body">
                <div id="dvinfosomni"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>


        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" id="modalTrocaSpp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Trocar Supplier</h4>
            </div>

            <form role="form" id="form-trocarSpp" method="post" action="javascript:func()">

                <input type="hidden" id="ServicoSelectID" />
                <input type="hidden" id="TypeServicoSelectID" />

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <label for="lblServicoSelect">Serviço Selecionado</label><br />
                            <label id="lblServicoSelect"></label><br />
                            <label style="font-weight: normal !important;" id="lblServicoSelectTipo"></label>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <label for="lblSppServicoSelect">Supplier desse serviço</label><br />
                            <label style="font-weight: normal !important;" id="lblSppServicoSelect"></label>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <label for="ddlSppServicoSelect">Supplier para substituição</label><br />
                            <select id="ddlSppServicoSelect" class="form-control">
                                <option value="0">Selecione</option>
                                @foreach (var item in ViewBag.SuppliersExtra)
                                {
                                    <option value="@item.S_id">@item.S_nome</option>
                                }
                            </select>
                        </div>
                    </div>
                    <br />
                    <div id="cidadesServicoSelect">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="ddlCidadeServicoSelect">Cidade para substituição</label><br />
                                <select id="ddlCidadeServicoSelect" class="form-control">
                                    <option value="0">Selecione</option>
                                    @foreach (var item in ViewBag.CidadesTrocaSpp)
                                    {
                                        <option value="@item.CID_id">@item.CID_nome</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <input id="btnTrocarSupplier" type="submit" class="btn btn-primary" title="Trocar" value="Trocar" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </form>

        </div>
    </div>
</div>

<div class="modal fade" id="modalAddNovaOptFile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Nova Opt Quote</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        <label for="txtAddOptQuoteDe">Base De:</label>
                        <input id="txtAddOptQuoteDe" type="text" class="form-control" placeholder="Base de" />
                    </div>
                    <div class="col-md-3">
                        <label for="txtAddOptQuoteAte">Base Até:</label>
                        <input id="txtAddOptQuoteAte" type="text" class="form-control" placeholder="Base até" />
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <input id="btnAddOptQuoteAte" type="button" class="btn btn-primary" title="Adicionar" value="Adicionar" />
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="modalUpdFileFlight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Enviar Arquivo</h4>
            </div>

            <br />

            <div class="modal-body">

                <form action='@Url.Action("UploadFileFlights", "Home")' enctype="multipart/form-data" method="post">

                    <input type="file" name="Files" id="Files" multiple class="btn btn-primary" />
                    <input type="hidden" name="qcode" id="idQcodeUploadFileFlights" />
                    <input type="hidden" name="IdQuotGrupo" id="idQuotGrupoFileFlights" />
                    <input type="hidden" name="OptQuote" id="optQuoteFileFlights" />
                    <br />
                    <input type="submit" name="submit" value="Enviar" class="btn btn-primary" />

                </form>

            </div>
            <br />

        </div>
    </div>
</div>



<script type="text/javascript">



    if ('@ViewBag.retornofileFlightQcode' != "") {

        $('#idquotecode').val('@ViewBag.retornofileFlightQcode');
        $('#txtSelectFile').val('@ViewBag.retornofileFlightQcode');        
        $('#optQuoteAtiva').val('@ViewBag.retornofileFlightOptQuote');
                
        refreshCapaQuote();
        refreshGridQuote();
        alert("Extras adicionados com sucesso.");
    }



    function chksearchallAPIschange() {

        var valor = $('#chksearchallAPIs').is(":checked")

        $("#chksearchsistema").prop('checked', valor);
        $('#chksearchomni').prop('checked', valor);
        $('#chksearchroomsxml').prop('checked', valor);
        $('#chksearchhotelspro').prop('checked', valor);
        $('#chksearchcts').prop('checked', valor);

    }


    $("input:radio[name=optQuoteFileHotel]").change(function () {
        if ($('input[name=optQuoteFileHotel]:checked').val() == "Quote") {
            $('#chkReservaOmniQuote').show();
            $('#chkReservaOmniQuoteTXT').show();
        } else {
            $('#chkReservaOmniQuote').hide();
            $('#chkReservaOmniQuoteTXT').hide();
        }
    });

    $("#txtSelectFile").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "@Url.Action("ObterQuotations", "Home")",
                dataType: "json",
                data: {
                    term: request.term,
                    user_id: $("#ddlUserFilter").val()
                },
                success: function (data) {
                    response(data);
                }
            });
        },
        min_length: 1,
        select: function (event, ui) {
            waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });
            $('#idquotecode').val(ui.item.value);
            $('#txtSelectFile').val(ui.item.value);
            refreshCapaQuote();
            refreshGridQuote();
            waitingDialog.hide();
            return false;
        },
        delay: 300
    });

    $("#txtFileCopia").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "@Url.Action("ObterQuotations_copia", "Home")",
                dataType: "json",
                data: {
                    term: request.term
                },
                success: function (data) {
                    response(data);
                }
            });
        },
        min_length: 1,
        select: function (event, ui) {
            $('#txtFileCopia').val(ui.item.value);
            return false;
        },
        delay: 300
    });

    $("#txtCidadeTrf").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "@Url.Action("ObterCidades", "Home")",
                dataType: "json",
                data: { term: request.term },
                success: function (data) { response(data); }
            });
        },
        min_length: 3,
        select: function (event, ui) {
            $('#txtCidadeTrf').val(ui.item.value);

            $('#ddlSppTrf').html('<option value=\'0\'> Aguarde...</option>');
            $.ajax({
                url: "@Url.Action("GetSpps_Cidade", "Home")",
                data: { cidade: $('#txtCidadeTrf').val() },
                type: "GET",
                success: function (data) { $('#ddlSppTrf').html(data); }
            });
            return false;
        },
        delay: 300
    });

    $('#txtCidadeExtra').autocomplete({
        source: "@Url.Action("ObterCidades", "Home")",
        minLength: 3
    });

    $('#txtCidadeHotel').autocomplete({
        source: "@Url.Action("ObterCidades", "Home")",
        minLength: 3,
        select: function (e, ui) {
            $('#txtCidadeHotel').val(ui.item.value);

            $('#dvddlHotelSearch').html("Aguarde...");

            $.get("@Url.Action("PreencheHoteis_Cidade", "Home")", { cidade: ui.item.value }, function (data) {
                $('#dvddlHotelSearch').html(data);
            });
        }
    });



    $("#txtNomeTrf").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "@Url.Action("ObterTransfers", "Home")",
                dataType: "json",
                data: { term: request.term, cidade: $('#txtCidadeTrf').val() },
                success: function (data) {
                    response(data);
                }
            });
        },
        min_length: 3,
        select: function (event, ui) {
            $('#txtNomeTrf').val(ui.item.value);
            return false;
        },
        delay: 300
    });

    $("#txtCidadeTur").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "@Url.Action("ObterCidades", "Home")",
                dataType: "json",
                data: { term: request.term },
                success: function (data) {
                    response(data);
                }
            });
        },
        min_length: 3,
        select: function (event, ui) {
            $('#txtCidadeTur').val(ui.item.value);

            $('#ddlSppTur').html('<option value=\'0\'> Aguarde...</option>');
            $.ajax({
                url: "@Url.Action("GetSpps_Cidade", "Home")",
                data: { cidade: $('#txtCidadeTur').val() },
                type: "GET",
                success: function (data) { $('#ddlSppTur').html(data); }
            });
            return false;
        },
        delay: 300
    });

    $("#txtNomeTur").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "@Url.Action("ObterTours", "Home")",
                dataType: "json",
                data: { term: request.term, cidade: $('#txtCidadeTur').val() },
                success: function (data) {
                    response(data);
                }
            });
        },
        min_length: 3,
        select: function (event, ui) {
            $('#txtNomeTur').val(ui.item.value);
            return false;
        },
        delay: 300
    });

    function AlteraCancelarAll() {

        var checkk = false;

        if ($('#cancelAll_File').is(":checked")) {
            checkk = true;
        } else {
            checkk = false;
        }

        $.get("@Url.Action("UpdateCancelaAllOmni", "Home")", { quotation: $("#idquotecode").val(), check: checkk  }, function (data) {

            if (data.success) {
                alert(data.message);
            } else {
                alert('Error: ', data.message);
            }
        });

    }

    $('#txtDataInTrf').change(function () {
        $('#txtDataOutTrf').val($(this).val());
    });
    $('#txtDataInTur').change(function () {
        $('#txtDataOutTur').val($(this).val());
    });
    $('#txtDataInExtra').change(function () {
        $('#txtDataOutExtra').val($(this).val());
    });

    $('#form-procura-trf').submit(function () {
        $('#btnProcuraTrf').html('Aguarde...');
        $('#btnProcuraTrf').attr("disabled", "disabled");

        var only = false;
        if ($('#chkOnlyRecommTrf').is(":checked")) {
            only = true;
        } else {
            only = false;
        }
        $('#hdOnlyRecommTrf').val(only);

        $('#hdmoedaCapaidTrf').val($('#ddlMoedaCapa').val());

        $('#hdMoedaCapaProcuraTur').val($('#ddlMoedaCapa').val());

        var mod = $(this).serialize();

        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });
        $.ajax({
            url: "@Url.Action("PopulaDataLisTransfers", "Home")",
            data: mod,
            type: "POST",
            success: function (data) {
                $('#btnProcuraTrf').removeAttr("disabled"); $('#btnProcuraTrf').html('Procurar');
                $('#lstTransfers').html(data);
                waitingDialog.hide();
            },
            error: function (XHR) {
                $('#btnProcuraTrf').removeAttr("disabled"); $('#btnProcuraTrf').html('Procurar'); waitingDialog.hide(); alert(XHR);
            }
        });
    });

    $('#form-procura-tur').submit(function () {
        $('#btnProcuraTur').html('Aguarde...');
        $('#btnProcuraTur').attr("disabled", "disabled");

        if ($('#chkOnlyRecommTrs').is(":checked")) {
            only = true;
        } else {
            only = false;
        }
        $('#hdOnlyRecommTrs').val(only);

        $('#hdMoedaCapaProcuraTur').val($('#ddlMoedaCapa').val());

        var mod = $(this).serialize();

        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });
        $.ajax({
            url: "@Url.Action("PopulaDataLisTours", "Home")",
            data: mod,
            type: "POST",
            success: function (data) {
                $('#btnProcuraTur').removeAttr("disabled"); $('#btnProcuraTur').html('Procurar');
                $('#lstTours').html(data);
                waitingDialog.hide();
            },
            error: function (XHR) {
                $('#btnProcuraTur').removeAttr("disabled"); $('#btnProcuraTur').html('Procurar'); waitingDialog.hide(); alert(XHR);
            }
        });
    });


    $('#form-procura-hotel').submit(function () {
        $('#btnProcuraHotel').html('Aguarde...');
        $('#btnProcuraHotel').attr("disabled", "disabled");

        if ($('#hdgrpselecionado').val() == "") {
            $('#hdgrpselecionado').val("1");
        }

        $('#hdNumPax').val($('#ddlADLCapa').val());
        $('#hdmoedacapa').val($('#ddlMoedaCapa').val());
        $('#hdgrpselecionadoreserva').val($('#hdgrpselecionado').val());

        $('#hdNumPaxLodge').val($('#ddlPaxsHoteis').val());

        var searchsistema = false;
        if ($('#chksearchsistema').is(":checked")) {
            searchsistema = true;
        } else {
            searchsistema = false;
        }

        var searchomni = false;
        if ($('#chksearchomni').is(":checked")) {
            searchomni = true;
        } else {
            searchomni = false;
        }
        var searchroomsxml = false;
        if ($('#chksearchroomsxml').is(":checked")) {
            searchroomsxml = true;
        } else {
            searchroomsxml = false;
        }
        var searchhotelspro = false;
        if ($('#chksearchhotelspro').is(":checked")) {
            searchhotelspro = true;
        } else {
            searchhotelspro = false;
        }
        var searchcts = false;
        if ($('#chksearchcts').is(":checked")) {
            searchcts = true;
        } else {
            searchcts = false;
        }

        $('#hdsearchtarifsistema').val(searchsistema);

        $('#hdsearchtarifomni').val(searchomni);
        $('#hdsearchtarifroomsxml').val(searchroomsxml);
        $('#hdsearchtarifhotelspro').val(searchhotelspro);
        $('#hdsearchtarifcts').val(searchcts);

        var mod = $(this).serialize();

        waitingDialog.show('Buscando Tarifas API...', { dialogSize: 'sm', progressType: 'warning' });
        $.ajax({
            url: "@Url.Action("PopulatHoteisNew", "Home")",
            data: mod,
            type: "POST",
            success: function (data) {
                $('#btnProcuraHotel').removeAttr("disabled"); $('#btnProcuraHotel').html('Procurar');
                $('#lstHoteis').html(data);

                $('#tblTarifasPainel tbody tr').each(function () {

                    var customerId = $(this).find(".tdNR").html();
                    if (customerId.indexOf("small") > -1) {
                        $(this).css('background-color', '#F08080');
                    }

                    if (customerId.indexOf("!") > -1) {
                        $(this).css('background-color', '#FFFACD');
                    }

                    //if ($(this).attr("id") == 'true') {
                    //    $(this).css('background-color', 'red');
                    //}
                });

                waitingDialog.hide();

                //ListaHoteisFunc(mod);
            },
            error: function (XHR) {
                waitingDialog.hide(); $('#btnProcuraHotel').removeAttr("disabled"); $('#btnProcuraHotel').html('Procurar'); alert(XHR);
            }
        });
    });

    function ListaHoteisFunc(mod) {

        $.ajax({
            url: "@Url.Action("PopulatHoteis", "Home")",
            data: mod,
            type: "POST",
            success: function (data) {
                $('#btnProcuraHotel').removeAttr("disabled");
                $('#btnProcuraHotel').html('Procurar');
                $('#lstHoteis').html(data);
                waitingDialog.hide();
            },
            error: function (XHR) {
                waitingDialog.hide();
                $('#btnProcuraHotel').removeAttr("disabled");
                $('#btnProcuraHotel').html('Procurar');
                alert(XHR);
            }
        });
    }

    $('#form-add-extra').submit(function () {

        var mod = {
            qCode: $('#qCode').val(),
            IdQuotGrupo: $('#qgID').val(),
            DataFrom: $('#txtDataInExtra').val(),
            DataOut: $('#txtDataOutExtra').val(),
            NumPax: $('#ddlNumPaxTrf').val(),
            cidade: $('#txtCidadeExtra').val(),
            moedaid: $("#ddlMoedaCapa").val(),
            S_id: $("#ddlSppExtra").val(),
            SupplierNome: $("#ddlSppExtra option:selected").text(),
            OptQuote: $('#optQuoteAtiva').val(),
            BaseDe: $('#ddlNumPaxExtra').val(),
            BaseAte: $('#ddlNumPaxExtra').val(),
            TipoExtraID: $("#ddlTipoExtra").val(),
            TipoExtra: $("#ddlTipoExtra option:selected").text(),
            NomeExtra: $('#txtNomeExtra').val()
        };

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        if ($('input[name=optQuoteFileExtra]:checked', '#form-add-extra').val() == "Quote") {

            //Quote
            $.ajax({
                url: "@Url.Action("AddServExtraQuote", "Home")",
                data: mod,
                type: "POST",
                success: function (data) {
                    if (data.indexOf("sucesso") > -1) {
                        var $toast = toastr["success"](data, "Prosoftware");
                        $toastlast = $toast;
                        refreshGridQuote();
                    }
                    else {
                        var $toast = toastr["error"](data, "Prosoftware");
                        $toastlast = $toast;
                    }

                    waitingDialog.hide();
                },
                error: function (XHR) {
                    waitingDialog.hide(); alert(XHR);
                }
            });

        } else {

            //File
            $.ajax({
                url: "@Url.Action("AddServExtraFile", "Home")",
                data: mod,
                type: "POST",
                success: function (data) {
                    if (data.indexOf("sucesso") > -1) {
                        var $toast = toastr["success"](data, "Prosoftware");
                        $toastlast = $toast;
                        refreshGridFile();
                    }
                    else {
                        var $toast = toastr["error"](data, "Prosoftware");
                        $toastlast = $toast;
                    }
                    waitingDialog.hide();
                },
                error: function (XHR) {
                    waitingDialog.hide(); alert(XHR);
                }
            });

        }

    });

    function refreshGridQuote() {
        $.ajax({
            type: "GET",
            url: "@Url.Action("PreencheGridQuote", "Home")",
            data: { quotation: $("#idquotecode").val(), opt: $('#optQuoteAtiva').val() },
            success: function (data) {
                $('#lstquote').html(data);
            },
            error: function (xhr) {
                alert(xhr);
            }
        });
    }

    function refreshGridFile() {
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });
        $.ajax({
            type: "GET",
            url: "@Url.Action("PreencheFile", "Home")",
            data: { qCode: $("#idquotecode").val() },
            success: function (data) {
                $('#lstfile').html(data);
                waitingDialog.hide();
            },
            error: function (xhr) {
                alert(xhr);
            }
        });
    }

    function refreshCapaQuote() {
        $.ajax({
            type: "GET",
            url: "@Url.Action("CarregarFileNumero", "Home")",
            data: { quotenumber: $("#idquotecode").val() },
            success: function (data) {
                $('#capaquote').html(data);
                $('#ddlNumPaxTrf').val($('#ddlADLCapa').val());
                $('#ddlNumPaxTur').val($('#ddlADLCapa').val());
                $('#ddlNumPaxExtra').val($('#ddlADLCapa').val());

                $('#qCodeGerarReport').val($('#qCode').val());
                $('#IdQuotGrupoGerarReport').val($('#qgID').val());
                $('#IdQuoteGrupoHotel').val($('#qgID').val());


                $('#hdgrpselecionado').val("1");                

                refreshTituloFile();
            },
            error: function (xhr) {
                alert(xhr);
            }
        });
    }

    function refreshTituloFile() {
        $.get("@Url.Action("UpdateTituloFile", "Home")", { qCode: $("#idquotecode").val(), optquote: $('#optQuoteAtiva').val() }, function (data) {
            $('#tituloFile').html(data);
        });
    }

    function GetTrfsUpd() {
        $('#ddlTrfs').html('<option value=\'0\'> Aguarde...</option>');

        var mod = {
            DataIn: $('#txtDataInTrf').val(),
            DataOut: $('#txtDataOutTrf').val(),
            Cidade: $('#txtCidadeTrf').val(),
            NumPax: $('#ddlNumPaxTrf').val(),
            S_id: $('#ddlSppTrf').val(),
            ServId: $('#ddlTrfs').val()
        };

        $.ajax({
            url: "@Url.Action("GetServ_Spp", "Home")",
            data: mod,
            type: "POST",
            success: function (data) {
                $('#ddlTrfs').html(data);
            },
            error: function (xhr) {
                alert('error');
            }
        });
    };

    function GetTursUpd() {
        $('#ddlTurs').html('<option value=\'0\'> Aguarde...</option>');

        var mod = {
            DataIn: $('#txtDataInTur').val(),
            DataOut: $('#txtDataOutTur').val(),
            Cidade: $('#txtCidadeTur').val(),
            NumPax: $('#ddlNumPaxTur').val(),
            S_id: $('#ddlSppTur').val(),
            ServId: $('#ddlTurs').val()
        };

        $.ajax({
            url: "@Url.Action("GetServTur_Spp", "Home")",
            data: mod,
            type: "POST",
            success: function (data) {
                $('#ddlTurs').html(data);
            },
            error: function (xhr) {
                alert('error');
            }
        });
    };

    $('#ddlTrfs').change(function () {
        if ($(this).val() == 0)
            $('#txtNomeTrf').val('');
        else
            $('#txtNomeTrf').val($(this).val());
    });

    $('#ddlTurs').change(function () {
        if ($(this).val() == 0)
            $('#txtNomeTur').val('');
        else
            $('#txtNomeTur').val($(this).val());
    });

    $('#btnAddOptQuoteCopia').click(function () {

        if ($('#txtFileCopia').val() == "") {
            alert('Favor escolher uma quote antes.');
            return false;
        }

        var copyall = $('#chkCopyChangesOpt').prop('checked');

        var modelo = {
            qCodeCopia: $('#txtFileCopia').val(),
            qCode: $('#qCode').val(),
            IdQuotGrupo: $('#qgID').val(),
            ddlOptSelectFileCopia: $('#ddlOptCopia').val(),
            copiatudo: copyall
        }

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        $.ajax({
            url: "@Url.Action("AddOptNova", "Home")",
            type: "POST",
            data: modelo,
            success: function (data) {
                var arr = data.split('°');
                var $toast = toastr["success"](arr[0], "Prosoftware");
                $toastlast = $toast;
                $('#optQuoteAtiva').val(arr[1]);
                refreshGridQuote();
                waitingDialog.hide();
            },
            error: function (XHR) {
                $('#btnExcluirItensQuote').removeAttr("disabled");
                $('#btnExcluirItensQuote').html('Salvar');
                alert(XHR);
            }
        });

    });

    $('#btnAddOptQuoteSCopia').click(function () {
        var str2 = "";
        var strMethodUrl = "@Url.Action("GetLastOpt", "Home")" + "?qCode=" + $('#qCode').val();
        var rt = $.getJSON(strMethodUrl, receieveResponse);

        function receieveResponse(response) {
            str2 = "<input type=\"button\" class=\"btn btn-primary option\" value='" + response + "' title='" + response + "' style=\"border-radius: 0px;\" />";
            $('#dvoptions').append(str2);
            $('#optQuoteAtiva').val(response);
            $('#tblQuote tbody').remove();
            $('#tblQuote thead').remove();
        }
    });

    function ddlReportsCG() {

        var vr = $('#ddlReports').val();
        $("#dvmapaservicos").css({ 'display': "none" });
        $('#dvreports').html("");
        $('#dvVoucher').hide();

        if (vr == 2) { RefreshGridInvoices(); }
        if (vr == 4) { $("#dvmapaservicos").css({ 'display': "block" }); }
        if (vr == 5) { RefreshGridInvoices(); }
        if (vr == 6) { $("#dvreports").html('<img src="/images/icon/material_loader.gif" alt="Wait" />'); RefreshGridInvoices(); }
        if (vr == 7) { RefreshGridInvoices(); }
        if (vr == 9) { $('#dvVoucher').show(); }
    };

    function RefreshGridInvoices(vr) {
        $.get("@Url.Action("ChangeTipoReport", "Home")", { tiporeport: $('#ddlReports').val(), IdQuotGrupo: $('#qgID').val() }, function (data) {
            $('#dvreports').html(data);
        });
    }

    $('#form-reports').submit(function () {
        

        if ($('#ddlReports').val() != 7) {
            $('#hdSppIdOrdemPag').val(0);
        }

        if ($('#ddlReports').val() == 8) {

            //var home = 'http://sp.southamerica.travel/NewTierra/Voucher/Voucher.aspx?quotationGroupId=' + $('#qgID').val() + '&optQuote=' + $('#optQuoteAtiva').val() + '&pubpage=1&grpNomes=' + $('#hdgrpselecionado').val();
            var home = 'http://localhost:56899/Voucher/Voucher.aspx?quotationGroupId=' + $('#qgID').val() + '&optQuote=' + $('#optQuoteAtiva').val() + '&pubpage=1&grpNomes=' + $('#hdgrpselecionado').val();
            javascript: window.open(home);
            return false;
            //string.Format("/Voucher/Voucher.aspx?quotationGroupId={0}&optQuote={1}&pubpage=1", Convert.ToInt32(ViewState["IdQuotGrupo"]), lblQA.Text);
        }

        if ($('#ddlReports').val() == 9) {           
           
            //var home = 'http://sp.southamerica.travel/tierramvc/Voucher?quotationGroupId=' + $('#qgID').val() + '&optQuote=' + $('#optQuoteAtiva').val() + '&pubpage=1&grpNomes=' + $('#hdgrpselecionado').val() + '&allnames=' + $('input[name=optnamesVoucher]:checked').val();

            var home = 'http://localhost:62712/Voucher?quotationGroupId=' + $('#qgID').val() + '&optQuote=' + $('#optQuoteAtiva').val() + '&pubpage=1&grpNomes=' + $('#hdgrpselecionado').val() + '&allnames=' + $('input[name=optnamesVoucher]:checked').val();
            javascript: window.open(home);
            return false;

            //string.Format("/Voucher/Voucher.aspx?quotationGroupId={0}&optQuote={1}&pubpage=1", Convert.ToInt32(ViewState["IdQuotGrupo"]), lblQA.Text);
        }

        if ($('#ddlReports').val() == 6) {
            var arrOS = "";
            $('#tblServicosOS tbody tr input:checkbox').each(function () {
                if (this.checked) {
                    arrOS = arrOS + $(this).val() + "°";
                }
            });
            $('#hdServicosOS').val(arrOS);
        }

        if ($('#ddlReports').val() == 7) {

            if ($('#txtDeadlineOrdemPag').val() == "") {
                alert("Favor escolher uma data de Deadline!");
                return false;
            }

            var arrPag = "";
            $('#tblOrdemPagServ tbody tr input:checkbox').each(function () {
                if (this.checked) {
                    arrPag = arrPag + $(this).val() + "~";
                }
            });

            if (arrPag == "") {
                alert("Favor selecionar um serviço!");
                return false;
            }

            $('#hdIDsOrdemPag').val(arrPag.substring(0, arrPag.length - 1));
        }

        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });
        var mod = $(this).serialize();
        $.ajax({
            url: "@Url.Action("GerarReport", "Home")",
            data: mod,
            type: "GET",
            success: function (d) {
                if (d.success) {

                    window.open(d.url, '_blank');

                    if ($('#ddlReports').val() == 2) {
                        RefreshGridInvoices();
                    }
                }
                waitingDialog.hide();
            },
            error: function (XHR) {
                waitingDialog.hide();
                alert(XHR);
            }
        })
    });


    $('#txtCidMapaServ').autocomplete({
        source: "@Url.Action("ObterCidades", "Home")",
        minLength: 3
        //select: function (e, ui) {
        //    alert(ui.item.value);
        //}
    });


    $("#txtAutoHotel").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "@Url.Action("ObterHoteis", "Home")",
                dataType: "json",
                data: {
                    term: request.term,
                    cidade: $("#txtCidadeHotel").val()
                },
                success: function (data) {
                    response(data);
                }
            });
        },
        min_length: 1,
        select: function (event, ui) {
            $('#txtAutoHotel').val(ui.item.value);
            //$('#idquotecode').val(ui.item.value);
            return false;
        },
        delay: 300
    });


    function ChangeHotelDrop() {
        $.get("@Url.Action("VerificaLodgeHotel", "Home")", { idHotel: $('#ddlHoteisSearch').val() }, function (data) {
            if (data != "") {
                $('#dvdropsestacaohotel').html(data);
            } else {
                var str = "<div class=\"col-md-2\"></div><div class=\"col-md-2\"></div>";
                $('#dvdropsestacaohotel').html(str);
            }
        });
    }

    $('#form-dataFrom').submit(function () {

        var mod = $(this).serialize();
        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        $.ajax({
            url: "@Url.Action("AddNumDiasCarrinhoFrom", "Home")",
            data: mod,
            type: "GET",
            success: function (data) {
                if (data.indexOf("sucesso") > -1) {
                    var $toast = toastr["success"](data, "Prosoftware");
                    $toastlast = $toast;

                    if ($('#TypeFrom').val() == "quote") {
                        refreshGridQuote();
                    } else {
                        refreshGridFile();
                    }
                }
                else {
                    var $toast = toastr["error"](data, "Prosoftware");
                    $toastlast = $toast;
                }

                waitingDialog.hide();
            },
            error: function (XHR) {
                waitingDialog.hide(); alert(XHR);
            }
        });
    });


    $('#form-dataTo').submit(function () {
        var mod = $(this).serialize();
        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        $.ajax({
            url: "@Url.Action("lnkDataToTroca", "Home")",
            data: mod,
            type: "GET",
            success: function (data) {
                if (data.indexOf("sucesso") > -1) {
                    var $toast = toastr["success"](data, "Prosoftware");
                    $toastlast = $toast;

                    if ($('#TypeTo').val() == "quote") {
                        refreshGridQuote();
                    } else {
                        refreshGridFile();
                    }
                }
                else {
                    var $toast = toastr["error"](data, "Prosoftware");
                    $toastlast = $toast;
                }

                waitingDialog.hide();
            },
            error: function (XHR) {
                waitingDialog.hide(); alert(XHR);
            }
        });
    });

    function TipoEnvioEmail() {
        $.get("@Url.Action("TipoEnvioEmail", "Home")", { TipoEnvio: $('#ddlTipoEnvioEmail').val(), IdQuotGrupo: $('#qgID').val() }, function (data) {
            $('#dvddlSupplierEmails').html(data);
            $('#dveditoremail').html("");
        });
    }

    function MontaEmail() {

        if ($('#ddlTipoEnvioEmail').val() == 1) {
            $.get("@Url.Action("MontaEmailHoteis", "Home")", { IdQuotGrupo: $('#qgID').val(), idSpp: $('#ddlSupplierEmails').val() }, function (data) {
                $('#dveditoremail').html(data);
            });
        } else {
            $.get("@Url.Action("MontaEmailServicos", "Home")", { IdQuotGrupo: $('#qgID').val(), idSpp: $('#ddlSupplierEmails').val() }, function (data) {
                $('#dveditoremail').html(data);
            });
        }
    }

    $('#btnOpenOffer').click(function () {
        //var home = 'http://sp.southamerica.travel/NewTierra/Externo4Star/QuoteGeralNew.aspx?type=' + $('#ddlTipoQuote').val() + '&ratear=' + $('#ddlRatearTCOffer').val() + '&foto=' + $('#ddlFotoQuote').val() + '&optQuote=' + $('#optQuoteAtiva').val() + '&Code=';

        var home = 'http://sp.southamerica.travel/NewTierra/Externo4Star/QuoteGeralNew.aspx?IdMoedaQuote=' + $("#ddlMoedaCapa").val() + '&SSIdQuotGrupo=' + $('#qgID').val() + '&qCode=' + $('#qCode').val() + '&type=' + $('#ddlTipoQuote').val() + '&ratear=' + $('#ddlRatearTCOffer').val() + '&foto=' + $('#ddlFotoQuote').val() + '&optQuote=' + $('#optQuoteAtiva').val() + '&Code=';
        //var home = 'http://localhost:56899/Externo4Star/QuoteGeralNew.aspx?IdMoedaQuote=' + $("#ddlMoedaCapa").val() + '&SSIdQuotGrupo=' + $('#qgID').val() + '&qCode=' + $('#qCode').val() + '&type=' + $('#ddlTipoQuote').val() + '&ratear=' + $('#ddlRatearTCOffer').val() + '&foto=' + $('#ddlFotoQuote').val() + '&optQuote=' + $('#optQuoteAtiva').val() + '&Code=';

        javascript: window.open(home);
    });

    $('#btnOpenOfferNew').click(function () {

        //var home = 'http://sp.southamerica.travel/tierramvc/Offer/OfferEdit/?IdMoedaQuote=' + $("#ddlMoedaCapa").val() + "&qCode=" + $('#qCode').val() + "&type=" + $('#ddlTipoQuote').val() + "&ratear=" + $('#ddlRatearTCOffer').val() + "&foto=" + $('#ddlFotoQuote').val() + "&optQuote=" + $('#optQuoteAtiva').val();
        var home = 'http://localhost:62712/Offer/OfferEdit/?IdMoedaQuote=' + $("#ddlMoedaCapa").val() + "&qCode=" + $('#qCode').val() + "&type=" + $('#ddlTipoQuote').val() + "&ratear=" + $('#ddlRatearTCOffer').val() + "&foto=" + $('#ddlFotoQuote').val() + "&optQuote=" + $('#optQuoteAtiva').val();

        javascript: window.open(home);
    });

    $("#txtDataInHotel").change(function () {

        //alert($(this).val());
        //var arr = $(this).val().split('-');
        //alert(arr[0] + arr[1]);

        var date = this.valueAsDate;
        date.setDate(date.getDate() + 1);
        $('#txtDataOutHotel')[0].valueAsDate = date;
    });


    $('#form-trocarSpp').submit(function () {

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        $.ajax({
            url: "@Url.Action("SetTrocaSppQuote", "Home")",
            data: { flag: $('#lblServicoSelectTipo').html(), ServicoID: $('#ServicoSelectID').val(), qCode: $('#qCode').val(), SppID: $('#ddlSppServicoSelect').val(), type: $('#TypeServicoSelectID').val(), idCidade: $('#ddlCidadeServicoSelect').val() },
            type: "GET",
            success: function (data) {
                if (data.indexOf("sucesso") > -1) {
                    var $toast = toastr["success"](data, "Prosoftware");
                    $toastlast = $toast;

                    if ($('#TypeServicoSelectID').val() == "quote") {
                        refreshGridQuote();
                    } else {
                        refreshGridFile();
                    }
                }
                else {
                    var $toast = toastr["error"](data, "Prosoftware");
                    $toastlast = $toast;
                }

                $("#modalTrocaSpp").modal('hide');
                waitingDialog.hide();
            },
            error: function (XHR) {
                waitingDialog.hide(); alert(XHR);
            }
        });

    });


    $('#btnAddOptQuoteAte').click(function () {
        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        $.ajax({
            url: "@Url.Action("GerarNovaQuote_File", "Home")",
            data: { qCode: $('#qCode').val(), De: $('#txtAddOptQuoteDe').val(), Ate: $('#txtAddOptQuoteAte').val() },
            type: "GET",
            success: function (d) {
                if (d.success) {
                    var $toast = toastr["success"](d.message, "Prosoftware");
                    $toastlast = $toast;
                    refreshGridQuote();
                }
                else {
                    var $toast = toastr["error"](d.message, "Prosoftware");
                    $toastlast = $toast;
                }

                $("#modalAddNovaOptFile").modal('hide');

                $('#txtAddOptQuoteDe').val("");
                $('#txtAddOptQuoteAte').val("");
                waitingDialog.hide();
            },
            error: function (XHR) {
                waitingDialog.hide(); alert(XHR);
            }
        });
    });

</script>
