﻿@model IEnumerable<DAL.Models.GridSubServicosModel>


<table class="table table-bordered table-striped">

    <thead>

        <tr>
            <th><small>Data From</small></th>
            <th><small>Data To</small></th>
            <th><small>Item SubServiço</small></th>
            <th><small>Sub Item</small></th>
            <th><small>Obs</small></th>
            <th><small>Base Index</small></th>
            <th><small>Edit</small></th>
        </tr>

    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td><small>@string.Format("{0:dd/MM/yyyy}", item.MServico_DataFrom)</small></td>
                <td><small>@string.Format("{0:dd/MM/yyyy}", item.MServico_DataTo)</small></td>
                <td><small>@item.ItemSubServico_nome</small></td>
                <td><small>@item.SubItem_nome</small></td>
                <td><small>@item.MServico_Obs</small></td>
                <td><small>@item.Base_index</small></td>
                <td>
                    <button id="btnEditarTarifa" type="button" value='@item.IdMServico°@item.Base_index' class="btn btn-xs btn-success editarsub" title="Editar"><span class="glyphicon glyphicon-pencil"></span></button>
                    <button type="button" value='@item.IdMServico' class="btn btn-xs btn-danger deletarsub" title="Deletar"><span class="glyphicon glyphicon-trash"></span></button>
                </td>
            </tr>
        }

    </tbody>


</table>


<script type="text/javascript">

    $('.editarsub').click(function () {

        var pars = $(this).val().split('°');

        $.ajax({
            url: "@Url.Action("EditarMServico", "SubServicos")",
            data: { myid: pars[0], index: pars[1]},
            type: "GET",
            success: function (d) {

                if (d.success) {

                    $('#txtDataFrom').val(d.modelo.dtFrom);
                    $('#txtDataTo').val(d.modelo.dtTo);
                    $('#txtObs').val(d.modelo.obs);

                    $('#txtPorcentagemTaxa').val(d.modelo.porcentagem);
                    $('#txtPorcentagemImposto1').val(d.modelo.imposto);
                    $('#txtComissao').val(d.modelo.comissao);

                    $('#ddlSubTipo').val(d.modelo.subitem);
                    $('#ddlItem').val(d.modelo.itemsubservico);

                    $('#ddlMercadoSppBases').val(d.modelo.mercado);
                    $('#ddlBaseSppBases').val(d.modelo.basetarifaria);
                    $('#ddlTipoBases').val(d.modelo.tipobase);
                    $('#ddlMoedaBases').val(d.modelo.moeda);

                    $('#hdindexBase').val(d.modelo.indexBase);
                    $('#txtCodMServico').val(d.modelo.codMServico);

                    $('#hdSid').val(d.modelo.Sid);

                    refreshbases();

                    $('#btnSalvarTudo').hide();
                    $('#btnNovoTudo').show();
                    $('#btnAtualizarTudo').show();

                    $('#myTabs a[href="#tab_1"]').tab('show');
                }

            },
            error: function (xhr) {

            }
        });

    });


    $('.deletarsub').click(function () {

         $.ajax({
            url: "@Url.Action("ExcluirMServico", "SubServicos")",
            data: { IdMServico: $(this).val() },
            type: "GET",
            success: function (d) {

                if (d.success) {                  
                    alert(d.message);
                    refreshgridSubs($('#txtProcurarSupplier').val());
                }

            },
            error: function (xhr) {

            }
        });

    });


</script>