﻿@model IEnumerable<DAL.Models.ValoresBasesIntoModel>


<div class="row">
    @{ int i = 0;}
    @foreach (var item in Model)
    {
        <div class="col-md-2" id="dvBasesInto">
            <label>@item.De</label> - <label>@item.Ate</label>
            <input type="text" id="txtValoresBases_@item.idbase" class="form-control valoresb" name="@item.idbase" value="@item.MServico_Valores_Bulk" onkeyup="calculaTaxas()" />
            <label style="color:red;" class="lblbulktotal" id="lblValoresBases_@item.idbase" title="@item.idbase" >@item.MServico_Valores_Bulk_Total</label>
            <input type="hidden" class="IDMservVal" value="@item.IdMServicoValores" />
        </div>
        i++;
    }
</div>


<script type="text/javascript">


    function calculaTaxas() {
        
        $(".valoresb").each(function () {
           
            if ($(this).val().indexOf(",") > -1) {
                alert('Favor utilizar ponto(.) ao invés de virugla(,). Exemplo 240.70');
                $(this).val("");
                return false;
            }   

            if ($(this).val() != "") {

                var valortotalComTaxa = (parseFloat($(this).val()) * parseFloat($('#txtPorcentagemTaxa').val())) / 100;
                var d = parseFloat($(this).val()) + valortotalComTaxa;
                var valortotalComImposto = 0;
                if ($('#txtPorcentagemImposto1').val() != "") {
                    valortotalComImposto = (d * parseFloat($('#txtPorcentagemImposto1').val())) / 100;
                }
                var d2 = parseFloat(d + valortotalComImposto);


                if ($('#txtComissao').val() != "") {

                    var valortarifa = parseFloat($(this).val());
                    var valortotalComComissao = (valortarifa * parseFloat($('#txtComissao').val())) / 100;

                    var dcoss = (d2 - valortotalComComissao);
                    $('#lblValoresBases_' + $(this).attr('name')).html(dcoss.toFixed(2));
                }
                else
                {
                    $('#lblValoresBases_' + $(this).attr('name')).html(d2.toFixed(2));
                }
            }
        });

    }

</script>