﻿
@{
    ViewBag.Title = "SubServicos";
    Layout = "~/Views/Shared/template.cshtml";
}


<section class="content-header">
    <h1>
        SubServiços

        <small>Lista</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-car"></i>SubServiços</a></li>
    </ol>
</section>




<section class="content">

    <div class="box box-primary">
        <div class="box-header with-border">
            <h4 id="tituloServicos">Montar Serviço</h4>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body">


            <div class="nav-tabs-custom" id="myTabs">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab">List</a></li>
                    <li><a href="#tab_2" data-toggle="tab">Cadastros</a></li>
                </ul>
                <div class="tab-content">


                    <div class="tab-pane active" id="tab_1">

                        <div class="row">

                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-body">

                                        <div class="row">
                                            <div class="col-md-12">
                                                <label for="txtProcurarSuppliers">Supplier</label>
                                                <input id="txtProcurarSupplier" type="text" class="form-control" aria-describedby="basic-addon1" placeholder="Nome Supplier">
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="txtDataFrom">Data From</label>
                                                <input id="txtDataFrom" type="date" class="form-control" value="" />
                                            </div>
                                            <div class="col-md-6">
                                                <label for="txtDataTo">Data To</label>
                                                <input id="txtDataTo" type="date" class="form-control" value="" />
                                            </div>
                                        </div>
                                        <br />

                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="ddlItem">Item</label>
                                                <select id="ddlItem" class="form-control">
                                                    <option value="0">Selecione...</option>
                                                    @foreach (var item in ViewBag.Items)
                                                    {
                                                        <option value="@item.ItemSubServico_id">@item.ItemSubServico_nome</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="ddlSubTipo">Sub Tipo</label>
                                                <select id="ddlSubTipo" class="form-control">
                                                    <option value="0">Selecione...</option>
                                                    @foreach (var item in ViewBag.SubItems)
                                                    {
                                                        <option value="@item.SubItem_id">@item.SubItem_nome</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <br />

                                        <div class="row">
                                            <div class="col-md-12">
                                                <label for="txtObs">Observação</label>
                                                <textarea class="form-control" id="txtObs"></textarea>
                                            </div>
                                        </div>
                                        <br />

                                        <div class="row">
                                            <div class="col-md-12">
                                                <label>Bases</label><br />
                                                <input type="radio" id="rdoBasesSelect1" name="rdoBasesSelect" title="Base Principal" value="1" checked="checked" class="cssrdoBasesSelect"  /> Base Principal
                                                <input type="radio" id="rdoBasesSelect2" name="rdoBasesSelect" title="Base 02" value="2" class="cssrdoBasesSelect"/> Base 02
                                                <input type="radio" id="rdoBasesSelect3" name="rdoBasesSelect" title="Base 03" value="3" class="cssrdoBasesSelect"/> Base 03
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">

                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="ddlMercadoSppBases">Mercado</label>
                                        <select id="ddlMercadoSppBases" class="form-control" onchange="refreshbasesDrops()">
                                            @foreach (var item in ViewBag.MercadoSppTarifas)
                                            {
                                                <option value="@item.Mercado_id">@item.Mercado_nome</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="ddlBaseSppBases">BaseTarifaria</label>
                                        <select id="ddlBaseSppBases" class="form-control" onchange="refreshbasesDrops()">
                                            @foreach (var item in ViewBag.BaseTarifariaSppTarifas)
                                            {
                                                <option value="@item.BaseTarifaria_id">@item.BaseTarifaria_nome</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="ddlTipoBases">Tipo Base</label>
                                        <select id="ddlTipoBases" class="form-control" onchange="refreshbasesDrops()">
                                            @foreach (var item in ViewBag.TipoBases)
                                            {
                                                <option value="@item.TipoBase_id">@item.TipoBase_nome</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="ddlMoedaBases">Moeda</label>
                                        <select id="ddlMoedaBases" class="form-control" onchange="refreshbasesDrops()">
                                            @foreach (var item in ViewBag.MoedaSupplier)
                                            {
                                                <option value="@item.Moeda_id">@item.Moeda_sigla</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-2">
                                        <label for="txtPorcentagemTaxa">Taxas</label>
                                        <input type="text" id="txtPorcentagemTaxa" class="form-control" onkeyup="calculaTaxas()" value="0" />%
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" id="txtPorcentagemImposto1" class="form-control" style="margin-top:25px;" onkeyup="calculaTaxas()" value="0" />%
                                    </div>

                                    <div class="col-md-2">
                                        <label for="txtComissao">Comissão</label>
                                        <input type="text" id="txtComissao" class="form-control" onkeyup="calculaTaxas()" value="0" />%
                                    </div>
                                </div>
                                <br />

                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="baseprecosdv"></div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <input id="btnSalvarTudo" type="button" class="btn btn-primary" title="Salvar" value="Salvar" />
                                        <input id="btnAtualizarTudo" type="button" class="btn btn-primary" title="Salvar" value="Salvar" />
                                        <input id="btnNovoTudo" type="button" class="btn btn-primary" title="Novo" value="Novo" />
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="tab-pane" id="tab_2">

                        <div class="panel panel-default">
                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="txtDataFromSearch">Data From</label>
                                        <input id="txtDataFromSearch" type="date" class="form-control" value="" />
                                    </div>
                                    <div class="col-md-6">
                                        <label for="txtDataToSearch">Data To</label>
                                        <input id="txtDataToSearch" type="date" class="form-control" value="" />
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="ddlItemSearch">Item</label>
                                        <select id="ddlItemSearch" class="form-control">
                                            <option value="0">Selecione...</option>
                                            @foreach (var item in ViewBag.Items)
                                            {
                                                <option value="@item.ItemSubServico_id">@item.ItemSubServico_nome</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="ddlSubTipoSearch">Sub Tipo</label>
                                        <select id="ddlSubTipoSearch" class="form-control">
                                            <option value="0">Selecione...</option>
                                            @foreach (var item in ViewBag.SubItems)
                                            {
                                                <option value="@item.SubItem_id">@item.SubItem_nome</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <br />

                                <div class="row">
                                    <div class="col-md-10">
                                        <label>Bases</label><br />
                                        <input type="radio" id="chkBase01Search" value="1" name="rdoBasesSelectSearch" title="Base Principal" checked="checked" /> Base Principal
                                        <input type="radio" id="chkBase02Search" value="2" name="rdoBasesSelectSearch" title="Base 02" /> Base 02
                                        <input type="radio" id="chkBase03Search" value="3" name="rdoBasesSelectSearch" title="Base 03" /> Base 03
                                    </div>
                                </div>
                                <br />

                                <div class="row">
                                    <div class="col-md-2">
                                        <input id="btnfiltro" class="btn btn-primary" title="Filtrar" value="Filtrar" onclick="refreshgridSubsFiltros()" />
                                    </div>
                                </div>


                            </div>
                        </div>

                        <div id="lstsubservicos">
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>


</section>

<input type="hidden" id="txtCodMServico" value="0">
<input type="hidden" id="hdindexBase" />
<input type="hidden" id="hdSid" />

<script type="text/javascript">

    $('#btnSalvarTudo').hide();
    $('#btnNovoTudo').hide();
    $('#btnAtualizarTudo').hide();



    $('.cssrdoBasesSelect').change(function () {
        refreshbasesDrops();
    });


    $('#btnAtualizarTudo').click(function () {

         if ($('#ddlItem').val() == 0) {
            alert("Favor selecione um item subserviço.");
            return;
        }
        if ($('#ddlSubTipo').val() == 0) {
            alert("Favor selecione um sub item.");
            return;
        }
        if ($('#txtDataFrom').val() == "" || $('#txtDataTo').val() == "") {
            alert("Favor preencher todas as datas.");
            return;
        }

        var vrs = "";
        $(".valoresb").each(function () {

            if ($(this).val() == "") {
                alert("Favor preencher todos os valores das bases.");
                return;
            }
            //if (!$.isNumeric($(this).val())) {
            //    alert("Favor digite somente números nas tarifas.");
            //    return;
            //}


            vrs = vrs + $(this).val() + "°" + $(this).attr("name") + "~";
        });


        var vrsb = "";
        $("#dvBasesInto .lblbulktotal").each(function () {
            vrsb = vrsb + $(this).html() + "°" + $(this).attr("title") + "~";
        });

        var idvalores = "";
        $("#dvBasesInto .IDMservVal").each(function () {
            idvalores = idvalores + $(this).val() + "~";
        });

        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });
        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };

        $.ajax({
            url: "@Url.Action("AtualizarTarifas", "SubServicos")",
            data: {
                txtCodMServico: $('#txtCodMServico').val(),
                supplier: $('#txtProcurarSupplier').val(),
                ddlItemSubServico: $('#ddlItem').val(),
                ddlSubItemSubServico: $('#ddlSubTipo').val(),
                txtPorcentagemTaxa: $('#txtPorcentagemTaxa').val(),
                txtPorcentagemImposto1: $('#txtPorcentagemImposto1').val(),
                txtComissao: $('#txtComissao').val(),
                from: $('#txtDataFrom').val(),
                to: $('#txtDataTo').val(),
                txtObs: $('#txtObs').val(),
                vr1: vrs.substring(0, vrs.length - 1),
                vr2: vrsb.substring(0, vrsb.length - 1),
                vr3: idvalores.substring(0, idvalores.length - 1)
            },
            type: "GET",
            success: function (d) {

                if (d.success) {
                    var $toast = toastr["success"](d.message, "Prosoftware");
                    $toastlast = $toast;

                    refreshgridSubsFiltros();
                    refreshgridSubs($('#txtProcurarSupplier').val());
                } else {
                    var $toast = toastr["error"](d.message, "Prosoftware");
                    $toastlast = $toast;
                }

                waitingDialog.hide();
            },
            error: function (xhr) {

                var $toast = toastr["error"](xhr + "Error", "Prosoftware");
                $toastlast = $toast;
                waitingDialog.hide();
            }
        });

    });

    $('#btnSalvarTudo').click(function () {

        if ($('#ddlItem').val() == 0) {
            alert("Favor selecione um item subserviço.");
            return;
        }
        if ($('#ddlSubTipo').val() == 0) {
            alert("Favor selecione um sub item.");
            return;
        }
        if ($('#txtDataFrom').val() == "" || $('#txtDataTo').val() == "") {
            alert("Favor preencher todas as datas.");
            return;
        }

        var vrs = "";
        $(".valoresb").each(function () {

            if ($(this).val() == "") {
                alert("Favor preencher todos os valores das bases.");
                return;
            }
            //if (!$.isNumeric($(this).val())) {
            //    alert("Favor digite somente números nas tarifas.");
            //    return;
            //}


            vrs = vrs + $(this).val() + "°" + $(this).attr("name") + "~";
        });


        var vrsb = "";
        $("#dvBasesInto .lblbulktotal").each(function () {
            vrsb = vrsb + $(this).html() + "°" + $(this).attr("title") + "~";
        });

        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });
        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };

        $.ajax({
            url: "@Url.Action("SalvarTarifas", "SubServicos")",
            data: {
                supplier: $('#txtProcurarSupplier').val(),
                ddlItemSubServico: $('#ddlItem').val(),
                ddlSubItemSubServico: $('#ddlSubTipo').val(),
                txtPorcentagemTaxa: $('#txtPorcentagemTaxa').val(),
                txtPorcentagemImposto1: $('#txtPorcentagemImposto1').val(),
                txtComissao: $('#txtComissao').val(),
                from: $('#txtDataFrom').val(),
                to: $('#txtDataTo').val(),
                txtObs: $('#txtObs').val(),
                vr1: vrs.substring(0, vrs.length - 1),
                vr2: vrsb.substring(0, vrsb.length - 1)
            },
            type: "GET",
            success: function (d) {

                if (d.success) {
                    var $toast = toastr["success"](d.message, "Prosoftware");
                    $toastlast = $toast;

                    refreshgridSubsFiltros();
                    refreshgridSubs($('#txtProcurarSupplier').val());
                } else {
                    var $toast = toastr["error"](d.message, "Prosoftware");
                    $toastlast = $toast;
                }

                waitingDialog.hide();
            },
            error: function (xhr) {

                var $toast = toastr["error"](xhr + "Error", "Prosoftware");
                $toastlast = $toast;
                waitingDialog.hide();
            }
        });

    });

    $('#btnNovoTudo').click(function () {
        //location.reload();

        $('#txtPorcentagemTaxa').val("0");
        $('#txtPorcentagemImposto1').val("0");
        $('#txtComissao').val("0");

        $('#txtObs').val("");

        //$('#ddlItem').val("0");
        //$('#ddlSubTipo').val("0");

        $('#txtDataFrom').val("");
        $('#txtDataTo').val("");

        $('#btnSalvarTudo').show();
        $('#btnNovoTudo').hide();
        $('#btnAtualizarTudo').hide();

        $(".valoresb").each(function () {
            $(this).val("");         
        });
        
        $("#dvBasesInto .lblbulktotal").each(function () {
            $(this).html("");
        });

    });

    $('#txtProcurarSupplier').autocomplete({
        source: "@Url.Action("ObterSuppliers", "SubServicos")",
        minLength: 3,
        select: function (e, ui) {
            refreshgridSubs(ui.item.value);
            $('#btnSalvarTudo').show();
        }
    });

    function refreshgridSubs(spp) {

        $.get("@Url.Action("PopulaGridMServicos", "SubServicos")", { supplier: spp }, function (d) {
            $('#lstsubservicos').html(d);
        });

        $.get("@Url.Action("PopulaDataListBases", "SubServicos")", {
            index: 1,
            S_id: 0,
            ddlMercadoFiltro_Base: $('#ddlMercadoSppBases').val(),
            ddlBaseTarifariaFiltro_Base: $('#ddlBaseSppBases').val(),
            ddlMoedaFiltro_Base: $('#ddlMoedaBases').val(),
            ddlTipoBase_Base: $('#ddlTipoBases').val(),
            txtCodMServico: 0,
            supplier: spp
        }, function (d) {
            $('#baseprecosdv').html(d);
            });

    }

    function refreshgridSubsFiltros() {

        $('#btnfiltro').attr("disabled", "disabled");

        $.get("@Url.Action("FiltroMServico", "SubServicos")", {
            supplier: $('#txtProcurarSupplier').val(),
            txtFiltroMServicosDataFrom: $('#txtDataFromSearch').val(),
            txtFiltroMServicosDataTo: $('#txtDataToSearch').val(),
            ddlFiltroMServicoItemSubServico: $('#ddlItemSearch').val(),
            ddlFiltroMServicoSubItem: $('#ddlSubTipoSearch').val(),
            rdoBasesIndexSubServico: $('input[name=rdoBasesSelectSearch]:checked').val()
        }, function (d) {
            $('#lstsubservicos').html(d);
            $('#btnfiltro').removeAttr("disabled");
        });

    }

    function refreshbases() {

        $('#rdoBasesSelect1').prop("checked", false);
        $('#rdoBasesSelect2').prop("checked", false);
        $('#rdoBasesSelect3').prop("checked", false);

        if ($('#hdindexBase').val() == "1") {
            $('#rdoBasesSelect1').prop("checked", true);
        }
        if ($('#hdindexBase').val() == "2") {
            $('#rdoBasesSelect2').prop("checked", true);
        }
        if ($('#hdindexBase').val() == "3") {
            $('#rdoBasesSelect3').prop("checked", true);
        }


        //$("input[name=rdoBasesSelect][value=" + $('#hdindexBase').val() + "]").attr('checked', 'checked');

         $.get("@Url.Action("PopulaDataListBases", "SubServicos")", {
             index: $('#hdindexBase').val(),
             S_id: $('#hdSid').val(),
             ddlMercadoFiltro_Base: $('#ddlMercadoSppBases').val(),
             ddlBaseTarifariaFiltro_Base: $('#ddlBaseSppBases').val(),
             ddlMoedaFiltro_Base: $('#ddlMoedaBases').val(),
             ddlTipoBase_Base: $('#ddlTipoBases').val(),
             txtCodMServico: $('#txtCodMServico').val(),
             supplier: ""
        }, function (d) {
            $('#baseprecosdv').html(d);
        });
    }
    function refreshbasesDrops() {
         $.get("@Url.Action("PopulaDataListBases", "SubServicos")", {
             index: $('input[name=rdoBasesSelect]:checked').val(),
             S_id: 0,
             ddlMercadoFiltro_Base: $('#ddlMercadoSppBases').val(),
             ddlBaseTarifariaFiltro_Base: $('#ddlBaseSppBases').val(),
             ddlMoedaFiltro_Base: $('#ddlMoedaBases').val(),
             ddlTipoBase_Base: $('#ddlTipoBases').val(),
             txtCodMServico: 0,
             supplier: $('#txtProcurarSupplier').val()
        }, function (d) {
            $('#baseprecosdv').html(d);
        });
    }


</script>