﻿@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato.ttf') format('truetype');
}

body {
    background: #fff;
    font-size: .80em;
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}

h2, h4 {
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 28px;
}

h4 {
    font-size: 22px;
    font-style: italic;
    color: #4CC3F1;
}

#tabs, #tabs-1, #tabs-2 {
    float: left;
    margin-bottom: 30px;
}

#QuoteGeralDiv {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 900px;
}

.divWrapperPDFQuote {
    border: 1px dashed #d1d1d1;
    height: 100px;
    padding: 10px;
}

.divExportPDF {
    float: left;
    font-size: 18px;
}

#lblNomeCliente {
    color: black;
}

.divQuoteNumber {
    float: right;
    font-size: 18px;
}

#lblNumQuote {
    color: #31baef;
}

#btnFakeValueExtra {
    display: none;
}

#lblMsg {
    font-weight: bold;
    font-size: small;
}

.alignBtnHighlight {
    width: 16%;
    display: inline-block;
}

.alignTextHighlight {
    width: 83%;
    display: inline-block;
}

.alignTop {
    vertical-align: top;
}

.btnAzul {
    background-color: steelblue;
    border-radius: 2px;
    text-indent: 0;
    border: 1px solid steelblue;
    display: inline-block;
    color: white;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    height: 23px;
    min-width: 50px;
    text-decoration: none;
    text-align: center;
    margin-top: 5px;
}

.mappgoogle {
    width: 960px;
    margin: 20px 0px;
    border: 1px dashed #d6d6d6;
    padding: 10px;
}

.HotelsMainDiv {
    float: left;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: auto;
}

.logo {
    height: 110px;
    width: 345px;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 5px;
    /*padding: 10px;*/
}

.LogoDelBianco {
    border-radius: 10px;
}

.LogoRentamar {
    height: 100px;
    width: 124px;
}

.dlQuoteInto {
    height: auto;
}

.price {
    height: 85px;
    float: left;
    border-bottom: thin dashed #d6d6d6;
    width: 992px;
    margin-bottom: 15px;
}

.PorPessoa {
    width: 267px;
    float: left;
    height: 23px;
}

.rates {
    width: 990px;
    float: left;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

    .rates textarea {
        height: 75px;
        width: 400px;
        font-size: 14px;
    }

.ModalPopupBG {
    background-color: gray;
    filter: alpha(opacity=60);
    opacity: 0.7;
}

.ModalPopup {
    display: none;
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #E6E6E6;
    border-radius: 5px;
    padding: 3px;
    width: auto;
}

.headerPopUp {
    height: 40px;
    float: left;
    width: 100%;
    background-color: #E6E6E6;
    line-height: 30px;
}

#tdValorExtra {
    width: 480px;
    text-align: center;
    font-family: 'Trebuchet MS';
    font-size: 15px;
}

.ImgPrincipalPacoteHTL {
    height: 252px;
    width: 323px;
}

.ImgPrincipalPacoteDL {
    height: 252px;
    width: 323px;
}

.StiloDivTituloQuote {
    border-bottom: thin dashed #d6d6d6;
    float: left;
    height: 81px;
    width: 835px;
}

.divInfoHotel {
    float: left;
    width: 100%;
    border-bottom: 1px solid #d6d6d6;
    margin-top: 10px;
    margin-bottom: 10px;
}

.divHeaderHotel {
    float: left;
    height: 100px;
    width: 100%;
    border-bottom: thin dashed #d6d6d6;
}

.divDescricaoHotel {
    float: left;
    min-height: 290px;
    width: 60%;
    padding-top: 10px;
    font-size: 16px;
}

.divImagemHotel {
    float: left;
    min-height: 290px;
    width: 39%;
    padding-top: 10px;
    padding-left: 1%;
}

    .divImagemHotel img {
        height: 200px;
        width: 300px;
        padding-left: 5%;
    }

.divGrupoAmenities {
    float: left;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: thin dashed #d6d6d6;
    width: 100%;
}

.divGrupoNome {
    float: left;
    text-align: center;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: thin solid #d6d6d6;
    /*background: red;*/
}

.divAmenities {
    float: left;
    width: 100%;
    text-align: center;
    /*background: green;*/
}

    .divAmenities span {
        margin-right: 20px;
        /*margin-right: 20px;*/
    }

/*.divAmenity {
    float: left;
    min-width: 150px;
}*/

.divHighlight {
    float: left;
    width: 700px;
}

.divImgHighlight {
    float: left;
    min-height: 300px;
    width: 270px;
}

    .divImgHighlight img {
        max-width: 400px;
    }

#sectionPopUpImagem {
    position: fixed;
    top: 0;
    left: 0;
    height: 5000px;
    width: 100%;
    z-index: 9999;
    background: rgba(0,0,0, 0.8);
    display: none;
}

#sectionModal {
    position: fixed;
    height: 400px;
    width: 600px;
    top: calc(50% - 200px);
    left: calc(50% - 300px);
    background: white;
    border-radius: 10px;
    padding: 20px;
}

#popUpHighlight {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    background: rgba(0,0,0, 0.8);
    display: none;
}

#modalHighlight {
    position: fixed;
    height: 200px;
    width: 500px;
    top: calc(50% - 100px);
    left: calc(50% - 250px);
    background: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

#ddlCities, #txtTextHighlight {
    width: 250px;
}

#sectionPopUpHigh1 {
    position: fixed;
    top: 0;
    left: 0;
    height: 5000px;
    width: 100%;
    z-index: 9999;
    background: rgba(0,0,0, 0.8);
    display: none;
}

#sectionModalHigh1 {
    position: fixed;
    height: 400px;
    width: 600px;
    top: calc(50% - 200px);
    left: calc(50% - 300px);
    background: white;
    border-radius: 10px;
    padding: 20px;
}

#sectionPopUpHigh2 {
    position: fixed;
    top: 0;
    left: 0;
    height: 5000px;
    width: 100%;
    z-index: 9999;
    background: rgba(0,0,0, 0.8);
    display: none;
}

#sectionModalHigh2 {
    position: fixed;
    height: 400px;
    width: 600px;
    top: calc(50% - 200px);
    left: calc(50% - 300px);
    background: white;
    border-radius: 10px;
    padding: 20px;
}

#sectionPopUpSucesso {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    background: rgba(0,0,0, 0.8);
    display: none;
}

#sectionModalEditHighlightSucesso {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    background: rgba(0,0,0, 0.8);
    display: none;
}

#sectionModalEdit {
    position: fixed;
    height: 200px;
    width: 500px;
    top: calc(50% - 100px);
    left: calc(50% - 250px);
    background: white;
    border-radius: 10px;
    padding: 20px;
}

#sectionModalSucesso {
    position: fixed;
    height: 200px;
    width: 500px;
    top: calc(50% - 100px);
    left: calc(50% - 250px);
    background: white;
    border-radius: 10px;
    padding: 20px;
}

.divContentSucess {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
}

.divButton {
    width: 100%;
    text-align: center;
}

.divContent {
    width: 450px;
    float: left;
}

.sectionFechar {
    width: 100px;
    float: left;
    text-align: right;
}

.IconeFechar {
    height: 40px;
}

#divFlights {
    width: 100%;
    height: auto;
    float: left;
    margin-top: 20px;
}

#txtDescricao {
    height: 0;
    width: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
}