﻿@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

body {
    font-family: 'Lato', sans-serif;
    margin: 60px 0 0 20px;
}

/***************** DEFAULT CSS ****************************/
.float-left {
    float: left;
}

.float-right {
    float: right;
}

.width-full {
    width: 100%;
    float: left;
    height: auto; 
}

.displayNone {
    display: none;
}

.headbox {
    padding: 18px 15px;
    background: #fafafa;
    border: 1px solid #e6e6e6;
    float: right;
    margin: 23px 0px 0px 13px;
}

    .headbox a:hover {
        text-decoration: none;
    }

.secgray {
    width: 100%;
    margin-left: 23px;
    background: #f4f4f4;
    color: #333333;
    font-size: 11px;
    padding: 20px 0px 40px 0px;
}

.wrapper {
    width: 980px;
    margin: 0 auto;
}

.copyr {
    float: right;
    text-align: right;
    width: 400px;
    font-size: 10px;
    font-style: italic;
    color: #333333;
}

    .copyr a {
        color: #333333;
        text-decoration: none;
        -webkit-transition: color 0.2s linear;
        -moz-transition: color 0.2s linear;
        -o-transition: color 0.2s linear;
        transition: color 0.2s linear;
    }

        .copyr a:hover {
            color: #a70000;
            text-decoration: none;
            -webkit-transition: color 0.2s linear;
            -moz-transition: color 0.2s linear;
            -o-transition: color 0.2s linear;
            transition: color 0.2s linear;
        }

.margin-left-5 {
    margin-left: 5px;
}

.bold {
    font-weight: bold;
}

h2 {
    color: #31baef;
    padding-bottom: 20px;
    border-bottom: 1px solid #eeeeee;
}

h3 {
    color: #31baef;
    font-size: 18px;
}

hr.kill {
    background: none;
    border: 0;
    clear: both;
    display: block;
    float: none;
    font-size: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

hr.dash {
    border: dashed #d6d6d6;
    border-width: 1px 0 0;
    height: 0px;
}
/***************** PAGE CSS ****************************/
#QuoteGeralDiv {
    width: 980px;
}

.logo {
    display: inline-block;
    width: 400px;
}

#headerQuoteGeralUserExportPDF {
    display: inline-block;
    width: auto;
}

.smallbox {
    width: 30px;
    height: 20px;
    background: #fff;
    padding: 4px 3px 6px 3px;
    border: 1px solid #d8d8d8;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/*.table {
    color: #d6d6d6;
    border-style: dashed;
    border-width: 1px;
    table-layout: fixed;
}

    .table td {
        border: none;
    }

        .table td .width-100 {
            width: 100px;
            overflow: hidden;
        }*/

.label-table-client {
    font-size: 26px;
    color: #727272;
}

#btnFakeValueExtra {
    display: none;
}

#PanelValueExtra {
    height: 400px;
    width: 258px;
    border-radius: 5px;
    display: none;
}

.tblHeaderPopUp td {
    width: 20px;
    text-align: center;
}

    .tblHeaderPopUp td:first-child {
        width: 480px;
        text-align: center;
        font-family: 'Trebuchet MS';
        font-size: 15px;
    }

#imgFecharValueExtra, #imgFecharOrdem {
    height: 20px;
    width: 20px;
}

#btnFakeValueOrdem {
    display: none;
}

#PanelValueOrdem {
    height: 600px;
    width: 400px;
    display: none;
    overflow: auto;
}

#dlNomesQuote table td:first-child {
    font-size: 11px;
    color: #31baef;
}

#txtOrdem {
    width: 50px;
}

#divTabsContent {
    padding: 0 10px 30px;
}


#divHoteis {
    width: 100%;
    margin-left: 0%;
    float: left;
    margin-top: 36px;
}

#dvSummary {
    width: 100%;
    margin-left: 0%;
    float: left;
    margin-top: 36px;
}

.divHighlight {
    width: 58%;
    margin-left: 0%;
}

.disc_list li {
    list-style: disc;
}

.divImgHighlight {
    width: 40%;
    text-align: right;
    height: 702px;
}

    .divImgHighlight div {
        border: 1px thin #784646;
        padding-bottom: 5px;
    }

.imgHighlights {
    width: 323px !important;
    height: 252px !important;
    padding: 4px;
    background-color: #fff;
    vertical-align: middle;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

#map_canvas {
    height: 585px;
    width: 900px;
}

.customapp {
    width: 900px;
    margin: 20px 0px;
    border: 1px dashed #d6d6d6;
    padding: 10px;
}

.dataList {
    float: left;
    width: 100%;
    height: auto;
}

.dlQuoteInto {
    float: left;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 20px;
}

.tituloQuote {
    font-family: 'Trebuchet MS';
    font-size: 22px;
    color: #31baef;
}

.hotelInfo {
    float: left;
    min-height: 80px;
    margin-left: 0px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ebebeb;
}

.divTituloQuote {
    text-align: left;
    min-height: 10px;
    width: 100%;
}

.spanHotelInfo {
    font-family: 'Trebuchet MS';
    font-size: 14px;
    color: #31baef;
    font-weight: bold;
    margin-left: 370px;
    float: left;
}

    .spanHotelInfo ul {
        margin-left: 0;
    }

        .spanHotelInfo ul li {
            font-family: 'Lato', Helvetica, Arial, sans-serif;
            font-size: 16px;
            color: #31baef;
            font-weight: 400;
            line-height: 20px;
            list-style: none;
            text-align: left;
        }

#lblFlight, #lblHora {
    color: black;
    font-weight: bold;
    font-size: smaller;
}

.td100px td {
    width: 100px;
}
 
#divBaseRange{
    float:left;
    width:100px;
    height:0;
}

.spanTituloBases {
    font-family: 'Trebuchet MS';
    font-size: 12px;
    color: #31baef;
    font-weight: bold;
}

.spanBases {
    font-family: 'Trebuchet MS';
    font-size: 12px;
    color: #724c4c;
    font-weight: bold;
}

#divDescrGeral {
    float: left;
    /*width: 100%;*/
    min-height: 100px;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    padding-bottom: 20px;
}

#descrGeralImage {
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 350px;
}

#descrGeralTexto {
    float: right;
    width: 540px;
    text-align: left;
    vertical-align: top;
    padding-left: 20px;
    font-size: 14px;
    color: #414141;
    padding-top: 20px;
}

#lblNomePacote {
    font-weight: bold;
    font-size: small;
}

.divHotel {
    float: left;
    width: 100%;
    min-height: 100px;
    padding-bottom: 50px;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
}

.divDescricaoHotel {
    float: left;
    width: 74%;
    height: auto;
}

.divGrupoAmenities {
    padding-bottom: 20px;
    padding-top: 20px;
    float: left;
    height: auto;
    width: 100%;
    border-bottom: dashed #d6d6d6;
    border-width: 1px 0;
}

.divAmenities {
    float: left;
    width: 69.5%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid #dddddd;
}

.divIcone {
    float: left;
    height: 40px;
    padding-top: 5px;
    width: 31%;
    padding-left: 1%;
    margin: 2px;
}

    .divIcone img {
        height: 20px;
    }

.divImagemHotel {
    float: left;
    width: 25%;
    height: 200px;
}

.ImageHotel {
    float: left;
    width: 230px !important;
    height: 204px !important;
    padding: 4px;
    background-color: #fff;
    vertical-align: middle;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.imgMeal {
    height: 30px;
}

#divRates {
    float: left;
    margin-top: 5px;
    padding-bottom: 20px;
}

#DataListRates {
    width: 739px;
}

    #DataListRates > div {
        height: auto;
        width: 914px;
        padding: 20px;
        border: thin dashed #d6d6d6;
    }

        #DataListRates > div > span {
            font-size: 10px;
            color: #724c4c;
        }

#divPrices {
    padding: 20px;
    width: 888px;
    height: auto;
    border: thin dashed #d6d6d6;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
}

#trPrice {
    border-bottom: 1px solid #dddddd;
    height: 40px;
}

#trInfoPrice {
    height: 40px;
}

#tdPrice {
    width: 400px;
    font-size: 16px;
    font-weight: bold;
}

#tdBasePrice {
    width: 300px;
    font-weight: bold;
}

#tdNotes {
    width: 180px;
}

.imgPrincipal {
    float: left;
    height: 252px !important;
    width: 323px !important;
    padding: 4px;
    vertical-align: middle;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.imgIcone {
    height: 50px;
    max-width: 50px !important;
}

.textCidade {
    width: 100%;
    font-style: italic;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #31baef;
}

.divGrupoNome {
    float: left;
    width: 30%;
    height: 100%;
    font-weight: bold;
    font-size: 16px;
}

#divFlights{
    width:100%;
    margin-top:20px;
    float:left;
    height:auto;
}

.HyperLink{
    color:#428bca;
    text-decoration:none;
}