﻿

/* ==========================================================================
   South America . TRAVEL 
	by
   DNA Design Studio 
	font-family: 'Lato', arial, sans-serif;

	font weights available
	400 / italic
	700 / italic
	900





   ========================================================================== */

/****** STRUCTURE COMMONS ***/
.wrapper {
    width: 980px;
    margin: 0 auto;
}

.spacer30 {
    padding-top: 30px;
}

.marb40 {
    margin-bottom: 40px;
}

.mar40 {
    padding: 200px;
}

h2.logo {
    float: left;
    background: url('../../images/itinerary/sprites.png') no-repeat -8px -40px;
    width: 318px;
    height: 98px;
    text-indent: -9999px;
    margin: 8px 0px 0px 9px;
    padding: 0px;
}

hr.kill {
    background: none;
    border: 0;
    clear: both;
    display: block;
    float: none;
    font-size: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

hr.dash {
    border: dashed #d6d6d6;
    border-width: 1px 0 0;
    height: 0px;
}

hr.dash2 {
    border: dashed #d6d6d6;
    border-width: 1px 0 0;
    padding: 20px 0px;
    height: 1px;
}



.rightdash {
    border-right: 1px dashed #d6d6d6;
}

a.infobut {
    background: #31baef;
    font-size: 11px;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px 15px;
    text-align: center;
    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear;
}

    a.infobut:hover {
        background: #333;
        -webkit-transition: background 0.2s linear;
        -moz-transition: background 0.2s linear;
        -o-transition: background 0.2s linear;
        transition: background 0.2s linear;
    }


/********** TEXTOS ************/
.t10 {
    font-size: 10px;
}

.t11 {
    font-size: 11px;
}

.t12 {
    font-size: 12px;
}

.t13 {
    font-size: 13px;
}

.t14 {
    font-size: 14px;
}

.t16 {
    font-size: 16px;
}

.t18 {
    font-size: 18px;
}

.t24 {
    font-size: 24px;
}

.t26 {
    font-size: 26px;
}

.t30 {
    font-size: 30px;
}

.t40 {
    font-size: 40px;
}



.gray {
    color: #3f3f3f;
}

.lightgray {
    color: #727272;
}

.cele {
    color: #31baef;
}

.blanco {
    color: #FFF;
}

.pink {
    color: #e3204e;
}


.marginkiller {
    margin: 0px;
}

.margin10 {
    margin: 5px 0px;
}

.margin20 {
    margin: 10px 0px;
}

.margintop10 {
    margin-top: 10px;
}

.marginbottom10 {
    margin-bottom: 10px;
}

.marginbottom20 {
    margin-bottom: 20px;
}



.normal {
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

.strong {
    font-weight: 900;
}



.upper {
    text-transform: uppercase;
}

.underline {
    text-decoration: underline;
}

.italic {
    font-style: italic;
}


.line1 {
    line-height: 1em;
}

.line05 {
    line-height: 0.5em;
}

.line03 {
    line-height: 0.3em;
}

.line02 {
    line-height: 0.2em;
}

.line01 {
    line-height: 0.01em;
}

.line12 {
    line-height: 1.2em;
}

.line15 {
    line-height: 1.5em;
}

.line2 {
    line-height: 2em;
}



/* Social media NAV aside */

.graysocial {
    width: 100%;
    height: 34px;
    background: #babcc3;
    color: #FFF;
    font-size: 10px;
    text-transform: uppercase;
}

img.face {
    background: url('../../images/itinerary/sprites.png') no-repeat -12px -9px;
    width: 9px;
    height: 16px;
    margin: 7px 5px 7px 15px;
}

img.tw {
    background: url('../../images/itinerary/sprites.png') no-repeat -35px -9px;
    width: 22px;
    height: 16px;
    margin: 7px 5px;
}

img.plus1 {
    background: url('../../images/itinerary/sprites.png') no-repeat -68px -9px;
    width: 18px;
    height: 16px;
    margin: 7px 5px;
}

img.in {
    background: url('../../images/itinerary/sprites.png') no-repeat -102px -7px;
    width: 18px;
    height: 18px;
    margin: 7px 5px;
}

img.pinterest {
    background: url('../../images/itinerary/sprites.png') no-repeat -133px -7px;
    width: 20px;
    height: 20px;
    margin: 7px 5px;
}

img.rss {
    background: url('../../images/itinerary/sprites.png') no-repeat -167px -9px;
    width: 16px;
    height: 17px;
    margin: 8px 12px 9px 10px;
}

a.rss {
    background: #a7a9ae;
    display: inline-block;
    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear;
}

    a.rss:hover {
        background: #222;
        -webkit-transition: background 0.2s linear;
        -moz-transition: background 0.2s linear;
        -o-transition: background 0.2s linear;
        transition: background 0.2s linear;
    }

a.login {
    background: #60c683;
    font-size: 11px;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0px;
    float: right;
    height: 22px;
    padding: 6px 12px;
    text-align: center;
    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear;
}

    a.login:hover {
        background: #489261;
        font-size: 11px;
        color: #FFF;
        text-decoration: none;
        text-transform: uppercase;
        margin: 0px;
        -webkit-transition: background 0.2s linear;
        -moz-transition: background 0.2s linear;
        -o-transition: background 0.2s linear;
        transition: background 0.2s linear;
    }

a.lan {
    background: #252524;
    font-size: 11px;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0px;
    float: right;
    padding: 6px 11px 8px 11px;
    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear;
}

    a.lan:hover {
        background: #414141;
        font-size: 11px;
        color: #FFF;
        text-decoration: none;
        text-transform: uppercase;
        margin: 0px;
        display: inline-block;
        -webkit-transition: background 0.2s linear;
        -moz-transition: background 0.2s linear;
        -o-transition: background 0.2s linear;
        transition: background 0.2s linear;
    }

/******************** top nav */

.graybar {
    width: 100%;
    height: 35px;
    background: #f0f1f4;
    border-bottom: 1px solid #d8dde1;
}

.menu1 {
}

    .menu1 ul, li {
        list-style-type: none;
    }

    .menu1 ul {
        margin: 0;
        padding: 0;
    }

    .menu1 li {
        float: left;
    }

    .menu1 a {
        text-decoration: none;
        font-size: 10px;
        font-weight: 700;
        text-transform: uppercase;
        color: #000;
        display: block;
        padding: 9px 29px 0px 8px;
        text-align: center;
        -webkit-transition: color 0.2s linear;
        -moz-transition: color 0.2s linear;
        -o-transition: color 0.2s linear;
        transition: color 0.2s linear;
    }

        .menu1 a:hover {
            color: #31baef;
            -webkit-transition: color 0.2s linear;
            -moz-transition: color 0.2s linear;
            -o-transition: color 0.2s linear;
            transition: color 0.2s linear;
        }



/* search modulo */
#search {
    max-width: 390px;
    float: right;
}

p.search {
    background: url('../../images/itinerary/sprites.png') #252524 no-repeat -320px -1px;
    font-size: 10px;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0px;
    padding: 7px 19px 8px 12px;
    float: left;
}

input.search {
    background: #FFF;
    padding: 10px;
    width: 200px;
    font-style: italic;
    color: #3f3f3f;
    font-size: 11px;
    height: 15px;
    border: none;
}

button.search {
    background: #31baef;
    font-size: 11px;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0px;
    padding: 7px 14px 8px 14px;
    border: 0px;
    float: right;
}

    button.search:hover {
        background: #333;
        -webkit-transition: background 0.2s linear;
        -moz-transition: background 0.2s linear;
        -o-transition: background 0.2s linear;
        transition: background 0.2s linear;
    }

/* call and customize */

.headbox {
    padding: 18px 15px;
    background: #fafafa;
    border: 1px solid #e6e6e6;
    float: right;
    margin: 23px 0px 0px 13px;
}

    .headbox a:hover {
        text-decoration: none;
    }

.footbox {
    padding: 18px 15px;
    background: #fafafa;
    border: 1px solid #e6e6e6;
    float: right;
    margin: 0px 0px 0px 13px;
}

.smallbox {
    width: 30px;
    height: 20px;
    background: #fff;
    padding: 4px 3px 6px 3px;
    border: 1px solid #d8d8d8;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}



img.avion {
    background: url('../../images/itinerary/sprites.png') no-repeat -425px -6px;
    width: 28px;
    height: 20px;
    margin: 0px 0px 3px 3px;
}

img.arflag {
    background: url('../../images/itinerary/sprites.png') no-repeat -8px -154px;
    width: 28px;
    height: 20px;
    margin: 0px 0px 3px 3px;
}

a.customtripbtn, span.customtripbtn {
    background: #31baef;
    font-size: 11px;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 7px;
    padding: 8px 10px;
    text-align: center;
    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear;
}

    a.customtripbtn:hover, span.customtripbtn:hover {
        background: #333;
        -webkit-transition: background 0.2s linear;
        -moz-transition: background 0.2s linear;
        -o-transition: background 0.2s linear;
        transition: background 0.2s linear;
        text-decoration: none;
    }

a.callus {
    background: #777777;
    font-size: 11px;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 7px;
    padding: 8px 15px;
    text-align: center;
    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear;
}

    a.callus:hover {
        background: #333;
        -webkit-transition: background 0.2s linear;
        -moz-transition: background 0.2s linear;
        -o-transition: background 0.2s linear;
        transition: background 0.2s linear;
    }

.phonenumber {
    color: #575757;
    font-size: 18px;
    font-weight: 400;
    margin-right: 15px;
    margin-top: 0px;
    float: left;
}


/********** main nav ***************/
.naveback {
    background: url('../../images/itinerary/sprites.png') repeat-x 0 -179px;
    height: 50px;
    margin-top: 14px;
}

.mainmenu {
    width: 980px;
    margin: 0 auto;
}

    .mainmenu ul, li {
        list-style-type: none;
    }

    .mainmenu ul {
        margin: 0;
        padding: 0;
    }

    .mainmenu li {
        display: inline-block;
        margin-left: -3px;
        background: url('../img/sep.png') no-repeat;
        background-position: right bottom;
    }

.mainmenux li {
    float: left;
    background: #444;
}

.mainmenu a {
    text-decoration: none;
    color: #d9d9d9;
    text-transform: uppercase;
    font-size: 10px;
    display: block;
    padding: 13px 12px 25px 11px;
    margin-right: 1px;
    text-align: center;
}

    .mainmenu a:hover {
        color: #DBEBF6;
    }

.les1 a {
    border-top: 5px solid #b2b2b2;
    height: 5px;
    -webkit-transition: border 0.2s linear, color 0.2s linear;
    -moz-transition: color border 0.2s linear, color 0.2s linear;
    -o-transition: color border 0.2s linear, color 0.2s linear;
    transition: border 0.2s linear, color 0.2s linear;
}

    .les1 a:hover {
        border-top: 5px solid #d9d9d9;
        height: 5px;
        color: #FFF;
        -webkit-transition: border 0.2s linear, color 0.2s linear;
        -moz-transition: color border 0.2s linear, color 0.2s linear;
        -o-transition: color border 0.2s linear, color 0.2s linear;
        transition: border 0.2s linear, color 0.2s linear;
    }

.les1activo a {
    border-top: 5px solid #d9d9d9;
    color: #252525;
    background: #d9d9d8;
    -webkit-transition: border 0.2s linear, color 0.2s linear;
    -moz-transition: color border 0.2s linear, color 0.2s linear;
    -o-transition: color border 0.2s linear, color 0.2s linear;
    transition: border 0.2s linear, color 0.2s linear;
}

.les2 a {
    border-top: 5px solid #83b7c9;
    height: 5px;
    -webkit-transition: border 0.2s linear, color 0.2s linear;
    -moz-transition: color border 0.2s linear, color 0.2s linear;
    -o-transition: color border 0.2s linear, color 0.2s linear;
    transition: border 0.2s linear, color 0.2s linear;
}

    .les2 a:hover {
        border-top: 5px solid #b4e0ef;
        height: 5px;
        color: #b4e0ef;
        -webkit-transition: border 0.2s linear, color 0.2s linear;
        -moz-transition: color border 0.2s linear, color 0.2s linear;
        -o-transition: color border 0.2s linear, color 0.2s linear;
        transition: border 0.2s linear, color 0.2s linear;
    }

.les2activo a {
    border-top: 5px solid #b4e0ef;
    height: 5px;
    color: #252525;
    background: #d9d9d8;
    -webkit-transition: border 0.2s linear, color 0.2s linear;
    -moz-transition: color border 0.2s linear, color 0.2s linear;
    -o-transition: color border 0.2s linear, color 0.2s linear;
    transition: border 0.2s linear, color 0.2s linear;
}

.les3 a {
    border-top: 5px solid #60c683;
    height: 5px;
    -webkit-transition: border 0.2s linear, color 0.2s linear;
    -moz-transition: color border 0.2s linear, color 0.2s linear;
    -o-transition: color border 0.2s linear, color 0.2s linear;
    transition: border 0.2s linear, color 0.2s linear;
}

    .les3 a:hover {
        border-top: 5px solid #8ef8b2;
        height: 5px;
        color: #8ef8b2;
        -webkit-transition: border 0.2s linear, color 0.2s linear;
        -moz-transition: color border 0.2s linear, color 0.2s linear;
        -o-transition: color border 0.2s linear, color 0.2s linear;
        transition: border 0.2s linear, color 0.2s linear;
    }

.les3activo a {
    border-top: 5px solid #8ef8b2;
    height: 5px;
    color: #252525;
    background: #d9d9d8;
    -webkit-transition: border 0.2s linear, color 0.2s linear;
    -moz-transition: color border 0.2s linear, color 0.2s linear;
    -o-transition: color border 0.2s linear, color 0.2s linear;
    transition: border 0.2s linear, color 0.2s linear;
}

.les4 a {
    border-top: 5px solid #bb426b;
    height: 5px;
    -webkit-transition: border 0.2s linear, color 0.2s linear;
    -moz-transition: color border 0.2s linear, color 0.2s linear;
    -o-transition: color border 0.2s linear, color 0.2s linear;
    transition: border 0.2s linear, color 0.2s linear;
}

    .les4 a:hover {
        border-top: 5px solid #f56294;
        height: 5px;
        color: #f56294;
        -webkit-transition: border 0.2s linear, color 0.2s linear;
        -moz-transition: color border 0.2s linear, color 0.2s linear;
        -o-transition: color border 0.2s linear, color 0.2s linear;
        transition: border 0.2s linear, color 0.2s linear;
    }

.les4activo a {
    border-top: 5px solid #f56294;
    height: 5px;
    color: #252525;
    background: #d9d9d8;
    -webkit-transition: border 0.2s linear, color 0.2s linear;
    -moz-transition: color border 0.2s linear, color 0.2s linear;
    -o-transition: color border 0.2s linear, color 0.2s linear;
    transition: border 0.2s linear, color 0.2s linear;
}

.les5 a {
    border-top: 5px solid #a46ca3;
    height: 5px;
    -webkit-transition: border 0.2s linear, color 0.2s linear;
    -moz-transition: color border 0.2s linear, color 0.2s linear;
    -o-transition: color border 0.2s linear, color 0.2s linear;
    transition: border 0.2s linear, color 0.2s linear;
}

    .les5 a:hover {
        border-top: 5px solid #d58ed4;
        height: 5px;
        color: #d58ed4;
        -webkit-transition: border 0.2s linear, color 0.2s linear;
        -moz-transition: color border 0.2s linear, color 0.2s linear;
        -o-transition: color border 0.2s linear, color 0.2s linear;
        transition: border 0.2s linear, color 0.2s linear;
    }

.les5activo a {
    border-top: 5px solid #d58ed4;
    height: 5px;
    color: #252525;
    background: #d9d9d8;
    -webkit-transition: border 0.2s linear, color 0.2s linear;
    -moz-transition: color border 0.2s linear, color 0.2s linear;
    -o-transition: color border 0.2s linear, color 0.2s linear;
    transition: border 0.2s linear, color 0.2s linear;
}

.les6 a {
    border-top: 5px solid #23436e;
    height: 5px;
    -webkit-transition: border 0.2s linear, color 0.2s linear;
    -moz-transition: color border 0.2s linear, color 0.2s linear;
    -o-transition: color border 0.2s linear, color 0.2s linear;
    transition: border 0.2s linear, color 0.2s linear;
}

    .les6 a:hover {
        border-top: 5px solid #3f73b8;
        height: 5px;
        color: #3f73b8;
        -webkit-transition: border 0.2s linear, color 0.2s linear;
        -moz-transition: color border 0.2s linear, color 0.2s linear;
        -o-transition: color border 0.2s linear, color 0.2s linear;
        transition: border 0.2s linear, color 0.2s linear;
    }

.les6activo a {
    border-top: 5px solid #3f73b8;
    height: 5px;
    color: #252525;
    background: #d9d9d8;
    -webkit-transition: border 0.2s linear, color 0.2s linear;
    -moz-transition: color border 0.2s linear, color 0.2s linear;
    -o-transition: color border 0.2s linear, color 0.2s linear;
    transition: border 0.2s linear, color 0.2s linear;
}

.les7 a {
    border-top: 5px solid #c15154;
    height: 5px;
    -webkit-transition: border 0.2s linear, color 0.2s linear;
    -moz-transition: color border 0.2s linear, color 0.2s linear;
    -o-transition: color border 0.2s linear, color 0.2s linear;
    transition: border 0.2s linear, color 0.2s linear;
}

    .les7 a:hover {
        border-top: 5px solid #eb696d;
        height: 5px;
        color: #eb696d;
        -webkit-transition: border 0.2s linear, color 0.2s linear;
        -moz-transition: color border 0.2s linear, color 0.2s linear;
        -o-transition: color border 0.2s linear, color 0.2s linear;
        transition: border 0.2s linear, color 0.2s linear;
    }

.les7activo a {
    border-top: 5px solid #eb696d;
    height: 5px;
    color: #252525;
    background: #d9d9d8;
    -webkit-transition: border 0.2s linear, color 0.2s linear;
    -moz-transition: color border 0.2s linear, color 0.2s linear;
    -o-transition: color border 0.2s linear, color 0.2s linear;
    transition: border 0.2s linear, color 0.2s linear;
}

.les8 a {
    border-top: 5px solid #f8bb0e;
    height: 5px;
    -webkit-transition: border 0.2s linear, color 0.2s linear;
    -moz-transition: color border 0.2s linear, color 0.2s linear;
    -o-transition: color border 0.2s linear, color 0.2s linear;
    transition: border 0.2s linear, color 0.2s linear;
}

    .les8 a:hover {
        border-top: 5px solid #ffdb74;
        height: 5px;
        color: #ffdb74;
        -webkit-transition: border 0.2s linear, color 0.2s linear;
        -moz-transition: color border 0.2s linear, color 0.2s linear;
        -o-transition: color border 0.2s linear, color 0.2s linear;
        transition: border 0.2s linear, color 0.2s linear;
    }

.les8activo a {
    border-top: 5px solid #ffdb74;
    height: 5px;
    color: #252525;
    background: #d9d9d8;
    -webkit-transition: border 0.2s linear, color 0.2s linear;
    -moz-transition: color border 0.2s linear, color 0.2s linear;
    -o-transition: color border 0.2s linear, color 0.2s linear;
    transition: border 0.2s linear, color 0.2s linear;
}

.les9 a {
    border-top: 5px solid #b2b2b2;
    height: 5px;
    -webkit-transition: border 0.2s linear, color 0.2s linear;
    -moz-transition: color border 0.2s linear, color 0.2s linear;
    -o-transition: color border 0.2s linear, color 0.2s linear;
    transition: border 0.2s linear, color 0.2s linear;
}

    .les9 a:hover {
        border-top: 5px solid #e7e7e7;
        height: 5px;
        color: #e7e7e7;
        -webkit-transition: border 0.2s linear, color 0.2s linear;
        -moz-transition: color border 0.2s linear, color 0.2s linear;
        -o-transition: color border 0.2s linear, color 0.2s linear;
        transition: border 0.2s linear, color 0.2s linear;
    }

.les9activo a {
    border-top: 5px solid #e7e7e7;
    height: 5px;
    color: #252525;
    background: #d9d9d8;
    -webkit-transition: border 0.2s linear, color 0.2s linear;
    -moz-transition: color border 0.2s linear, color 0.2s linear;
    -o-transition: color border 0.2s linear, color 0.2s linear;
    transition: border 0.2s linear, color 0.2s linear;
}

img.sepl {
    display: inline-block;
    margin-top: -10px;
}

/* HERO SLIDESHOW */

.hero {
    width: 100%;
    height: 597px;
    background: url(../img/herofake.jpg) top center;
}


/* big overs */

a.freebook {
    float: left;
    border: 0px;
    margin: 0px;
    width: 489px;
    height: 107px;
    background: url('../../images/itinerary/sprites.png') no-repeat -8px -243px;
}

.freebook:hover {
    background: url('../../images/itinerary/sprites.png') no-repeat -8px -370px;
}

.freebook span {
    position: absolute;
    top: -999em;
}

a.freeguide {
    float: left;
    background: url('../../images/itinerary/sprites.png') no-repeat -507px -243px;
    width: 489px;
    height: 107px;
}

.freeguide:hover {
    background: url('../../images/itinerary/sprites.png') no-repeat -507px -370px;
    width: 489px;
    height: 107px;
}

.freeguide span {
    position: absolute;
    top: -999em;
}



/* dreams vacation :*/
.customize {
    margin: 40px 0px;
}

.customapp {
    width: 920px;
    margin: 20px 0px;
    border: 1px dashed #d6d6d6;
    padding: 10px;
}

/* special home */

.special {
    background: url(../img/special.jpg) top left no-repeat;
    display: block;
    width: 483px;
    height: 311px;
    position: relative;
}

.specialbox {
    position: relative;
    background: url(../img/celtrans.png) top left repeat;
    width: 100px;
    padding: 20px;
    color: #FFF;
    top: 150px;
    left: 20px;
    text-align: center;
}

a.specialbtn {
    background: #FFF;
    font-size: 11px;
    color: #049ad5;
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px 15px;
    text-align: center;
    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear;
}

    a.specialbtn:hover {
        background: #333;
        -webkit-transition: background 0.2s linear;
        -moz-transition: background 0.2s linear;
        -o-transition: background 0.2s linear;
        transition: background 0.2s linear;
    }

a.bigbut {
    background: #00bdff;
    font-size: 24px;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    display: block;
    padding: 20px 0px;
    text-align: center;
    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear;
}

    a.bigbut:hover {
        background: #008fc1;
        -webkit-transition: background 0.2s linear;
        -moz-transition: background 0.2s linear;
        -o-transition: background 0.2s linear;
        transition: background 0.2s linear;
    }

/* map part */

.mapcol1 {
    border: 1px solid #e6e6e6;
    width: 455px;
    float: left;
    padding: 20px 16px;
    height: 150px;
}

.mapcol2 {
    border: 1px solid #e6e6e6;
    border-left: none;
    width: 455px;
    float: left;
    padding: 20px 16px;
    height: 150px;
}






/********* Footer */
.grayfoot {
    width: 100%;
    height: 31px;
    background: #777;
    color: #FFF;
    font-size: 10px;
    text-transform: uppercase;
    margin-top: 65px;
    padding-top: 10px;
}

.secgray {
    width: 100%;
    margin-left: 23px;
    background: #f4f4f4;
    color: #333333;
    font-size: 11px;
    padding: 20px 0px 40px 0px;
}

h6.logo {
    float: left;
    background: url('../../images/itinerary/sprites.png') no-repeat -363px -82px;
    width: 194px;
    height: 60px;
    text-indent: -9999px;
    margin: 0px 0px 0px 10px;
    padding: 0px;
}

.foocol {
    width: 194px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}


a.peru {
    background: url('../../images/itinerary/sprites.png') no-repeat -499px -486px;
    width: 123px;
    height: 86px;
    text-indent: -9999px;
    display: inline-block;
}

a.brasil {
    background: url('../../images/itinerary/sprites.png') no-repeat -392px -495px;
    width: 107px;
    height: 76px;
    text-indent: -9999px;
    display: inline-block;
    margin: 10px 0px 0px 16px;
}

a.argentina {
    background: url('../../images/itinerary/sprites.png') no-repeat -260px -495px;
    width: 110px;
    height: 68px;
    text-indent: -9999px;
    display: inline-block;
    margin: 8px 0px 0px 8px;
}

a.asta {
    background: url('../../images/itinerary/sprites.png') no-repeat -153px -491px;
    width: 78px;
    height: 77px;
    text-indent: -9999px;
    display: inline-block;
    margin: 5px 0px 0px 29px;
}

a.bbb {
    background: url('../../images/itinerary/sprites.png') no-repeat -33px -492px;
    width: 71px;
    height: 75px;
    text-indent: -9999px;
    display: inline-block;
    margin: 7px 0px 0px 29px;
}

a.icon {
    font-size: 18px !important;
    text-decoration: none !important;
    color: #FFF !important;
    padding: 8px 7px 5px 7px !important;
    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    transition: color 0.2s linear;
}

    a.icon:hover {
        text-decoration: none;
        color: #31baef !important;
        -webkit-transition: color 0.2s linear;
        -moz-transition: color 0.2s linear;
        -o-transition: color 0.2s linear;
        transition: color 0.2s linear;
    }


.staron {
    color: #f58141;
}


.footy ul, li {
    list-style-type: none;
}

.footy ul {
    margin: 0;
    padding: 0;
}

.footy li {
    text-align: center;
}

.footy a {
    text-decoration: none;
    font-size: 11px;
    font-weight: 400;
    font-style: italic;
    color: #333;
    padding: 9px 29px 0px 8px;
    text-align: center;
    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    transition: color 0.2s linear;
}

    .footy a:hover {
        color: #31baef;
        -webkit-transition: color 0.2s linear;
        -moz-transition: color 0.2s linear;
        -o-transition: color 0.2s linear;
        transition: color 0.2s linear;
    }

.copyl {
    float: left;
    width: 400px;
    font-size: 10px;
    font-style: italic;
    color: #333;
}

.copyr {
    float: right;
    text-align: right;
    width: 400px;
    font-size: 10px;
    font-style: italic;
    color: #333333;
}

    .copyr a {
        color: #333333;
        text-decoration: none;
        -webkit-transition: color 0.2s linear;
        -moz-transition: color 0.2s linear;
        -o-transition: color 0.2s linear;
        transition: color 0.2s linear;
    }

        .copyr a:hover {
            color: #a70000;
            text-decoration: none;
            -webkit-transition: color 0.2s linear;
            -moz-transition: color 0.2s linear;
            -o-transition: color 0.2s linear;
            transition: color 0.2s linear;
        }

.foos {
    padding: 10px 0px;
}




/******** Country Landing ****/

.countrylandhead {
    position: relative;
    width: 909px;
    height: 455px;
    padding: 35px;
    margin-bottom: 30px;
}

.whitetrans {
    background: url(../img/whitetrans.png);
    float: left;
    position: relative;
    top: 140px;
    width: 485px;
    padding: 30px;
    min-height: 158px;
}

.celetrans {
    background: url(../img/celetrans.png);
    float: right;
    position: relative;
    top: 140px;
    width: 172px;
    padding: 30px;
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
    min-height: 158px;
}

.flagbox {
    padding: 3px;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 0px 3px;
}

.dashedbox {
    border-top: 1px dashed #d6d6d6;
    border-bottom: 1px dashed #d6d6d6;
    padding: 5px 0px;
    margin: 10px 0px;
    vertical-align: center;
}

.box3l {
    border: 1px solid #e6e6e6;
    width: 460px;
    float: left;
    padding: 20px 16px;
    background: #fafafa;
    min-height: 320px;
}

.box3r {
    border: 1px solid #e6e6e6;
    border-left: none;
    width: 460px;
    float: left;
    min-height: 360px;
}

.boxcont {
    padding: 15px;
}

hr.solid {
    border: solid #e6e6e6;
    border-width: 1px 0 0;
    height: 0px;
    margin: 0px!important;
}


.pricebox {
    background: #33caff;
    width: 100%;
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
    font-size: 24px;
    padding: 30px 0px;
}

.quickcontact {
    border: 1px solid #e6e6e6;
    width: 100%;
    background: #fafafa;
    min-height: 340px;
}

.sharing {
    float: right;
    width: 450px;
    clear: both;
}

.highlight ul, li {
    list-style-type: none;
}

.highlight ul {
    margin: 0;
    padding: 0;
}

.highlight li {
    color: #31baef;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
}



.box4a {
    background: #19c3ff;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
}

.box4b {
    background: #fcfcfc;
    color: #7dd7f9;
    text-transform: uppercase;
    text-align: center;
}

.desctable {
    border: 1px solid #e6e6e6;
    margin: 0px;
    padding: 15px;
    vertical-align: top;
}




/*TABLA DE PRECIOS*/
.pricehead1 {
    background: #9a9a9a;
    color: #FFF;
    font-size: 24px;
    text-transform: uppercase;
    padding: 20px 10px;
}

.pricehead2 {
    background: #31baef;
    color: #FFF;
    font-size: 24px;
    text-transform: uppercase;
    padding: 20px 10px;
}

.pricecont1 {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    color: #9a9a9a;
}

.pricecont1a {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    color: #31baef;
}

.pricecont2 {
    padding: 10px;
    border-bottom: 1px dashed #ddd;
    color: #9a9a9a;
}

.pricecont3 {
    padding: 10px;
    color: #9a9a9a;
}



.lista li {
    list-style-type: disc;
    border-bottom: 1px dotted #eee;
}

img.iconhotel {
    width: 20px;
    margin-top: -3px;
}

.hotelitem td {
    padding-top: 5px !important;
}

.ifram {
    width: 100%;
    height: 600px;
    border: none;
}

.ItineraryDetails {
    text-align: left;
}

.ItineraryHead {
    margin-left: 367px;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #31baef;
    font-weight: 400;
    line-height: 20px;
}
