﻿@model DAL.Entity.Cliente

<form role="form" id="form-cliente" method="post" action="javascript:func()">

    <input type="hidden" id="idcliente" name="Cliente_id" value="@Model.Cliente_id" />

    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <label for="txtNomeCliente">Nome Cliente</label>
                <input id="txtNomeCliente" type="text" name="Cliente_nome" class="form-control" placeholder="Nome do Cliente" required="required" value="@Model.Cliente_nome" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <label for="txtEndCliente">Endereço Cliente</label>
                <textarea id="txtEndCliente" class="form-control" name="Cliente_endereco" placeholder="Endereço Cliente">@Model.Cliente_endereco</textarea>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <label for="txtSiteCliente">Site Cliente</label>
                <input id="txtSiteCliente" type="text" name="Cliente_http" class="form-control" placeholder="Site do Cliente" value="@Model.Cliente_nome" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <label for="txtCepCliente">Cep</label>
                <input id="txtCepCliente" type="text" name="Cliente_cep" class="form-control" placeholder="Cep do Cliente" value="@Model.Cliente_cep" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <label for="txtTelCliente">Telefone Cliente</label>
                <input id="txtTelCliente" type="text" name="Cliente_telefone" class="form-control" placeholder="Telefone do Cliente" value="@Model.Cliente_telefone" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <label for="txtFaxCliente">Fax Cliente</label>
                <input id="txtFaxCliente" type="text" name="Cliente_fax" class="form-control" placeholder="Fax do Cliente" value="@Model.Cliente_fax" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <label for="txtEmailCliente">Email Cliente</label>
                <input id="txtEmailCliente" type="email" name="Cliente_email" class="form-control" placeholder="Email do Cliente" required="required" value="@Model.Cliente_email" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2">
                <input id="btnSalvarCliente" type="submit" class="btn btn-primary" title="Salvar" value="Salvar" style="border-radius:0px;" />
            </div>
            <div class="col-md-1">                
                <input id="btnNovoCliente" type="button" class="btn btn-primary" title="Novo" value="Novo" style="border-radius:0px;" />
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <label>Since</label>
                <input id="txtSinceCliente" name="Cliente_since" type="date" class="form-control" value="@Model.Cliente_since" />
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-12">
                <label for="ddlRepresentanteCliente">Representante</label>
                <select id="ddlRepresentanteCliente" class="form-control" name="Representante_id">
                    <option value="0">Selecione</option>
                    @foreach (var item in ViewBag.CliRepresentante)
                    {
                    <option value="@item.Cliente_id">@item.Cliente_nome</option>
                    }
                </select>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-12">
                <label for="ddlCentroCustoCliente">Centro Custo</label>
                <select id="ddlCentroCustoCliente" class="form-control" name="CentroCusto_id">
                    <option value="0">Selecione</option>
                    @foreach (var item in ViewBag.CliCentroCusto)
                    {
                    <option value="@item.CentroCusto_id">@item.CentroCusto_nome</option>
                    }
                </select>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-12">
                <label for="ddlMercadoCliente">Mercado</label>
                <select id="ddlMercadoCliente" class="form-control" name="Mercado_id">
                    <option value="0">Selecione</option>
                    @foreach (var item in ViewBag.CliMercado)
                    {
                    <option value="@item.Mercado_id">@item.Mercado_nome</option>
                    }
                </select>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-12">
                <label for="ddlBaseTarifariaCliente">BaseTarifaria</label>
                <select id="ddlBaseTarifariaCliente" class="form-control" name="BaseTarifaria_id">
                    <option value="0">Selecione</option>
                    @foreach (var item in ViewBag.CliBaseTarifaria)
                    {
                    <option value="@item.BaseTarifaria_id">@item.BaseTarifaria_nome</option>
                    }
                </select>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-12">
                <label for="ddlPaisCliente">País</label>
                <select id="ddlPaisCliente" class="form-control" name="PAIS_id" onchange="ChangePaisCliente()">
                    <option value="0">Selecione</option>
                    @foreach (var item in ViewBag.CliPais)
                    {
                    <option value="@item.PAIS_id">@item.PAIS_nome</option>
                    }
                </select>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-12">
                <label for="ddlCidadeCliente">Cidade</label>
                <div id="dvddlCidadeCliente">
                    <select id="ddlCidadeCliente" class="form-control" name="CID_id">
                        <option value="0">Selecione</option>
                        @foreach (var item in ViewBag.CliCidade)
                        {
                        <option value="@item.CID_id">@item.CID_nome</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <br />

    </div>



</form>


<script type="text/javascript">

    if(@Model.Cliente_id != 0){

        $('#ddlRepresentanteCliente').val(@Model.Representante_id);
        $('#ddlCentroCustoCliente').val(@Model.CentroCusto_id);
        $('#ddlMercadoCliente').val(@Model.Mercado_id);
        $('#ddlBaseTarifariaCliente').val(@Model.BaseTarifaria_id);
        $('#ddlPaisCliente').val(@Model.PAIS_id);
        $('#ddlCidadeCliente').val(@Model.CID_id);
        //ChangePaisCliente();
    }

    function ChangePaisCliente() {
        $.get("@Url.Action("ObterCidadesDrop", "Cliente")", { idPais: $('#ddlPaisCliente').val() }, function (data) {
            $('#dvddlCidadeCliente').html(data);

            if(@Model.Cliente_id != 0){
                $('#ddlCidadeCliente').val();
            }
        });

    }

    $('#btnNovoCliente').click(function(){
        location.reload();
        //$('#form-cliente')[0].reset();
    });

    $('#form-cliente').submit(function(){
        $('#btnSalvarCliente').html('Aguarde...');
        $('#btnSalvarCliente').attr("disabled", "disabled");

        var mod = $(this).serialize();
        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        var url = "";
        if($('#idcliente').val() == 0){
            url = "@Url.Action("SalvarCliente", "Cliente")";
        }else{
            url = "@Url.Action("AtualizarCliente", "Cliente")";
        }

        $.ajax({
            url: url,
            data: mod,
            type: "POST",
            success: function (d) {
                if (d.success) {
                    var $toast = toastr["success"](d.message, "Prosoftware");
                    $toastlast = $toast;
                }
                else {
                    var $toast = toastr["error"](d.message, "Prosoftware");
                    $toastlast = $toast;
                }
                $('#btnSalvarCliente').removeAttr("disabled");
                $('#btnSalvarCliente').html('Salvar');
                $('#idcliente').val(d.cod);
                waitingDialog.hide();
                //$('#form-cliente')[0].reset();
            },
            error: function (XHR) {
                waitingDialog.hide(); alert(XHR);
            }
        });
    });

</script>