﻿
@if (ViewBag.MarkupCliente != null)
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Inicial</th>
                <th>Final</th>
                <th>Hotel</th>
                <th>Desc Hotel</th>
                <th>Serviço</th>
                <th>Desc Serviço</th>
                <th>Seasonal</th>
                <th>Meal</th>
                <th>Editar</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in ViewBag.MarkupCliente)
                {
                <tr>
                    <td>@string.Format("{0:dd/MM/yyyy}", item.Markup_dataInicial)</td>
                    <td>@string.Format("{0:dd/MM/yyyy}", item.Markup_dataFinal)</td>
                    <td>@item.Markup_hotel</td>
                    <td>@item.Markup_descontoHotel</td>
                    <td>@item.Markup_servico</td>
                    <td>@item.Markup_descontoServico</td>
                    <td>@item.Markup_seasonal</td>
                    <td>@item.Markup_meals</td>
                    <td>
                        <button type="button" value="@item.Markup_id" class="btn btn-xs btn-success ediatrmarkupcliente" title="Editar"><span class="glyphicon glyphicon-pencil"></span></button>
                        <button type="button" value="@item.Markup_id" class="btn btn-xs btn-danger deletarmarkupcliente" title="Deletar"><span class="glyphicon glyphicon-trash"></span></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


<script type="text/javascript">

    $('.ediatrmarkupcliente').click(function () {
        $.get("@Url.Action("ObterMarkupCliente_id", "Cliente")", { id: $(this).val() }, function (data) {
            $('#dvmarkupclienteadd').html(data);
            $('#modalMarkupCliente').modal();
        });
    });

    $('.deletarmarkupcliente').click(function () {
        var result = window.confirm('Deseja realmente excluir esse markup?');
        if (result == false) {
            e.preventDefault();
            return;
        };

        $.get("@Url.Action("DeletarMarkupCliente", "Cliente")", { id: $(this).val(), cliente: $('#txtNomeCliente').val() }, function (data) {
            $('#dvmarkupcliente').html(data);            
        });
    });

</script>