﻿@model IEnumerable<DAL.Entity.Cliente>


<table class="table table-bordered table-striped">

    <thead>

        <tr>
            <th class="small">Nome</th>
            <th class="small">País</th>
            <th class="small">Cidade</th>
            <th class="small">Editar</th>
        </tr>

    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td class="small" style="width: 200px;">@item.Cliente_nome</td>
                <td class="small" style="width: 20px;">@item.Pais.PAIS_nome</td>
                <td class="small">@item.Cidade.CID_nome</td>
                <td>
                    <button id="btnEditar" type="button" value='@item.CID_id°@item.Cliente_nome' class="btn btn-xs btn-success editarcliente" title="Editar"><span class="glyphicon glyphicon-pencil"></span></button>
                    <button id="btnDeletar" type="button" value='@item.CID_id°@item.Cliente_nome' class="btn btn-xs btn-danger deletarcliente" title="Deletar"><span class="glyphicon glyphicon-trash"></span></button>
                </td>
            </tr>
        }

    </tbody>

</table>

@if (ViewBag.Pages > 1)
{
    for (int i = 0; i < ViewBag.Pages; i++)
    {
        <input type="button" class="btn btn-default btnPag" value="@i" />
    }
}



<script type="text/javascript">

    $('.btnPag').click(function (e) {
        var pg = $(this).val();
        $.ajax({
            type: "GET",
            url: "@Url.Action("PagClientes", "Cliente")",
            data: { page: pg },
            success: function (data) {
                $('#lstclientes').html(data);
            },
            error: function (xhr) { alert('error'); }
        });
    });

</script>