﻿@model DAL.Entity.Cliente_Markup

<form role="form" id="form-markupCliente" method="post" action="javascript:func()">

    <input type="hidden" id="CodMarkupCliente" name="Markup_id" value="@Model.Markup_id" />
    <input type="hidden" id="CodClienteMk" name="Cliente_id" value="@Model.Cliente_id" />

    <div class="row">
        <div class="col-md-6">

            <div class="row">
                <div class="col-md-12">
                    <label for="txtMarkup_dataInicial">Data inicial</label>
                    <input id="txtMarkup_dataInicial" class="form-control" type="date" required name="Markup_dataInicial" value="@string.Format("{0:yyyy-MM-dd}", Model.Markup_dataInicial)" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <label for="txtMarkup_hotel">Markup Hotel</label>
                    <input id="txtMarkup_hotel" class="form-control" type="text" required name="Markup_hotel" value="@Model.Markup_hotel" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <label for="txtMarkup_servico">Markup serviço</label>
                    <input id="txtMarkup_servico" class="form-control" type="text" required name="Markup_servico" value="@Model.Markup_servico" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <label for="txtMarkup_seasonal">Markup seasonal</label>
                    <input id="txtMarkup_seasonal" class="form-control" type="text" required name="Markup_seasonal" value="@Model.Markup_seasonal" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-1">
                    <input id="btnSalvarMarkupCliente" type="submit" class="btn btn-primary" title="Salvar" value="Salvar" style="border-radius:0px;" />
                </div>
            </div>
        </div>

        <div class="col-md-6">

            <div class="row">
                <div class="col-md-12">
                    <label for="txtMarkup_dataFinal">Data final</label>
                    <input id="txtMarkup_dataFinal" class="form-control" type="date" required name="Markup_dataFinal"  value="@string.Format("{0:yyyy-MM-dd}", Model.Markup_dataFinal)" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <label for="txtMarkup_descontoHotel">Markup desconto hotel</label>
                    <input id="txtMarkup_descontoHotel" class="form-control" type="text" required name="Markup_descontoHotel" value="@Model.Markup_descontoHotel"/>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <label for="txtMarkup_descontoServico">Markup desconto serviço</label>
                    <input id="txtMarkup_descontoServico" class="form-control" type="text" required name="Markup_descontoServico" value="@Model.Markup_descontoServico" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <label for="txtMarkup_meals">Markup meals</label>
                    <input id="txtMarkup_meals" class="form-control" type="text" required name="Markup_meals" value="@Model.Markup_meals" />
                </div>
            </div>

        </div>
    </div>
</form>


<script type="text/javascript">

    $('#form-markupCliente').submit(function () {

        $('#btnSalvarMarkupCliente').html('Aguarde...');
        $('#btnSalvarMarkupCliente').attr("disabled", "disabled");

        var mod = $(this).serialize();
        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        var url = "";
        if ($('#CodMarkupCliente').val() == 0) {
            url = "@Url.Action("SalvarClienteMarkup", "Cliente")";
        }else{
            url = "@Url.Action("AtualizarClienteMarkup", "Cliente")";
        }

        $.ajax({
            url: url,
            data: mod,
            type: "POST",
            success: function (d) {
                if (d.success) {
                    var $toast = toastr["success"](d.message, "Prosoftware");
                    $toastlast = $toast;
                }
                else {
                    var $toast = toastr["error"](d.message, "Prosoftware");
                    $toastlast = $toast;
                }
                $('#btnSalvarMarkupCliente').removeAttr("disabled");
                $('#btnSalvarMarkupCliente').html('Salvar');

                ObterMarkups($('#txtNomeCliente').val());

                waitingDialog.hide();                
            },
            error: function (XHR) {
                waitingDialog.hide(); alert(XHR);
            }
        });
    });

   

</script>