﻿
@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/template.cshtml";
}

<section class="content-header">
    <h1>
        Clientes

        <small>Lista</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-group"></i>Clientes</a></li>
    </ol>
</section>

<section class="content">

    <div class="box">
        <div class="box-body">

            <div class="row">
                <div class="col-md-12">
                    <label for="txtProcurarClientes">Procurar</label>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
                        <input id="txtProcurarClientes" type="text" class="form-control" aria-describedby="basic-addon1" placeholder="Nome Cliente">
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="box box-primary">
        <div class="box-header with-border">
            <h4 id="tituloCliente">Cadastros</h4>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div><!-- /.box-header -->
        <div class="box-body">

            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab">Cliente</a></li>
                    <li><a href="#tab_2" data-toggle="tab">Markup</a></li>
                    <li><a href="#tab_3" data-toggle="tab">Contato</a></li>
                </ul>
                <div class="tab-content">

                    <div class="tab-pane active" id="tab_1">
                        <div class="row">
                            <div id="dvcliente">
                                @Html.Partial("_cliente_add", ViewData["cliente"])
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="tab_2">
                        <div class="row">
                            <div class="col-md-2">
                                <button id="btnAddMarkup" class="btn btn-success btn-sm" title="Adicionar Markup" style="border-radius:0px;">
                                    <i class="fa fa-plus" aria-hidden="true"></i> Adicionar Markup
                                </button>
                            </div>
                        </div>
                        <br />
                        <div id="dvmarkupcliente">
                        </div>
                    </div>

                    <div class="tab-pane" id="tab_3">

                    </div>


                </div>
            </div>

        </div>
    </div>
</section>


<div class="modal fade bs-example-modal-lg" id="modalMarkupCliente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Markup Cliente</h4>
            </div>

            <div class="modal-body">

               <div id="dvmarkupclienteadd">
                   @Html.Partial("_markupCliente_add", ViewData["markupcliente"])
               </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    $('#txtProcurarClientes').autocomplete({
        source: "@Url.Action("ObterClientes", "Cliente")",
        minLength: 3,
        select: function (e, ui) {
            $.get("@Url.Action("ObterCliente", "Cliente")", { cliente: ui.item.value }, function (data) {
                $('#dvcliente').html(data);
                $('#txtProcurarClientes').val("");
            });
            ObterMarkups(ui.item.value);
        }
    });

    function ObterMarkups(cli) {
        $.get("@Url.Action("ObterMarkupsCliente", "Cliente")", { cliente: cli }, function (data) {
            $('#dvmarkupcliente').html(data);
        });
    }

    $('#btnAddMarkup').click(function () {
        $.get("@Url.Action("ObterMarkupCliente_Empty", "Cliente")", function (data) {
            $('#dvmarkupclienteadd').html(data);
            $('#CodClienteMk').val($('#idcliente').val());
            $('#modalMarkupCliente').modal();
        });        
        //$('#modalMarkupCliente').modal();
    });

</script>
