﻿@model IEnumerable<DAL.Models.HoteisOmniModel>

<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <td>Id</td>
            <td>Hotel</td>
            <td>ID XML</td>
            <td>ID Tierra</td>
            <td>Plataforma</td>
            <td>Ações</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="mescH_@item.Id">
                <td>@item.Id</td>
                <td>@item.S_nome</td>
                <td>@item.SupplerId_Plataforma</td>
                <td>@item.SupplierId_Prosoftware</td>
                <td>@item.Plataforma_nome</td>
                <td><button class="btn btn-sm btn-danger" onclick="removerMesclagemHotel(@item.Id)"><i class="fa fa-remove"></i></button></td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">


    function removerMesclagemHotel(id) {
        waitingDialog.show('Removendo...', { dialogSize: 'sm', progressType: 'warning' });
        $.ajax({
            url: "@Url.Action("RemoverMesclagemHotel", "Mesclagem")",
            data: {
                id: id
            },
            type: "POST",
            success: function (response) {
                waitingDialog.hide();
                if (response.Sucesso) {
                    toastr.success(response.Mensagem);
                    //Remover linha
                    $('#mescH_' + id).remove();
                }

                else
                    toastr.error(response.Mensagem);
            },
            error: function (xhr) {
                //alert(xhr);
                toastr.error(xhr.Mensagem);
                waitingDialog.hide();
            }
        });
    }

</script>