﻿@{
    ViewBag.Title = "Mesclagens";
    Layout = "~/Views/Shared/template.cshtml";
}


<section class="content">
    <br />
    <div class="box box-primary">
        <div class="box-header with-border">
            <h5 id="tituloFile">Mesclagem</h5>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div><!-- /.box-header -->
        <div class="box-body">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_supplier" data-toggle="tab">Supplier</a></li>
                    @*<li><a href="#tab_categorias" data-toggle="tab">Categorias</a></li>*@
                </ul>
                <div class="tab-content">

                    <div class="tab-pane active" id="tab_supplier">
                        <div class="row">

                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Plataforma</label>
                                        <select id="ddlSupplierPlataforma" class="form-control" onchange="getPaises()">
                                            <option value="0">Selecione uma Plataforma...</option>
                                            @*@foreach (var item in ViewBag.Plataforma)
                                                {
                                                    <option value="@item.Plataforma_id">@item.Plataforma_nome</option>
                                                }*@
                                            <option value="1">Omni</option>
                                            <option value="2">RoomXML</option>
                                            <option value="3">CTS</option>
                                            <option value="4">HotelsPro</option>
                                        </select>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>País</label>
                                        <select id="ddlSupplierPais" class="form-control" onchange="changePaisSupplier()">
                                            <option value="0">Escolha...</option>
                                        </select>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Cidade</label>
                                        <select id="ddlSupplierCidade" class="form-control" onchange="obterHoteisPlataforma()">
                                            <option value="0">Escolha...</option>
                                        </select>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Hotel Plataforma</label>
                                        <select id="ddlSupplierHotelPlataforma" class="form-control">
                                            <option value="0">Escolha...</option>
                                        </select>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Hotel Tierra</label>
                                        <select id="ddlSupplierHotelTierra" class="form-control">
                                            <option value="0">Escolha...</option>
                                            @foreach (var item in ViewBag.HoteisTierra)
                                            {
                                            <option value="@item.S_id">@item.S_nome</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="btn btn-primary" id="btnSalvaSupplier">Salvar </button>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-8" style="overflow-y: scroll; height:450px;">


                                <div class="box box-primary">
                                    <div class="box-header with-border">
                                        <h5 id="tituloFile">Cadastrados</h5>                                       
                                    </div><!-- /.box-header -->

                                   <div id="dvcadastrosMesclados">
                                       @Html.Partial("_lst_cadastrosMesclagem", ViewData["HoteisIntegrados"])
                                   </div>

                                </div>

                            </div>

                        </div>
                    </div>

                    <!--------------------------------------------------   CATEGORIAS ---------------------------------------------------------------------------------------->
                    <div class="tab-pane" id="tab_categorias">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <label>Plataforma</label>
                                        <select id="ddlPlataformaCategoria" class="form-control" onchange="changePlataforma();">
                                            <option value="0">Selecione uma Plataforma...</option>
                                            @foreach (var item in ViewBag.Plataforma)
                                            {
                                            <option value="@item.Plataforma_id">@item.Plataforma_nome</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <label>Cidade</label>
                                        <select id="ddlCategoriaCidade" class="form-control" name="CID_id" onchange="obterCategoriasPlataforma()">
                                            <option value="0">Selecione</option>
                                            @foreach (var item in ViewBag.CidadeSupplier)
                                            {
                                            <option value="@item.CID_id">@item.CID_nome</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <label>Categoria Plataforma</label>
                                        <select id="ddlCategoriaPlataforma" class="form-control">
                                            <option value="0">Selecione...</option>

                                        </select>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <label>Categoria Tierra</label>
                                        <select id="ddlCategoriaHotelPlataforma" class="form-control" onchange="ChangeHotelDrop()">
                                            <option value="0">Escolha...</option>
                                            @foreach (var item in ViewBag.CategoriasTierra)
                                            {
                                            <option value="@item.Tarif_categoria_id">@item.Tarif_categoria_nome</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <label>Hoteis Integrados</label>
                                        <select id="ddlCategoriaHotelTierra" class="form-control" onchange="ChangeHotelDrop()">
                                            <option value="0">Escolha...</option>
                                            @foreach (var item in ViewBag.HoteisIntegrados)
                                            {
                                            <option value="@item.Id">@item.S_nome</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <button class="btn btn-primary" onclick="salvarCategoria();">Salvar</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12" style="height: 450px;overflow: scroll">
                                <table class="table table-responsive table-striped">
                                    <thead>
                                        <tr>
                                            <td>Id</td>
                                            <td>Hotel</td>
                                            <td>Categoria</td>
                                            <td>ID XML</td>
                                            <td>ID Tierra</td>
                                            <td>Plataforma</td>
                                            <td>Ações</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ViewBag.CategoriasIntegradas)
                                        {
                                        <tr id="mescC_@item.Id">
                                            <td>@item.Id</td>
                                            <td>@item.HotelNome</td>
                                            <td>@item.CategoriaNome</td>
                                            <td>@item.IdPlataforma</td>
                                            <td>@item.IdTierra</td>
                                            <td>@item.Plataforma</td>
                                            <td><button class="btn btn-sm btn-danger" onclick="removerMesclagemCategoria(@item.Id)"><i class="fa fa-remove"></i></button></td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">

    $(document).ready(function () {

    });


    function atualizaGrid() {
        $.get("@Url.Action("AtualizaGrid", "Mesclagem")", function (d) {        
            $('#dvcadastrosMesclados').html(d);
        });
    }

    function changePlataforma() {
        if ($('#ddlPlataformaCategoria').val() === "4") {
            swal(
                'Informação',
                'Não há mesclagem de categorias para HotelsPro',
                'info'
            );

            $('#ddlCategoriaCidade').attr('disabled', 'disabled');
            $('#ddlCategoriaPlataforma').attr('disabled', 'disabled');
            $('#ddlCategoriaHotelPlataforma').attr('disabled', 'disabled');
            $('#ddlCategoriaHotelTierra').attr('disabled', 'disabled');
        } else {
            $('#ddlCategoriaCidade').removeAttr('disabled');
            $('#ddlCategoriaPlataforma').removeAttr('disabled');
            $('#ddlCategoriaHotelPlataforma').removeAttr('disabled');
            $('#ddlCategoriaHotelTierra').removeAttr('disabled');
        }
    }

    function getPaises() {


        $('#ddlSupplierPais').html('<option value=\'0\'> Aguarde...</option>');
        $.ajax({
            url: "@Url.Action("ObterPaisesSupplierDrop", "Mesclagem")",
            data: { plataforma: $('#ddlSupplierPlataforma').val() },
            type: "GET",
            success: function (data) {
                $('#ddlSupplierPais').html(data);
            },
            error: function (xhr) {
                alert(xhr);
            }
        });
    }


    function changePaisSupplier() {
        $('#ddlSupplierCidade').html('<option value=\'0\'> Aguarde...</option>');
        $.ajax({
            url: "@Url.Action("ObterCidadesSupplierDrop", "Mesclagem")",
            data: { plataforma: $('#ddlSupplierPlataforma').val(), idPais: $('#ddlSupplierPais').val() },
            type: "GET",
            success: function (data) {
                $('#ddlSupplierCidade').html(data);
            },
            error: function (xhr) {
                alert(xhr);
            }
        });
    }

    function obterHoteisPlataforma() {
        $('#ddlSupplierHotelPlataforma').html('<option value=\'0\'> Aguarde...</option>');
        $.ajax({
            url: "@Url.Action("ObterHoteisPlataforma", "Mesclagem")",
            data: { plataforma: $('#ddlSupplierPlataforma').val(), cidade: $('#ddlSupplierCidade').val() },
            type: "GET",
            success: function (data) {
                $('#ddlSupplierHotelPlataforma').html(data);
            },
            error: function (xhr) {
                alert(xhr);
            }
        });

    }


    $('#btnSalvaSupplier').click(function () {

        waitingDialog.show('Mesclando...', { dialogSize: 'sm', progressType: 'warning' });
        $.ajax({
            url: "@Url.Action("SalvarSupplier", "Mesclagem")",
            data: {
                idPlataforma: $('#ddlSupplierPlataforma').val(),
                idHotelPlataforma: $('#ddlSupplierHotelPlataforma').val(),
                idHotelTierra: $('#ddlSupplierHotelTierra').val()
            },
            type: "GET",
            success: function (response) {
                waitingDialog.hide();

                if (response.Sucesso) {
                    toastr.success(response.Mensagem);
                    atualizaGrid();
                }
                else {
                    toastr.error(response.Mensagem);
                }
            },
            error: function (xhr) {
                //alert(xhr);
                toastr.error(xhr.Mensagem);
                waitingDialog.hide();
            }
        });

    });

    function salvarSupplier() {

        alert('teste');

        waitingDialog.show('Mesclando...', { dialogSize: 'sm', progressType: 'warning' });
        $.ajax({
            url: "@Url.Action("SalvarSupplier", "Mesclagem")",
            data: {
                idPlataforma: $('#ddlSupplierPlataforma').val(),
                idHotelPlataforma: $('#ddlSupplierHotelPlataforma').val(),
                idHotelTierra: $('#ddlSupplierHotelTierra').val()
            },
            type: "POST",
            success: function (response) {
                waitingDialog.hide();
                if (response.Sucesso)
                    toastr.success(response.Mensagem);
                else
                    toastr.error(response.Mensagem);
            },
            error: function (xhr) {
                //alert(xhr);
                toastr.error(xhr.Mensagem);
                waitingDialog.hide();
            }
        });
    }

    function obterCategoriasPlataforma() {
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });
        $('#ddlCategoriaPlataforma').html('<option value=\'0\'> Aguarde...</option>');
        $.ajax({
            url: "@Url.Action("ObterCategoriasPlataforma", "Mesclagem")",
            data: { plataforma: $('#ddlPlataformaCategoria').val(), cidade: $('#ddlCategoriaCidade').val() },
            type: "GET",
            success: function (data) {
                $('#ddlCategoriaPlataforma').html(data);
                waitingDialog.hide();
            },
            error: function (xhr) {
                waitingDialog.hide();
                alert(xhr);

            }
        });
    }

    function salvarCategoria() {
        waitingDialog.show('Mesclando...', { dialogSize: 'sm', progressType: 'warning' });
        $.ajax({
            url: "@Url.Action("SalvarCategoria", "Mesclagem")",
            data: {
                idPlataforma: $('#ddlPlataformaCategoria').val(),
                idCategoria: $('#ddlCategoriaHotelPlataforma').val(),
                categoriaPlataforma: $("#ddlCategoriaPlataforma").val() /*$("#ddlCategoriaPlataforma option:selected").text()*/
            },
            type: "POST",
            success: function (response) {
                waitingDialog.hide();
                if (response.Sucesso)
                    toastr.success(response.Mensagem);
                else
                    toastr.error(response.Mensagem);
            },
            error: function (xhr) {
                //alert(xhr);
                toastr.error(xhr.Mensagem);
                waitingDialog.hide();
            }
        });
    }

    

    function removerMesclagemCategoria(id) {
        waitingDialog.show('Removendo...', { dialogSize: 'sm', progressType: 'warning' });
        $.ajax({
            url: "@Url.Action("RemoverMesclagemCategoria", "Mesclagem")",
            data: {
                id: id
            },
            type: "POST",
            success: function (response) {
                waitingDialog.hide();
                if (response.Sucesso) {
                    toastr.success(response.Mensagem);
                    //Remover linha
                    $('#mescC_' + id).remove();
                }

                else
                    toastr.error(response.Mensagem);
            },
            error: function (xhr) {
                //alert(xhr);
                toastr.error(xhr.Mensagem);
                waitingDialog.hide();
            }
        });
    }



</script>