﻿
@model DAL.Entity.S_Meal

<form role="form" id="form-meal" method="post" action="javascript:func()">

    <input type="hidden" id="idmeal" name="S_meal_id" value="@Model.S_meal_id" />

    <div class="row">

        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <label for="txtNomeMeal">Nome Meal</label>
                    <input id="txtNomeMeal" type="text" name="S_meal_nome" class="form-control" placeholder="Meal" required value="@Model.S_meal_nome" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3">
                    <input id="btnSalvarMeal" type="submit" class="btn btn-primary btn-sm" title="Salvar" value="Salvar" style="border-radius:0px;" />
                </div>
                <div class="col-md-2">
                    <input id="btnExcluirMeal" type="button" class="btn btn-primary btn-sm" title="Excluir" value="Excluir" style="border-radius:0px;" />
                </div>
                <div class="col-md-1">
                    <input id="btnNovoMeal" type="button" class="btn btn-primary btn-sm" title="Novo" value="Novo" style="border-radius:0px;" />
                </div>
            </div>
        </div>


        <div class="col-md-8">

            <div class="row">
                <div class="col-md-12" style="height: 300px; overflow-y: auto;">

                    <table class="table table-bordered table-striped">

                        <thead>

                            <tr>
                                <th><small>Nome</small></th>
                            </tr>

                        </thead>

                        <tbody>
                            @foreach (var item in ViewBag.meals)
                            {
                                <tr>
                                    <td><small>@item.S_meal_nome</small></td>
                                </tr>
                            }
                        </tbody>

                    </table>

                </div>
            </div>

        </div>

    </div>

</form>


<script type="text/javascript">


    $('#btnExcluirMeal').hide();
    $('#btnNovoMeal').hide();

    $('#form-meal').submit(function () {

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        var mod = $(this).serialize();

        $.ajax({
            url: "@Url.Action("SalvarMeal", "Cadastros")",
            data: mod,
            type: "POST",
            success: function (d) {
                if (d.success) {
                    var $toast = toastr["success"](d.message, "Prosoftware");
                    $toastlast = $toast;

                    $('#idmeal').val(d.cod);
                }
                else {
                    var $toast = toastr["error"](d.message, "Prosoftware");
                    $toastlast = $toast;
                }
                waitingDialog.hide();
            },
            error: function (XHR) {
                waitingDialog.hide(); alert(XHR);
            }
        });
    });

    $('#btnExcluirMeal').click(function () {

        var result = window.confirm('Excluindo esse item, tudo linkado ao mesmo também será excluído. Confirma?');
        if (result == false) {
            e.preventDefault();
            return;
        };

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };

        $.get("@Url.Action("ExcluirMeal", "Cadastros")", { idmeal: $('#idmeal').val() }, function (d) {
            var $toast = toastr["success"](d.message, "Prosoftware");
            $toastlast = $toast;
            clear();
        });

    });


    $('#btnNovoMeal').click(function () {
        clear();
    });

    function clear() {
        $('#idMeal').val("0");
        $('#txtNomeMeal').val("");
        $('#btnSalvarMeal').val("Salvar");
        $('#btnExcluirMeal').hide();
        $('#btnNovoMeal').hide();
    }

    $('#txtNomeMeal').autocomplete({
        source: "@Url.Action("ObterMeal", "Cadastros")",
        minLength: 3,
        select: function (e, ui) {
            getMeal(ui.item.value);

        }
    });

    function getMeal(mealnome) {
        $.get("@Url.Action("GetMeal", "Cadastros")", { meal: mealnome  }, function (data) {
            $('#dvmeal').html(data);
            $('#btnSalvarMeal').val("Atualizar");
            $('#btnExcluirMeal').show();
            $('#btnNovoMeal').show();
        });
    }

</script>
