﻿@model DAL.Entity.S_Categoria

<div class="row">

    <form action="/Cadastros/UploadClassificacao" enctype="multipart/form-data" method="post">

        <input type="hidden" id="idClassificacao" name="Categ_id" value="@Model.Categ_id" />

        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <label for="txtNomeClassificacao">Nome Classificacao</label>
                    <input id="txtNomeClassificacao" type="text" name="classificacao" class="form-control" placeholder="Classificação" required value="@Model.Categ_classificacao" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <input type="file" name="FilesClassificacao" id="FilesClassificacao" class="btn btn-primary" />
                </div>
            </div>
            <br />
            @if (ViewBag.message != null)
            {
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4>	<i class="icon fa fa-check"></i> Alert!</h4>
                    @ViewBag.message
                </div>
                <br />
            }

            <div class="row">
                <div class="col-md-3">
                    <input type="submit" name="submit" value="Salvar" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>

    <div class="col-md-8">

        <div class="row">
            <div class="col-md-12" style="height: 300px; overflow-y: auto;">
                <div id="dvlstclassificacao">
                    @Html.Partial("_lst_classificacao")
                </div>
            </div>
        </div>

    </div>

</div>


<script type="text/javascript">
      

    $('#txtNomeClassificacao').autocomplete({
        source: "@Url.Action("ObterClassificacao", "Cadastros")",
        minLength: 3,
        select: function (e, ui) {
            //getClassificacao(ui.item.value);
        }
    });

</script>

