﻿@model DAL.Entity.Tarif_Categoria

<form role="form" id="form-TarifCateg" method="post" action="javascript:func()">

    <input type="hidden" id="idTarifCateg" name="Tarif_categoria_id" value="@Model.Tarif_categoria_id" />

    <div class="row">

        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <label for="txtNomeTarifCateg">Nome Categoria</label>
                    <input id="txtNomeTarifCateg" type="text" name="Tarif_categoria_nome" class="form-control" placeholder="Categoria" required value="@Model.Tarif_categoria_nome" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3">
                    <input id="btnSalvarTarifCateg" type="submit" class="btn btn-primary btn-sm" title="Salvar" value="Salvar" style="border-radius:0px;" />
                </div>
                <div class="col-md-2">
                    <input id="btnExcluirTarifCateg" type="button" class="btn btn-primary btn-sm" title="Excluir" value="Excluir" style="border-radius:0px;" />
                </div>
                <div class="col-md-1">
                    <input id="btnNovoTarifCateg" type="button" class="btn btn-primary btn-sm" title="Novo" value="Novo" style="border-radius:0px;" />
                </div>
            </div>
        </div>


        <div class="col-md-8">

            <div class="row">
                <div class="col-md-12" style="height: 300px; overflow-y: auto;">

                    <table class="table table-bordered table-striped">

                        <thead>

                            <tr>
                                <th><small>Nome</small></th>
                            </tr>

                        </thead>

                        <tbody>
                            @foreach (var item in ViewBag.categAptos)
                            {
                                <tr>
                                    <td><small>@item.Tarif_categoria_nome</small></td>
                                </tr>
                            }
                        </tbody>

                    </table>

                </div>
            </div>

        </div>

    </div>

</form>


<script type="text/javascript">


    $('#btnExcluirTarifCateg').hide();
    $('#btnNovoTarifCateg').hide();

    $('#form-TarifCateg').submit(function () {

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        var mod = $(this).serialize();

        $.ajax({
            url: "@Url.Action("SalvarTarifCateg", "Cadastros")",
            data: mod,
            type: "POST",
            success: function (d) {
                if (d.success) {
                    var $toast = toastr["success"](d.message, "Prosoftware");
                    $toastlast = $toast;

                    $('#idTarifCateg').val(d.cod);
                }
                else {
                    var $toast = toastr["error"](d.message, "Prosoftware");
                    $toastlast = $toast;
                }
                waitingDialog.hide();
            },
            error: function (XHR) {
                waitingDialog.hide(); alert(XHR);
            }
        });
    });

    $('#btnExcluirTarifCateg').click(function () {

        var result = window.confirm('Excluindo esse item, tudo linkado ao mesmo também será excluído. Confirma?');
        if (result == false) {
            e.preventDefault();
            return;
        };

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };

        $.get("@Url.Action("ExcluirTarifCateg", "Cadastros")", { idTarifCateg: $('#idTarifCateg').val() }, function (d) {
            var $toast = toastr["success"](d.message, "Prosoftware");
            $toastlast = $toast;
            clear();
        });

    });


    $('#btnNovoTarifCateg').click(function () {
        clear();
    });

    function clear() {
        $('#idTarifCateg').val("0");
        $('#txtNomeTarifCateg').val("");
        $('#btnSalvarTarifCateg').val("Salvar");
        $('#btnExcluirTarifCateg').hide();
        $('#btnNovoTarifCateg').hide();
    }

    $('#txtNomeTarifCateg').autocomplete({
        source: "@Url.Action("ObterTarifCateg", "Cadastros")",
        minLength: 3,
        select: function (e, ui) {
            getTarifCateg(ui.item.value);

        }
    });

    function getTarifCateg(tarifCategnome) {
        $.get("@Url.Action("GetTarifCateg", "Cadastros")", { tarifCateg: tarifCategnome  }, function (data) {
            $('#dvTarifCateg').html(data);
            $('#btnSalvarTarifCateg').val("Atualizar");
            $('#btnExcluirTarifCateg').show();
            $('#btnNovoTarifCateg').show();
        });
    }

</script>

