﻿@model DAL.Entity.SubItem

<form role="form" id="form-SubTipo" method="post" action="javascript:func()">

    <input type="hidden" id="idSubTipo" name="SubItem_id" value="@Model.SubItem_id" />

    <div class="row">

        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <label for="txtNomeSubTipo">Nome SubTipo</label>
                    <input id="txtNomeSubTipo" type="text" name="SubItem_nome" class="form-control" placeholder="SubTipo" required value="@Model.SubItem_nome" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3">
                    <input id="btnSalvarSubTipo" type="submit" class="btn btn-primary btn-sm" title="Salvar" value="Salvar" style="border-radius:0px;" />
                </div>
                <div class="col-md-2">
                    <input id="btnExcluirSubTipo" type="button" class="btn btn-primary btn-sm" title="Excluir" value="Excluir" style="border-radius:0px;" />
                </div>
                <div class="col-md-1">
                    <input id="btnNovoSubTipo" type="button" class="btn btn-primary btn-sm" title="Novo" value="Novo" style="border-radius:0px;" />
                </div>
            </div>
        </div>


        <div class="col-md-8">

            <div class="row">
                <div class="col-md-12" style="height: 300px; overflow-y: auto;">

                    <table class="table table-bordered table-striped">

                        <thead>

                            <tr>
                                <th><small>Nome</small></th>
                            </tr>

                        </thead>

                        <tbody>
                            @foreach (var item in ViewBag.subtipos)
                            {
                                <tr>
                                    <td><small>@item.SubItem_nome</small></td>
                                </tr>
                            }
                        </tbody>

                    </table>

                </div>
            </div>

        </div>

    </div>

</form>


<script type="text/javascript">


    $('#btnExcluirSubTipo').hide();
    $('#btnNovoSubTipo').hide();

    $('#form-SubTipo').submit(function () {

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        var mod = $(this).serialize();

        $.ajax({
            url: "@Url.Action("SalvarSubTipo", "Cadastros")",
            data: mod,
            type: "POST",
            success: function (d) {
                if (d.success) {
                    var $toast = toastr["success"](d.message, "Prosoftware");
                    $toastlast = $toast;

                    $('#idSubTipo').val(d.cod);
                }
                else {
                    var $toast = toastr["error"](d.message, "Prosoftware");
                    $toastlast = $toast;
                }
                waitingDialog.hide();
            },
            error: function (XHR) {
                waitingDialog.hide(); alert(XHR);
            }
        });
    });

    $('#btnExcluirSubTipo').click(function () {

        var result = window.confirm('Excluindo esse item, tudo linkado ao mesmo também será excluído. Confirma?');
        if (result == false) {
            e.preventDefault();
            return;
        };

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };

        $.get("@Url.Action("ExcluirSubTipo", "Cadastros")", { idSubTipo: $('#idSubTipo').val() }, function (d) {
            var $toast = toastr["success"](d.message, "Prosoftware");
            $toastlast = $toast;
            clear();
        });

    });


    $('#btnNovoSubTipo').click(function () {
        clear();
    });

    function clear() {
        $('#idSubTipo').val("0");
        $('#txtNomeSubTipo').val("");
        $('#btnSalvarSubTipo').val("Salvar");
        $('#btnExcluirSubTipo').hide();
        $('#btnNovoSubTipo').hide();
    }

    $('#txtNomeSubTipo').autocomplete({
        source: "@Url.Action("ObterSubTipos", "Cadastros")",
        minLength: 3,
        select: function (e, ui) {
            getSubTipo(ui.item.value);

        }
    });

    function getSubTipo(subTiponome) {
        $.get("@Url.Action("GetSubTipo", "Cadastros")", { subTipo: subTiponome  }, function (data) {
            $('#dvsubTipo').html(data);
            $('#btnSalvarSubTipo').val("Atualizar");
            $('#btnExcluirSubTipo').show();
            $('#btnNovoSubTipo').show();
        });
    }

</script>

