﻿@model DAL.Entity.Moeda

<form role="form" id="form-Moeda" method="post" action="javascript:func()">

    <input type="hidden" id="idmoeda" name="Moeda_id" value="@Model.Moeda_id" />

    <div class="row">

        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <label for="txtNomeMoeda">Nome Moeda</label>
                    <input id="txtNomeMoeda" type="text" name="Moeda_nome" class="form-control" placeholder="Moeda" required value="@Model.Moeda_nome" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <label for="txtMoedaSigla">Sigla</label>
                    <input id="txtMoedaSigla" type="text" name="Moeda_sigla" class="form-control" placeholder="Sigla" required value="@Model.Moeda_sigla" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3">
                    <input id="btnSalvarMoeda" type="submit" class="btn btn-primary btn-sm" title="Salvar" value="Salvar" style="border-radius:0px;" />
                </div>
                <div class="col-md-2">
                    <input id="btnExcluirMoeda" type="button" class="btn btn-primary btn-sm" title="Excluir" value="Excluir" style="border-radius:0px;" />
                </div>
                <div class="col-md-1">
                    <input id="btnNovoMoeda" type="button" class="btn btn-primary btn-sm" title="Novo" value="Novo" style="border-radius:0px;" />
                </div>
            </div>
        </div>


        <div class="col-md-8">

            <div class="row">
                <div class="col-md-12" style="height: 300px; overflow-y: auto;">

                    <table class="table table-bordered table-striped">

                        <thead>

                            <tr>
                                <th><small>Sigla</small></th>
                                <th><small>Nome</small></th>
                            </tr>

                        </thead>

                        <tbody>
                            @foreach (var item in ViewBag.moedas)
                            {
                                <tr>
                                    <td><small>@item.Moeda_sigla</small></td>
                                    <td><small>@item.Moeda_nome</small></td>
                                </tr>
                            }
                        </tbody>

                    </table>

                </div>
            </div>

        </div>

    </div>

</form>


<script type="text/javascript">


    $('#btnExcluirMoeda').hide();
    $('#btnNovoMoeda').hide();

    $('#form-Moeda').submit(function () {

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        var mod = $(this).serialize();

        $.ajax({
            url: "@Url.Action("SalvarMoeda", "Cadastros")",
            data: mod,
            type: "POST",
            success: function (d) {
                if (d.success) {
                    var $toast = toastr["success"](d.message, "Prosoftware");
                    $toastlast = $toast;

                    $('#idmoeda').val(d.cod);
                }
                else {
                    var $toast = toastr["error"](d.message, "Prosoftware");
                    $toastlast = $toast;
                }
                waitingDialog.hide();
            },
            error: function (XHR) {
                waitingDialog.hide(); alert(XHR);
            }
        });
    });

    $('#btnExcluirMoeda').click(function () {

        var result = window.confirm('Excluindo esse item, tudo linkado ao mesmo também será excluído. Confirma?');
        if (result == false) {
            e.preventDefault();
            return;
        };

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };

        $.get("@Url.Action("ExcluirMoeda", "Cadastros")", { idmoeda: $('#idmoeda').val() }, function (d) {
            var $toast = toastr["success"](d.message, "Prosoftware");
            $toastlast = $toast;
            clear();
        });

    });


    $('#btnNovoMoeda').click(function () {
        clear();
    });

    function clear() {
        $('#idMoeda').val("0");
        $('#txtNomeMoeda').val("");
        $('#txtMoedaSigla').val("");
        $('#btnSalvarMoeda').val("Salvar");
        $('#btnExcluirMoeda').hide();
        $('#btnNovoMoeda').hide();
    }

    $('#txtNomeMoeda').autocomplete({
        source: "@Url.Action("ObterMoeda", "Cadastros")",
        minLength: 3,
        select: function (e, ui) {
            getMoeda(ui.item.value);

        }
    });

    function getMoeda(moedanome) {
        $.get("@Url.Action("GetMoeda", "Cadastros")", { moeda: moedanome  }, function (data) {
            $('#dvMoeda').html(data);
            $('#btnSalvarMoeda').val("Atualizar");
            $('#btnExcluirMoeda').show();
            $('#btnNovoMoeda').show();
        });
    }

</script>


