﻿@model DAL.Entity.Cidade

<form role="form" id="form-cidade" method="post" action="javascript:func()">

    <input type="hidden" id="idcidade" name="CID_id" value="@Model.CID_id" />

    <div class="row">

        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <label for="txtNomeCidade">Nome Cidade</label>
                    <input id="txtNomeCidade" type="text" name="CID_nome" class="form-control" placeholder="Nome Cidade" required value="@Model.CID_nome" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <label for="txtCidadeIata">Iata</label>
                    <input id="txtCidadeIata" type="text" name="CID_cod_Iata" class="form-control" placeholder="Iata" required value="@Model.CID_cod_Iata" />
                </div>
                <div class="col-md-6">
                    <label for="txtCidadeUF">UF</label>
                    <input id="txtCidadeUF" type="text" name="CID_uf" class="form-control" placeholder="UF" required value="@Model.CID_uf" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6">                   
                    <label for="ddlPaisCidade">País</label>
                    <select id="ddlPaisCidade" class="form-control" name="PAIS_id">
                        <option value="0">Selecione</option>
                        @foreach (var item in ViewBag.CidPais)
                        {
                            <option value="@item.PAIS_id">@item.PAIS_nome</option>
                        }
                    </select>
                </div>
            </div>
            <br />
            <div class="row">

            </div>
            <br />
            <div class="row">
                <div class="col-md-3">
                    <input id="btnSalvarCidade" type="submit" class="btn btn-primary btn-sm" title="Salvar" value="Salvar" style="border-radius:0px;" />
                </div>
                <div class="col-md-2">
                    <input id="btnExcluirCidade" type="button" class="btn btn-primary btn-sm" title="Excluir" value="Excluir" style="border-radius:0px;" />
                </div>
                <div class="col-md-1">
                    <input id="btnNovoCidade" type="button" class="btn btn-primary btn-sm" title="Novo" value="Novo" style="border-radius:0px;" />
                </div>
            </div>
        </div>


        <div class="col-md-8">

            <div class="row">
                <div class="col-md-12" style="height: 300px; overflow-y: auto;">

                    <table class="table table-bordered table-striped">

                        <thead>

                            <tr>
                                <th><small>Iata</small></th>
                                <th><small>Nome</small></th>
                                <th><small>UF</small></th>                                
                            </tr>

                        </thead>

                        <tbody>
                            @foreach (var item in ViewBag.cidades)
                            {
                                <tr>
                                    <td><small>@item.CID_cod_Iata</small></td>
                                    <td><small>@item.CID_nome</small></td>
                                    <td><small>@item.CID_uf</small></td>                                   
                                </tr>
                            }
                        </tbody>

                    </table>

                </div>
            </div>

        </div>

    </div>

</form>


<script type="text/javascript">

    if (@Model.CID_id != 0)
    {
        $('#ddlPaisCidade').val('@Model.PAIS_id');
    }

    $('#btnExcluirCidade').hide();
    $('#btnNovoCidade').hide();

    $('#form-cidade').submit(function () {

        if ($('#ddlPaisCidade').val() == "0") {
            var $toast = toastr["error"]("Favor selecionar um País.", "Prosoftware");
            $toastlast = $toast;
            return false;
        }

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        var mod = $(this).serialize();

        $.ajax({
            url: "@Url.Action("SalvarCidade", "Cadastros")",
            data: mod,
            type: "POST",
            success: function (d) {
                if (d.success) {
                    var $toast = toastr["success"](d.message, "Prosoftware");
                    $toastlast = $toast;

                    $('#idcidade').val(d.cod);
                }
                else {
                    var $toast = toastr["error"](d.message, "Prosoftware");
                    $toastlast = $toast;
                }
                waitingDialog.hide();
            },
            error: function (XHR) {
                waitingDialog.hide(); alert(XHR);
            }
        });
    });

    $('#btnExcluirCidade').click(function () {

        var result = window.confirm('Excluindo esse item, tudo linkado ao mesmo também será excluído. Confirma?');
        if (result == false) {
            e.preventDefault();
            return;
        };

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };

        $.get("@Url.Action("ExcluirCidade", "Cadastros")", { idcidade: $('#idcidade').val() }, function (d) {
            var $toast = toastr["success"](d.message, "Prosoftware");
            $toastlast = $toast;
            clear();
        });

    });


    $('#btnNovoCidade').click(function () {
        clear();
    });

    function clear() {
        $('#idcidade').val("0");
        $('#txtNomeCidade').val("");
        $('#txtCidadeIata').val("");
        $('#txtCidadeUF').val("");
        $('#ddlPaisCidade').val('0');
        $('#btnSalvarCidade').val("Salvar");
        $('#btnExcluirCidade').hide();
        $('#btnNovoCidade').hide();
    }

    $('#txtNomeCidade').autocomplete({
        source: "@Url.Action("ObterCidades", "Cadastros")",
        minLength: 3,
        select: function (e, ui) {
            getPais(ui.item.value);

        }
    });

    function getPais(cidadenome) {
        $.get("@Url.Action("GetCidade", "Cadastros")", { cidade: cidadenome  }, function (data) {
            $('#dvcidade').html(data);
            $('#btnSalvarCidade').val("Atualizar");
            $('#btnExcluirCidade').show();
            $('#btnNovoCidade').show();
        });
    }

</script>
