﻿@model DAL.Entity.ItemSubServico

<form role="form" id="form-subItem" method="post" action="javascript:func()">

    <input type="hidden" id="idsubItem" name="ItemSubServico_id" value="@Model.ItemSubServico_id" />

    <div class="row">

        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <label for="txtNomesubItem">Nome SubItem</label>
                    <input id="txtNomesubItem" type="text" name="ItemSubServico_nome" class="form-control" placeholder="SubItem" required value="@Model.ItemSubServico_nome" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3">
                    <input id="btnSalvarsubItem" type="submit" class="btn btn-primary btn-sm" title="Salvar" value="Salvar" style="border-radius:0px;" />
                </div>
                <div class="col-md-2">
                    <input id="btnExcluirsubItem" type="button" class="btn btn-primary btn-sm" title="Excluir" value="Excluir" style="border-radius:0px;" />
                </div>
                <div class="col-md-1">
                    <input id="btnNovosubItem" type="button" class="btn btn-primary btn-sm" title="Novo" value="Novo" style="border-radius:0px;" />
                </div>
            </div>
        </div>


        <div class="col-md-8">

            <div class="row">
                <div class="col-md-12" style="height: 300px; overflow-y: auto;">

                    <table class="table table-bordered table-striped">

                        <thead>

                            <tr>
                                <th><small>Nome</small></th>
                            </tr>

                        </thead>

                        <tbody>
                            @foreach (var item in ViewBag.subitens)
                            {
                                <tr>
                                    <td><small>@item.ItemSubServico_nome</small></td>
                                </tr>
                            }
                        </tbody>

                    </table>

                </div>
            </div>

        </div>

    </div>

</form>


<script type="text/javascript">


    $('#btnExcluirsubItem').hide();
    $('#btnNovosubItem').hide();

    $('#form-subItem').submit(function () {

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        var mod = $(this).serialize();

        $.ajax({
            url: "@Url.Action("SalvarsubItem", "Cadastros")",
            data: mod,
            type: "POST",
            success: function (d) {
                if (d.success) {
                    var $toast = toastr["success"](d.message, "Prosoftware");
                    $toastlast = $toast;

                    $('#idsubItem').val(d.cod);
                }
                else {
                    var $toast = toastr["error"](d.message, "Prosoftware");
                    $toastlast = $toast;
                }
                waitingDialog.hide();
            },
            error: function (XHR) {
                waitingDialog.hide(); alert(XHR);
            }
        });
    });

    $('#btnExcluirsubItem').click(function () {

        var result = window.confirm('Excluindo esse item, tudo linkado ao mesmo também será excluído. Confirma?');
        if (result == false) {
            e.preventDefault();
            return;
        };

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };

        $.get("@Url.Action("ExcluirsubItem", "Cadastros")", { idsubItem: $('#idsubItem').val() }, function (d) {
            var $toast = toastr["success"](d.message, "Prosoftware");
            $toastlast = $toast;
            clear();
        });

    });


    $('#btnNovosubItem').click(function () {
        clear();
    });

    function clear() {
        $('#idsubItem').val("0");
        $('#txtNomesubItem').val("");
        $('#btnSalvarsubItem').val("Salvar");
        $('#btnExcluirsubItem').hide();
        $('#btnNovosubItem').hide();
    }

    $('#txtNomesubItem').autocomplete({
        source: "@Url.Action("ObtersubItem", "Cadastros")",
        minLength: 3,
        select: function (e, ui) {
            getsubItem(ui.item.value);

        }
    });

    function getsubItem(subItemnome) {
        $.get("@Url.Action("GetsubItem", "Cadastros")", { subItem: subItemnome  }, function (data) {
            $('#dvsubItem').html(data);
            $('#btnSalvarsubItem').val("Atualizar");
            $('#btnExcluirsubItem').show();
            $('#btnNovosubItem').show();
        });
    }

</script>

