﻿@model DAL.Entity.Pais

<form role="form" id="form-pais" method="post" action="javascript:func()">

    <input type="hidden" id="idpais" name="PAIS_id" value="@Model.PAIS_id" />

    <div class="row">

        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <label for="txtNomePais">Nome País</label>
                    <input id="txtNomePais" type="text" name="PAIS_nome" class="form-control" placeholder="Nome do País" required value="@Model.PAIS_nome" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <label for="txtNomePaisCod">País UF</label>
                    <input id="txtNomePaisCod" type="text" name="PAIS_uf" class="form-control" placeholder="País UF" required value="@Model.PAIS_uf" />
                </div>
                <div class="col-md-6">
                    <label for="chkMercoSul">MercoSul</label><br />
                    <input type="checkbox" id="chkMercoSul" title="MercoSul" />
                    <input type="hidden" id="hdMercoSul" name="PAIS_mercosul" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3">
                    <input id="btnSalvarPais" type="submit" class="btn btn-primary btn-sm" title="Salvar" value="Salvar" style="border-radius:0px;" />
                </div>
                <div class="col-md-2">
                    <input id="btnExcluirPais" type="button" class="btn btn-primary btn-sm" title="Excluir" value="Excluir" style="border-radius:0px;" />
                </div>
                <div class="col-md-1">
                    <input id="btnNovoPais" type="button" class="btn btn-primary btn-sm" title="Novo" value="Novo" style="border-radius:0px;" />
                </div>
            </div>
        </div>


        <div class="col-md-8">

            <div class="row">
                <div class="col-md-12" style="height: 300px; overflow-y: auto;">

                    <table class="table table-bordered table-striped">

                        <thead>

                            <tr>
                                <th><small>Nome</small></th>
                                <th><small>UF</small></th>
                                <th><small>MercoSul</small></th>
                                @*<th><small>Deletar</small></th>*@
                            </tr>

                        </thead>

                        <tbody>
                            @foreach (var item in ViewBag.paises)
                            {
                            <tr>
                                <td><small>@item.PAIS_nome</small></td>
                                <td><small>@item.PAIS_uf</small></td>
                                <td><small>@item.PAIS_mercosul</small></td>
                                @*<td>
                                        <button type="button" value='@item.PAIS_id' class="btn btn-xs btn-success editarpais" title="Editar"><span class="glyphicon glyphicon-pencil"></span></button>
                                        <button type="button" value="@item.PAIS_id" class="btn btn-xs btn-danger deletarpais" title="Deletar"><span class="glyphicon glyphicon-trash"></span></button>
                                    </td>*@
                            </tr>
                            }
                        </tbody>

                    </table>

                </div>
            </div>

        </div>

    </div>

</form>


<script type="text/javascript">

    $('#btnExcluirPais').hide();
    $('#btnNovoPais').hide();

    $('#form-pais').submit(function () {

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        if ($('#chkMercoSul').is(":checked")) {
            $('#hdMercoSul').val('True');
        } else {
            $('#hdMercoSul').val('False');
        }

        var mod = $(this).serialize();

        $.ajax({
            url: "@Url.Action("SalvarPais", "Cadastros")",
            data: mod,
            type: "POST",
            success: function (d) {
                if (d.success) {
                    var $toast = toastr["success"](d.message, "Prosoftware");
                    $toastlast = $toast;

                    $('#idpais').val(d.cod);
                }
                else {
                    var $toast = toastr["error"](d.message, "Prosoftware");
                    $toastlast = $toast;
                }
                waitingDialog.hide();
            },
            error: function (XHR) {
                waitingDialog.hide(); alert(XHR);
            }
        });
    });

    $('#btnExcluirPais').click(function () {

        var result = window.confirm('Excluindo esse item, tudo linkado ao mesmo também será excluído. Confirma?');
        if (result == false) {
            e.preventDefault();
            return;
        };

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };

        $.get("@Url.Action("ExcluirPais", "Cadastros")", { idpais: $('#idpais').val() }, function (d) {
            var $toast = toastr["success"](d.message, "Prosoftware");
            $toastlast = $toast;
            clear();
        });

    });

    $('#btnNovoPais').click(function () {
        clear();
    });

    function clear() {
        $('#idpais').val("0");
        $('#txtNomePais').val("");
        $('#txtNomePaisCod').val("");
        $('#chkMercoSul').prop("checked", false);
        $('#hdMercoSul').val('False');
        $('#btnSalvarPais').val("Salvar");
        $('#btnExcluirPais').hide();
        $('#btnNovoPais').hide();
    }

    $('#txtNomePais').autocomplete({
        source: "@Url.Action("ObterPaises", "Cadastros")",
        minLength: 3,
        select: function (e, ui) {
            getPais(ui.item.value);

        }
    });

    function getPais(paisnome) {
        $.get("@Url.Action("GetPais", "Cadastros")", { pais: paisnome  }, function (data) {
            $('#dvpais').html(data);
            $('#btnSalvarPais').val("Atualizar");
            $('#btnExcluirPais').show();
            $('#btnNovoPais').show();
        });
    }

</script>