﻿@model DAL.Entity.S_Servicos_Tipo_Categ

<form role="form" id="form-Categoria" method="post" action="javascript:func()">

    <input type="hidden" id="idCategoria" name="Tipo_categ_id" value="@Model.Tipo_categ_id" />

    <div class="row">

        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <label for="txtNomeCategoria">Nome Categoria</label>
                    <input id="txtNomeCategoria" type="text" name="Tipo_categ_nome" class="form-control" placeholder="Categoria" required value="@Model.Tipo_categ_nome" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <label for="dllTipoServico">Tipo Serviço</label>
                    <select id="dllTipoServico" class="form-control" name="Tipo_Id">                       
                        @foreach (var item in ViewBag.TipoServCategoria)
                        {
                            <option value="@item.Tipo_Id">@item.Tipo_Nome</option>
                        }
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3">
                    <input id="btnSalvarCategoria" type="submit" class="btn btn-primary btn-sm" title="Salvar" value="Salvar" style="border-radius:0px;" />
                </div>
                <div class="col-md-2">
                    <input id="btnExcluirCategoria" type="button" class="btn btn-primary btn-sm" title="Excluir" value="Excluir" style="border-radius:0px;" />
                </div>
                <div class="col-md-1">
                    <input id="btnNovoCategoria" type="button" class="btn btn-primary btn-sm" title="Novo" value="Novo" style="border-radius:0px;" />
                </div>
            </div>
        </div>


        <div class="col-md-8">

            <div class="row">
                <div class="col-md-12" style="height: 300px; overflow-y: auto;">

                    <table class="table table-bordered table-striped">

                        <thead>

                            <tr>
                                <th><small>Nome</small></th>
                            </tr>

                        </thead>

                        <tbody>
                            @foreach (var item in ViewBag.categorias)
                            {
                                <tr>
                                    <td><small>@item.Tipo_categ_nome</small></td>
                                </tr>
                            }
                        </tbody>

                    </table>

                </div>
            </div>

        </div>

    </div>

</form>


<script type="text/javascript">

    if (@Model.Tipo_categ_id != 0) {
        $('#dllTipoServico').val('@Model.Tipo_Id');
    }

    $('#btnExcluirCategoria').hide();
    $('#btnNovoCategoria').hide();

    $('#form-Categoria').submit(function () {

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        var mod = $(this).serialize();

        $.ajax({
            url: "@Url.Action("SalvarCategoria", "Cadastros")",
            data: mod,
            type: "POST",
            success: function (d) {
                if (d.success) {
                    var $toast = toastr["success"](d.message, "Prosoftware");
                    $toastlast = $toast;

                    $('#idCategoria').val(d.cod);
                }
                else {
                    var $toast = toastr["error"](d.message, "Prosoftware");
                    $toastlast = $toast;
                }
                waitingDialog.hide();
            },
            error: function (XHR) {
                waitingDialog.hide(); alert(XHR);
            }
        });
    });

    $('#btnExcluirCategoria').click(function () {

        var result = window.confirm('Excluindo esse item, tudo linkado ao mesmo também será excluído. Confirma?');
        if (result == false) {
            e.preventDefault();
            return;
        };

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };

        $.get("@Url.Action("ExcluirCategoria", "Cadastros")", { idCategoria: $('#idCategoria').val() }, function (d) {
            var $toast = toastr["success"](d.message, "Prosoftware");
            $toastlast = $toast;
            clear();
        });

    });


    $('#btnNovoCategoria').click(function () {
        clear();
    });

    function clear() {
        $('#idCategoria').val("0");
        $('#txtNomeCategoria').val("");
        $('#btnSalvarCategoria').val("Salvar");
        $('#btnExcluirCategoria').hide();
        $('#btnNovoCategoria').hide();
    }

    $('#txtNomeCategoria').autocomplete({
        source: "@Url.Action("ObterCategoria", "Cadastros")",
        minLength: 3,
        select: function (e, ui) {
            getCategoria(ui.item.value);

        }
    });

    function getCategoria(categorianome) {
        $.get("@Url.Action("GetCategoria", "Cadastros")", { categoria: categorianome  }, function (data) {
            $('#dvcategoria').html(data);
            $('#btnSalvarCategoria').val("Atualizar");
            $('#btnExcluirCategoria').show();
            $('#btnNovoCategoria').show();
        });
    }

</script>

