﻿@model DAL.Entity.S_Amenities

<div class="row">

    <form action="/Cadastros/UploadAmenities" enctype="multipart/form-data" method="post">

        <input type="hidden" id="idAmenities" name="S_Amenities_id" value="@Model.S_Amenities_id" />

        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <label for="txtNomeAmenities">Nome Amenities</label>
                    <input id="txtNomeAmenities" type="text" name="S_Amenities_nome" class="form-control" placeholder="Amenities" required value="@Model.S_Amenities_nome" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <label for="ddlGroupAmenities">Grupo</label>
                    <select id="ddlGroupAmenities" class="form-control" name="S_GroupAmenities_ID">                        
                        @foreach (var item in ViewBag.ddlGroupAmenities)
                        {
                            <option value="@item.S_GroupAmenities_ID">@item.S_GroupAmenities_Name</option>
                        }
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <input type="file" name="FilesAmenities" id="FilesAmenities" required class="btn btn-primary" />
                </div>
            </div>
            <br />
            @if (ViewBag.messageAmenities != null)
            {
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4>	<i class="icon fa fa-check"></i> Alert!</h4>
                    @ViewBag.messageAmenities
                </div>
                <br />
            }

            <div class="row">
                <div class="col-md-3">
                    <input type="submit" name="submit" value="Salvar" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>

    <div class="col-md-8">

        <div class="row">
            <div class="col-md-12" style="height: 300px; overflow-y: auto;">
                <div id="dvlstamenities">
                    @Html.Partial("_lst_amenities")
                </div>
            </div>
        </div>

    </div>

</div>


<script type="text/javascript">


    $('#txtNomeAmenities').autocomplete({
        source: "@Url.Action("ObterAmenities", "Cadastros")",
        minLength: 3,
        select: function (e, ui) {
           
        }
    });

</script>


