﻿@model DAL.Entity.S_Servicos_Tipo

<form role="form" id="form-TipoServ" method="post" action="javascript:func()">

    <input type="hidden" id="idTipoServ" name="Tipo_Id" value="@Model.Tipo_Id" />

    <div class="row">

        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <label for="txtNomeTipoServ">Nome Tipo Serviço</label>
                    <input id="txtNomeTipoServ" type="text" name="Tipo_Nome" class="form-control" placeholder="Nome" required value="@Model.Tipo_Nome" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3">
                    <input id="btnSalvarTipoServ" type="submit" class="btn btn-primary btn-sm" title="Salvar" value="Salvar" style="border-radius:0px;" />
                </div>
                <div class="col-md-2">
                    <input id="btnExcluirTipoServ" type="button" class="btn btn-primary btn-sm" title="Excluir" value="Excluir" style="border-radius:0px;" />
                </div>
                <div class="col-md-1">
                    <input id="btnNovoTipoServ" type="button" class="btn btn-primary btn-sm" title="Novo" value="Novo" style="border-radius:0px;" />
                </div>
            </div>
        </div>


        <div class="col-md-8">

            <div class="row">
                <div class="col-md-12" style="height: 300px; overflow-y: auto;">

                    <table class="table table-bordered table-striped">

                        <thead>

                            <tr>
                                <th><small>Nome</small></th>
                            </tr>

                        </thead>

                        <tbody>
                            @foreach (var item in ViewBag.tiposervicos)
                            {
                                <tr>
                                    <td><small>@item.Tipo_Nome</small></td>
                                </tr>
                            }
                        </tbody>

                    </table>

                </div>
            </div>

        </div>

    </div>

</form>


<script type="text/javascript">


    $('#btnExcluirTipoServ').hide();
    $('#btnNovoTipoServ').hide();

    $('#form-TipoServ').submit(function () {

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        var mod = $(this).serialize();

        $.ajax({
            url: "@Url.Action("SalvarTipoServ", "Cadastros")",
            data: mod,
            type: "POST",
            success: function (d) {
                if (d.success) {
                    var $toast = toastr["success"](d.message, "Prosoftware");
                    $toastlast = $toast;

                    $('#idTipoServ').val(d.cod);
                }
                else {
                    var $toast = toastr["error"](d.message, "Prosoftware");
                    $toastlast = $toast;
                }
                waitingDialog.hide();
            },
            error: function (XHR) {
                waitingDialog.hide(); alert(XHR);
            }
        });
    });

    $('#btnExcluirTipoServ').click(function () {

        var result = window.confirm('Excluindo esse item, tudo linkado ao mesmo também será excluído. Confirma?');
        if (result == false) {
            e.preventDefault();
            return;
        };

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };

        $.get("@Url.Action("ExcluirTipoServ", "Cadastros")", { idTipoServ: $('#idTipoServ').val() }, function (d) {
            var $toast = toastr["success"](d.message, "Prosoftware");
            $toastlast = $toast;
            clear();
        });

    });


    $('#btnNovoTipoServ').click(function () {
        clear();
    });

    function clear() {
        $('#idTipoServ').val("0");
        $('#txtNomeTipoServ').val("");
        $('#btnSalvarTipoServ').val("Salvar");
        $('#btnExcluirTipoServ').hide();
        $('#btnNovoTipoServ').hide();
    }

    $('#txtNomeTipoServ').autocomplete({
        source: "@Url.Action("ObterTipoServico", "Cadastros")",
        minLength: 3,
        select: function (e, ui) {
            getTipoServ(ui.item.value);

        }
    });

    function getTipoServ(tipoServnome) {
        $.get("@Url.Action("GetTipoServ", "Cadastros")", { tipoServ: tipoServnome  }, function (data) {
            $('#dvtiposervico').html(data);
            $('#btnSalvarTipoServ').val("Atualizar");
            $('#btnExcluirTipoServ').show();
            $('#btnNovoTipoServ').show();
        });
    }

</script>

