﻿@model DAL.Entity.Mercado

<form role="form" id="form-mercado" method="post" action="javascript:func()">

    <input type="hidden" id="idMercado" name="Mercado_id" value="@Model.Mercado_id" />

    <div class="row">

        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <label for="txtNomeMercado">Nome Mercado</label>
                    <input id="txtNomeMercado" type="text" name="Mercado_nome" class="form-control" placeholder="Mercado" required value="@Model.Mercado_nome" />
                </div>
            </div>
            <br />                                    
            <div class="row">
                <div class="col-md-3">
                    <input id="btnSalvarMercado" type="submit" class="btn btn-primary btn-sm" title="Salvar" value="Salvar" style="border-radius:0px;" />
                </div>
                <div class="col-md-2">
                    <input id="btnExcluirMercado" type="button" class="btn btn-primary btn-sm" title="Excluir" value="Excluir" style="border-radius:0px;" />
                </div>
                <div class="col-md-1">
                    <input id="btnNovoMercado" type="button" class="btn btn-primary btn-sm" title="Novo" value="Novo" style="border-radius:0px;" />
                </div>
            </div>
        </div>


        <div class="col-md-8">

            <div class="row">
                <div class="col-md-12" style="height: 300px; overflow-y: auto;">

                    <table class="table table-bordered table-striped">

                        <thead>

                            <tr>                              
                                <th><small>Nome</small></th>                               
                            </tr>

                        </thead>

                        <tbody>
                            @foreach (var item in ViewBag.mercados)
                            {
                                <tr>
                                    <td><small>@item.Mercado_nome</small></td>                                    
                                </tr>
                            }
                        </tbody>

                    </table>

                </div>
            </div>

        </div>

    </div>

</form>


<script type="text/javascript">  

    $('#btnExcluirMercado').hide();
    $('#btnNovoMercado').hide();

    $('#form-mercado').submit(function () {       

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        var mod = $(this).serialize();

        $.ajax({
            url: "@Url.Action("SalvarMercado", "Cadastros")",
            data: mod,
            type: "POST",
            success: function (d) {
                if (d.success) {
                    var $toast = toastr["success"](d.message, "Prosoftware");
                    $toastlast = $toast;

                    $('#idMercado').val(d.cod);
                }
                else {
                    var $toast = toastr["error"](d.message, "Prosoftware");
                    $toastlast = $toast;
                }
                waitingDialog.hide();
            },
            error: function (XHR) {
                waitingDialog.hide(); alert(XHR);
            }
        });
    });

    $('#btnExcluirMercado').click(function () {

        var result = window.confirm('Excluindo esse item, tudo linkado ao mesmo também será excluído. Confirma?');
        if (result == false) {
            e.preventDefault();
            return;
        };

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };

        $.get("@Url.Action("ExcluirMercado", "Cadastros")", { idmercado: $('#idMercado').val() }, function (d) {
            var $toast = toastr["success"](d.message, "Prosoftware");
            $toastlast = $toast;
            clear();
        });

    });


    $('#btnNovoMercado').click(function () {
        clear();
    });

    function clear() {
        $('#idMercado').val("0");
        $('#txtNomeMercado').val("");        
        $('#btnSalvarMercado').val("Salvar");
        $('#btnExcluirMercado').hide();
        $('#btnNovoMercado').hide();
    }

    $('#txtNomeMercado').autocomplete({
        source: "@Url.Action("ObterMercados", "Cadastros")",
        minLength: 3,
        select: function (e, ui) {
            getMercado(ui.item.value);

        }
    });

    function getMercado(mercadonome) {
        $.get("@Url.Action("GetMercado", "Cadastros")", { mercado: mercadonome  }, function (data) {
            $('#dvmercado').html(data);
            $('#btnSalvarMercado').val("Atualizar");
            $('#btnExcluirMercado').show();
            $('#btnNovoMercado').show();
        });
    }

</script>
