﻿@model DAL.Entity.S_Categoria_Escrita

<form role="form" id="form-CategHotel" method="post" action="javascript:func()">

    <input type="hidden" id="idCategHotel" name="CategoriaEscrita_id" value="@Model.CategoriaEscrita_id" />

    <div class="row">

        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <label for="txtNomeCategHotel">Nome Categoria</label>
                    <input id="txtNomeCategHotel" type="text" name="CategoriaEscrita_nome" class="form-control" placeholder="Categoriaã" required value="@Model.CategoriaEscrita_nome" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3">
                    <input id="btnSalvarCategHotel" type="submit" class="btn btn-primary btn-sm" title="Salvar" value="Salvar" style="border-radius:0px;" />
                </div>
                <div class="col-md-2">
                    <input id="btnExcluirCategHotel" type="button" class="btn btn-primary btn-sm" title="Excluir" value="Excluir" style="border-radius:0px;" />
                </div>
                <div class="col-md-1">
                    <input id="btnNovoCategHotel" type="button" class="btn btn-primary btn-sm" title="Novo" value="Novo" style="border-radius:0px;" />
                </div>
            </div>
        </div>


        <div class="col-md-8">

            <div class="row">
                <div class="col-md-12" style="height: 300px; overflow-y: auto;">

                    <table class="table table-bordered table-striped">

                        <thead>

                            <tr>
                                <th><small>Nome</small></th>
                            </tr>

                        </thead>

                        <tbody>
                            @foreach (var item in ViewBag.categhoteis)
                            {
                                <tr>
                                    <td><small>@item.CategoriaEscrita_nome</small></td>
                                </tr>
                            }
                        </tbody>

                    </table>

                </div>
            </div>

        </div>

    </div>

</form>


<script type="text/javascript">


    $('#btnExcluirCategHotel').hide();
    $('#btnNovoCategHotel').hide();

    $('#form-CategHotel').submit(function () {

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        var mod = $(this).serialize();

        $.ajax({
            url: "@Url.Action("SalvarCategHotel", "Cadastros")",
            data: mod,
            type: "POST",
            success: function (d) {
                if (d.success) {
                    var $toast = toastr["success"](d.message, "Prosoftware");
                    $toastlast = $toast;

                    $('#idCategHotel').val(d.cod);
                }
                else {
                    var $toast = toastr["error"](d.message, "Prosoftware");
                    $toastlast = $toast;
                }
                waitingDialog.hide();
            },
            error: function (XHR) {
                waitingDialog.hide(); alert(XHR);
            }
        });
    });

    $('#btnExcluirCategHotel').click(function () {

        var result = window.confirm('Excluindo esse item, tudo linkado ao mesmo também será excluído. Confirma?');
        if (result == false) {
            e.preventDefault();
            return;
        };

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };

        $.get("@Url.Action("ExcluirCategHotel", "Cadastros")", { idCategHotel: $('#idCategHotel').val() }, function (d) {
            var $toast = toastr["success"](d.message, "Prosoftware");
            $toastlast = $toast;
            clear();
        });

    });


    $('#btnNovoCategHotel').click(function () {
        clear();
    });

    function clear() {
        $('#idCategHotel').val("0");
        $('#txtNomeCategHotel').val("");
        $('#btnSalvarCategHotel').val("Salvar");
        $('#btnExcluirCategHotel').hide();
        $('#btnNovoCategHotel').hide();
    }

    $('#txtNomeCategHotel').autocomplete({
        source: "@Url.Action("ObterCategHotel", "Cadastros")",
        minLength: 3,
        select: function (e, ui) {
            getCategHotel(ui.item.value);

        }
    });

    function getCategHotel(categHotelnome) {
        $.get("@Url.Action("GetCategHotel", "Cadastros")", { categHotel: categHotelnome  }, function (data) {
            $('#dvCategHotel').html(data);
            $('#btnSalvarCategHotel').val("Atualizar");
            $('#btnExcluirCategHotel').show();
            $('#btnNovoCategHotel').show();
        });
    }

</script>

