﻿@model DAL.Entity.S_Rede

<form role="form" id="form-Rede" method="post" action="javascript:func()">

    <input type="hidden" id="idRede" name="Rede_id" value="@Model.Rede_id" />

    <div class="row">

        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <label for="txtNomeRede">Nome</label>
                    <input id="txtNomeRede" type="text" name="Rede_nome" class="form-control" placeholder="Nome" required value="@Model.Rede_nome" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <label for="txtEnderecoRede">Endereço</label>
                    <input id="txtEnderecoRede" type="text" name="Rede_endereco" class="form-control" placeholder="Endereço" value="@Model.Rede_endereco" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <label for="txtCnpjRede">Cnpj</label>
                    <input id="txtCnpjRede" type="text" name="Rede_cnpj" class="form-control" placeholder="CNPJ" value="@Model.Rede_cnpj" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <label for="txtTelefoneRede">Telefone</label>
                    <input id="txtTelefoneRede" type="text" name="Rede_telefone" class="form-control" placeholder="Telefone" value="@Model.Rede_telefone" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <label for="txtEmailRede">Email</label>
                    <input id="txtEmailRede" type="email" name="Rede_email" class="form-control" placeholder="Email" value="@Model.Rede_email" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3">
                    <input id="btnSalvarRede" type="submit" class="btn btn-primary btn-sm" title="Salvar" value="Salvar" style="border-radius:0px;" />
                </div>
                <div class="col-md-2">
                    <input id="btnExcluirRede" type="button" class="btn btn-primary btn-sm" title="Excluir" value="Excluir" style="border-radius:0px;" />
                </div>
                <div class="col-md-1">
                    <input id="btnNovoRede" type="button" class="btn btn-primary btn-sm" title="Novo" value="Novo" style="border-radius:0px;" />
                </div>
            </div>
        </div>


        <div class="col-md-8">

            <div class="row">
                <div class="col-md-12" style="height: 300px; overflow-y: auto;">

                    <table class="table table-bordered table-striped">

                        <thead>

                            <tr>
                                <th><small>Sigla</small></th>                               
                            </tr>

                        </thead>

                        <tbody>
                            @foreach (var item in ViewBag.redes)
                            {
                                <tr>
                                    <td><small>@item.Rede_nome</small></td>                                   
                                </tr>
                            }
                        </tbody>

                    </table>

                </div>
            </div>

        </div>

    </div>

</form>


<script type="text/javascript">

    $('#btnExcluirRede').hide();
    $('#btnNovoRede').hide();

    $('#form-Rede').submit(function () {

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        var mod = $(this).serialize();

        $.ajax({
            url: "@Url.Action("SalvarRede", "Cadastros")",
            data: mod,
            type: "POST",
            success: function (d) {
                if (d.success) {
                    var $toast = toastr["success"](d.message, "Prosoftware");
                    $toastlast = $toast;

                    $('#idRede').val(d.cod);
                }
                else {
                    var $toast = toastr["error"](d.message, "Prosoftware");
                    $toastlast = $toast;
                }
                waitingDialog.hide();
            },
            error: function (XHR) {
                waitingDialog.hide(); alert(XHR);
            }
        });
    });

    $('#btnExcluirRede').click(function () {

        var result = window.confirm('Excluindo esse item, tudo linkado ao mesmo também será excluído. Confirma?');
        if (result == false) {
            e.preventDefault();
            return;
        };

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };

        $.get("@Url.Action("ExcluirRede", "Cadastros")", { idRede: $('#idRede').val() }, function (d) {
            var $toast = toastr["success"](d.message, "Prosoftware");
            $toastlast = $toast;
            clear();
        });

    });


    $('#btnNovoRede').click(function () {
        clear();
    });

    function clear() {
        $('#idRede').val("0");
        $('#txtNomeRede').val("");
        $('#txtEnderecoRede').val("");
        $('#txtCnpjRede').val("");
        $('#txtTelefoneRede').val("");
        $('#txtEmailRede').val("");        
        $('#btnSalvarRede').val("Salvar");
        $('#btnExcluirRede').hide();
        $('#btnNovoRede').hide();
    }

    $('#txtNomeRede').autocomplete({
        source: "@Url.Action("ObterRede", "Cadastros")",
        minLength: 3,
        select: function (e, ui) {
            getRede(ui.item.value);
        }
    });

    function getRede(redenome) {
        $.get("@Url.Action("GetRedes", "Cadastros")", { rede: redenome  }, function (data) {
            $('#dvrede').html(data);
            $('#btnSalvarRede').val("Atualizar");
            $('#btnExcluirRede').show();
            $('#btnNovoRede').show();
        });
    }

</script>



