﻿@model DAL.Entity.S_Mercado_Estacao

<form role="form" id="form-Temporada" method="post" action="javascript:func()">

    <input type="hidden" id="idTemporada" name="S_mercado_estacao_id" value="@Model.S_mercado_estacao_id" />

    <div class="row">

        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <label for="txtNomeTemporada">Nome</label>
                    <input id="txtNomeTemporada" type="text" name="S_mercado_estacao_nome" class="form-control" placeholder="Nome" required value="@Model.S_mercado_estacao_nome" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <label for="ddlEstacaoPacote">Estação/Pacote</label>
                    <select id="ddlEstacaoPacote" name="S_mercado_estacao_pacote" class="form-control" >
                        <option value="False">Estação</option>
                        <option value="True">Pacote</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <label for="chkSeasonal">Seasonal?</label><br />
                    <input type="checkbox" id="chkSeasonal" title="Seasonal?" />
                    <input type="hidden" id="hdSeasonal" name="S_mercado_estacao_seasonal" />
                </div>
            </div>                       
            <br />
            <div class="row">
                <div class="col-md-3">
                    <input id="btnSalvarTemporada" type="submit" class="btn btn-primary btn-sm" title="Salvar" value="Salvar" style="border-radius:0px;" />
                </div>
                <div class="col-md-2">
                    <input id="btnExcluirTemporada" type="button" class="btn btn-primary btn-sm" title="Excluir" value="Excluir" style="border-radius:0px;" />
                </div>
                <div class="col-md-1">
                    <input id="btnNovoTemporada" type="button" class="btn btn-primary btn-sm" title="Novo" value="Novo" style="border-radius:0px;" />
                </div>
            </div>
        </div>


        <div class="col-md-8">

            <div class="row">
                <div class="col-md-12" style="height: 300px; overflow-y: auto;">

                    <table class="table table-bordered table-striped">

                        <thead>

                            <tr>
                                <th><small>Nome</small></th>
                                <th><small>Pacote</small></th>
                                <th><small>Seasonal</small></th>                                                                
                            </tr>

                        </thead>

                        <tbody>
                            @foreach (var item in ViewBag.temporadas)
                            {
                                <tr>
                                    <td><small>@item.S_mercado_estacao_nome</small></td>
                                    <td><small>@item.S_mercado_estacao_pacote</small></td>
                                    <td><small>@item.S_mercado_estacao_seasonal</small></td>
                                </tr>
                            }
                        </tbody>

                    </table>

                </div>
            </div>

        </div>

    </div>

</form>


<script type="text/javascript">

    if (@Model.S_mercado_estacao_id != 0)
    {       
        $('#ddlEstacaoPacote').val('@Model.S_mercado_estacao_pacote');

        if ('@Model.S_mercado_estacao_seasonal' == 'True') {
            $('#hdSeasonal').val('True');
            $('#chkSeasonal').prop("checked", true);
        } else {
            $('#hdSeasonal').val('False');
            $('#chkSeasonal').prop("checked", false);
        }
    }

    $('#btnExcluirTemporada').hide();
    $('#btnNovoTemporada').hide();

    $('#form-Temporada').submit(function () {

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        if ($('#chkSeasonal').is(":checked")) {
            $('#hdSeasonal').val('True');
        } else {
            $('#hdSeasonal').val('False');
        }

        var mod = $(this).serialize();

        $.ajax({
            url: "@Url.Action("SalvarTemporada", "Cadastros")",
            data: mod,
            type: "POST",
            success: function (d) {
                if (d.success) {
                    var $toast = toastr["success"](d.message, "Prosoftware");
                    $toastlast = $toast;

                    $('#idTemporada').val(d.cod);
                }
                else {
                    var $toast = toastr["error"](d.message, "Prosoftware");
                    $toastlast = $toast;
                }
                waitingDialog.hide();
            },
            error: function (XHR) {
                waitingDialog.hide(); alert(XHR);
            }
        });
    });

    $('#btnExcluirTemporada').click(function () {

        var result = window.confirm('Excluindo esse item, tudo linkado ao mesmo também será excluído. Confirma?');
        if (result == false) {
            e.preventDefault();
            return;
        };

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };

        $.get("@Url.Action("ExcluirTemporada", "Cadastros")", { idTemporada: $('#idTemporada').val() }, function (d) {
            var $toast = toastr["success"](d.message, "Prosoftware");
            $toastlast = $toast;
            clear();
        });

    });


    $('#btnNovoTemporada').click(function () {
        clear();
    });

    function clear() {
        $('#idTemporada').val("0");
        $('#txtNomeTemporada').val("");
        $('#chkSeasonal').prop("checked", false);
        $('#hdSeasonal').val('False');
        $('#ddlEstacaoPacote').val('False');
        $('#btnSalvarTemporada').val("Salvar");
        $('#btnExcluirTemporada').hide();
        $('#btnNovoTemporada').hide();
    }

    $('#txtNomeTemporada').autocomplete({
        source: "@Url.Action("ObterTemporada", "Cadastros")",
        minLength: 3,
        select: function (e, ui) {
            getTemporada(ui.item.value);
        }
    });

    function getTemporada(temporadanome) {
        $.get("@Url.Action("GetTemporada", "Cadastros")", { temporada: temporadanome  }, function (data) {
            $('#dvtemporada').html(data);
            $('#btnSalvarTemporada').val("Atualizar");
            $('#btnExcluirTemporada').show();
            $('#btnNovoTemporada').show();
        });
    }

</script>




