﻿@model DAL.Entity.BaseTarifaria

<form role="form" id="form-basetarifaria" method="post" action="javascript:func()">

    <input type="hidden" id="idBaseTarifaria" name="BaseTarifaria_id" value="@Model.BaseTarifaria_id" />

    <div class="row">

        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <label for="txtNomeBaseTarifaria">Nome Base Tarifária</label>
                    <input id="txtNomeBaseTarifaria" type="text" name="BaseTarifaria_nome" class="form-control" placeholder="Base Tarifária" required value="@Model.BaseTarifaria_nome" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3">
                    <input id="btnSalvarBaseTarifaria" type="submit" class="btn btn-primary btn-sm" title="Salvar" value="Salvar" style="border-radius:0px;" />
                </div>
                <div class="col-md-2">
                    <input id="btnExcluirBaseTarifaria" type="button" class="btn btn-primary btn-sm" title="Excluir" value="Excluir" style="border-radius:0px;" />
                </div>
                <div class="col-md-1">
                    <input id="btnNovoBaseTarifaria" type="button" class="btn btn-primary btn-sm" title="Novo" value="Novo" style="border-radius:0px;" />
                </div>
            </div>
        </div>


        <div class="col-md-8">

            <div class="row">
                <div class="col-md-12" style="height: 300px; overflow-y: auto;">

                    <table class="table table-bordered table-striped">

                        <thead>

                            <tr>
                                <th><small>Nome</small></th>
                            </tr>

                        </thead>

                        <tbody>
                            @foreach (var item in ViewBag.basetarifarialst)
                            {
                                <tr>
                                    <td><small>@item.BaseTarifaria_nome</small></td>
                                </tr>
                            }
                        </tbody>

                    </table>

                </div>
            </div>

        </div>

    </div>

</form>


<script type="text/javascript">


    $('#btnExcluirBaseTarifaria').hide();
    $('#btnNovoBaseTarifaria').hide();

    $('#form-basetarifaria').submit(function () {

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };
        waitingDialog.show('Aguarde...', { dialogSize: 'sm', progressType: 'warning' });

        var mod = $(this).serialize();

        $.ajax({
            url: "@Url.Action("SalvarBaseTarifaria", "Cadastros")",
            data: mod,
            type: "POST",
            success: function (d) {
                if (d.success) {
                    var $toast = toastr["success"](d.message, "Prosoftware");
                    $toastlast = $toast;

                    $('#idBaseTarifaria').val(d.cod);
                }
                else {
                    var $toast = toastr["error"](d.message, "Prosoftware");
                    $toastlast = $toast;
                }
                waitingDialog.hide();
            },
            error: function (XHR) {
                waitingDialog.hide(); alert(XHR);
            }
        });
    });

    $('#btnExcluirBaseTarifaria').click(function () {

        var result = window.confirm('Excluindo esse item, tudo linkado ao mesmo também será excluído. Confirma?');
        if (result == false) {
            e.preventDefault();
            return;
        };

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };

        $.get("@Url.Action("ExcluirBaseTarifaria", "Cadastros")", { idbasetarifaria: $('#idBaseTarifaria').val() }, function (d) {
            var $toast = toastr["success"](d.message, "Prosoftware");
            $toastlast = $toast;
            clear();
        });

    });


    $('#btnNovoBaseTarifaria').click(function () {
        clear();
    });

    function clear() {
        $('#idBaseTarifaria').val("0");
        $('#txtNomeBaseTarifaria').val("");
        $('#btnSalvarBaseTarifaria').val("Salvar");
        $('#btnExcluirBaseTarifaria').hide();
        $('#btnNovoBaseTarifaria').hide();
    }

    $('#txtNomeBaseTarifaria').autocomplete({
        source: "@Url.Action("ObterBaseTarifaria", "Cadastros")",
        minLength: 3,
        select: function (e, ui) {
            getBaseTarifaria(ui.item.value);

        }
    });

    function getBaseTarifaria(basetarifarianome) {
        $.get("@Url.Action("GetBaseTarifaria", "Cadastros")", { basetarifaria: basetarifarianome  }, function (data) {
            $('#dvbasetarifaria').html(data);
            $('#btnSalvarBaseTarifaria').val("Atualizar");
            $('#btnExcluirBaseTarifaria').show();
            $('#btnNovoBaseTarifaria').show();
        });
    }

</script>

