﻿<table class="table table-bordered table-striped">

    <thead>

        <tr>
            <th><small>Nome</small></th>
            <th><small>Img</small></th>
            <th><small>Excluir</small></th>
        </tr>

    </thead>

    <tbody>
        @foreach (var item in ViewBag.classificacoes)
        {
            <tr>
                <td><small>@item.Categ_classificacao</small></td>
                <td>
                    <small>
                        <img src="@string.Format("../ImgCategorias/{0}", item.Categ_imgnome)" alt="..." style="width: 89px; height: 17px;" />
                    </small>
                </td>
                <td>
                    <button type="button" value="@item.Categ_id" class="btn btn-xs btn-danger deletarscategoria" title="Deletar"><span class="glyphicon glyphicon-trash"></span></button>
                </td>
            </tr>
        }
    </tbody>

</table>

<script type="text/javascript">

    $('.deletarscategoria').click(function () {

        var result = window.confirm('Excluindo esse item, tudo linkado ao mesmo também será excluído. Confirma?');
        if (result == false) {
            e.preventDefault();
            return;
        };

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };

        $.get("@Url.Action("ExcluirClassificacao", "Cadastros")", { idClassificacao: $(this).val() }, function (d) {

            if (d.success) {
                var $toast = toastr["success"](d.message, "Prosoftware");
                $toastlast = $toast;
                refreshgridclassificacao();
            } else {
                var $toast = toastr["error"](d.message, "Prosoftware");
                $toastlast = $toast;
            }
        });
    });

    function refreshgridclassificacao() {
        $.get("@Url.Action("refreshgridclassificacao", "Cadastros")", function (d) {
            $('#dvlstclassificacao').html(d);
        });
    }

</script>

