﻿<table class="table table-bordered table-striped">

    <thead>

        <tr>
            <th><small>Nome</small></th>
            <th><small>Grupo</small></th>
            <th><small>Img</small></th>
            <th><small>Excluir</small></th>
        </tr>

    </thead>

    <tbody>
        @foreach (var item in ViewBag.amenities)
        {
            <tr>
                <td><small>@item.S_Amenities_nome</small></td>
                <td><small>@item.S_GroupAmenities.S_GroupAmenities_Name</small></td>
                <td>
                    <small>
                        <img src="@string.Format("../iconsAmenities/{0}", item.S_Amenities_imgNome)" alt="..." style="width: 30px;" />
                    </small>
                </td>
                <td>
                    <button type="button" value="@item.S_Amenities_id" class="btn btn-xs btn-danger deletarsamenities" title="Deletar"><span class="glyphicon glyphicon-trash"></span></button>
                </td>
            </tr>
        }
    </tbody>

</table>

<script type="text/javascript">

    $('.deletarsamenities').click(function () {

        var result = window.confirm('Excluindo esse item, tudo linkado ao mesmo também será excluído. Confirma?');
        if (result == false) {
            e.preventDefault();
            return;
        };

        toastr.options = { closeButton: true, newestOnTop: false, progressBar: true, onclick: null, showDuration: "300", positionClass: "toast-top-right" };

        $.get("@Url.Action("ExcluirAmenitie", "Cadastros")", { idAmenitie: $(this).val() }, function (d) {

            if (d.success) {
                var $toast = toastr["success"](d.message, "Prosoftware");
                $toastlast = $toast;
                refreshgridamenities();
            } else {
                var $toast = toastr["error"](d.message, "Prosoftware");
                $toastlast = $toast;
            }
        });
    });

    function refreshgridamenities() {
        $.get("@Url.Action("refreshgridamenities", "Cadastros")", function (d) {
            $('#dvlstamenities').html(d);
        });
    }

</script>


