﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/template.cshtml";
}

<section class="content-header">
    <h1>
        Cadastros

        <small>Lista</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-folder-open" aria-hidden="true"></i>Cadastros</a></li>
    </ol>
</section>

<section class="content">

    <div class="box box-primary">
        <div class="box-header with-border">
            <h4 id="tituloCadastros">Cadastros</h4>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body">

            <div id="tabGeral" class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab"><small>País</small></a></li>
                    <li><a href="#tab_2" data-toggle="tab"><small>Cidade</small></a></li>
                    <li><a href="#tab_3" data-toggle="tab"><small>Tpo Serviço</small></a></li>
                    <li><a href="#tab_4" data-toggle="tab"><small>Mercado</small></a></li>
                    <li><a href="#tab_5" data-toggle="tab"><small>Bse Tarifária</small></a></li>
                    <li><a href="#tab_6" data-toggle="tab"><small>Moeda</small></a></li>
                    <li><a href="#tab_7" data-toggle="tab"><small>Redes</small></a></li>
                    <li><a href="#tab_8" data-toggle="tab"><small>Temporada</small></a></li>
                    <li><a href="#tab_9" data-toggle="tab"><small>Meal</small></a></li>
                    <li><a href="#tab_10" data-toggle="tab"><small>Categ Apt</small></a></li>
                    <li><a href="#tab_11" data-toggle="tab"><small>Categ Hotel</small></a></li>
                    <li><a href="#tab_12" data-toggle="tab"><small>Classificação</small></a></li>
                    <li><a href="#tab_13" data-toggle="tab"><small>Amenities</small></a></li>
                </ul>

                <div class="tab-content">

                    <div class="tab-pane active" id="tab_1">

                        <div class="box box-success">
                            <div class="box-header">
                                <h3 class="box-title">País</h3>
                            </div>
                            <div class="box-body">
                                <div id="dvpais">
                                    @Html.Partial("_cad_pais", ViewData["pais"])
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="tab-pane" id="tab_2">

                        <div class="box box-success">
                            <div class="box-header">
                                <h3 class="box-title">Cidade</h3>
                            </div>
                            <div class="box-body">
                                <div id="dvcidade">
                                    @Html.Partial("_cad_cidade", ViewData["cidade"])
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="tab-pane" id="tab_3">


                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tabTipoServico_1" data-toggle="tab"><small>Tipo Serviço</small></a></li>
                                <li><a href="#tabTipoServico_2" data-toggle="tab"><small>Categoria</small></a></li>
                                <li><a href="#tabTipoServico_3" data-toggle="tab"><small>Sub Tipo - SubServiço</small></a></li>
                                <li><a href="#tabTipoServico_4" data-toggle="tab"><small>Item - SubServiço</small></a></li>
                            </ul>

                            <div class="tab-content">

                                <div class="tab-pane active" id="tabTipoServico_1">

                                    <div class="box box-success">
                                        <div class="box-header">
                                            <h3 class="box-title">Tipo Serviço</h3>
                                        </div>
                                        <div class="box-body">
                                            <div id="dvtiposervico">
                                                @Html.Partial("_cad_tipoServico", ViewData["tipoServico"])
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="tab-pane" id="tabTipoServico_2">

                                    <div class="box box-success">
                                        <div class="box-header">
                                            <h3 class="box-title">Categoria</h3>
                                        </div>
                                        <div class="box-body">
                                            <div id="dvcategoria">
                                                @Html.Partial("_cad_categoria", ViewData["categoria"])
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="tab-pane" id="tabTipoServico_3">

                                    <div class="box box-success">
                                        <div class="box-header">
                                            <h3 class="box-title">Sub Tipo - SubServiço</h3>
                                        </div>
                                        <div class="box-body">
                                            <div id="dvsubTipo">
                                                @Html.Partial("_cad_subTipo", ViewData["subtipo"])
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="tab-pane" id="tabTipoServico_4">

                                    <div class="box box-success">
                                        <div class="box-header">
                                            <h3 class="box-title">Item - SubServiço</h3>
                                        </div>
                                        <div class="box-body">
                                            <div id="dvsubItem">
                                                @Html.Partial("_cad_subItem", ViewData["subitem"])
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>



                    </div>

                    <div class="tab-pane" id="tab_4">

                        <div class="box box-success">
                            <div class="box-header">
                                <h3 class="box-title">Mercado</h3>
                            </div>
                            <div class="box-body">
                                <div id="dvmercado">
                                    @Html.Partial("_cad_mercado", ViewData["mercado"])
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="tab-pane" id="tab_5">

                        <div class="box box-success">
                            <div class="box-header">
                                <h3 class="box-title">Base Tarifária</h3>
                            </div>
                            <div class="box-body">
                                <div id="dvbasetarifaria">
                                    @Html.Partial("_cad_basetarifaria", ViewData["basetarifaria"])
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="tab-pane" id="tab_6">

                        <div class="box box-success">
                            <div class="box-header">
                                <h3 class="box-title">Moeda</h3>
                            </div>
                            <div class="box-body">
                                <div id="dvMoeda">
                                    @Html.Partial("_cad_moeda", ViewData["moeda"])
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="tab-pane" id="tab_7">

                        <div class="box box-success">
                            <div class="box-header">
                                <h3 class="box-title">Redes</h3>
                            </div>
                            <div class="box-body">
                                <div id="dvrede">
                                    @Html.Partial("_cad_rede", ViewData["rede"])
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="tab-pane" id="tab_8">

                        <div class="box box-success">
                            <div class="box-header">
                                <h3 class="box-title">Temporada</h3>
                            </div>
                            <div class="box-body">
                                <div id="dvtemporada">
                                    @Html.Partial("_cad_temporada", ViewData["temporada"])
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="tab-pane" id="tab_9">

                        <div class="box box-success">
                            <div class="box-header">
                                <h3 class="box-title">Meal</h3>
                            </div>
                            <div class="box-body">
                                <div id="dvmeal">
                                    @Html.Partial("_cad_meal", ViewData["meal"])
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="tab-pane" id="tab_10">

                        <div class="box box-success">
                            <div class="box-header">
                                <h3 class="box-title">Categ Apt</h3>
                            </div>
                            <div class="box-body">
                                <div id="dvTarifCateg">
                                    @Html.Partial("_cad_categApto", ViewData["categApto"])
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="tab-pane" id="tab_11">

                        <div class="box box-success">
                            <div class="box-header">
                                <h3 class="box-title">Categ Hotel</h3>
                            </div>
                            <div class="box-body">
                                <div id="dvCategHotel">
                                    @Html.Partial("_cad_categHotel", ViewData["categHotel"])
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="tab-pane" id="tab_12">

                        <div class="box box-success">
                            <div class="box-header">
                                <h3 class="box-title">Classificação</h3>
                            </div>
                            <div class="box-body">
                                <div id="dvClassificacao">
                                    @Html.Partial("_cad_classificacao", ViewData["classificacao"])
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="tab-pane" id="tab_13">

                        <div class="box box-success">
                            <div class="box-header">
                                <h3 class="box-title">Amenities</h3>
                            </div>
                            <div class="box-body">
                                <div id="dvAmenitie">
                                    @Html.Partial("_cad_amenities", ViewData["amenitie"])
                                </div>
                            </div>
                        </div>

                    </div>


                </div>

            </div>

        </div>
    </div>

</section>


<script type="text/javascript">


    if ('@ViewBag.tab' == "classificacao") {
        $('#tabGeral a[href="#tab_12"]').tab('show');
    }
    if ('@ViewBag.tab' == "amenitie") {
        $('#tabGeral a[href="#tab_13"]').tab('show');
    }
    
</script>